---
title: Confirm your address
version: 31.4.0
layout: address-lookup-postcode-select/views/_master
---
{% block preMain %}

    {{
        onsBreadcrumb({
            "ariaLabel": 'back',
            "id": 'back',
            "itemsList": [
                {
                    "url": pageInfo.rootPath + '/',
                    "id": 'back-link',
                    "classes": 'js-previous',
                    "text": 'Back'
                }
            ]
        })
    }}

{% endblock %}
{% block main %}

    <div class="grid">

        <div class="grid__col col-8@m">

            <main class="page__main" id="main-content" role="main">

                <form action="{{ pageInfo.rootPath }}/confirm-address">

                {% call onsQuestion({
                    "title": "Is this the correct address?"
                }) %}

                    <p class="rh-address-display">
                        <span class="js-piping">1</span> Example Street<br>
                        Exampletown<br>
                        AA1 1AA
                    </p>
                    {{
                        onsRadios({
                            "legend": "Is this the correct address?",
                            "legendClasses": "u-vh",
                            "name": "form-confirm-address",
                            "radios": [
                                {
                                    "id": "yes",
                                    "label": {
                                        "text": "Yes, this is the correct address"
                                    },
                                    "value": "yes"
                                },
                                {
                                    "id": "no",
                                    "label": {
                                        "text": "No, search for address again"
                                    },
                                    "value": "no"
                                }
                            ]
                        })
                    }}
                {% endcall %}

                    {{
                        onsButton({
                            'id': 'js-submit',
                            'text': 'Continue',
                            'classes': 'u-mt-l',
                            'submitType': 'loader'
                        })
                    }}

                </form>

            </main>

        </div>

    </div>

<script>
    const postCode = sessionStorage.getItem('postcode');
    const displayPostCode = postCode.replace(/.{3}$/,' $&').toUpperCase();
    const pipingDestinations = Array.from(document.querySelectorAll('.js-piping'));

    pipingDestinations.forEach(function(pipingDestination) {
        if (postCode) {
            pipingDestination.innerHTML = pipingDestination.innerHTML.replace('AA1 1AA', displayPostCode);
        }
    });

    document.querySelector('form').addEventListener('submit', () => {

        const answer = document.querySelectorAll('input');
        const inputName = document.querySelector('input').name;

        for (i = 0; i < answer.length; i++) {
            if (answer.checked) {
                const inputVal = answer.value;
            }
        }

        sessionStorage.setItem(inputName, inputVal);
        return true;
    });
</script>

{% endblock %}
