---
group: RAS/RM - Frontstage
title: Change business details
version: 32.0.1
layout: change-business-details/views/version-1/scenario-1/_master-survey
---

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}

{% block main %}

    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/change-business-details/version-1/scenario-1/signed-in/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/prototypes/change-business-details/version-1/scenario-1/signed-in/help/index.html',
                            "text": 'Help'
                        },
                        {
                            "url": '/prototypes/change-business-details/version-1/scenario-1/signed-in/option-5/option-1/option-list.html',
                            "text": 'Help with my password'
                        }
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            <h1>I haven't received the password reset email</h1>
            <p>Go to <a href="#">your account</a> and check that the email address you use to sign in is correct.</p>

            <p>If this is correct, check that your inbox isn't full, or that our email hasn't gone into your spam or junk folder.</p>

            <p>Whitelist our email address: ons.surveys@notifications.service.gov.uk.</p>
            
            <h2>Did this answer your question?</h2>
            <p class="field">
                <div class="btn-group">
                    {{ 
                        onsButton({
                            "type": 'button',
                            "text": 'Yes',
                            "classes": 'btn-group__btn',
                            "url": "/prototypes/change-business-details/version-1/scenario-1/signed-in/00-surveys-list.html"
                        }) 
                    }}
                    {{ 
                        onsButton({
                            "type": 'button',
                            "text": 'No',
                            "classes": 'btn--secondary btn-group__btn',
                            "url": "send-message.html"
                        }) 
                    }}
                </div>
            </p>
        </div>
    </div>

{% endblock %}
