---
title: Accessibility statement
group: Census
version: 31.4.0
layout: census-website-respond/views/_nisra-master
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": pageInfo.rootPath + '/ni/home',
                            "text": 'Home'
                        }
                    ]
                })
            }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l u-fs-xxl">Accessibility statement</h1>

                        <div class="page__body">

                            <p>Content</p>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/cookies',
                                    "text": 'Cookies'
                                },
                                {
                                    "url": pageInfo.rootPath + '/privacy-and-data-protection',
                                    "text": 'Privacy and data protection'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
