---
group: RAS/RM
title: Overview
version: 17.0.0
layout: onboard-survey/views/_master
---

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "components/upload/_macro.njk" import onsUpload %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}

{% block main %}
    <h1 name="page-surveys-title">001 NEW</h1>
    <p class="field">
        {{ 
            onsMetadata({
                "metadataLabel": "This is an example of the metadata component",
                "termCol": "1",
                "descriptionCol": "11",
                "itemsList": [
                    {
                        "term": "Status:",
                        "descriptions": [ 
                            {
                                "description": "Created"
                            }
                        ]
                    }                                               
                ]
            }) 
        }}
    </p>
    <div class="grid overview">
        <div class="grid__col col-6@m">
            <table id="tbl-surveys" class="table table--responsive dates">
                <thead class="table__head">
                    <tr class="table__row">
                        <th scope="col" class="table__header u-fs-r u-fw-b">Dates</th>
                        <th scope="col" class="table__header"></th>
                    </tr>
                </thead>
                <tbody class="table__body">
                    <tr class="table__row">
                        <td class="table__cell " name="tbl-surveys-id" data-th="date">MPS (Main print selection)</td>
                        <td class="table__cell u-ta-right">
                            <form action="/surveys/edit-survey-details/MBS?long_name=Monthly+Business+Survey&amp;legal_basis=Statistics+of+Trade+Act+1947&amp;survey_ref=009" method="get">
                                <button type="submit" class="btn btn--secondary btn--small" id="edit-survey-details-009">
                                    <span class="btn__inner">Add</span></button>
                            </form>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell " name="tbl-surveys-id" data-th="date">Go live</td>
                        <td class="table__cell u-ta-right">
                            <form action="/surveys/edit-survey-details/MBS?long_name=Monthly+Business+Survey&amp;legal_basis=Statistics+of+Trade+Act+1947&amp;survey_ref=009" method="get">
                                <button type="submit" class="btn btn--secondary btn--small" id="edit-survey-details-009">
                                    <span class="btn__inner">Add</span></button>
                            </form>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell " name="tbl-surveys-id" data-th="date">Return by</td>
                        <td class="table__cell u-ta-right">
                            <form action="/surveys/edit-survey-details/QSS?long_name=Quarterly+Stocks+Survey&amp;legal_basis=Statistics+of+Trade+Act+1947&amp;survey_ref=017" method="get">
                                <button type="submit" class="btn btn--secondary btn--small" id="edit-survey-details-017">
                                    <span class="btn__inner">Add</span></button>
                            </form>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell " name="tbl-surveys-id" data-th="date">First reminder</td>
                        <td class="table__cell u-ta-right">
                            <form action="/surveys/edit-survey-details/QCAS?long_name=Quarterly+Acquisitions+and+Disposal+of+Capital+Assets+Survey&amp;legal_basis=Statistics+of+Trade+Act+1947&amp;survey_ref=019" method="get">
                                <button type="submit" class="btn btn--secondary btn--small" id="edit-survey-details-019">
                                    <span class="btn__inner">Add</span></button>
                            </form>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell " name="tbl-surveys-id" data-th="date">Exercise end</td>
                        <td class="table__cell u-ta-right">
                            <form action="/surveys/edit-survey-details/RSI?long_name=Monthly+Business+Survey+-+Retail+Sales+Index&amp;legal_basis=Statistics+of+Trade+Act+1947&amp;survey_ref=023" method="get">
                                <button type="submit" class="btn btn--secondary btn--small" id="edit-survey-details-023">
                                    <span class="btn__inner">Add</span></button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="grid__col col-5@m push-1@m">
            <table id="tbl-surveys" class="table table--responsive reference">
                <thead class="table__head">
                    <tr class="table__row">
                        <th scope="col" class="table__header u-fs-r u-fw-b">Reference information for this collection exercise</th>
                        <th scope="col" class="table__header"></th>
                    </tr>
                </thead>
                <tbody class="table__body">
                    <tr class="table__row">
                        <td class="table__cell " name="tbl-surveys-id" data-th="date">Period</td>
                        <td class="table__cell u-ta-right">
                            <form action="/surveys/edit-survey-details/MBS?long_name=Monthly+Business+Survey&amp;legal_basis=Statistics+of+Trade+Act+1947&amp;survey_ref=009" method="get">
                                <button type="submit" class="btn btn--secondary btn--small" id="edit-survey-details-009">
                                    <span class="btn__inner">Add</span></button>
                            </form>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell " name="tbl-surveys-id" data-th="date">Shown to respondent as</td>
                        <td class="table__cell u-ta-right">New Test Survey</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell " name="tbl-surveys-id" data-th="date">Survey ID and Abbreviation</td>
                        <td class="table__cell u-ta-right">001 NEW</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell " name="tbl-surveys-id" data-th="date">Survey title</td>
                        <td class="table__cell u-ta-right">NEW</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell " name="tbl-surveys-id" data-th="date">Reference period start date</td>
                        <td class="table__cell u-ta-right">
                            <form action="/surveys/edit-survey-details/RSI?long_name=Monthly+Business+Survey+-+Retail+Sales+Index&amp;legal_basis=Statistics+of+Trade+Act+1947&amp;survey_ref=023" method="get">
                                <button type="submit" class="btn btn--secondary btn--small" id="edit-survey-details-023">
                                    <span class="btn__inner">Add</span></button>
                            </form>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell " name="tbl-surveys-id" data-th="date">Reference period end date</td>
                        <td class="table__cell u-ta-right">
                            <form action="/surveys/edit-survey-details/RSI?long_name=Monthly+Business+Survey+-+Retail+Sales+Index&amp;legal_basis=Statistics+of+Trade+Act+1947&amp;survey_ref=023" method="get">
                                <button type="submit" class="btn btn--secondary btn--small" id="edit-survey-details-023">
                                    <span class="btn__inner">Add</span></button>
                            </form>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell " name="tbl-surveys-id" data-th="date">Employment date</td>
                        <td class="table__cell u-ta-right">
                            <form action="/surveys/edit-survey-details/RSI?long_name=Monthly+Business+Survey+-+Retail+Sales+Index&amp;legal_basis=Statistics+of+Trade+Act+1947&amp;survey_ref=023" method="get">
                                <button type="submit" class="btn btn--secondary btn--small" id="edit-survey-details-023">
                                    <span class="btn__inner">Add</span></button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="grid__col col-6@m">
            <h4 class="u-bb">Sample</a>
        </h4>
        <p class="field">
            <label class="label" for="file">Choose sample file to check details before loading
                        <br>
                <span class="label__description">File types accepted are .xls and .xlsx</span>
            </label>
            <input type="file" id="file" class="input input--text input-type__input  input--upload input--w-20" accept=".xls,.xlsx"/>
        </p>
        <p class="field">
            <form action="" method="get">
                {{ 
                        onsButton({
                            "text": 'Check sample contents',
                            "url": '/',
                            "classes": 'btn--secondary btn--small btn--disabled'
                        }) 
                    }}
            </form>
        </p>
        <h4 class="u-mt-l u-bb">Collection instruments</a>
    </h4>
    {{
    onsCheckboxes({
        "name": "collection-instruments",
        "checkboxes": [
            {
                "id": "001_0873_eQ",
                "label": {
                    "text": "001 0873 eQ"
                },
                "value": "001_0873_eQ"
            },
            {
                "id": "001_0867_eQ",
                "label": {
                    "text": "001 0867 eQ"
                },
                "value": "001_0867_eQ"
            },
            {
                "id": "001_0255_eQ",
                "label": {
                    "text": "001 0255 eQ"
                },
                "value": "001_0255_eQ"
            },
            {
                "id": "001_0243_eQ",
                "label": {
                    "text": "001 0243 eQ"
                },
                "value": "001_0243_eQ"
            },
            {
                "id": "001_0251_eQ",
                "label": {
                    "text": "001 0251 eQ"
                },
                "value": "001_0251_eQ"
            },
            {
                "id": "001_0868_eQ",
                "label": {
                    "text": "001 0867 eQ"
                },
                "value": "001_0867_eQ"
            },
            {
                "id": "001_0275_eQ",
                "label": {
                    "text": "001 0255 eQ"
                },
                "value": "001_0255_eQ"
            },
            {
                "id": "001_0276_eQ",
                "label": {
                    "text": "001 0243 eQ"
                },
                "value": "001_0243_eQ"
            },
            {
                "id": "001_0238_eQ",
                "label": {
                    "text": "001 0251 eQ"
                },
                "value": "001_0251_eQ"
            }
        ]
    })
}}
    <p class="field">
        <form action="" method="get">
            {{ 
                onsButton({
                    "text": 'Manage collection instruments',
                    "url": '/prototypes/onboard-survey/manage-collection-instruments-added.html',
                    "classes": 'btn--secondary btn--small'
                }) 
            }}
        </form>
    </p>
</div>
</div>

{% endblock %}
