---
group: RAS/RM
title: Onboard Survey
version: 17.0.0
layout: onboard-survey/views/_index
---

{% from "components/button/_macro.njk" import onsButton %}

{% block main %}
    <h1>Onboard survey</h1>

    <div class="grid">
        <div class="grid__col col-8@m">
            <h2>Prototypes</h2>
            <h3>Version 3 (MVP)</h3>
            {{ 
                onsButton({
                    "type": 'button',
                    "text": 'Start',
                    "classes": 'btn--small u-mb-s',
                    "url": "/prototypes/onboard-survey/version-3/survey-list.html"
                }) 
            }}
            <h4>Single file/formtype upload</h4>
            <ol>
                <li>Option to load eQ collection instruments on the survey screen</li>
                <li>Single field formtype upload</li>
                <li>Formtype upload count</li>
                <li>Removed pagination from CI list</li>
                <li>Added 'Add' to SEFT upload</li>
                <li>Removed 'Remove' CI buttons</li>
            </ol>
            <h3>Version 2</h3>
            {{ 
                onsButton({
                    "type": 'button',
                    "text": 'Start',
                    "classes": 'btn--small u-mb-s',
                    "url": "/prototypes/onboard-survey/version-2/survey-list.html"
                }) 
            }}
            <h4>Multiple file upload (SEFT)</h4>
            <ol>
                <li><a href="/prototypes/onboard-survey/version-2/SEFT/load-collection-instruments.html">Start</a></li>
                <li>User has selected files and upload is in progress: <a href="/prototypes/onboard-survey/version-2/SEFT/load-collection-instruments-checking.html">Simple</a> | <a href="/prototypes/onboard-survey/version-2/SEFT/load-collection-instruments-checking-2.html">Status per file</a></a></li>
                <li><a href="/prototypes/onboard-survey/version-2/SEFT/load-collection-instruments-ready.html">Upload is complete with no errors</a></li>
                <li><a href="/prototypes/onboard-survey/version-2/SEFT/load-collection-instruments-errors.html">Upload is complete, some files have errors</a></li>
            </ol>
            <p>Simplified design</p>
            <ul>
                <li>Added SEFT/eQ option when setting up survey</li>
                <li>Removed multimode (Split add eQ and SEFT at survey creation)</li>
                <li>Removed eQ ID</li>
                <li>Single column CI manage screen</li>
                <li>Replaced drop-downs with radio buttons</li>
            </ul>
            
            <h3>Version 1</h3>
            {{ 
                onsButton({
                    "type": 'button',
                    "text": 'Start',
                    "classes": 'btn--small u-mb-s',
                    "url": "/prototypes/onboard-survey/version-1/survey-list.html"
                }) 
            }}
            <p>Includes recommendations from user testing 23rd June 2020:</p>
            <ul>
                <li>Remove eQ column</li>
                <li>Copy updates on CI manage screen</li>
            </ul>
            
            <h3>Archive</h3>
            {{ 
                onsButton({
                    "type": 'button',
                    "text": 'Start',
                    "classes": 'btn--small u-mb-s',
                    "url": "/prototypes/onboard-survey/archive/version-1/survey-list.html"
                }) 
            }}
            <p>Initial design based on developer UI. Includes recommendations from user testing 29th May 2020</p>
            <ul>
                <li>Multimode</li>
            </ul>
            
        </div>
    </div>
{% endblock %}
