---
group: RAS/RM
title: Onboard Survey
version: 17.0.0
layout: onboard-survey/views/_index
---

{% block main %}
    <h1>Onboard survey</h1>

    <div class="grid">
        <div class="grid__col col-6@m">
            <h2>Prototypes</h2>
            <h3>Version 2 <span class="u-fs-r u-fw-r"><a href="/prototypes/onboard-survey/version-2/survey-list.html">Start</a></span></h3>
            <p>Simplified design</p>
            <ul>
                <li>Added SEFT/eQ option when setting up survey</li>
                <li>Removed multimode (Split add eQ and SEFT at survey creation)</li>
                <li>Removed eQ ID</li>
                <li>Single column CI manage screen</li>
                <li>Replaced drop-downs with radio buttons</li>
            </ul>
            
            <h3>Version 1 <span class="u-fs-r u-fw-r"><a href="/prototypes/onboard-survey/version-1/survey-list.html">Start</a></span></h3>
            <p>Includes recommendations from user testing 23rd June 2020:</p>
            <ul>
                <li>Remove eQ column</li>
                <li>Copy updates on CI manage screen</li>
            </ul>
            
            <h2>Archive <span class="u-fs-r u-fw-r"><a href="/prototypes/onboard-survey/archive/archive/version-1/survey-list.html">Start</a></span></h2>
            <p>Initial design based on developer UI. Includes recommendations from user testing 29th May 2020</p>
            <ul>
                <li>Multimode</li>
            </ul>
            
        </div>
    </div>
{% endblock %}
