---
group: RAS/RM
title: Onboard Survey
version: 17.0.0
layout: onboard-survey/views/_index
---

{% block main %}
    <h1>Onboard survey</h1>

    <div class="grid">
        <div class="grid__col col-6@m">
            <h2><a href="/prototypes/onboard-survey/version-2/survey-list.html">Version 2</a></h2>
            <p>Included recommendations from user testing 23/6/20:</p>
            <ul>
                <li>Added SEFT/eQ option</li>
            </ul>
            <h2><a href="/prototypes/onboard-survey/version-1/survey-list.html">Version 1</a></h2>
            <p>Initial design based on developer UI. Included recommendations from user testing 29/5/20</p>
            <ul>
                <li>
                    <a href="/prototypes/onboard-survey/version-1/survey-list.html">Survey list</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
