.status {
  white-space: nowrap;
}

/* Remove image from link button */
.btn--link:not(.btn--secondary) .btn__inner:after,
.btn--link:not(.btn--secondary):active .btn__inner:after,
.btn--link:not(.btn--secondary):hover:focus .btn__inner:after,
.btn--link.btn--secondary .btn__inner:after,
.btn--link:focus.btn--secondary .btn__inner:after,
.btn--link.btn--small.btn--secondary .btn__inner:after,
.btn--link:focus.btn--small.btn--secondary .btn__inner:after {
  background-image: none;
  display: none;
}

.u-bb {
  border-bottom: 2px solid #595959 !important;
}
