.page__main {
  margin-top: 0 !important;
}

.highlight {
}

.number {
  font-family: 'Open Sans';
  font-variant-numeric: tabular-nums;
}

.btn--small .btn__inner {
  padding: 0.6em 0.7em;
}

.btn--disabled:not(.btn--secondary) .btn__inner {
  background-color: #595959;
  border: 0;
}

.filter {
  margin-top: 0.5rem;
  .field {
    margin-right: 0.5rem;
  }

  .clear {
    display: inline-block;
    margin-bottom: 0.4rem;
  }
  button {
    margin-bottom: 1rem;
    margin-left: 0.5rem;
  }
  .input {
    width: 100px;
  }
  @media only screen and (min-width: 500px) {
    .input--select:not(.input--block):not([class*='input--w-']),
    .input--text:not(.input--block):not([class*='input--w-']) {
      width: 100%;
    }
  }
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.table__caption {
  display: none;
}

.table {
  margin-top: 1rem;
  .table__header {
    &.ru-ref {
      width: 7rem;
    }
    &.business-name {
      width: 20%;
    }
    &.subject {
      width: 30%;
    }
    &.from {
      width: 10%;
    }
    &.to {
      width: 10%;
    }
    &.date-and-time {
      width: 10rem;
    }
  }
  td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  tr.new {
    td {
      font-weight: 600;
    }
    .ru-ref {
      padding-left: 0rem;
      .circle:before {
        content: ' \25CF';
        font-size: 16px;
        color: #3b7a9e;
        margin-right: 0.2rem;
        width: 0.5rem;
        display: inline-block;
      }
    }
  }

  .date-time {
    font-family: 'Open Sans';
    font-variant-numeric: tabular-nums;
    text-align: right;
  }
}

#message {
  font-weight: 400;
  color: #000;
  position: relative;
  p {
    margin-bottom: 0.5rem;
  }
  ul {
    padding-left: 0;
    li {
      margin-left: 1.5rem;
      &.valid {
        margin-left: 0;
        padding-left: 1.5rem;
        list-style-type: none;
        color: #222;
        font-weight: 400;
        background-image: url('/img/icons/icons--check-green.svg');
        background-repeat: no-repeat;
        background-size: 20px 16px;
        background-position: top 6px left 1px;
      }
      /* Add a red text color and an "x" when the requirements are wrong */
      &.invalid {
        margin-left: 0;
        padding-left: 1.5rem;
        list-style-type: none;
        color: #d0021b;
        font-weight: 600;
        background-image: url('/prototypes/new-account/img/icons--cross-red.svg');
        background-repeat: no-repeat;
        background-size: 14px 14px;
        background-position: top 8px left 4px;
      }
    }
  }
}
