// ONS Design System
@import 'node_modules/@ons/design-system/24.2.1/scss/vars/colors';
@import 'node_modules/@ons/design-system/24.2.1/scss/vars/grid';
@import 'node_modules/@ons/design-system/24.2.1/scss/helpers/mq';

// Prototype specific
@import 'articles/articles';
@import 'promo-banner/promo-banner';
@import 'panel/panel';
@import 'social-list/social-list';
@import 'pagination/pagination';
@import 'list/list';
