---
group: ROps
title: Reporting unit
version: 20.0.3
layout: reporting-unit/views/_master-internal
---

{% block main %}
    <h1>Reporting units</h1>
    <div class="ru-search">

        <form action="" method="post">
            <div class="field u-mb-s">
                <label class="label">Type a reference or company name</label>
                <input class="ru-search-box input input--text" id="query" name="query" size="20" type="text" value="">
            </div>
            <button type="button" class="btn js-timer js-submit-btn">
                <span class="btn__inner">Search</span>
            </button>
        </form>

    </div>
{% endblock %}
