---
group: RAS/RM - ROps
title: Alert banner management
version: 17.0.0
layout: alert-banner-management/views/version-1/_master
---

{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/button/_macro.njk" import onsButton %}

{% block main %}

    <div class="grid">
        <div class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/',
                            "text": 'Create an alert',
                            "current": true
                        }
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            <h1>Schedule alert</h1>
            <p>The following alert will be published on <b>24th June 2020 at 00:00</b> and removed on <b>27th June 2020 at 23:59</b>:</p>
            <div class="panel panel--info panel--simple">
                <div class="panel__body">
                    <p>The Quarterly Vacancy Survey is unavailable until Tuesday 7 July 2020, as we are currently experiencing some technical difficulties.</p>
                </div>
            </div>
            <p class="field u-mt-l">
                {{ 
                    onsButton({
                        "type": 'button',
                        "text": 'Schedule',
                        "url": "/prototypes/alert-banner-management/version-1/survey-list-scheduled.html"
                    }) 
                }}
                {{ 
                    onsButton({
                        "type": 'button',
                        "text": 'Cancel',
                        "classes": 'btn--secondary btn-group__btn',
                        "url": "/prototypes/alert-banner-management/version-1/00-create-alert.html"
                    }) 
                }}
            </p>
        </div>
    </div>

{% endblock %}
