---
title: What you can do around Census Day
group: Census
version: 31.4.13
layout: census-website-respond/views/_nisra-master
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": pageInfo.rootPath + '/ni/home',
                            "text": 'Home'
                        },
                        {
                            "url": pageInfo.rootPath + '/ni/community-groups',
                            "text": 'Community groups'
                        }
                    ]
                })
            }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l">
                            <span class="u-fs-m u-db u-mb-xs u-lighter">Community groups</span>
                            <span class="u-vh">: </span>
                            <span class="u-fs-xxl u-db">What you can do around Census Day</span>
                        </h1>

                        {{-
                            onsTableOfContents({
                                "title": 'Contents',
                                "ariaLabel": 'Pages in this guide',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/ni/community-groups/',
                                        "text": 'Why your help is vital'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/ni/community-groups/spread-the-word-before-the-census',
                                        "text": 'Spread the word before the census'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/ni/community-groups/what-you-can-do-around-census-day',
                                        "text": 'What you can do around Census Day',
                                        "current": true
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/ni/community-groups/census-completion-activities',
                                        "text": 'Census completion activities'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/ni/community-groups/who-to-contact-for-help',
                                        "text": 'Who to contact for help'
                                    }
                                ]
                            })
                        }}

                        <div class="page__body">
                            
                            <p>Around Census Day, Sunday 21 March 2021, the main priority is to help people fill in their census form. You can do that in a number of ways. You can:</p>

                            {{
                                onsList({
                                    "itemsList": [
                                        {
                                            "text": "tell people when the census is happening"
                                        },
                                        {
                                            "text": "help friends, family and neighbours get the help they need to fill in their census form"
                                        },
                                        {
                                            "text": "help someone get onto the internet, so they can fill in the census online"
                                        },
                                        {
                                            "text": "direct people who need help getting online to one of our Census Support Centres"
                                        },
                                        {
                                            "text": "arrange help for people in your community whose first language is not English"
                                        },
                                        {
                                            "text": "direct people to the help in different languages and accessible formats we’ll be making available"
                                        },
                                        {
                                            "text": "organise census completion activities"
                                        }
                                    ]
                                })
                            }}

                            <div class="u-mt-xl">
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                            {
                                                "rel": 'prev',
                                                "text": 'Previous',
                                                "url": pageInfo.rootPath + '/ni/community-groups/spread-the-word-before-the-census',
                                                "label": 'Spread the word before the census'
                                            },
                                            {
                                                "rel": 'next',
                                                "text": 'Next',
                                                "url": pageInfo.rootPath + '/ni/community-groups/census-completion-activities',
                                                "label": 'Census completion activities'
                                            }
                                        ]
                                    })
                                }}
                            </div>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/ni/local-authorities',
                                    "text": 'Local authorities'
                                },
                                {
                                    "url": pageInfo.rootPath + '/ni/downloadable-resources',
                                    "text": 'Downloadable resources'
                                },
                                {
                                    "url": pageInfo.rootPath + '/ni/contact-us',
                                    "text": 'Contact us'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
