---
group: Frontstage
title: User account creation
version: 20.0.3
layout: sm-categorisation/views/version-4/_master-survey
---

{% from "components/input/_macro.njk" import onsInput %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/radios/_macro.njk" import onsRadios %}

{% block main %}

    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/sm-categorisation/version-4/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/prototypes/sm-categorisation/version-4/30-my-account.html',
                            "text": 'Account'
                        },
                        {
                            "url": '/prototypes/sm-categorisation/version-4/account/04-transfer-my-surveys/index.html',
                            "text": 'Transfer surveys'
                        },
                        {
                            "url": '/',
                            "text": 'Delete account',
                            "current": true
                        }
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            <h1>Delete your account</h1>
            <p>Once your surveys have been transferred we can delete your account. It will take up to 24 hours to complete and cannot be reversed.</p>
            <p class="field">
            {{
                onsRadios({
                    "legend": "Would you like us to delete your account?",
                    "name": "food",
                    "radios": [
                        {
                            "id": "yes",
                            "label": {
                                "text": "Yes"
                            },
                            "value": "yes"
                        },
                        {
                            "id": "no",
                            "label": {
                                "text": "No"
                            },
                            "value": "no"
                        }
                    ]
                })
            }}
            </p>
            <p class="field u-mt-l">
                <button type="submit" class="btn" onclick="location.href='{{ pageInfo.rootPath }}/version-4/account/04-transfer-my-surveys/02-send-enrolment-codes.html';">
                    <span class="btn__inner">Continue</span>
                </button>
                <button type="submit" class="btn btn--secondary" onclick="location.href='{{ pageInfo.rootPath }}/version-4/account/04-transfer-my-surveys/index.html';">
                    <span class="btn__inner">Cancel</span>
                </button>
            </p>
        </div>
    </div>

{% endblock %}
