---
group: Census ROps
title: ROps case management
version: 17.0.0
layout: rops-management/views/_master-case
---

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "prototypes/rops-management/data/1_acacia_avenue/case.dta" import casedetails %}
{% from "prototypes/rops-management/data/1_acacia_avenue/events.dta" import cases %}

{% block main %}
   

{% endblock %}
