---
title: Materials to help promote the census
group: Census
version: 31.2.0
layout: census-website-engage/views/_master
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": pageInfo.rootPath + '/home',
                            "text": 'Home'
                        },
                        {
                            "url": pageInfo.rootPath + '/get-involved/local-authorities',
                            "text": 'Local authorities'
                        }
                    ]
                })
            }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l">
                            <span class="u-fs-m u-db u-mb-xs u-lighter">Local authorities</span>
                            <span class="u-vh">: </span>
                            <span class="u-fs-xxl u-db">Materials to help promote the census</span>
                        </h1>

                        {{-
                            onsTableOfContents({
                                "title": 'Contents',
                                "ariaLabel": 'Pages in this guide',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/get-involved/local-authorities',
                                        "text": 'Overview'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/get-involved/local-authorities/how-you-can-work-with-us',
                                        "text": 'How you can work with us'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/get-involved/local-authorities/what-you-can-do-to-help',
                                        "text": 'What you can do to help'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/get-involved/local-authorities/important-dates-for-local-authorities',
                                        "text": 'Important dates for local authorities'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/get-involved/local-authorities/materials-to-help-promote-the-census',
                                        "text": 'Materials to help promote the census',
                                        "current": true
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/get-involved/local-authorities/who-you-can-contact-for-help',
                                        "text": 'Who you can contact for help'
                                    }
                                ]
                            })
                        }}

                        <div class="page__body">

                            <p>We’ll be providing a wide choice of materials to promote the census on our <a href="{{pageInfo.rootPath}}/get-involved/downloadable-resources">Downloadable resources</a> page. You’ll be able to use these resources for things like:</p>

                            <ul>
                                <li>informing your staff and councillors about the census</li>
                                <li>answering questions from residents</li>
                                <li>spreading the word locally to organisations like parish councils and community groups</li>
                                <li>promoting the census on your website and social media</li>
                            </ul>

                            <p>Visit our <a href="{{pageInfo.rootPath}}/get-involved/downloadable-resources">Downloadable resources</a> page regularly, as we’ll add more as the census gets closer.</p>

                            <p>You’ll be able to download, print and use these materials as you need to.</p>

                            <p>We’ll also send your local authority ready-made articles that can be used on your website, and by local media and community organisations.</p>

                            <div class="u-mt-xl">
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                            {
                                                "rel": 'prev',
                                                "text": 'Previous',
                                                "url": pageInfo.rootPath + '/get-involved/local-authorities/important-dates-for-local-authorities',
                                                "label": 'Important dates for local authorities'
                                            },
                                            {
                                                "rel": 'next',
                                                "text": 'Next',
                                                "url": pageInfo.rootPath + '/get-involved/local-authorities/who-you-can-contact-for-help',
                                                "label": 'Who you can contact for help'
                                            }
                                        ]
                                    })
                                }}
                            </div>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/get-involved/community-groups',
                                    "text": 'Community groups'
                                },
                                {
                                    "url": pageInfo.rootPath + '/get-involved/communications-partners',
                                    "text": 'Communications partners'
                                },
                                {
                                    "url": pageInfo.rootPath + '/get-involved/downloadable-resources',
                                    "text": 'Downloadable resources'
                                },
                                {
                                    "url": pageInfo.rootPath + '/contact-us',
                                    "text": 'Contact us'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
