---
version: 29.0.5
layout: census-website-respond/views/_languages-master
---

{% set pageId = 'help' %}

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": 'https://census-website-respond.netlify.app/end-to-end/home/',
                            "text": 'Home'
                        },
                        {
                            "url": pageInfo.rootPath + '/help',
                            "text": 'Help with the census'
                        },
                        {
                            "url": pageInfo.rootPath + '/help/types-of-accommodation',
                            "text": 'Types of accommodation and living situations'
                        }
                    ]
                })
            }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l u-fs-xxl">People not living at a fixed address</h1>

                        <div class="page__body">

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/help/find-a-support-centre',
                                    "text": 'Find a support centre'
                                },
                                {
                                    "url": 'https://census-website-respond.netlify.app/end-to-end/languages',
                                    "text": 'Languages'
                                },
                                {
                                    "url": pageInfo.rootPath + '/contact-us',
                                    "text": 'Contact us'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
