---
group: RAS/RM
title: Alert banner management
version: 17.0.0
layout: alert-banner-management/views/version-2/_master
---

{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/button/_macro.njk" import onsButton %}

{% block main %}

    <div class="grid">
        <div class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/',
                            "text": 'Create an alert',
                            "current": true
                        }
                    ]
                }) 
            }}
            <h1>Create an alert</h1>
        </div>
        <form action="{{ pageInfo.parentPath }}/index.html">
            <div class="grid__col col-5@m">
                <fieldset class="fieldset">
                    <legend class="fieldset__legend">Subject</legend>
                    <div class="radios__items">
                        <p class="radios__item">
                            <span class="radio">
                                <input
                                type="radio"
                                id="data-query"
                                class="radio__input js-radio "
                                value="data-query" 
                                name="category"
                                onfocus="javascript:dataQuery(); return false;">
                                <label class="radio__label " for="data-query">
                                    Unexpected outage
                                </label>
                            </span>
                        </p>
                        <br>
                        <p class="radios__item">
                            <span class="radio">
                                <input
                                type="radio"
                                id="newly-selected"
                                class="radio__input js-radio "
                                value="newly-selected" 
                                name="category"
                                onfocus="javascript:newlySelected(); return false;">
                                <label class="radio__label " for="newly-selected">
                                    SDX is not working
                                </label>
                            </span>
                        </p>
                        <br>
                        <p class="radios__item">
                            <span class="radio">
                                <input
                                type="radio"
                                id="new-contact"
                                class="radio__input js-radio "
                                value="new-contact" 
                                name="category"
                                onfocus="javascript:newContact(); return false;">
                                <label class="radio__label " for="new-contact" >
                                    System performance issues
                                </label>
                            </span>
                        </p>
                        <br>
                        <p class="radios__item">
                            <span class="radio">
                                <input
                                type="radio"
                                id="late-return"
                                class="radio__input js-radio "
                                value="late-return" 
                                name="category"
                                onfocus="javascript:lateReturn(); return false;">
                                <label class="radio__label " for="late-return">
                                        Vacancies survey
                                    </label>
                            </span>
                        </p>
                    </div>
                </fieldset>
                <p class="field u-mt-s">
                    <a href="{{ pageInfo.parentPath }}/01-manage-alert-templates.html">Manage message templates</a>
                </p>
            </div>
            <div class="grid__col col-7@m">
                {{
                    onsTextarea({
                        "id": "templatemessage",
                        "name": "templatemessage",
                        "classes": "input--w-30  u-mt-no",
                        "label": {
                            "text": "Alert text"
                        },
                        "maxlength": 400,
                        "charCountSingular": "You have {x} character remaining",
                        "charCountPlural": "You have {x} characters remaining"
                    })
                }}
            </div>
            <div class="grid__col col-8@m">
                <h2 class="u-mt-l u-mb-xs">When should the alert be published?</h2>
                <fieldset class="fieldset">
                    <legend class="fieldset__legend">Select an option</legend>
                    <div class="radios__items">
                        <p class="radios__item">
                            <span class="radio">
                                <input
                                    type="radio"
                                    id="immediately"
                                    class="radio__input js-radio"
                                    data-action-url="/prototypes/alert-banner-management/version-2/immediately/index.html"
                                    value="immediately"
                                    name="food">
                                <label class="radio__label  " for="immediately" id="immediately-label">Immediately</label>
                            </span>
                        </p>
                        <br>
                        <p class="radios__item">
                            <span class="radio">
                                <input 
                                    type="radio"
                                    id="specific"
                                    class="radio__input js-radio"
                                    data-action-url="/prototypes/alert-banner-management/version-2/specific/index.html"
                                    value="specific"
                                    name="food">
                                <label class="radio__label" for="specific" id="specific-label">On a specific date and time</label>
                            </span>
                        </p>
                    </div>
                </fieldset>

                <p class="field">
                    <button type="submit" class="btn">
                        <span class="btn__inner">Continue</span>
                    </button>
                    {{ 
                        onsButton({
                            "type": 'button',
                            "text": 'Cancel',
                            "classes": 'btn--secondary btn-group__btn',
                            "url": "/prototypes/alert-banner-management/version-2/survey-list.html"
                        }) 
                    }}
                </p>
            </form>
        </div>
    </div>
    <script>
        template0 = "";
        template1 = "We are currently experiencing technical difficulties. Our engineers are investigating and hope to have the service back up shortly.Thank you for your patience.";
        template2 = "We are carrying out essential maintenance to the service. Please continue to use the system and submit data as normal. It will only affect your response status which may not display as completed until the maintenance has been completed.";
        template3 = "We are carrying out essential maintenance to the service. During this time there may be an impact on system performance. Please continue to use the system and submit data as normal. If you experience any issues, please try again after the maintenance is completed.";
        template4 = "The Quarterly Vacancy Survey is unavailable until Tuesday 7 July 2020, as we are currently experiencing some technical difficulties.";

        function setTemplate(t) {
            var otionValue = t.value;
            if (otionValue == "0") {
                document
                    .getElementById('templatemessage')
                    .innerHTML = template0;
            } else if (otionValue == "1") 
                document
                    .getElementById('templatemessage')
                    .innerHTML = template1;
            else if (otionValue == "2") 
                document
                    .getElementById('templatemessage')
                    .innerHTML = template2;
            else if (otionValue == "3") 
                document
                    .getElementById('templatemessage')
                    .innerHTML = template3;
            else if (otionValue == "4") 
                document
                    .getElementById('templatemessage')
                    .innerHTML = template4;
            };
    </script>
{% endblock %}
