{% extends "page-templates/_template.njk" %}

{% block head %}
    <link rel="stylesheet" href="{{ pageInfo.rootPath }}/styles/styles.css" />
{% endblock %}

{% set pageConfig =  {
    "title": "Census 2021",
    "theme": "census",
    "signoutButton": {
      "text": "Save and sign out",
      "url": pageInfo.rootPath + "/end.html"
    },
    "serviceLinks": {
        "ariaLabel": "Site services menu",
        "ariaListLabel": "Navigation menu",
        "itemsList": [
            {
                "text": "BSL",
                "url": pageInfo.path + '.html',
                "classes": "header-service-nav__link"
            }
        ]
    },
    "language": {
        "allLanguagesUrl": "#",
        "languages": [
            {
                "url": "#",
                "ISOCode": "en",
                "text": "English",
                "buttonAriaLabel": "Language selector. Current language: English",
                "chooseLanguage": "Choose language",
                "current": true
            },
            {
                "url": "#",
                "ISOCode": "cy",
                "text": "Cymraeg",
                "buttonAriaLabel": "Dewisydd iaith. Iaith gyfredol: Cymraeg",
                "chooseLanguage": "Dewiswch iaith",
                "current": false
            }
        ]
    },
    "footer": {
        "rows": [
            {
                "itemsList": [
                    {
                        "text": 'Help',
                        "url": '#'
                    },
                    {
                        "text": 'Contact us',
                        "url": '#'
                    },
                    {
                        "text": 'Web chat',
                        "classes": "icon--external-link",
                        "target": "_blank",
                        "url": 'https://test-rh.int.census-gcp.onsdigital.uk/en/web-chat/'
                    }
                ]
            },
            {
                "itemsList": [
                    {
                        "text": 'Cookies',
                        "url": '#'
                    },
                    {
                        "text": 'Accessibility',
                        "url": '#'
                    },
                    {
                        "text": 'Privacy and data protection',
                        "url": '#'
                    }
                ]
            }
        ]
    }
} %}
{% block bodyEnd %}
    <div class="bsl-video u-d-no">
        <div class="bsl-video__container">
            <div class="bsl-video__video">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/XQu8TTBmGhA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="bsl-video__controls">
            <div class="grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap">
                <div class="grid__col col-auto">
                    <a class="js-remove-bsl bsl-video__remove-link" href="{{ pageInfo.path + '.html' }}">Turn off BSL</a>
                </div>
                {{ onsButton({
                    "text": "Hide BSL",
                    "classes": "js-bsl-btn btn--small btn--ghost u-mb-xs u-mt-xs grid__col col-auto",
                    "innerClasses": "icon--bsl-btn"
                }) }}
            </div>
        </div>
    </div>    <script src="{{ pageInfo.rootPath }}/scripts/index.js"></script>
{% endblock %}
