---
title: Who should fill in a census
group: Census
version: 29.0.3
layout: census-website-respond/views/_languages-master
---

{% set pageId = 'about' %}

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": 'https://census-website-respond.netlify.app/end-to-end/home/',
                            "text": 'Home'
                        },
                        {
                            "url": pageInfo.rootPath + '/about-the-census',
                            "text": 'About the census'
                        }
                    ]
                })
            }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l">
                            <span class="u-fs-m u-db u-mb-xs u-lighter">About the census</span>
                            <span class="u-vh">: </span>
                            <span class="u-fs-xxl u-db">Who should fill in a census</span>
                        </h1>

                        {{-
                            onsTableOfContents({
                                "title": 'Contents',
                                "ariaLabel": 'Pages in this guide',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census',
                                        "text": 'Overview'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/who-should-fill-in-a-census',
                                        "text": 'Who should fill in a census',
                                        "current": true
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/why-you-should-take-part-in-the-census',
                                        "text": 'Why you should take part in the census'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/how-your-information-is-used',
                                        "text": 'How your information is used'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/when-to-complete-your-census',
                                        "text": 'When to complete your census'
                                    }
                                ]
                            })
                        -}}

                        <div class="page__body">
                            <h2>Who is responsible for completing the census</h2>
                            <p>Content TBC</p>
                            <h2>What happens if you don't do the census</h2>
                            <p>Content TBC</p>
                            <h2>People not living at a fixed address</h2>
                            <p>Content TBC</p>
                            <h2>Students</h2>
                            <p>Whether you live in halls, in a shared house or flat, or you're an international student, you must answer the census for your term-time address if you stay there most of the time. This applies even if you’re on term-time holidays or a reading week when you complete the questionnaire.</p>
                            <h2>Communal establishments</h2>
                            <p>Content TBC</p>
                            <h2>Second homes, on holiday and away from home</h2>
                            <p>Content TBC</p>

                            <div class="u-mt-xl">
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                            {
                                                "rel": 'prev',
                                                "text": 'Previous',
                                                "url": pageInfo.rootPath + '/about-the-census',
                                                "label": 'Overview'
                                            },
                                            {
                                                "rel": 'next',
                                                "text": 'Next',
                                                "url": pageInfo.rootPath + '/about-the-census/why-you-should-take-part-in-the-census',
                                                "label": 'Why you should take part in the census'
                                            }
                                        ]
                                    })
                                }}
                            </div>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/your-data-and-security',
                                    "text": 'Your data and security'
                                },
                                {
                                    "url": pageInfo.rootPath + '/news',
                                    "text": 'News'
                                },
                                {
                                    "url": pageInfo.rootPath + '/contact-us',
                                    "text": 'Contact us'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
