---
title: Who should fill in a census
group: Census
version: 31.1.0
layout: census-website-respond/views/_master
---

{% set pageId = 'about' %}

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": 'https://census-website-respond.netlify.app/end-to-end/home/',
                            "text": 'Home'
                        },
                        {
                            "url": pageInfo.rootPath + '/about-the-census',
                            "text": 'About the census'
                        }
                    ]
                })
            }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l">
                            <span class="u-fs-m u-db u-mb-xs u-lighter">About the census</span>
                            <span class="u-vh">: </span>
                            <span class="u-fs-xxl u-db">Who should fill in a census</span>
                        </h1>

                        {{-
                            onsTableOfContents({
                                "title": 'Contents',
                                "ariaLabel": 'Pages in this guide',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census',
                                        "text": 'Overview'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/who-should-fill-in-a-census',
                                        "text": 'Who should fill in a census',
                                        "current": true
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/why-you-should-take-part-in-the-census',
                                        "text": 'Why you should take part in the census'
                                    }
                                ]
                            })
                        -}}

                        <div class="page__body">
                            <p>Everyone in England and Wales must complete a census or be included on a census for the place where they're living or staying.</p>

                            <p>Every householder at an address is responsible for completing a census questionnaire for their household.</p>

                            {%
                                call onsCollapsible({
                                    "classes": 'u-mt-m',
                                    "id": 'collapsible-0',
                                    "title": 'What we mean by “householder” and “household”',
                                    "button": {
                                        "close": 'Hide this',
                                        "contextSuffix": 'content',
                                        "attributes": {
                                            "aria-hidden": 'true'
                                        }
                                    }
                                })
                            %}

                                <p>A <strong>householder</strong> is a person who usually lives at this address and, on their own or with someone else, owns or rents the accommodation, and/or pays the household bills and expenses.</p>

                                <p>A <strong>household</strong> is one person living alone or a group of people, not necessarily related, living at the same address, who share cooking facilities <strong>and</strong> share a living room <strong>or</strong> sitting room <strong>or</strong> dining area.</p>

                            {% endcall %}

                            <h2 class="u-fs-l">Staying in the UK for less than three months</h2>
                            <p>You are not responsible for filling in the census if you are staying in the UK for less than three months. The owner of your accommodation will need to fill in the census about the household and the people staying there.</p>

                            <h2>Types of household or accommodation</h2>
                            <p>You need to complete a census if you:</p>
                                <ul>
                                    <li>
                                        <a href="{{pageInfo.rootPath}}/help/types-of-accommodation/shared-or-family">
                                        live in private or rented accommodation</a>
                                    </li>
                                    <li>
                                        <a href="{{pageInfo.rootPath}}/help/types-of-accommodation/students">
                                        are a student living away from home during term time</a>
                                    </li>
                                    <li>
                                        <a href="{{pageInfo.rootPath}}/help/types-of-accommodation/second-homes">
                                        have a second home or empty property</a>
                                    </li>
                                    <li>
                                        <a href="{{pageInfo.rootPath}}/help/types-of-accommodation/mobile-homes">
                                        live somewhere that is mobile, such as a canal boat or motorhome</a>
                                    </li>
                                    <li>
                                        <a href="{{pageInfo.rootPath}}/help/types-of-accommodation/communal-establishments">
                                        live in a care home, armed forces base or similar establishment</a>
                                    </li>
                                    <li>
                                        <a href="{{pageInfo.rootPath}}/help/types-of-accommodation/no-fixed-address">
                                        do not live at a fixed address</a>
                                    </li>
                                </ul>

                            <!--{%
                                call onsCollapsible({
                                    "classes": 'u-mt-m',
                                    "id": 'collapsible-0',
                                    "title": 'Content to be merged or removed',
                                    "titleTag": 'h3',
                                    "button": {
                                        "close": 'Hide this',
                                        "contextSuffix": 'content',
                                        "attributes": {
                                            "aria-hidden": 'true'
                                        }
                                    }
                                })
                            %}
                                <h3>From Online help</h3>
                                <ul>
                                    <li>
                                        <a href="https://blacklodge.census-gcp.onsdigital.uk/help/who-should-fill-in-a-census/">
                                        Who should fill in a census</a>
                                    </li>
                                    <li>
                                        <a href="https://blacklodge.census-gcp.onsdigital.uk/help/frequently-asked-questions/do-i-have-to-do-the-census/">
                                        Do I have to do the census?</a>
                                    </li>
                                    <li>
                                        <a href="https://blacklodge.census-gcp.onsdigital.uk/help/frequently-asked-questions/households-what-you-need-to-know/who-should-complete-the-census-for-this-household/">
                                        Who should complete the census for this household?</a>
                                    </li>
                                    <li>
                                        <a href="https://blacklodge.census-gcp.onsdigital.uk/help/frequently-asked-questions/households-what-you-need-to-know/i-live-in-a-mobile-home-boat-or-live-in-vehicle/">
                                        I live in a mobile home, boat or live-in vehicle</a>
                                    </li>
                                    <li>
                                        <a href="https://blacklodge.census-gcp.onsdigital.uk/help/frequently-asked-questions/households-what-you-need-to-know/second-homes-on-holiday-and-away-from-home/">
                                        Second homes, on holiday and away from home</a>
                                    </li>
                                    <li>
                                        <a href="https://blacklodge.census-gcp.onsdigital.uk/help/frequently-asked-questions/people-not-living-at-a-fixed-address/">
                                        People not living at a fixed address</a>
                                    </li>
                                    <li>
                                        <a href="https://blacklodge.census-gcp.onsdigital.uk/help/students/">
                                        Students: what you need to know</a>
                                    </li>
                                    <li>
                                        <a href="https://blacklodge.census-gcp.onsdigital.uk/help/communal-establishments/">
                                        Communal establishments</a>
                                    </li>
                                </ul>

                            {% endcall %}
                            -->


                            <div class="u-mt-xl">
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                            {
                                                "rel": 'prev',
                                                "text": 'Previous',
                                                "url": pageInfo.rootPath + '/about-the-census',
                                                "label": 'Overview'
                                            },
                                            {
                                                "rel": 'next',
                                                "text": 'Next',
                                                "url": pageInfo.rootPath + '/about-the-census/why-you-should-take-part-in-the-census',
                                                "label": 'Why you should take part in the census'
                                            }
                                        ]
                                    })
                                }}
                            </div>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/your-data-and-security',
                                    "text": 'Your data and security'
                                },
                                {
                                    "url": '#0',
                                    "text": 'Answering separately from your household'
                                },
                                {
                                    "url": pageInfo.rootPath + '/contact-us',
                                    "text": 'Contact us'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
