---
version: 13.4.4

---
{% extends "prototypes/census-website/views/_page.njk" %}
{% from "components/card/_macro.njk" import onsCard %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/card/_macro.njk" import onsCard %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/call-to-action/_macro.njk" import onsCallToAction %}
{% from "components/toc/_macro.njk" import onsTableOfContents %}
{% from "components/content-pagination/_macro.njk" import onsContentPagination %}
{% from "components/related-links/_macro.njk" import onsRelatedLinks %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/textarea/_macro.njk" import onsTextarea %}

{% block page %}
{% set pageClasses = "page__main" %}
{% from "components/call-to-action/_macro.njk" import onsCallToAction %}
{{-
    onsCallToAction({
        "headingText": "Ready to start your census?",
        "paragraphText": "You'll need the access code from the letter we sent you.",
        "button": {
            "text": "Start census",
            "classes": 'btn--small',
            "url": "/prototypes/rh-census/home.html"
        }
    })
}}
<div class="page__container container {{ containerClasses }}">
    {{-
        onsBreadcrumb({
            "ariaLabel": 'Breadcrumb',
            "itemsList": content.breadcrumbs.itemsList
        }) 
    }}
    <div class="grid u-mt-s@m">
        <div class="grid__col col-7@m">
            <main id="main-content" class=" {{ pageClasses }}">
                <h1 class="u-mb-l u-fs-xxl"><span class="u-fs-m u-db u-mb-xs u-lighter">{{ content.title }}</span> 
                    <span class="u-vh">: </span>
                    <span class="u-fs-xxl u-db">{{ content.sectionTitle }}</span></h1>
                {% if content.topPanel %}
                    <div class="u-mb-l">
                        {{ 
                            onsPanel({
                                type: 'branded',
                                body: content.topPanel.body
                            })
                        }}
                    </div>
                {% endif %}
                {% if content.contentsList %}
                    {{-
                        onsTableOfContents({
                            "ariaLabel": content.contentsList.ariaLabel,
                            "title": 'Contents',
                            "lists": content.contentsList.lists
                        }) 
                    }}
                {% endif %}
                {% if content.contentsList %}<section class="section-contents">{% endif %}
                    {% block content %}{% endblock %}
                    {% if content.contentPagination %}
                        {{-
                            onsContentPagination({
                                "ariaLabel": 'guide pagination',
                                "contentPaginationItems": content.contentPagination.contentPaginationItems
                            }) 
                        }}
                    {% endif %}
                {% if content.contentsList %}</section>{% endif %}
            </main>
        </div>
        <div class="grid__col col-4@m push-1@m u-mt-m">
                {{-
                    onsRelatedLinks({
                        "id": 'related-links-block',
                        "title": 'Related content',
                        "itemsList": [
                            {
                                "url": '#',
                                "text": 'Keeping your data safe'
                            }
                            
                        ]
                    }) 
                }}
            {% block aside %}
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}
