
{% extends "page-templates/_template.njk" %}

{% set page = { 
    "title": "Census 2021",
    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    },
    
    "toggleButton": {
            "text": "Menu",
            "ariaLabel": "Toggle main navigation"
        },
        
    "navigation": {
            "id": "main-nav",
            "ariaLabel": "Main menu",
            "ariaListLabel": "Navigation menu",
            "currentPath": "/prototypes/census-website/help/",
            "siteBasePath": pageInfo.rootPath,
            "itemsList": [
                {
                    "title": "Home",
                    "url": ""
                },
                {
                    "title": "About the census",
                    "url": ""
                },
                {
                    "title": "Help with your census",
                    "url": ""
                },
                {
                    "title": "Contact us",
                    "url": ""
                }
            ]
        }
} %}


{% block head %}
    <link rel="stylesheet" href="/prototypes/census-website/styles.css" />
{% endblock %}

{% block page %}
{% endblock %}

{% block bodyEnd %}
    <script src="/prototypes/census-website/index.js"></script>
{% endblock %}
