
{% extends "page-templates/_template.njk" %}

{% set page = { 
    "theme": "census",
    "header": {
        "logoHref": "https://www.ons.gov.uk",
        "titleLogo": "/img/census-logo-en.svg",
        "titleLogoAlt": "Census 2021",
        "titleLogoHref": "/prototypes/census-website/"
    },
    "title": "Census 2021",
    "language": {
        "languages": [
            {
                "url": "#",
                "ISOCode": "en",
                "text": "English",
                "buttonAriaLabel": "Language selector. Current language: English",
                "chooseLanguage": "Choose language",
                "current": true
            },
            {
                "url": "#",
                "ISOCode": "cy",
                "text": "Cymraeg",
                "buttonAriaLabel": "Dewisydd iaith. Iaith gyfredol: Cymraeg",
                "chooseLanguage": "Dewiswch iaith",
                "current": false
            }
        ]
    },
    
       "feedback": {
        "id": "feedback",
        "action": "/",
        "title": "Give feedback and help us improve this service",
        "closeButton": "I don't want to provide feedback",
        "textarea": {
            "label": {
                "text": "How can we improve this survey"
            },
            "maxlength": 2000,
            "charCountSingular": "You have {x} character remaining",
            "charCountPlural": "You have {x} characters remaining"
        },
        "name": {
            "label": {
                "text": "Name (optional)",
                "description": "Please include your name and email address if you’re interested in taking part in further research to improve this survey"
            }
        },
        "email": {
            "label": {
                "text": "Email address (optional)"
            }
        },
        "sendButton": {
            "text": "Send feedback"
        },
        "thankYouMessage": "Thank you for your feedback.",
        "errorMessage": "There was an error sending your feedback.\n(Error code: {x})"
    }, 
    "toggleButton": {
        "text": "Menu",
        "ariaLabel": "Toggle main navigation"
    },
        
    "navigation": {
            "id": "main-nav",
            "ariaLabel": "Main menu",
            "ariaListLabel": "Navigation menu",
            "currentPath": pageInfo.path,
            "siteBasePath": pageInfo.rootPath,
            "itemsList": [
                {
                    "title": "Home",
                    "url": "/prototypes/census-website"
                },
                {
                    "title": "About the census",
                    "url": "/prototypes/census-website/about-the-census"
                },
                {
                    "title": "Keeping your data safe",
                    "url": "/prototypes/census-website/help"
                }
            ]
        }
} %}


{% block head %}
    <link rel="stylesheet" href="/prototypes/census-website/styles.css" />
{% endblock %}

{% block page %}
{% endblock %}

{% block bodyEnd %}
    <script src="/prototypes/census-website/index.js"></script>
{% endblock %}
