---
version: 13.4.4---
{% extends "prototypes/census-website/views/_page.njk" %}

{% from "components/card/_macro.njk" import onsCard %}

{% block page %}
    {% block content %}
        <p> guidance page </p>
    {% endblock %}
    {% block aside %}
    {% endblock %}
{% endblock %}
