---
group: RAS/RM - Frontstage
title: E-commerce Survey
version: 35.0.3
layout: user-self-serve/views/version-10/_master-survey-section
---

{% block preMain %}
<div class="container">
    {{
        onsBreadcrumb({
            "ariaLabel": 'Back',
            "itemsList": [
                {
                    "linkClasses": 'js-previous',
                    "url":  pageInfo.rootPath + '/version-10/signed-in/survey/hub/index.html',
                    "id": "back",
                    "text": 'Back'
                }
            ]
        })
    }}
</div>
{% endblock %}
{% block main %}
<form class="js-question-no-summary"></form>

    <div class="grid">
        <div id="main" class="grid__col col-8@m u-pt-no u-pb-no">
            <h1>Access and use of the internet</h1>
            <p class="u-mb-no">This section covers the business’ internet access, website, and use of social media.</p>
            {{ onsButton({
                "text": "Continue",
                "classes": "u-mt-xl",
                "url": 'have-access/index.html'
            }) }}
        </div>
    </div>
    <script>
        function setSectionStatus() {
            var newSectionStatus = new Object();

            newSectionStatus.bookmark = window.location.pathname;
            newSectionStatus.status = "started";

            if(sessionStorage.sectionThree) {
                sessionStorage.removeItem('sectionThree');
                sectionThree = JSON.parse(sessionStorage.getItem('sectionThree'));
            } else {
                sectionThree = [];
            }
            var sectionThree = newSectionStatus;

            sessionStorage.setItem('sectionThree', JSON.stringify(sectionThree));
        }

        setSectionStatus();
    </script>
{% endblock %}
