---
group: Frontstage
title: User account creation
version: 32.0.1
layout: change-business-details/views/version-2/scenario-1/_master-survey
---

{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}

{% block main %}

  <div class="grid">
    <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
      {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/change-business-details/version-2/scenario-1/signed-in/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/prototypes/change-business-details/version-2/scenario-1/signed-in/account/index.html',
                            "text": 'Account'
                        }
                    ]
                }) 
            }}
    </div>
    <div class="grid__col col-8@m u-pt-no">
      <h1>Change your password</h1>

      <div class="field">
        <label class="label " for="current-psw">
            Enter your current password
        </label>
        <input name="current-psw" type="password" id="current-psw" class="input input--text input-type__input u-mt-xs js-password-input"/>
      </div>

      <h2 class="u-mt-l">Create a new password</h2>
      <div class="field">
        <div id="message">
          <p>Your new password must have:</p>
          <ul>
            <li id="length">at least 8 characters</li>
            <li id="capital">at least 1 uppercase letter</li>
            <li id="symbol">at least 1 symbol (eg: ?!£%)</li>
            <li id="number">at least 1 number</li>
          </ul>
        </div>

        <label class="label" for="psw">
            New password
        </label>
        <span class="checkbox js-password-toggle-wrap checkbox--toggle">
          <input type="checkbox" onclick="showPassword()" id="password-toggle" class="checkbox__input js-checkbox js-password-toggle" value="" name="show-password">
          <label id="password-toggle-label" class="checkbox__label " for="password-toggle">
                Show password
            </label>
        </span>
        <input name="psw" type="password" id="psw" class="input input--text input-type__input "/>
      </div>

      <div class="field">
        <label class="label " for="retype-psw">
            Re-type your new password
        </label>
        <input name="retype-psw" type="password" id="retype-psw" class="input input--text input-type__input u-mt-xs js-password-input"/>
      </div>


        <div class="grid grid--flex grid--gutterless grid--vertical-center grid--no-wrap@s u-mt-m u-mb-m">
            <div class="grid__col">
              <button type="submit" class="btn" onclick="location.href='{{ pageInfo.rootPath }}/scenario-1/signed-in/account/02-change-password/02-change-password-confirm.html';">
                <span class="btn__inner">Submit</span>
              </button>
            </div>
            <div class="grid__col u-ml-m">
                <a href="/prototypes/change-business-details/version-2/scenario-1/signed-in/account/index.html">Cancel</a>
            </div>
        </div>

    </div>

    <script>
      var myInput = document.getElementById("psw");
        var symbol = document.getElementById("symbol");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var length = document.getElementById("length");

  // When the user starts to type something inside the password field
  myInput.onkeyup = function() {
    
    // Validate length
    if (myInput.value.length >= 8) {
      length.classList.remove("invalid");
      length.classList.add("valid");
    } else {
      length.classList.remove("valid");
      length.classList.add("invalid");
    }

    // Validate capital letters
    var upperCaseLetters = /[A-Z]/g;
    if (myInput.value.match(upperCaseLetters)) {
      capital.classList.remove("invalid");
      capital.classList.add("valid");
    } else {
      capital.classList.remove("valid");
      capital.classList.add("invalid");
    }

    // Validate symbols
    var symbols = /[-!@£$%^&*()_+|~=`{}\[\]:";'<>?,.\/]/g;
    if (myInput.value.match(symbols)) {
      symbol.classList.remove("invalid");
      symbol.classList.add("valid");
    } else {
      symbol.classList.remove("valid");
      symbol.classList.add("invalid");
    }

    // Validate numbers
    var numbers = /[0-9]/g;
    if (myInput.value.match(numbers)) {
      number.classList.remove("invalid");
      number.classList.add("valid");
    } else {
      number.classList.remove("valid");
      number.classList.add("invalid");
    }
  }
</script>

<script>
  function showPassword() {
    var x = document.getElementById("psw");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>


{% endblock %}
