---
title: About the census coverage survey
group: Census
version: 32.0.1
layout: census-website-respond/views/_master
---

{% set pageId = 'about' %}

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": 'https://census-website-respond.netlify.app/end-to-end/home/',
                            "text": 'Home'
                        },
                        {
                            "url": pageInfo.rootPath + '/about-the-census',
                            "text": 'About the census'
                        }
                    ]
                })
            }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l">
                            <span class="u-fs-m u-db u-mb-xs u-lighter">About the census</span>
                            <span class="u-vh">: </span>
                            <span class="u-fs-xxl u-db">About the census coverage survey</span>
                        </h1>

                        {{-
                            onsTableOfContents({
                                "title": 'Contents',
                                "ariaLabel": 'Pages in this guide',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census',
                                        "text": 'Overview'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/who-should-fill-in-a-census',
                                        "text": 'Who should fill in a census'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/why-you-should-take-part-in-the-census',
                                        "text": 'Why you should take part in the census'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/about-the-census-coverage-survey',
                                        "text": 'About the Census Coverage Survey',
                                        "current": true
                                    }
                                ]
                            })
                        -}}

                        <div class="page__body">
                            
                            <div class="u-mt-xl">
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                            {
                                                "rel": 'prev',
                                                "text": 'Previous',
                                                "url": pageInfo.rootPath + '/about-the-census/why-you-should-take-part-in-the-census',
                                                "label": 'Why you should take part in the census'
                                            }
                                        ]
                                    })
                                }}
                            </div>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/your-data-and-security/what-we-do-with-your-information',
                                    "text": 'What we do with your information'
                                },
                                {
                                    "url": '#0',
                                    "text": 'Census stories'
                                },
                                {
                                    "url": pageInfo.rootPath + '/news',
                                    "text": 'News'
                                }
                            ]
                        })
                    }}

                    <div class="u-pt-m u-pb-s u-bt">
                        
                        <h2 class="u-fs-r--b u-mb-xs">Help with the census</h2>

                        {{
                            onsList({
                                "classes": 'list--bare',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/help/getting-started/what-if-im-away-or-abroad-on-census-day',
                                        "text": 'What if I’m away or abroad on Census Day?'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/help/getting-started/im-moving-house',
                                        "text": 'I’m moving house'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/help/getting-started/completing-the-census-for-someone-else',
                                        "text": 'Completing the census for someone else'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/help/',
                                        "text": 'More help'
                                    }
                                ]
                            })
                        }}

                    </div>

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
