---
group: Frontstage
title: SM Categorisation
version: 17.0.0
layout: SM-categorisation/views/version-1/_master-messages
---

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}

{% block main %}
    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/SM-categorisation/version-1/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/',
                            "text": 'Help',
                            "current": true
                        }
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            <h1>Help with this survey</h1>
            <form action="{{ pageInfo.parentPath }}/index.html">
                <p class="field">
                    <!-- {% from "components/radios/_macro.njk" import onsRadios %}
            {{ 
                onsRadios({
                    "legend": "What is your message about?",
                    "name": "category",
                    "radios": [
                        {
                            "id": "answering-a-survey-question",
                            "label": {
                                "text": "Answering a survey question"
                            },
                            "value": "answering-a-survey-question",
                            "data-action-url": "/prototypes/SM-categorisation/version-1/10-category/00-send-message.html"
                        },
                        {
                            "id": "information-about-the-survey",
                            "label": {
                                "text": "Information about the survey"
                            },
                            "value": "information-about-the-survey",
                            "data-action-url": "/prototypes/SM-categorisation/version-1/20-category/00-category-list.html"
                        },
                        {
                            "id": "my-company-details",
                            "label": {
                                "text": "My company details"
                            },
                            "value": "my-company-details",
                            "data-action-url": "/prototypes/SM-categorisation/version-1/30-category/00-send-message.html"
                        },
                        {
                            "id": "my-contact-details",
                            "label": {
                                "text": "My contact details"
                            },
                            "value": "my-contact-details",
                            "data-action-url": "/prototypes/SM-categorisation/version-1/40-category/00-send-message.html"
                        },
                        {
                            "id": "a-technical-issue",
                            "label": {
                                "text": "A technical issue"
                            },
                            "value": "a-technical-issue",
                            "data-action-url": "/prototypes/SM-categorisation/version-1/50-category/00-send-message.html"
                        },
                        {
                            "id": "other-checkbox",
                            "label": {
                                "text": "Something else"
                            },
                            "value": "other",
                            "other": {
                                "id": "other-textbox",
                                "name": "other-answer",
                                "label": {
                                    "text": "Please specify"
                                },
                                "data-action-url": "/prototypes/SM-categorisation/version-1/60-category/00-send-message.html"
                            }
                        }
                    ]
                }) 
            }}
            </p> -->

                    <p class="field">
                        <fieldset class="fieldset">
                            <legend class="fieldset__legend">Choose an option</legend>
                            <div class="radios__items">
                                <p class="radios__item">
                                    <span class="radio">
                                        <input
                                        type="radio"
                                        id="answering-a-survey-question"
                                        data-action-url="{{ pageInfo.parentPath }}/10-category/00-send-message.html"
                                        class="radio__input js-radio"
                                        value="question-one"
                                        name="message-query">
                                        <label class="radio__label" for="answering-a-survey-question">I need help answering a survey question</label>
                                    </span>
                                </p>
                                <br>
                                <p class="radios__item">
                                    <span class="radio">
                                        <input
                                        type="radio"
                                        id="information-about-the-survey"
                                        data-action-url="{{ pageInfo.parentPath }}/20-category/00-category-list.html"
                                        class="radio__input js-radio"
                                        value="question-two"
                                        name="message-query">
                                        <label class="radio__label" for="information-about-the-survey">I need information about the survey</label>
                                    </span>
                                </p>
                                <!-- <br>
                                <p class="radios__item">
                                    <span class="radio">
                                        <input
                                        type="radio"
                                        id="my-company-details-have-changed"
                                        data-action-url="{{ pageInfo.parentPath }}/30-category/00-send-message.html"
                                        class="radio__input js-radio"
                                        value="question--three"
                                        name="message-query">
                                        <label class="radio__label" for="my-company-details-have-changed">My company details</label>
                                    </span>
                                </p> -->
                                <br>
                                <p class="radios__item">
                                    <span class="radio">
                                        <input
                                        type="radio"
                                        id="my-contact-details-have-changed"
                                        data-action-url="{{ pageInfo.parentPath }}/manage-surveys/20-my-account.html"
                                        class="radio__input js-radio"
                                        value="question--four"
                                        name="message-query">
                                        <label class="radio__label" for="my-contact-details-have-changed">I need to change who completes this survey</label>
                                    </span>
                                </p>
                                <br>
                                <p class="radios__item">
                                    <span class="radio">
                                        <input
                                        type="radio"
                                        id="my-email-address-has-changed"
                                        data-action-url="{{ pageInfo.parentPath }}/40-category/00-category-list.html"
                                        class="radio__input js-radio"
                                        value="question--five"
                                        name="message-query">
                                        <label class="radio__label" for="my-email-address-has-changed">My business or contact details have changed</label>
                                    </span>
                                </p>
                                <!-- <br>
                                <p class="radios__item">
                                    <span class="radio">
                                        <input
                                        type="radio"
                                        id="a-technical-issue"
                                        data-action-url="{{ pageInfo.parentPath }}/50-category/00-send-message.html"
                                        class="radio__input js-radio"
                                        value="question--six"
                                        name="message-query">
                                        <label class="radio__label" for="a-technical-issue">I have a technical issue</label>
                                    </span>
                                </p> -->
                                <br>
                                <span class="radios__label u-mt-s u-fs-r--b" aria-hidden="true">Or, </span>
                                <p class="field radios__item">
                                    <span class="radio">
                                        <input
                                            type="radio"
                                            id="other-checkbox"
                                            data-action-url="{{ pageInfo.parentPath }}/60-category/00-send-message.html"
                                            class="radio__input js-radio "
                                            value="other" 
                                            name="message-query"
                                            aria-controls="other-checkbox-other-wrap" aria-haspopup="true">
                                            <label class="radio__label" for="other-checkbox">
                                                Something else
                                            </label>
                                            <span class="radio__other" id="other-checkbox-other-wrap">
                                                <label class="label u-fs-s--b" for="other-textbox">
                                                    What is your message about?
                                                </label>
                                            <input
                                                type="text"
                                                id="other-textbox"
                                                class="input input--text input-type__input  input--w-auto "
                                                name="other-answer"/>
                                        </span>
                                    </span>
                                </p>
                            </div>
                        </fieldset>
                    </p>
                    <p class="field">
                        <div class="btn-group">
                            <button type="submit" class="btn">
                                <span class="btn__inner">Continue</span>
                            </button>
                            {{ 
                                onsButton({
                                    "type": 'button',
                                    "text": 'Cancel',
                                    "classes": 'btn--secondary btn-group__btn',
                                    "url": "/prototypes/SM-categorisation/version-1/00-surveys-list.html"
                                }) 
                            }}
                        </div>
                    </p>
                </form>
            </div>
        </div>

    {% endblock %}
