{% extends "page-templates/_template.njk" %}

{% block head %}
    <link rel="stylesheet" href="{{ pageInfo.rootPath }}/styles.css" />
{% endblock %}

{% set page = { 
    "theme": "census",
    "header": {
        "titleLogo": "/img/census-logo-en.svg",
        "titleLogoAlt": "Census 2021"
    },
    'footer': {
        'poweredBy': true,
        'lang': 'en',
        'rows': [
            {
                'itemsList': [
                    {
                        'text': 'About the census',
                        'url': domain_url_en + '/about-the-census/',
                        'target': '_blank'
                    },
                    {
                        'text': 'Help with your census',
                        'url': domain_url_en + '/help/',
                        'target': '_blank'
                    },
                    {
                        'text': 'Contact us',
                        'url': domain_url_en + '/contact-us/',
                        'target': '_blank'
                    }
                ]
            },
            {
                'itemsList': [
                    {
                        'text': 'Cookies',
                        'url': domain_url_en + '/cookies/',
                        'target': '_blank'
                    },
                    {
                        'text': 'Accessibility',
                        'url': domain_url_en + '/en/start/accessibility/',
                        'target': '_blank'
                    },
                    {
                        'text': 'Privacy and data protection',
                        'url': domain_url_en + '/privacy-and-data-protection/',
                        'target': '_blank'
                    }
                ]
            }
        ]
    }
} %}

{% block bodyEnd %}
    <script src="{{ pageInfo.rootPath }}/scripts/index.js"></script>
{% endblock %}
