---
title: Completing the census for someone else
group: Census
version: 29.1.3
layout: census-website-respond/views/_master
---

{% set pageId = 'help' %}

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{- onsBreadcrumb({
                "ariaLabel": 'Breadcrumb',
                "itemsList": [
                    {
                        "url": 'https://census-website-respond.netlify.app/end-to-end/home/',
                        "text": 'Home'
                    },
                    {
                        "url": pageInfo.rootPath + '/help',
                        "text": 'Help with the census'
                    }
                ]
            }) }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l">
                            <span class="u-fs-m u-db u-mb-xs u-lighter">Getting started</span>
                            <span class="u-vh">: </span>
                            <span class="u-fs-xxl u-db">Completing the census</span>
                        </h1>

                        {{-
                            onsTableOfContents({
                                "title": 'Contents',
                                "ariaLabel": 'Pages in this guide',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/help/getting-started',
                                        "text": 'Overview'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/help/getting-started/completing-your-census-online',
                                        "text": 'Completing your census online'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/help/getting-started/completing-your-census-on-paper',
                                        "text": 'Completing your census on paper'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/help/getting-started/completing-the-census-for-someone-else',
                                        "text": 'Completing the census for someone else',
                                        "current": true
                                    }
                                ]
                            })
                        }}

                        <div class="page__body">

                            <p>If someone can't complete their own census, someone they trust, like a family member or friend, can complete it for them.</p>

                            <p>If you are completing the census for someone else, you will need their paper form, or the access code from the letter we sent them.</p>

                            <p>You can download or order accessible formats, such as <a href="{{pageInfo.rootPath}}/help/languages-and-accessibility/accessibility/braille">Braille</a>, <a href="{{pageInfo.rootPath}}/help/languages-and-accessibility/accessibility/british-sign-language">British Sign Language (BSL)</a> and <a href="{{pageInfo.rootPath}}/help/languages-and-accessibility/accessibility/easy-read">easy read</a>.</p>
                            
                            <p>To request a census in a different format or for further help, <a href="{{pageInfo.rootPath}}/contact-us">contact us</a>.</p>

                            {{
                                onsList({
                                    "classes": 'u-mb-l',
                                    "itemsList": [
                                        {
                                            "text": "Helping someone who has asked for help",
                                            "url": pageInfo.rootPath + '/help/getting-started/completing-the-census-for-someone-else/helping-someone-who-has-asked-for-help'
                                        },
                                        {
                                            "text": "Helping someone who lacks the capacity to answer for themselves",
                                            "url": pageInfo.rootPath + '/help/getting-started/completing-the-census-for-someone-else/helping-someone-who-lacks-the-capacity-to-answer-for-themselves'
                                        }
                                    ]
                                })
                            }}

                            <div class="u-mt-xl">
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                        {
                                            "rel": 'prev',
                                            "text": 'Previous',
                                            "url": pageInfo.rootPath + '/help/getting-started',
                                            "label": 'Overview'
                                        }
                                        ]
                                    })
                                }}
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                        {
                                            "rel": 'next',
                                            "text": 'Next',
                                            "url": pageInfo.rootPath + '/help/getting-started/completing-your-census-on-paper',
                                            "label": 'Completing your census on paper'
                                        }
                                        ]
                                    })
                                }}
                            </div>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{- onsRelatedLinks({
                        "id": 'related-links',
                        "title": 'Related content',
                        "itemsList": [
                            {
                                "url": pageInfo.rootPath + '/help/get-an-access-code-or-paper-census/',
                                "text": 'Get a new access code or paper form'
                            },
                            {
                                "url": pageInfo.rootPath + '/help/find-a-support-centre',
                                "text": 'Find a support centre'
                            },
                            {
                                "url": pageInfo.rootPath + '/help/contact-us',
                                "text": 'Contact us'
                            }
                        ]
                    }) }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
