---
group: Frontstage
title: User account creation
version: 20.0.3
layout: SM-categorisation/views/version-4/_master-survey
---

{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}

{% block main %}
    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/SM-categorisation/version-4/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/',
                            "text": 'Account',
                            "current": true
                        }
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            <h1>Account details</h1>

            {{
                onsMetadata({
                    "metadataLabel": "",
                    "termCol": "4",
                    "classes": "u-mb-no",
                    "descriptionCol": "8",
                    "itemsList": [
                        {
                            "term": "Name:",
                            "descriptions": [
                                {
                                    "description": "Jane Doe"
                                }
                            ]
                        },
                        {
                            "term": "Email address:",
                            "descriptions": [
                                {
                                    "description": "jane.doe@acme.com"
                                }
                            ]
                        },
                        {
                            "term": "Phone number:",
                            "descriptions": [
                                {
                                    "description": "07789 123 456"
                                }
                            ]
                        }
                    ]
                })
            }}

            <hr class="u-mb-l">

            <h1>Help with your account</h1>
            <form action="{{ pageInfo.parentPath }}/account/index.html">
                <p class="field">
                    <fieldset class="fieldset">
                        <legend class="fieldset__legend">Choose an option</legend>
                        <div class="radios__items">
                            <p class="radios__item">
                                <span class="radio">
                                    <input
                                        type="radio"
                                        id="change-contact-details"
                                        data-action-url="/prototypes/SM-categorisation/version-4/account/01-change-contact-details/01-change-contact-details.html"
                                        class="radio__input js-radio"
                                        value="question-one"
                                        name="message-query">
                                    <label class="radio__label" for="change-contact-details">Change contact details</label>
                                </span>
                            </p>
                            <br>
                            <p class="radios__item">
                                <span class="radio">
                                    <input
                                        type="radio"
                                        id="change-business-details"
                                        data-action-url="/prototypes/SM-categorisation/version-4/account/05-change-business-details/index.html"
                                        class="radio__input js-radio"
                                        value="question-two"
                                        name="message-query">
                                    <label class="radio__label" for="change-business-details">Change business details</label>
                                </span>
                            </p>
                            <br>
                            <p class="radios__item">
                                <span class="radio">
                                    <input
                                        type="radio"
                                        id="change-password"
                                        data-action-url="/prototypes/SM-categorisation/version-4/account/02-change-password/01-change-password.html"
                                        class="radio__input js-radio"
                                        value="question-one"
                                        name="message-query">
                                    <label class="radio__label" for="change-password">Change password</label>
                                </span>
                            </p>
                            <br>
                            <p class="radios__item">
                                <span class="radio">
                                    <input
                                        type="radio"
                                        id="access-to-my-surveys"
                                        data-action-url="{{ pageInfo.parentPath }}/account/03-share-access-to-my-surveys/index.html"
                                        class="radio__input js-radio"
                                        value="question-one"
                                        name="message-query">
                                    <label class="radio__label" for="access-to-my-surveys">Share access to my surveys</label>
                                </span>
                            </p>
                            <br>
                            <p class="radios__item">
                                <span class="radio">
                                    <input
                                        type="radio"
                                        id="transfer-my-surveys"
                                        data-action-url="{{ pageInfo.parentPath }}/account/04-transfer-my-surveys/index.html"
                                        class="radio__input js-radio"
                                        value="question-two"
                                        name="message-query">
                                    <label class="radio__label" for="transfer-my-surveys">I’m no longer required to complete any surveys</label>
                                </span>
                            </p>
                            <br>
                            <p class="radios__item">
                                <span class="radio">
                                    <input
                                        type="radio"
                                        id="other-checkbox"
                                        data-action-url="{{ pageInfo.parentPath }}/account/06-something-else/index.html"
                                        class="radio__input js-radio "
                                        value="other" 
                                        name="message-query"
                                        aria-controls="other-checkbox-other-wrap" aria-haspopup="true">
                                    <label class="radio__label" for="other-checkbox">
                                        Something else
                                    </label>
                                </span>
                            </p>
                        </div>
                    </fieldset>
                </p>
                <p class="field u-mt-l">
                    <div class="btn-group">
                        <button type="submit" class="btn">
                            <span class="btn__inner">Continue</span>
                        </button>
                        {{ 
                            onsButton({
                                "type": 'button',
                                "text": 'Cancel',
                                "classes": 'btn--secondary btn-group__btn',
                                "url": "/prototypes/SM-categorisation/version-4/00-surveys-list.html"
                            }) 
                        }}
                    </div>
                </p>
            </form>
        </div>
    </div>

{% endblock %}
