{% from "components/input/_macro.njk" import onsInput %}

{% macro onsUACEntry(params) %}
    {{ onsInput({
        "id": params.id,
        "type": "number",
        "fieldClasses": "uac-entry",
        "classes": "uac-entry__input js-uac-entry",
        "label": params.label,
        "attributes": {
            "maxlength": (params.maxlength + 6) if params.maxlength else 22
        }
    }) }}
{% endmacro %}
