---
group: Frontstage
title: User self serve
version: 30.0.0
layout: user-self-serve/views/version-8/_master-surveys-list
---

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}

{% block main %}

    <div class="grid">
        <div class="grid__col col-12@m">
            <p class='u-fs-r'>
                <a href="#">Add a survey</a> Using your enrolment code
            </p>
            <section class="survey u-bb">
                <dl class="grid">
                    <div class="grid__col col-5@m u-pt-s u-pb-s">
                        <dt class="u-vh">Survey</dt>
                        <dd class="u-fw-b u-ml-no u-mb-xs"><a href="{{ pageInfo.rootPath }}/version-8/signed-in/50-survey-start.html">Monthly Wages and Salary Survey</a></dd>
                        <dt class="u-vh">Business</dt>
                        <dd class="u-ml-no u-mb-xs">ACME Consumer Products</dd>
                        <dt class="u-dib u-ml-no u-mb-xs add-colon">Period covered</dt>
                        <dd class="u-dib u-ml-no u-mb-xs">December 2019</dd>
                    </div>

                    <div class="grid__col col-4@m u-pt-s u-pb-s">
                        <dt class="u-vh">Due</dt>
                        <dd class="u-fs-r u-fw-b u-ml-no u-mb-xs">
                            <span class=">panel__error">Overdue by 1 day</span></dd>
                        <dt class="u-dib u-ml-no u-mb-xs">Submit by</dt>
                        <dd class="u-dib u-ml-no u-mb-xs">2nd Feb 2021, 23:59</dd>
                    </div>

                    <div class="grid__col col-3@m u-pt-s">
                        <dt class="u-vh">Status</dt>
                        <dd class="u-fs-r u-ml-no u-mb-xs"><span class="status status--dead">Not started</span></dd>
                        <dt class="u-vh">Help</dt>
                        <dd class="u-ml-no u-mb-m"><a href="{{ pageInfo.rootPath }}/version-8/signed-in/help/index.html">Help with this survey</a></dd>
                    </div>
                </dl>
            </section>

            <section class="survey u-bb">
                <dl class="grid">
                    <div class="grid__col col-5@m u-pt-s u-pb-s">
                        <dt class="u-vh">Survey</dt>
                        <dd class="u-fw-b u-ml-no u-mb-xs"><a href="{{ pageInfo.rootPath }}/version-8/signed-in/50-survey-start.html">Quarterly Business Survey</a></dd>
                        <dt class="u-vh">Business</dt>
                        <dd class="u-ml-no u-mb-xs">ACME Consumer Products</dd>
                        <dt class="u-dib u-ml-no u-mb-xs add-colon">Period covered</dt>
                        <dd class="u-dib u-ml-no u-mb-xs">December 2019</dd>
                    </div>

                    <div class="grid__col col-4@m u-pt-s u-pb-s">
                        <dt class="u-vh">Due</dt>
                        <dd class="u-fs-r u-fw-b u-ml-no u-mb-xs">Due in 5 days</dd>
                        <dt class="u-dib u-ml-no u-mb-xs">Submit by</dt>
                        <dd class="u-dib u-ml-no u-mb-xs">2nd Feb 2021, 23:59</dd>
                    </div>

                    <div class="grid__col col-3@m u-pt-s">
                        <dt class="u-vh">Status</dt>
                        <dd class="u-fs-r u-ml-no u-mb-xs"><span class="status status--success">In progress</span></dd>
                        <dt class="u-vh">Help</dt>
                        <dd class="u-ml-no u-mb-m"><a href="{{ pageInfo.rootPath }}/version-8/signed-in/help/index.html">Help with this survey</a></dd>
                    </div>
                </dl>
            </section>

            <section class="survey u-bb">
                <dl class="grid">
                    <div class="grid__col col-5@m u-pt-s u-pb-s">
                        <dt class="u-vh">Survey</dt>
                        <dd class="u-fw-b u-ml-no u-mb-xs"><a href="{{ pageInfo.rootPath }}/version-8/signed-in/50-survey-start.html">Quarterly Acquisitions and Disposals of Capital Assets</a></dd>
                        <dt class="u-vh">Business</dt>
                        <dd class="u-ml-no u-mb-xs">ACME Consumer Products</dd>
                        <dt class="u-dib u-ml-no u-mb-xs add-colon">Period covered</dt>
                        <dd class="u-dib u-ml-no u-mb-xs">December 2019</dd>
                    </div>

                    <div class="grid__col col-4@m u-pt-s u-pb-s">
                        <dt class="u-vh">Due</dt>
                        <dd class="u-fs-r u-fw-b u-ml-no u-mb-xs">Due in 5 days</dd>
                        <dt class="u-dib u-ml-no u-mb-xs">Submit by</dt>
                        <dd class="u-dib u-ml-no u-mb-xs">8th Feb 2021, 23:59</dd>
                    </div>

                    <div class="grid__col col-3@m u-pt-s">
                        <dt class="u-vh">Status</dt>
                        <dd class="u-fs-r u-ml-no u-mb-xs"><span class="status status--dead">Not started</span></dd>
                        <dt class="u-vh">Help</dt>
                        <dd class="u-ml-no u-mb-m"><a href="{{ pageInfo.rootPath }}/version-8/signed-in/help/index.html">Help with this survey</a></dd>
                    </div>
                </dl>
            </section>

            <section class="survey u-bb">
                <dl class="grid">
                    <div class="grid__col col-5@m u-pt-s u-pb-s">
                        <dt class="u-vh">Survey</dt>
                        <dd class="u-fw-b u-ml-no u-mb-xs"><a href="{{ pageInfo.rootPath }}/version-8/signed-in/50-survey-start.html">Business Register and Employment Survey</a></dd>
                        <dt class="u-vh">Business</dt>
                        <dd class="u-ml-no u-mb-xs">ACME Consumer Products</dd>
                        <dt class="u-dib u-ml-no u-mb-xs add-colon">Period covered</dt>
                        <dd class="u-dib u-ml-no u-mb-xs">December 2019</dd>
                    </div>

                    <div class="grid__col col-4@m u-pt-s u-pb-s">
                        <dt class="u-vh">Due</dt>
                        <dd class="u-fs-r u-fw-b u-ml-no u-mb-xs">Due in 15 days</dd>
                        <dt class="u-dib u-ml-no u-mb-xs">Submit by</dt>
                        <dd class="u-dib u-ml-no u-mb-xs">18th Feb 2021, 23:59</dd>
                    </div>

                    <div class="grid__col col-3@m u-pt-s">
                        <dt class="u-vh">Status</dt>
                        <dd class="u-fs-r u-ml-no u-mb-xs"><span class="status status--dead">Not started</span></dd>
                        <dt class="u-vh">Help</dt>
                        <dd class="u-ml-no u-mb-m"><a href="{{ pageInfo.rootPath }}/version-8/signed-in/help/index.html">Help with this survey</a></dd>
                    </div>
                </dl>
            </section>

            <p class='u-fs-r u-mt-l'>
                <a href="#">Survey not listed?</a>
            </p>

        </div>
    </div>

    <script>
        function openNav() {
            document
                .getElementById("mySidenav")
                .style
                .width = "20%";
            document
                .getElementById("main")
                .style
                .marginLeft = "20%";
            document
                .getElementById("openNavBtn")
                .style
                .display = "none";
            document
                .getElementById("closeNavBtn")
                .style
                .display = "block";
        }

        function closeNav() {
            document
                .getElementById("mySidenav")
                .style
                .width = "0";
            document
                .getElementById("main")
                .style
                .marginLeft = "0";
            document
                .getElementById("closeNavBtn")
                .style
                .display = "none";
            document
                .getElementById("openNavBtn")
                .style
                .display = "block";
        }
    </script>

{% endblock %}
