{% extends "page-templates/_template.njk" %}

{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/header/_macro.njk" import onsHeader %}
{% from "user-self-serve/version-10/components/button/_macro.njk" import onsButton %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/collapsible/_macro.njk" import onsCollapsible %}

{% block head %}
    <link rel="stylesheet" href="{{ pageInfo.rootPath }}/version-10/styles.css"/>
{% endblock %}

{% set pageConfig = {
    'cdn': {
        'version': '35.0.3'
    },
    "title": pageInfo.title,
    "header": {
        "logoAlt": "ONS",
        "logoHref": "/prototypes/user-self-serve/version-10/index.html"
    },
    "signoutButton": {
        "text": "Save and exit survey",
        "buttonStyle": "exit",
        "url": pageInfo.rootPath + "/version-10/signed-in/00-surveys-list.html"
    },
    "serviceLinks": {
        "classes": "header-service-nav--internal",
        "ariaLabel": "Site services menu",
        "ariaListLabel": "Navigation menu",
        "itemsList": [
            {
                "text": "Help",
                "url": "/prototypes/user-self-serve/version-10/signed-in/help/index.html"
            },
            {
                "text": "My account",
                "url": "/prototypes/user-self-serve/version-10/signed-in/account/index.html"
            },
            {
                "text": "Sign out",
                "url": "/prototypes/user-self-serve/version-10/index.html"
            }
        ]} 
} %}

{% block preHeader %}
{% endblock %}
{% block pageContent %}
    {% block preMain %}{% endblock %}
    <div class="page__container container">
        <main id="main-content" class="page__main {{ pageClasses }}">
            {% from "components/panel/_macro.njk" import onsPanel %}
            <div class="grid">
                <div class="grid__col col-8@m u-pt-no u-pb-no">
                {{
                    onsPanel({
                        "id": 'js-continue-panel',
                        "classes": 'u-d-no u-mb-m',
                        "body": '<p class="u-mb-no"><strong>This is the last viewed question in this section</strong></p>
                        <p>You can also <a href="#0">go back to the start of the section</a></p>'
                    })
                }}
                </div>
            </div>
            {% block main %}{% endblock %}
        </main>
    </div>
{% endblock %}

{% block footer %}
{% from "components/footer/_macro.njk" import onsFooter %}
{{
    onsFooter({
        "cols": [
            {
                "title": 'Legal information',
                "itemsList": [
                    {
                        "text": 'Cookies and privacy',
                        "url": '#0'
                    }
                ]
            },
            {
                "title": 'About ONS',
                "itemsList": [
                    {
                        "text": 'What we do',
                        "url": '#0'
                    },
                    {
                        "text": 'Contact us',
                        "url": '/prototypes/user-self-serve/version-10/signed-in/20-contact-us.html'
                    },
                    {
                        "text": 'Accessibility',
                        "url": '#0'
                    }
                ]
            },
            {
                "title": 'Statistics',
                "itemsList": [
                    {
                        "text": 'UK Statistics Authority',
                        "url": '#0'
                    },
                    {
                        "text": 'Release calendar',
                        "url": '#0'
                    },
                    {
                        "text": 'News',
                        "url": '#0'
                    }
                ]
            }
        ],
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    })
}}
{% endblock %}

{% block bodyEnd %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{{ pageInfo.rootPath }}/version-10/scripts/index.js"></script>
    <script>
        var urlParts = document.referrer.split('://')[1].split('/');
        var urlPathName = urlParts.slice(1).join('/');
        var urlPathEnd = urlPathName.substring(urlPathName.lastIndexOf('/') + 1);

        sessionStorage.setItem("surveyBookmark" , window.location.pathname);

    </script>
{% endblock %}
