/* --------------------------------
Articles
-------------------------------- */

.article__heading {
  margin-bottom: 0.5rem;
}

.article__meta {
  color: $color-grey-1;
  display: flex;
  margin-bottom: 0.5rem;
  padding-left: 0;
}

.article__meta-item {
  display: block;
  margin: 0 1rem 0 0;
  padding-left: 0;
}
