---
group: Frontstage
title: Change business details
version: 17.0.0
layout: change-business-details/scenario-1/views/_index
---


{% block main %}
    {% from "components/button/_macro.njk" import onsButton %}
    <h1>Change business details research prototype</h1>
    <div class="grid">
        <div class="grid__col col-12@m">
            <h1>Scenarios</h1>
            <ul>
                <li><a href="/prototypes/change-business-details/scenario-1/index.html">Scenario 1</a> User makes change themselves.</li>
                <li><a href="/prototypes/change-business-details/scenario-2/signed-in/account/index.html">Scenario 2</a> User changes address for one survey only.</li>
                <li>Scenario 3 A colleague has already requested a change, but it hasn’t gone through yet.</li>
                <li>Scenario 4 Need to inform the business is winding down.</li>
            </ul>
        </div>
    </div>
{% endblock %}
