---
group: Frontstage
title: Change business details
version: 17.0.0
layout: change-business-details/views/_index
---


{% block main %}
    {% from "components/button/_macro.njk" import onsButton %}
    <div class="grid">
        <div class="grid__col col-12@m">
            <h1>Version 2</h1>
            <ul>
                <li><a href="/prototypes/change-business-details/version-2/scenario-1/index.html">Scenario 1</a></li>
                <li><a href="/prototypes/change-business-details/version-2/scenario-2/index.html">Scenario 2</a></li>
                <li><a href="/prototypes/change-business-details/version-2/scenario-3/index.html">Scenario 3</a></li>
                <li><a href="/prototypes/change-business-details/version-2/scenario-4/index.html">Scenario 4</a></li>
            </ul>
            <h1>Version 1</h1>
            <ul>
                <li><a href="/prototypes/change-business-details/version-1/scenario-1/index.html">Scenario 1</a></li>
                <li><a href="/prototypes/change-business-details/version-1/scenario-2/index.html">Scenario 2</a></li>
                <li><a href="/prototypes/change-business-details/version-1/scenario-3/index.html">Scenario 3</a></li>
                <li><a href="/prototypes/change-business-details/version-1/scenario-4/index.html">Scenario 4</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
