---
group: RAS/RM - Frontstage
title: User self serve
version: 35.0.3
layout: user-self-serve/views/version-10/_master-survey-signed-out
---

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}

{% block main %}

    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/user-self-serve/version-10/index.html',
                            "text": 'Sign in'
                        },
                        {
                            "url": '/prototypes/user-self-serve/version-10/signed-out/help/index.html',
                            "text": 'Help'
                        },
                        {
                            "url": '/prototypes/user-self-serve/version-10/signed-out/option-5/option-1/option-list.html',
                            "text": 'Help with my password'
                        }
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            <h1>I have not received the password reset email</h1>
            <p>Please check:</p>
            <ul class="list">
                <li class="list__item ">that your inbox is not full</li>
                <li class="list__item ">if our email has gone to your junk folder</li>
                <li class="list__item ">that the email address you use to sign in is correct</li>
                <li class="list__item ">that the email address ons.surveys@notifications.service.gov.uk is added to your list of approved senders</li>
            </ul>
            <p>If you need more help, please <a href="/prototypes/user-self-serve/version-10/signed-out/20-contact-us.html">contact us</a>.</p>
        </div>
    </div>

{% endblock %}
