---
group: Frontstage
title: User account creation
version: 20.0.3
layout: user-account-creation/views/version-3/_master-survey
---

{% from "components/input/_macro.njk" import onsInput %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}

{% block main %}

    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/user-account-creation/version-3/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/prototypes/user-account-creation/version-3/30-my-account.html',
                            "text": 'Account'
                        },
                        {
                            "url": '/',
                            "text": 'Change your account details',
                            "current": true
                        }
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            <h1>Change your account details</h1>
            <!--
            <p>You'll need to:</p>
            <ol>
                <li>Provide the email address</li>
                <li>Send the enrolment code</li>
            </ol>
            -->

            <!-- <p>To whom would you like to transfer your surveys?</p> -->

            <div class="field">
                <p>
                    {{ 
                        onsInput({
                            "id": "firstname",
                            "value": "Jane",
                            "label": {
                                "text": "First name"
                            }
                        }) 
                    }}
                </p>
            </div>

            <div class="field">
                <p>
                    {{ 
                        onsInput({
                            "id": "Surname",
                            "value": "Doe",
                            "label": {
                                "text": "Surname"
                            }
                        }) 
                    }}
                </p>
            </div>

            <div class="field">
                <p>
                    {{ 
                        onsInput({
                            "id": "emailaddress",
                            "value": "jane.doe@acme.com",
                            "label": {
                                "text": "Email address"
                            }
                        }) 
                    }}
                </p>
            </div>

            <div class="field">
                <p>
                    {{ 
                        onsInput({
                            "id": "phonenumber",
                            "value": "07789123456",
                            "classes": "input--w-8",
                            "label": {
                                "text": "Phone number"
                            }
                        }) 
                    }}
                </p>
            </div>

            <p class="field">
                <button type="submit" class="btn" onclick="location.href='{{ pageInfo.rootPath }}/version-3/01-change-account-details/02-change-email-address.html';">
                    <span class="btn__inner">Save</span>
                </button>
                <button type="submit" class="btn btn--secondary" onclick="location.href='{{ pageInfo.rootPath }}/version-3/30-my-account.html';">
                    <span class="btn__inner">Cancel</span>
                </button>
            </p>
        </div>
    </div>

{% endblock %}
