---
version: 13.6.9
layout: rh-fulfilments/views/_master
---

{% block main %}

    <h1 class="u-mt-l">The selected address is not a Communal Establishment</h1>

    <p>The address that you have selected is a household, but you are requesting a form for a Communal Establishment.</p>
    
    <p><a href="{{ pageInfo.rootPath }}/household-form/">Request a Household form</a></p>

    <p>If you believe that the address that you selected should be classified as a 'Communal Establishment' please call us free on 0800 085 7376.</p>

{% endblock %}
