---
group: Frontstage
title: E-commerce Survey
version: 35.0.3
layout: user-self-serve/views/version-9/_master-survey
---

{% block preMain %}
<div class="container">
    {{
        onsBreadcrumb({
            "ariaLabel": 'Previous',
            "itemsList": [
                {
                    "linkClasses": 'js-previous',
                    "url": pageInfo.parentPath,
                    "id": "previous",
                    "text": 'Previous'
                }
            ]
        })
    }}
</div>
{% endblock %}
{% block main %}
    <div class="grid">
        <div id="main" class="grid__col col-8@m u-pt-no u-pb-no">
            <form action="{{ pageInfo.rootPath }}/version-9/signed-in/survey/hub/index.html">

            {% call onsQuestion({
                "legendIsQuestionTitle": true,
                "classes": 'u-mt-no',
                "title": 'What percentage of people in the business use computers for their work?'
            }) %}
                {% call onsPanel({
                    "classes": 'u-mb-m'
                }) %}
                    <h2 class="u-fs-r--b">Include</h2>
                    {{ onsList({
                        "itemsList": [
                            {
                                "text": 'employees, directors, and proprietors'
                            },
                            {
                                "text": 'all agency staff on your payroll'
                            }
                        ]
                    }) }}
                    <h2 class="u-fs-r--b">Exclude</h2>
                    <ul>
                        <li>agency staff not on your payroll</li>
                    </ul>
                {% endcall %}
                {{
                    onsInput({
                        "id": "suffixed-percent",
                        "type": "number",
                        "classes": "input-number--w-3",
                        "autocomplete": "off",
                        "required": true,
                        "label": {
                            "text": "Percentage who use computers"
                        },
                        "suffix": {
                            "title": "per cent",
                            "text": "%"
                        }
                    })
                }}
            {% endcall %}
            {{ onsButton({
                "text": "Save and continue",
                "classes": "u-mt-xl"
            }) }}
            </form>
        </div>
    </div>
<script>

</script>
{% endblock %}
