---
title: Languages and accessibility
group: Census
version: 32.0.1
layout: census-website-respond/views/_master
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{ onsBreadcrumb({
                "ariaLabel": 'Breadcrumb',
                "itemsList": [
                    {
                        "url": 'https://census-website-respond.netlify.app/end-to-end/home',
                        "text": 'Home'
                    },
                    {
                        "url": pageInfo.rootPath + '/help',
                        "text": 'Help with the census'
                    }
                ]
            }) }}

            <main class="page__main" id="main-content" role="main">

                <h1 class="u-mb-l u-fs-xxl">Languages and accessibility</h1>

                <div class="grid u-mb-m">

                    <div class="grid__col col-4@m">
                        {{ onsCard({
                            "ariaBy": 'Section highlight',
                            "id": 'title1',
                            "textId": 'text1',
                            "title": 'Languages',
                            "url": 'https://census-website-respond.netlify.app/end-to-end/languages',
                            "text": 'Information and guidance about the census translated into other languages.'
                        }) }}
                    </div>

                    <div class="grid__col col-4@m">
                        {{ onsCard({
                            "ariaBy": 'Section highlight',
                            "id": 'title2',
                            "textId": 'text2',
                            "title": 'Accessibility',
                            "url": pageInfo.rootPath + '/help/languages-and-accessibility/accessibility',
                            "text": 'Accessible videos that include BSL and audio, and guidance in Braille, easy read or large print.'
                        }) }}
                    </div>

                </div>

            </main>

        </div>
    
    {% endblock %}

{% endblock %}
