---
version: 8.0.5
layout: census-website/views/_master
---

{% from "components/card/_macro.njk" import onsCard %}

{% block page %}
  <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
  <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
  <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% from "census-website/components/call-to-action/_macro.njk" import onsCallToAction %}
{{-
    onsCallToAction({
        "headingText": "Ready to start your census survey?",
        "paragraphText": "You'll need the access code from the letter we sent you.",
        "button": {
            "text": "Start survey",
            "classes": 'btn--small',
            "href": "https://deploy-preview-31--sdc-prototypes.netlify.com/prototypes/rh-census/home.html"
        }
    })
}}
<div class="page__container container {{ containerClasses }}">
        {% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/census-website/index.html',
                            "text": 'Home'
                        },                                            
                        {
                            "url": '',
                            "text": 'Contact us',
                            "current": true                                                

                        }
                    ]
                }) 
            }}
    <div class="grid">
        <div class="grid__col col-7@m">
            <main id="main-content" class=" {{ pageClasses }}">
                <h1 class="u-mb-s u-fs-l">Contact us</h1>
                
            </main>
            <div class="u-mt-s u-mb-l">
                <main id="main-content" class=" {{ pageClasses }}">
                    <p>Census helpline is available from the 23 September to 17 November 2019</p>
<p><strong>Telephone</strong> 0800 XXX XXXX (Option for English and Welsh)</p>
<p><strong>Textphone</strong> 0800 XXX XXXX</p>
<p><strong>Text relay (if you cannot hear or speak on the phone):</strong>XXXXX then 0800 XXX XXXX</p> 
<p>Monday to Friday, 8 am to 7pm<br> Saturday, 8am to 4pm</p>
<p><a href="">Find out about call charges</a></p>
<h2>Alternative formats</h2>
<p>Call to ask for alternative formats, such as braille</p>

<h2>Web chat</h2>
<p>Monday to Friday 8am – 7pm<br> Saturday 8am - 4pm</p>
<p><a href="">Speak to an advisor</a></p>
<h2>Email</h2>
<p>XXXX@XXX.com</p>

<h2>Social media channels</h2>
<div style="display: flex;">
    <div style="height:40px;width:40px;background:#f1f1f1;margin-right:10px;"></div> 
    <div style="height:40px;width:40px;background:#f1f1f1;margin-right:10px;"></div> 
    <div style="height:40px;width:40px;background:#f1f1f1;"></div>
</div> 

<h2 class="u-mt-s">Post</h2>
<p>Government Buildings<br>
Cardiff Road<br>
Newport<br>
South Wales<br>
NP10 8XG</p>
<hr class="footer__hr u-mt-l" style="margin-bottom: 0;">

<div class="u-mt-m">
<h2 class="u-fs-l">Marketing materials</h2>
<p>Select below the adertising materials you require</p>

    <div class="grid__col--flex u-mt-m">
        <img src="https://via.placeholder.com/107x150/800080/800080" style="width:107px; height:150px;"> 
        <div class="u-ml-s">
            <a href="" class="u-fs-l@m u-fs-m@xs">Census awareness poster </a>
            <p class="u-fs-s@xs u-fs-s@m u-mb-xs@xs u-mt-xs@xs">PDF, 890KB, 1 page</p>
            <p class="u-fs-s@xs u-fs-s@m">This file may not be suitable for users of assistive technology. <a href="">Request an accessible format.</a></p>
        </div>
    </div>
<hr class="footer__hr u-mt-m" style="margin-bottom: 0;">

    <div class="grid__col--flex u-mt-m">
        <img src="https://via.placeholder.com/107x150/555555/555555" style="width:107px; height:150px;"> 
        <div class="u-ml-s">
            <a href="" class="u-fs-l@m u-fs-m@xs">Census Letterhead </a>
            <p class="u-fs-s@xs u-fs-s@m u-mb-xs@xs u-mt-xs@xs">PDF, 330KB, 1 page</p>
            <p class="u-fs-s@xs u-fs-s@m">This file may not be suitable for users of assistive technology. <a href="">Request an accessible format.</a></p>
        </div>
    </div>
<hr class="footer__hr u-mt-m" style="margin-bottom: 0;">
<div class="grid__col--flex u-mt-m">
        <img src="https://via.placeholder.com/107x150/800080/800080" style="width:107px; height:150px;"> 
        <div class="u-ml-s">
            <a href="" class="u-fs-l@m u-fs-m@xs">Census awareness poster </a>
            <p class="u-fs-s@xs u-fs-s@m u-mb-xs@xs u-mt-xs@xs">PDF, 890KB, 1 page</p>
            <p class="u-fs-s@xs u-fs-s@m">This file may not be suitable for users of assistive technology. <a href="">Request an accessible format.</a></p>
        </div>
    </div>
                   
                </main>
            </div> 
        </div>
       
       
        <!--related sidebar-->
        <div class="grid__col col-4@m push-1@m">
            <div style="border-top:5px solid purple;padding:15px 0;">
                <h3>Related content</h3>
                <ul class="list list--bare">
                    <li><a href="#">About the census</a></li>
                    <li><a href="#">What we ask you</a></li>
                    <li><a href="#">Help and support</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>        
    </div>
</div>
{% endblock %}
