---
version: 8.0.5
layout: census-website/views/_page
---

{% set content = { 
    "title": 'Contact us',
    "breadcrumbs": {
        "itemsList": [
            {
                "url": '/prototypes/census-website/',
                "text": 'Home'
            },
            {
                "url": '/prototypes/census-website/contact-us/',
                "text": 'Contact us',
                "current": true
            }
        ]
    }
} %}
{% block content %}
    <p>The census helpline is available from Friday 4 March to Sunday 15 May 2011.</p>
    <p><strong>Census helpline:</strong> 0300 0201 130 (option for English and Welsh)</p>
    <p><strong>The opening times are:</strong>
    <p>8am to 8pm, Monday to Friday</p> 
    <p> 9am to 4pm, Saturday and Sunday except</p> 
    <p> 8am to 8pm, census weekend 26/27 March 2011</p>
    <p><strong>Text Relay</strong> (for the deaf, hard of hearing and speech impaired): 18001 0300 0201 160 (English only)</p>
    <p><strong>Please note</strong> - calls may be monitored for training purposes</p>
    <hr class="footer__hr" style="margin-bottom: 0;">
    <div class="u-mt-m">
    <h2 class="u-fs-l">Marketing materials</h2>
    <p>Select below the advertising materials you require</p>
    <div class="grid__col--flex u-mt-m">
        <img src="https://via.placeholder.com/107x150/800080/800080" style="width:107px; height:150px;"> 
        <div class="u-ml-s">
            <a href="" class="u-fs-l@m u-fs-m@xs">Census awareness poster </a>
            <p class="u-fs-s@xs u-fs-s@m u-mb-xs@xs u-mt-xs@xs">PDF, 890KB, 1 page</p>
            <p class="u-fs-s@xs u-fs-s@m">This file may not be suitable for users of assistive technology. <a href="">Request an accessible format.</a></p>
        </div>
    </div>
    <hr class="footer__hr u-mt-m" style="margin-bottom: 0;">
    <div class="grid__col--flex u-mt-m">
        <img src="https://via.placeholder.com/107x150/555555/555555" style="width:107px; height:150px;"> 
        <div class="u-ml-s">
            <a href="" class="u-fs-l@m u-fs-m@xs">Census Letterhead </a>
            <p class="u-fs-s@xs u-fs-s@m u-mb-xs@xs u-mt-xs@xs">PDF, 330KB, 1 page</p>
            <p class="u-fs-s@xs u-fs-s@m">This file may not be suitable for users of assistive technology. <a href="">Request an accessible format.</a></p>
        </div>
    </div>
    <hr class="footer__hr u-mt-m" style="margin-bottom: 0;">
    <div class="grid__col--flex u-mt-m">
    <img src="https://via.placeholder.com/107x150/800080/800080" style="width:107px; height:150px;"> 
    <div class="u-ml-s">
        <a href="" class="u-fs-l@m u-fs-m@xs">Census awareness poster </a>
        <p class="u-fs-s@xs u-fs-s@m u-mb-xs@xs u-mt-xs@xs">PDF, 890KB, 1 page</p>
        <p class="u-fs-s@xs u-fs-s@m">This file may not be suitable for users of assistive technology. <a href="">Request an accessible format.</a></p>
    </div>
    </div>
{% endblock %}
