.social-list {
  margin: 0 -1rem -1rem;
  padding-left: 0;
}

.social-list__item {
  align-items: center;
  display: flex;
  margin: 0 1rem 1rem;
}

.social__icon {
  fill: $color-black;
  height: 32px;
  width: 32px;
}

// Inline
.social-list--inline {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
