---
group: RAS/RM
title: Overview
version: 17.0.0
layout: onboard-survey/views/_master
---

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/input/_macro.njk" import onsInput %}

{% block main %}
    <div class="grid overview">
        <div class="grid__col col-6@m">
            <div class="panel panel--error">
                <div class="panel__header">
                    <div data-qa="error-header" class="panel__title u-fs-r--b">There is a problem with your file</div>
                </div>
                <div class="panel__body">
                    <ul class="list list--bare">
                        <li class="list__item ">
                            <a href="#error-one" class="list__link js-inpagelink" data-qa="list-item-1">
                                File 001_0870.xlsx is a duplicate
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <h1 name="page-surveys-title" class="u-mt-m">Load collection instruments for 001 NEW</h1>
            <div class="panel panel--error panel--simple">
                <div class="panel__body">
                    <p class="panel__error field">
                        <strong>File 001_0870.xlsx is a duplicate</strong>
                    </p>
                    <p>Check the file name and try again.</p>
                    

                    <label class="label u-fs-m" for="file">Upload SEFT files
                        <br>
                        <span class="label__description">File types accepted are .csv, .xls and .xlsx</span>
                    </label>
                    <input type="file" id="file" class="input input--text input-type__input input--error input--upload input--w-20" accept=".xls,.xlsx"/>
                </p>
        <p class="field">
            <form action="" method="get">
                {{ 
                onsButton({
                    "text": 'Upload',
                    "url": 'load-collection-instruments-checking.html',
                    "classes": 'btn--secondary btn--small'
                }) 
            }}
            </form>
        </p>
            </div>
        </div>
        <h2 class="u-fs-m u-mt-l u-mb-no">9 collection instruments</h3>
        <table class="table  table--sortable" data-aria-sort="Sort by" data-aria-asc="ascending" data-aria-desc="descending">
            <thead class="table__head">
                <tr class="table__row">
                    <th scope="col" class="table__header">File name</th>
                </tr>
            </thead>
            <tbody class="table__body">
                <tr class="table__row">
                    <td class="table__cell " name="tbl-ci-id" data-th="ID">001_0873.xlsx</td>
                </tr>
                <tr class="table__row">
                    <td class="table__cell " name="tbl-ci-id" data-th="ID">001_0867.xlsx</td>
                </tr>
                <tr class="table__row">
                    <td class="table__cell " name="tbl-ci-id" data-th="ID">001_0255.xlsx</td>
                </tr>
                <tr class="table__row">
                    <td class="table__cell " name="tbl-ci-id" data-th="ID">001_0243.xlsx</td>
                </tr>
                <tr class="table__row">
                    <td class="table__cell " name="tbl-ci-id" data-th="ID">001_0251.xlsx</td>
                </tr>
                <tr class="table__row">
                    <td class="table__cell " name="tbl-ci-id" data-th="ID">001_0867.xlsx</td>
                </tr>
                <tr class="table__row">
                    <td class="table__cell " name="tbl-ci-id" data-th="ID">001_0255.xlsx</td>
                </tr>
                <tr class="table__row">
                    <td class="table__cell " name="tbl-ci-id" data-th="ID">001_0243.xlsx</td>
                </tr>
                <tr class="table__row">
                    <td class="table__cell " name="tbl-ci-id" data-th="ID">001_0244.xlsx</td>
                </tr>
                <tr class="table__row">
                    <td class="table__cell " name="tbl-ci-id" data-th="ID">001_0251.xlsx</td>
                </tr>
            </tbody>
        </table>
        <p class="field u-mt-l">
            {{ 
                    onsButton({
                        "text": 'Done',
                        "url": 'create-collection-exercise-added.html'
                    }) 
                }}
        </p>
    </div>
</div>

{% endblock %}
