{% from "components/field/_macro.njk" import onsField %}
{% from "components/input/_macro.njk" import onsInput %}

{% macro prototypeAddressInput(params) %}
    {% call onsField({ 
        "id": params.id,
        "classes": "address-input" + (" " + params.classes if params.classes),
        "legendClasses": params.legendClasses,
        "legend": params.label.text,
        "description": params.label.description
    }) %}
        <div class="address-input__manual">
            {{
                onsInput({
                    "id": params.id + "-line-1",
                    "label": params.line1.label,
                    "classes": "input--w-20 js-address-line-1"
                })
            }}
        </div>

        <div class="address-input__search">

        </div>
    {% endcall %}
{% endmacro %}
