---
group: RAS/RM - Frontstage
title: User self serve
version: 35.0.3
layout: user-self-serve/views/version-9/_master-surveys-account
---

{% from "components/input/_macro.njk" import onsInput %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}

{% block main %}

    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/user-self-serve/version-9/signed-in/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/prototypes/user-self-serve/version-9/signed-in/account/index.html',
                            "text": 'Account'
                        },
                        {
                            "url": '/prototypes/user-self-serve/version-9/signed-in/account/index.html',
                            "text": 'Account'
                        } 
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            <h1>Thank you </h1>
            <p>You are now able to access and return the shared surveys.</p>
            
            <p>The new surveys will now appear in your survey list.</p>
 
            <p class="field u-mt-l">
                <button type="button" class="btn btn-group__btn" onclick="location.href='{{ pageInfo.rootPath }}/version-9/signed-in/00-surveys-list.html';">
                    <span class="btn__inner">Back to surveys</span>
                </button>
            </p>
        </div>
    </div>

{% endblock %}
