---
group: ROps
title: New internal account
version: 32.0.1
layout: new-account/views/_master-internal
---
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/password/_macro.njk" import onsPassword %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}

{% block main %}
    <form>
        <h1>Sign in</h1>
        <p class="field"><a href="{{ pageInfo.rootPath }}/verify-email.html">Create an account</a></p>

        {{
            onsInput({
                "id": "username",
                "name": "username",
                "label": {
                    "text": "Username"
                }
            })
        }}

        {{
            onsPassword({
                "id": "password",
                "label": {
                    "text": "Password"
                },
                "showPasswordText": "Show password"
            })
        }}

        <p class="field"><a href="">Forgotten your password?</a></p>

        {{
            onsButton({
                "text": "Sign in",
                "classes": "u-mt-l"
            })
        }}

    </form>


{% endblock %}
