---
group: ROps
title: New internal account
version: 32.0.1
layout: new-account/views/_master-internal
---
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}

{% block main %}

<p class="field">Already have an account? <a href="index.html">Sign in</a></p>
<form class="u-mt-m" action="{{ pageInfo.rootPath }}/verify-email-error.html">
  <h1>Create an account</h1>

    {{
        onsInput({
            "id": "firstname",
            "name": "firstname",
            "label": {
                "text": "Enter your ONS email address"
            }
        })
    }}

    {{
        onsButton({
            "text": "Continue",
            "classes": "u-mt-l"
        })
    }}
</form>


{% endblock %}
