---
group: New internal account
title: Create account - Survey Data Collection
version: 13.6.9
---
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}

{% set page = {
    "title": "Survey Data Collection",
    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
} %}

{% block head %}
<link rel="stylesheet" href="/prototypes/new-account/styles.css" />
{% endblock %}

{% block main %}

<form class="u-mt-m" action="">
    <h1>Confirm your email address</h1>
    <p>We have sent an email to <strong>firstname.lastname@ons.gov.uk</strong>.</p>
    <p>Follow the instructions in the email to confirm your email address. You can then create an  account.</p>
    <p>Not received the email? <a href="{{ pageInfo.rootPath }}/verify-email.html">Enter your email address again</a> and we will resend the email.</p>
    <p><a href="{{ pageInfo.rootPath }}/create-account.html">[User clicks link in email]</a></p>
</form>


{% endblock %}
