---
group: ROps
title: New internal account
version: 32.0.1
layout: new-account/views/_master-internal
---
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}


{% block main %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% call
    onsPanel({
        title:             "This page has an error",
        type:              "error"
    })
%}
<p>This must be corrected to continue.</p>
{% from "components/lists/_macro.njk" import onsList %}
{{
    onsList({
        "classes":         "list--bare",
        "itemsList":       [
            {
                "text":    "Enter an email address.",
                "index":   true,
                "url":     "#container-email-address",
                "classes": "js-inpagelink"
            }
        ]
    })
}}
{% endcall %}


<p class="field">Already have an account? <a href="index.html">Sign in</a></p>
<form class="u-mt-m" action="{{ pageInfo.rootPath }}/verify-email-instruct.html">
  <h1>Create an account</h1>


  <div id="container-email-address" class="panel panel--error panel--simple">
    <div class="panel__body">
      <p class="panel__error">
        <strong>Enter an email address</strong>
      </p>
        <div class="field">
        {{
            onsInput({
                "id": "email",
                "name": "email",
                "label": {
                    "text": "Enter your ONS email address"
                }
            })
        }}
      </div>
    </div>
  </div>

    {{
        onsButton({
            "text": "Continue",
            "classes": "u-mt-l"
        })
    }}
</form>


{% endblock %}
