---
version: 13.4.4
layout: census-website/views/_guide
---

{% set content = { 
    "sectionTitle": 'Keeping your data safe',
    "breadcrumbs": {
        "itemsList": [
            {
                "url": '/prototypes/census-website/',
                "text": 'Home'
            },                                            
            {
                "url": '',
                "text": 'Keeping your data safe',
                "current": true                                                

            }
        ]
    }
    
} %}
{% block content %}

    <main id="main-content" role="main" class="page__main">
        {% from "components/call-to-action/_macro.njk" import onsCallToAction %}


        <section class="page__body">
            <p>By filling in the census questionnaire, you help build a picture of all of us which helps decide how services are planned and funded in your local area. This could mean things like doctors’ surgeries, housing or new bus routes.</p>
            <p>The safety of your information is our top priority. When we publish the statistics from the census they’re completely anonymous, so none of your personal information is published. Your census record is kept secure for 100 years and only then can it be seen by future generations.</p>
            <p>We have a strict security regime that follows government standards. This includes physical and IT security measures to protect your data.</p>
            <p>All our systems, staff and suppliers must protect your confidentiality by law. Laws in place that cover protection of your data include:</p>
            <ul>
                <li>Data Protection Act 2018</li>
                <li>General Data Protection Regulation (GDPR)</li>
                <li>Census Act 1920</li>
                <li>Statistics and Registration Service Act 2007</li>
            </ul>
            <p>We follow the law to the letter.<br></p>
        </section>
    </main>
{% endblock %}
