---
group: Frontstage
title: User self serve
version: 30.0.0
layout: user-self-serve/views/version-7/_master-survey
---

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}

{% block main %}

    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/user-self-serve/version-7/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/prototypes/user-self-serve/version-7/01-message-categories.html',
                            "text": 'Help'
                        },
                        {
                            "url": '/prototypes/user-self-serve/version-7/option-1/option-list.html',
                            "text": 'Help completing this survey'
                        },
                        {
                            "url": '/',
                            "text": 'I’m unable to return the data by the deadline',
                            "current": true
                        }
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            <h1>I'm unable to return the data by the deadline</h1>
            <p>All business surveys have a deadline by which you must submit data  for us to use for statistical purposes. </p>
            <p>ONS itself does not levy fines for late receipt of data but failure to supply data in a timely way could result in court action and penalties of up to £2,500.</p>
            <h2>Did this answer your question?</h2>
            <p class="field">
                <div class="btn-group">
                {{ 
                    onsButton({
                        "type": 'button',
                        "text": 'Yes',
                        "classes": 'btn-group__btn',
                        "url": "/prototypes/user-self-serve/version-7/00-surveys-list.html"
                    }) 
                }}
                {{ 
                    onsButton({
                        "type": 'button',
                        "text": 'No',
                        "classes": 'btn--secondary btn-group__btn',
                        "url": "send-message.html"
                    }) 
                }}
                </div>
            </p>
        </div>
    </div>

{% endblock %}
