---
title: What we do with your information
group: Census
version: 31.1.0
layout: census-website-respond/views/_master
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{ onsBreadcrumb({
                "ariaLabel": 'Breadcrumb',
                "itemsList": [
                    {
                        "url": 'https://census-website-respond.netlify.app/end-to-end/home',
                        "text": 'Home'
                    },
                    {
                        "url": pageInfo.rootPath + '/your-data-and-security',
                        "text": 'Your data and security'
                    }
                ]
            }) }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l">
                            <span class="u-fs-m u-db u-mb-xs u-lighter">Your data and security</span>
                            <span class="u-vh">: </span>
                            <span class="u-fs-xxl u-db">What we do with your information</span>
                        </h1>

                        {{ onsTableOfContents({
                            "title": 'Contents',
                            "ariaLabel": 'Pages in this guide',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/your-data-and-security',
                                    "text": 'Overview'
                                },
                                {
                                    "url": pageInfo.rootPath + '/what-we-do-with-your-information',
                                    "text": 'What we do with your information',
                                    "current": true
                                },
                                {
                                    "url": pageInfo.rootPath + '/your-data-and-security/answering-separately-from-your-household',
                                    "text": 'Answering separately from your household'
                                },
                                {
                                    "url": pageInfo.rootPath + '/how-we-will-contact-or-visit-you',
                                    "text": 'How we will contact or visit you'
                                }
                            ]
                        }) }}

                        <div class="page__body">

                            <p>Any personal information you give us will be made anonymous and will not identify you or anyone you live with. Personal information includes things like your name, date of birth and address.</p>

                            <p>We ask for names and dates of birth to help us make sure we only count each person once.</p>

                            <p>The census information you give is only used for statistical purposes. Our statistics do not contain any information that will identify you. No one can tell who you are from the statistics we publish.</p>

                            <h2>Your personal census information cannot be used by government</h2>

                            <p>Only carefully selected and approved staff can access your personal census information. Approved staff use the information for statistical purposes only.</p>

                            <p>Your personal census information cannot be seen or used by:</p>

                            {{ onsList({
                                "itemsList": [
                                    {
                                        "text": 'anyone who makes decisions about you or any services that you get'
                                    },
                                    {
                                        "text": 'anyone making decisions about you – it will not affect any residency applications or your immigration status'
                                    },
                                    {
                                        "text": 'anyone making decisions about individual services, such as taxes and benefits'
                                    },
                                    {
                                        "text": 'anyone wanting to find you or sell you anything'
                                    },
                                    {
                                        "text": 'staff in government departments who directly serve the public – it’s a crime for anyone to share it with them'
                                    }
                                ]
                            }) }}

                            <p>All our systems, staff and suppliers, and the way we do things follow strict government standards, and your confidentiality is protected by law. It’s a crime for anyone to share personal census information unless required or permitted by law.</p>

                            <div class="u-mt-xl">
                                {{ onsContentPagination({
                                    "contentPaginationItems": [
                                        {
                                            "rel": 'prev',
                                            "text": 'Previous',
                                            "url": pageInfo.rootPath + '/your-data-and-security',
                                            "label": 'Overview'
                                        },
                                        {
                                            "rel": 'next',
                                            "text": 'Next',
                                            "url": pageInfo.rootPath + '/your-data-and-security/answering-separately-from-your-household',
                                            "label": 'Answering separately from your household'
                                        }
                                    ]
                                }) }}
                            </div>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{ onsRelatedLinks({
                        "id": 'related-links',
                        "title": 'Related content',
                        "itemsList": [
                            {
                                "url": pageInfo.rootPath + '/about-the-census',
                                "text": 'About the census'
                            },
                            {
                                "url": pageInfo.rootPath + '/about-the-census/2019-rehearsal',
                                "text": '2019 Rehearsal'
                            },
                            {
                                "url": pageInfo.rootPath + '/about-the-census/why-you-should-take-part-in-the-census',
                                "text": 'Why you should take part in the census'
                            },
                            {
                                "url": pageInfo.rootPath + '/contact-us',
                                "text": 'Contact us'
                            }
                        ]
                    }) }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
