{% macro onsContentList(params) %}
  {% from "prototypes/census-website/components/lists/_macro.njk" import onsList %}
  <aside class="content-navigation-container" role="complementary">
    <nav role="navigation" class="content-list" aria-label="{{ params.ariaLabel }}">
      <h2 class="content-list__title u-fs-r--b u-mb-xs">{{ params.title }}</h2>
      {{ 
          onsList({
              "element": 'ol',
              "classes": 'list--dashed',
              "itemsList": params.itemsList
          }) 
      }}
    </nav>
  </aside>
{% endmacro %}
