// --------------------------------
// Flexbox
// --------------------------------

.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

// Children
.flex-grow {
  flex-grow: 1;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-basis-0 {
  flex-basis: 0;
}

// --------------------------------
// Display
// --------------------------------

.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}

// --------------------------------
// Vertical Alignment
// --------------------------------

.align-baseline {
  vertical-align: baseline;
}
.align-top {
  vertical-align: top;
}
.align-middle {
  vertical-align: middle;
}
.align-bottom {
  vertical-align: bottom;
}
