---
group: Frontstage
title: SM Categorisation
version: 17.0.0
layout: SM-categorisation/views/version-2/_master-external
---

{% from "components/button/_macro.njk" import onsButton %}

{% block main %}
    <div class="grid">
        <div id="main" class="grid__col col-12@m">
            <div class="panel panel--success panel--simple" id="success-id">
                <div class="panel__body">
                    <p>Message sent. <a href="{{ pageInfo.rootPath }}/version-2/00-surveys-list.html">Return to to do list</a> </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
