---
version: 13.8.3
layout: voluntary-radios-v1/views/_master
---
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "/gender.html",
        "autocomplete": "false"        
    }
} %}

{% block main %}
   <a href="{{ pageInfo.rootPath + '/what-is-your-religion.html' }}">Previous</a>
    {% call onsQuestion({
        "title": "Which of the following best describes your sexual orientation?",
        "useFieldset": true
    }) %}
        {% call onsPanel({ 

        }) %}
            <p>This question is <strong>voluntary</strong></p>
        {% endcall %}

        {{ onsRadios({
            "noField": true,
            "id": "what-is-your-sexual-orientation",
            "name": "what-is-your-sexual-orientation",
            "classes": "js-radios",
            "radios": [
                {
                    "id": "sexual-orientation-answer-0",
                    "label": {
                        "text": "Straight or Heterosexual"
                    }
                },
                {
                    "id": "sexual-orientation-answer-1",
                    "label": {
                        "text": "Gay or Lesbian"
                    }
                },
                {
                    "id": "sexual-orientation-answer-2",
                    "label": {
                        "text": "Bisexual"
                    }
                },
                {
                    "id": "other-radio",
                    "classes": "voluntary",
                    "label": {
                        "text": "Other sexual orientation"
                    },
                    "value": "other",
                    "other": {
                        "id": "other-textbox",
                        "name": "other-answer",
                        "attributes": {
                            "autocomplete": "off"
                        },                        
                        "label": {
                            "text": "Enter sexual orientation"
                        }
                    }
                }
            ]
        }) }}
    {% endcall %}
    {{ onsButton({
        "text": "Clear selection",
        "type": "button",
        "url": "/prototypes/voluntary-radios-v1/sexual-orientation.html",
        "classes": "btn--secondary btn--small btn-clear u-mt-s"
    }) }}

    {{ onsButton({
        "text": "Save and continue",
        "classes": "u-ml-no u-mt-xl u-mb-xl"
    }) }}

{% endblock %}
