---
title: Select your address
version: 31.3.0
layout: address-lookup-postcode-only/views/_master
---

{% block main %}

    <div class="grid">

        <div class="grid__col col-8@m">

            <main class="page__main" id="main-content" role="main">

                <form action="{{ pageInfo.rootPath }}/select-address.html">

                    <h1>Select your address at <span class="highlight js-piping">{x}</span></h1>



                    {{
                        onsButton({
                            'id': 'js-submit',
                            'text': 'Continue',
                            'classes': 'u-mt-l',
                            'submitType': 'loader'
                        })
                    }}

                </form>

            </main>

        </div>

    </div>

<script>
    const postCode = sessionStorage.getItem('postcode');
    const pipingDestinations = Array.from(document.querySelectorAll('.js-piping'));

    pipingDestinations.forEach(function(pipingDestination) {
        pipingDestination.innerHTML = pipingDestination.innerHTML.replace('{x}', postCode);
    });

    document.querySelector('form').addEventListener('submit', () => {
        const inputVal = document.querySelector('input').value;
        const inputName = document.querySelector('input').name;

        sessionStorage.setItem(inputName, inputVal);
        return true;
    });
</script>

{% endblock %}
