---
group: Frontstage
title: User account creation
version: 20.0.3
layout: SM-categorisation/views/version-5/_master-survey
---

{% from "components/input/_macro.njk" import onsInput %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}

{% block main %}

    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/SM-categorisation/version-5/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/prototypes/SM-categorisation/version-5/30-my-account.html',
                            "text": 'Account'
                        },
                        {
                            "url": '/',
                            "text": 'Transfer surveys',
                            "current": true
                        }
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            <h1>Transfer all your surveys</h1>

            <p>Enter the email address of a colleague to grant them access to all your surveys.</p>

            <p>If you do not want to transfer all surveys, you can <a href="/prototypes/SM-Categorisation/version-5/account/04-transfer-my-surveys/02-delete-account.html">select which surveys to transfer</a>.</p>

            <h2 class="u-fs-m">What will happen?</h2>
            <ul>
                <li>Your colleague will receive a survey enrolment code which will expire within 7 days.</li>
                <li>Once they have confirmed, they will have be able to share survey access with their colleagues.</li>
                <li>You will have the option to delete your account</li>
            </ul>

            <p class="field">
                {{ 
                onsInput({
                    "id": "text",
                    "label": {
                        "text": "Email address"
                    }
                }) 
            }}
            </p>

            <p class="field u-mt-l">
                <button type="submit" class="btn" onclick="location.href='{{ pageInfo.rootPath }}/version-5/account/04-transfer-my-surveys/02-delete-account.html';">
                    <span class="btn__inner">Continue</span>
                </button>
                <button type="submit" class="btn btn--secondary" onclick="location.href='{{ pageInfo.rootPath }}/version-5/30-my-account.html';">
                    <span class="btn__inner">Cancel</span>
                </button>
            </p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
        $('.add').click(function () {
            $('.block:last').before('<div class="block u-mb-s"><label class="label" for="text">Email address</label><input type="text" id="text" class="input input--text input-type__input u-dib u-mr-s" /><button type="submit" class="btn btn--secondary btn--small remove u-dib"><span class="btn__inner">Remove</span></button></div>');
        });
        $('.optionBox').on('click', '.remove', function () {
            $(this)
                .parent()
                .remove();
        });
    </script>

{% endblock %}
