---
group: SCD Internal
title: Nudge emails
version: 14.2.1
layout: nudge-emails/views/_index
---

{% block main %}

<div class="grid">
  <div class="grid__col col-12@m">
    
  </div>
</div>


{% endblock %}
