---
version: 0.1.13
layout: typeaheads/views/_master
---
{% from "components/date-input/_macro.njk" import onsDateInput %}
{% from "components/button/_macro.njk" import onsButton %}

{% block content %}
    <a class="js-previous" href="{{ pageInfo.parentPath }}">Previous</a>
    <form action="{{ pageInfo.parentPath }}/address.html">
        {{
            onsDateInput({
                "id": "dob",
                "legend": "<h1>What is your date of birth?</h1>",
                "classes": "u-mt-m u-mb-xl",
                "description": "For example, 31 3 1980",
                "day": {
                    "label": "Day",
                    "name": "dob-day",
                    "attributes": {
                        "autocomplete": "bday-day"
                    }
                },
                "month": {
                    "label": "Month",
                    "name": "dob-month",
                    "attributes": {
                        "autocomplete": "bday-month"
                    }
                },
                "year": {
                    "label": "Year",
                    "attributes": {
                        "autocomplete": "bday-year"
                    }
                }
            })
        }}

        {{
            onsButton({
                "text": "Save and continue"
            })
        }}
    </form>
{% endblock %}
