---
version: 0.3.0
layout: typeaheads/views/_master
---
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/textarea/_macro.njk" import onsTextarea %}

{% block content %}
    <a class="previous-link js-previous" href="{{ pageInfo.parentPath }}/job-title.html">Previous</a>
    <form action="{{ pageInfo.parentPath }}/summary.html">
        <h1 class="u-fs-l u-mt-s">Can you briefly  describe what you do in your main job?</h1>
        {{
            onsTextarea({
                "id": "job-description",
                "name": "job-description",
                "classes": "input--w-30",
                "label": {
                    "text": "Job description"
                },
                "maxlength": 200,
                "charCountSingular": "You have {x} character remaining",
                "charCountPlural": "You have {x} characters remaining"
            })
        }}
        {{
           onsButton({
                "text": "Save and continue",
                "classes": "u-mt-l"
            })
        }}
    </form>
{% endblock %}
