---
version: 5.0.1
layout: typeaheads/views/_master
---
{% from "components/field/_macro.njk" import onsField %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}

{% block main %}
    <a class="previous-link js-previous" href="{{ pageInfo.rootPath }}/main-language.html">Previous</a>
    <form action="{{ pageInfo.parentPath }}/national-identity.html">
       {% call onsField({
           "id": "name",
           "legend": "<h1 class=\"u-fs-l\">You selected 'other'. What is your main language?</h1>"
       }) %}
            {{
                onsInput({
                    "id": "other-language",
                    "name": "other-language",
                    "label": {
                        "text": "Enter main language including British Sign language"
                    }
                })
            }}
        {% endcall %}
        {{
            onsButton({
                "text": "Save and continue",
                "classes": "u-mt-l"
            })
        }}
    </form>
    {% include "typeaheads/views/partials/_heroku-waker.njk" %}
{% endblock %}


