{% extends "page-templates/_template.njk" %}

{% from "components/card/_macro.njk" import onsCard %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/select/_macro.njk" import onsSelect %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/search/_macro.njk" import onsSearch %}
{% from "components/collapsible/_macro.njk" import onsCollapsible %}

{% block head %}
    <link rel="stylesheet" href="{{ pageInfo.rootPath }}/main.css">
{% endblock %}

{% set pageConfig =  { 
    "theme": "census",
    "header": {
        "titleLogo": "/img/census-logo-en.svg",
        "titleLogoAlt": "Census 2021"
    },
    "title": "Census 2021",
    "language": {
        "languages": [
            {
                "url": "#",
                "ISOCode": "en",
                "text": "English",
                "buttonAriaLabel": "Language selector. Current language: English",
                "chooseLanguage": "Choose language",
                "current": true
            },
            {
                "url": "#",
                "ISOCode": "cy",
                "text": "Cymraeg",
                "buttonAriaLabel": "Dewisydd iaith. Iaith gyfredol: Cymraeg",
                "chooseLanguage": "Dewiswch iaith",
                "current": false
            }
        ]
    },
    "navigation": {
        "id": "main-nav",
        "ariaLabel": "Main menu",
        "ariaListLabel": "Navigation menu",
        "currentPath": pageInfo.path,
        "siteBasePath": pageInfo.rootPath,
        "itemsList": [
            {
                "title": "Home",
                "url": "/prototypes/census-website-engage"
            },
            {
                "title": "About the census",
                "url": "#0"
            },
            {
                "title": "Keeping your data safe",
                "url": "#0"
            },
            {
                "title": "Contact us",
                "url": "#0"
            }
        ]
    },
    "footer": {
        "cols": [
            {
                "title": 'Get in touch',
                "itemsList": [
                    {
                        "text": 'Contact us',
                        "url": '#0'
                    },
                    {
                        "text": 'Media enquiries',
                        "url": '#0'
                    }
                ]
            },
            {
                "title": 'Working on the census',
                "itemsList": [
                    {
                        "text": 'Jobs',
                        "url": '#0'
                    },
                    {
                        "text": 'Media and campaigns',
                        "url": '#0'
                    },
                    {
                        "text": 'Our partners',
                        "url": pageInfo.rootPath + '/our-partners'
                    }
                ]
            },
            {
                "title": 'Legal information',
                "itemsList": [
                    {
                        "text": 'Cookies',
                        "url": '#0'
                    },
                    {
                        "text": 'Accessibility statement',
                        "url": '#0'
                    },
                    {
                        "text": 'Privacy and data protection',
                        "url": '#0'
                    },
                    {
                        "text": 'Terms and conditions',
                        "url": '#0'
                    }
                ]
            }
        ],
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
} %}


{% block pageContent %}
    {% block preMain %}{% endblock %}
    {% block main %}{% endblock %}
{% endblock %}


{% block bodyEnd %}
    <script src="{{ pageInfo.rootPath }}/index.js"></script>
{% endblock %}
