---
title: Spread the word before the census
group: Census
version: 31.2.0
layout: census-website-engage/views/_nisra-master
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": pageInfo.rootPath + '/home',
                            "text": 'Home'
                        },
                        {
                            "url": pageInfo.rootPath + '/ni/community-groups',
                            "text": 'Community groups'
                        }
                    ]
                })
            }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l">
                            <span class="u-fs-m u-db u-mb-xs u-lighter">Community groups</span>
                            <span class="u-vh">: </span>
                            <span class="u-fs-xxl u-db">Spread the word before the census</span>
                        </h1>

                        {{-
                            onsTableOfContents({
                                "title": 'Contents',
                                "ariaLabel": 'Pages in this guide',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/ni/community-groups/',
                                        "text": 'Why your help is vital'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/ni/community-groups/spread-the-word-before-the-census',
                                        "text": 'Spread the word before the census',
                                        "current": true
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/ni/community-groups/what-you-can-do-around-census-day',
                                        "text": 'What you can do around Census Day'
                                    },
                                                                        {
                                        "url": pageInfo.rootPath + '/ni/community-groups/census-completion-activities',
                                        "text": 'Census completion activities'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/ni/community-groups/who-to-contact-for-help',
                                        "text": 'Who to contact for help'
                                    }
                                ]
                            })
                        }}

                        <div class="page__body">
                            
                            <p>There are lots of ways you can promote the census if you’re involved in your community.</p>

                            <p>You could:</p>

                            <ul>
                                <li>start talking about the census with your friends and family</li>
                                <li>tell people in your community about the census, its benefits and importance to them</li>
                                <li>raise awareness of the census in community organisations and any places people go to for advice</li>
                                <li>promote the census in things like community newsletters, meetings and social media groups</li>
                                <li>arrange for information to be added to a community website</li>
                                <li>offer the use of community spaces for census events</li>
                                <li>run a presentation to members of your community</li>
                            </ul>

                            <p>If you need help to promote the census, visit our <a href="{{pageInfo.rootPath}}/ni/downloadable-resources/">Downloadable resources</a> page. Here, we’ll provide resources that you can download and use in your community. There’ll be a range of materials from leaflets and posters to content for newsletters and social media posts.</p>

                            <p>Keep checking the page regularly, as we’ll add more as the census gets closer.</p>

                            <div class="u-mt-xl">
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                            {
                                                "rel": 'prev',
                                                "text": 'Previous',
                                                "url": pageInfo.rootPath + '/ni/community-groups',
                                                "label": 'Why your help is vital'
                                            },
                                            {
                                                "rel": 'next',
                                                "text": 'Next',
                                                "url": pageInfo.rootPath + '/ni/community-groups/what-you-can-do-around-census-day',
                                                "label": 'What you can do around Census Day'
                                            }
                                        ]
                                    })
                                }}
                            </div>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/ni/local-authorities',
                                    "text": 'Local authorities'
                                },
                                {
                                    "url": pageInfo.rootPath + '/ni/downloadable-resources',
                                    "text": 'Downloadable resources'
                                },
                                {
                                    "url": pageInfo.rootPath + '/ni/contact-us',
                                    "text": 'Contact us'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
