{% macro onsPromoBanner(params) %}

    <section class="promo-banner{{ ' ' + 'promo-banner--dark-theme' if params.darkTheme }}{{ ' ' + 'promo-banner--has-image' if params.image }}{{ ' ' + 'promo-banner--unbranded' if params.unbranded }}">
    
        <div class="container">
            
            <div class="grid grid--gutterless">
            
            {% if params.image is defined %}

                <div class="grid__col col-7@s">
                    
                    <div class="promo-banner__content">
                        {{ params.content | safe }}{{ caller() if caller }}
                    </div>
                    
                </div>
            
                <div class="grid__col col-4@s push-1@s u-d-no@xs@s">
                    
                    <div class="promo-banner__image">
                        <img alt="{{ params.image.alt }}" src="{{ params.image.src }}">
                    </div>

                </div>

            {% elif params.video is defined %}

                <div class="grid__col col-6@m">
                    
                    <div class="promo-banner__content">
                        {{ params.content | safe }}{{ caller() if caller }}
                    </div>
                    
                </div>
            
                <div class="grid__col col-5@m push-1@m u-mt-m@xs@m">
                    
                    <div class="promo-banner__video">
                        <div class="video">
                            {% if params.video.youtubeUrl is defined and params.video.youtubeUrl %}
                                <iframe class="video__iframe" src="{{ params.video.youtubeUrl }}" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% endif %}
                        </div>
                        {% if params.video.transcriptUrl is defined and params.video.transcriptUrl %}
                            <p class="promo-banner__video-transcript-link"><a href="{{ params.video.transcriptUrl }}">{{ params.video.transcriptText }}</a></p>
                        {% endif %}
                    </div>

                </div>

            {% else %}

                <div class="grid__col col-6@m">
                    
                    <div class="promo-banner__content">
                        {{ params.content | safe }}{{ caller() if caller }}
                    </div>
                    
                </div>

            {% endif %}
            
            </div>

        </div>
    
    </section>

{% endmacro %}
