---
title: Census completion activities
group: Census
version: 31.2.0
layout: census-website-engage/views/_master
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": pageInfo.rootPath + '/home',
                            "text": 'Home'
                        },
                        {
                            "url": pageInfo.rootPath + '/get-involved/community-groups',
                            "text": 'Community groups'
                        }
                    ]
                })
            }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l">
                            <span class="u-fs-m u-db u-mb-xs u-lighter">Community groups</span>
                            <span class="u-vh">: </span>
                            <span class="u-fs-xxl u-db">Census completion activities</span>
                        </h1>

                        {{-
                            onsTableOfContents({
                                "title": 'Contents',
                                "ariaLabel": 'Pages in this guide',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/get-involved/community-groups',
                                        "text": 'Overview'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/get-involved/community-groups/spread-the-word-before-the-census',
                                        "text": 'Spread the word before the census'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/get-involved/community-groups/what-you-can-do-around-census-day',
                                        "text": 'What you can do around Census Day'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/get-involved/community-groups/census-completion-activities',
                                        "text": 'Census completion activities',
                                        "current": true
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/get-involved/community-groups/who-to-contact-for-help',
                                        "text": 'Who to contact for help'
                                    }
                                ]
                            })
                        }}

                        <div class="page__body">
                            
                            <p>A census completion activity is an event or activity set up to encourage and help people fill in their census form while they’re there.</p>

                            <h2>Why run census completion activities?</h2>

                            <p>The idea is that these activities are run by communities, for communities. This way, it’s likely that people will feel more comfortable filling in the questionnaire. They’ll get support from those they know and trust, in a safe and familiar place.</p>

                            <h2>What can census completion activities help with?</h2>

                            <p>These activities could be a chance for people to get help with taking part online or understanding the questions in their language. Or, they might just like some reassurance that they’re doing it right.</p>

                            <h2>Where and when can I hold census completion activities?</h2>

                            <p>You can hold a census completion activity at a time and venue that suits your community. For example, a good opportunity might be at your place of worship or local community centre.</p>

                            <p>All you need is a space with internet access for people to gather in. And the people need to bring their access code or questionnaire, so you can help them take part.</p>

                            <h2>Who can organise census completion activities?</h2>

                            <p>Anyone in a local community can organise a census completion activity, and your local census engagement manager (CEM) can offer you support if you need it.</p>

                            <p>If you need to find out who your CEM is, email your details to our Community Partnerships team and we’ll put you in touch with them.</p>

                            <div class="u-mt-xl">
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                            {
                                                "rel": 'prev',
                                                "text": 'Previous',
                                                "url": pageInfo.rootPath + '/get-involved/community-groups/what-you-can-do-around-census-day',
                                                "label": 'What you can do around Census Day'
                                            },
                                            {
                                                "rel": 'next',
                                                "text": 'Next',
                                                "url": pageInfo.rootPath + '/get-involved/community-groups/who-to-contact-for-help',
                                                "label": 'Who to contact for help'
                                            }
                                        ]
                                    })
                                }}
                            </div>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/get-involved/local-authorities',
                                    "text": 'Local authorities'
                                },
                                {
                                    "url": pageInfo.rootPath + '/get-involved/communications-partners',
                                    "text": 'Communications partners'
                                },
                                {
                                    "url": pageInfo.rootPath + '/get-involved/downloadable-resources',
                                    "text": 'Downloadable resources'
                                },
                                {
                                    "url": pageInfo.rootPath + '/contact-us',
                                    "text": 'Contact us'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
