---
title: Local authorities
group: Census
version: 21.0.0
layout: census-website-engage/views/_master
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": pageInfo.rootPath + '/home',
                            "text": 'Home'
                        },
                        {
                            "url": pageInfo.rootPath + '/our-partners',
                            "text": 'Our partners'
                        }
                    ]
                })
            }}

            <div class="grid u-mt-s@m">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l">
                            <span class="u-fs-m u-db u-mb-xs u-lighter">Local authorities</span>
                            <span class="u-vh">: </span>
                            <span class="u-fs-xxl u-db">Important dates for local authorities</span>
                        </h1>

                        {{-
                            onsTableOfContents({
                                "title": 'Contents',
                                "ariaLabel": 'Pages in this guide',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/our-partners/local-authorities',
                                        "text": 'Overview'
                                    },
                                    {
                                        "url": '#0',
                                        "text": 'Important dates for local authorities',
                                        "current": true
                                    },
                                    {
                                        "url": '#0',
                                        "text": 'How you can prepare for 2021'
                                    },
                                    {
                                        "url": '#0',
                                        "text": 'What you can do now'
                                    },
                                    {
                                        "url": '#0',
                                        "text": 'What you can do closer to the census'
                                    },
                                    {
                                        "url": '#0',
                                        "text": 'Where you can get materials to help promote the census'
                                    },
                                    {
                                        "url": '#0',
                                        "text": 'Who you can contact at ONS for support'
                                    }
                                ]
                            })
                        }}

                        <p>Key dates for local authorities to prepare for Census 2021.</p>

                        <div class="timeline u-mt-l u-mb-xl">

                            <div class="timeline__item">
                                <h2 class="timeline__date">September 2020</h2>
                                <ul class="list--bare">
                                    <li>Meet your Community Engagement Manager and set up regular catch up meetings</li>
                                    <li>Local Authority Toolkit available online</li>
                                </ul>
                            </div>

                            <div class="timeline__item">
                                <h2 class="timeline__date">September to October 2020</h2>
                                <p>ONS to provide Councillor Handbook for distribution</p>
                            </div>

                            <div class="timeline__item">
                                <h2 class="timeline__date">November 2020</h2>
                                <p>ONS to provide you with content for magazines and publications</p>
                            </div>

                            <div class="timeline__item">
                                <h2 class="timeline__date">January to March 2021</h2>
                                <p>ONS to provide a range of press releases for external use</p>
                            </div>

                            <div class="timeline__item">
                                <h2 class="timeline__date">February to April 2021</h2>
                                <p>Promote your local Census Support Centres</p>
                            </div>

                        </div>

                        {% from "components/panel/_macro.njk" import onsPanel %}
                            
                            {% call onsPanel() %}

                            <h2 class="u-fs-m u-mb-xs">Sign up to our mailing list</h2>
                            <p>Stay up to date on the latest news and events for local authorities through our mailing list.</p>
                            <p>Please <a href="mailto:2021Census.LA.Liaison@ons.gov.uk">email our Local Authority Partnerships team</a> from your work email address.</p>

                        {% endcall %}

                        <div class="page__body">

                            <div class="u-mt-xl">
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                        {
                                            "rel": 'next',
                                            "text": 'Next',
                                            "url": '#',
                                            "label": 'How you can prepare for 2021'
                                        }
                                        ]
                                    })
                                }}
                            </div>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/our-partners/community-groups',
                                    "text": 'Community groups'
                                },
                                {
                                    "url": pageInfo.rootPath + '/our-partners/resources-for-partners',
                                    "text": 'Download resources'
                                },
                                {
                                    "url": pageInfo.rootPath + '/contact-us',
                                    "text": 'Contact us'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
