---
title: Accessible videos
group: Census
version: 28.0.1
layout: census-website-respond/views/_languages-master
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": 'https://census-website-respond.netlify.app/end-to-end/home/',
                            "text": 'Home'
                        },
                        {
                            "url": pageInfo.rootPath + '/help',
                            "text": 'Help with the census'
                        },
                        {
                            "url": pageInfo.rootPath + '/help/languages-and-accessibility',
                            "text": 'Languages and accessibility'
                        },
                        {
                            "url": pageInfo.rootPath + '/help/languages-and-accessibility/accessibility',
                            "text": 'Accessibility'
                        }
                    ]
                })
            }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l u-fs-xxl">Accessible videos with BSL</h1>

                        <div class="page__body">

                            <p>Use these videos alongside the census questionnaire to help you answer the questions.</p>

                            {{
                                onsPanel({
                                    "classes": 'u-mt-m u-mb-m',
                                    "body": 'You must fill in your census form in English. You can also answer in Welsh if you live in Wales.​'
                                })
                            }}

                            <p>Our accessible videos provide:</p>

                            <ul>
                                <li>information about the census and why it is important​</li>
                                <li>information from the invitation letter and leaflet we sent you in the post</li>
                                <li>the questions and answers from the online census questionnaire</li>
                            </ul>

                            <h2>How these videos are accessible</h2>

                            <p>All videos include:</p>

                            <ul>
                                <li>British Sign Language translations​</li>
                                <li>subtitles in English (and Welsh if you live in Wales)​</li>
                                <li>audio voiceover in English (and Welsh if you live in Wales)</li>
                            </ul>

                            <h2>Census information videos</h2>

                            {%
                                call onsCollapsible({
                                    "classes": 'u-mt-m',
                                    "id": 'collapsible-0',
                                    "title": 'What you need to know',
                                    "titleTag": 'h3',
                                    "button": {
                                        "close": 'Hide this',
                                        "contextSuffix": 'content',
                                        "attributes": {
                                            "aria-hidden": 'true'
                                        }
                                    },
                                    "saveState": true
                                })
                            %}

                            {{
                                onsList({
                                    "classes": 'list--bare list--spacious',
                                    "itemsList": [
                                        {
                                            "url": '#0',
                                            "text": 'What’s in the census information leaflet'
                                        },
                                        {
                                            "url": '#0',
                                            "text": 'What’s in the letter we sent you'
                                        },
                                        {
                                            "url": '#0',
                                            "text": 'Privacy information​'
                                        },
                                        {
                                            "url": '#0',
                                            "text": 'What to do when you’ve finished your census​'
                                        }
                                    ]
                                })
                            }}

                            {% endcall %}

                            <h2>Census question and answers videos</h2>

                            <p>Each census question, along with its answer choices, is available as an accessible video.</p>

                            {%
                                call onsCollapsible({
                                    "classes": 'u-mt-m',
                                    "id": 'collapsible-1',
                                    "title": 'People who live here',
                                    "titleTag": 'h3',
                                    "button": {
                                        "close": 'Hide this',
                                        "contextSuffix": 'content',
                                        "attributes": {
                                            "aria-hidden": 'true'
                                        }
                                    },
                                    "saveState": true
                                })
                            %}

                            {{
                                onsList({
                                    "classes": 'list--bare list--spacious',
                                    "itemsList": [
                                        {
                                            "url": pageInfo.rootPath + '/help/languages-and-accessibility/accessibility/british-sign-language/people-who-live-in-this-household',
                                            "text": 'People who live in this household​'
                                        },
                                        {
                                            "url": pageInfo.rootPath + '/help/languages-and-accessibility/accessibility/british-sign-language/do-you-usually-live-at-this-address',
                                            "text": 'Do you usually live at this address?​'
                                        },
                                        {
                                            "url": pageInfo.rootPath + '/help/languages-and-accessibility/accessibility/british-sign-language/what-is-your-name',
                                            "text": 'What is your name?'
                                        },
                                        {
                                            "url": '#0',
                                            "text": 'Do any of the following people also live at this address on Sunday 21 March 2021?​'
                                        },
                                        {
                                            "url": '#0',
                                            "text": 'Who else lives at this address?'
                                        },
                                        {
                                            "url": '#0',
                                            "text": 'Does anyone else live at this address?'
                                        },
                                        {
                                            "url": '#0',
                                            "text": 'Do any of the following people live at this address on Sunday 21 March 2021?​'
                                        },
                                        {
                                            "url": '#0',
                                            "text": 'Do you need to add anyone?'
                                        }
                                    ]
                                })
                            }}

                            {% endcall %}


                            {%
                                call onsCollapsible({
                                    "id": 'collapsible-2',
                                    "title": 'Visitors​',
                                    "titleTag": 'h3',
                                    "button": {
                                        "close": 'Hide this',
                                        "contextSuffix": 'content',
                                        "attributes": {
                                            "aria-hidden": 'true'
                                        }
                                    },
                                    "saveState": true
                                })
                            %}

                                <p>Content TBC</p>

                            {% endcall %}


                            {%
                                call onsCollapsible({
                                    "id": 'collapsible-3',
                                    "title": 'Household relationships',
                                    "titleTag": 'h3',
                                    "button": {
                                        "close": 'Hide this',
                                        "contextSuffix": 'content',
                                        "attributes": {
                                            "aria-hidden": 'true'
                                        }
                                    },
                                    "saveState": true
                                })
                            %}

                                <p>Content TBC</p>

                            {% endcall %}


                            {%
                                call onsCollapsible({
                                    "id": 'collapsible-4',
                                    "title": 'Household and accommodation',
                                    "titleTag": 'h3',
                                    "button": {
                                        "close": 'Hide this',
                                        "contextSuffix": 'content',
                                        "attributes": {
                                            "aria-hidden": 'true'
                                        }
                                    },
                                    "saveState": true
                                })
                            %}

                                <p>Content TBC</p>

                            {% endcall %}


                            {%
                                call onsCollapsible({
                                    "id": 'collapsible-5',
                                    "title": 'Personal details',
                                    "titleTag": 'h3',
                                    "button": {
                                        "close": 'Hide this',
                                        "contextSuffix": 'content',
                                        "attributes": {
                                            "aria-hidden": 'true'
                                        }
                                    },
                                    "saveState": true
                                })
                            %}

                                <p>Content TBC</p>

                            {% endcall %}


                            {%
                                call onsCollapsible({
                                    "id": 'collapsible-6',
                                    "title": 'Health',
                                    "titleTag": 'h3',
                                    "button": {
                                        "close": 'Hide this',
                                        "contextSuffix": 'content',
                                        "attributes": {
                                            "aria-hidden": 'true'
                                        }
                                    },
                                    "saveState": true
                                })
                            %}

                                <p>Content TBC</p>

                            {% endcall %}


                            {%
                                call onsCollapsible({
                                    "id": 'collapsible-7',
                                    "title": 'Qualifications',
                                    "titleTag": 'h3',
                                    "button": {
                                        "close": 'Hide this',
                                        "contextSuffix": 'content',
                                        "attributes": {
                                            "aria-hidden": 'true'
                                        }
                                    },
                                    "saveState": true
                                })
                            %}

                                <p>Content TBC</p>

                            {% endcall %}


                            {%
                                call onsCollapsible({
                                    "id": 'collapsible-8',
                                    "title": 'Employment',
                                    "titleTag": 'h3',
                                    "button": {
                                        "close": 'Hide this',
                                        "contextSuffix": 'content',
                                        "attributes": {
                                            "aria-hidden": 'true'
                                        }
                                    },
                                    "saveState": true
                                })
                            %}

                                <p>Content TBC</p>

                            {% endcall %}


                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [                
                                {
                                    "url": pageInfo.rootPath + '/help/find-a-support-centre',
                                    "text": 'Find a support centre'
                                },
                                {
                                    "url": 'https://census-website-respond.netlify.app/end-to-end/languages',
                                    "text": 'Languages'
                                },
                                {
                                    "url": pageInfo.rootPath + '/contact-us',
                                    "text": 'Contact us'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
