---
title: Campaign Website
group: Census
version: 7.0.0
layout: census-website/views/_master
---

{% from "components/card/_macro.njk" import onsCard %}



{% block page %}
<div class="cta-banner">
    <div class="container">
        <a href=""#>Start your census rehearsal</a>
    </div>
</div>
<div class="page__container {{ containerClasses }}">
    <div class="grid">
        <div class="grid__col u-mb-l">
            <main id="main-content" class="{{ pageClasses }}">
                <div>
                    <div class="container">
                        <div class="col-8@m">
                            {% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
                            {{ 
                                onsBreadcrumb({
                                    "ariaLabel": 'Breadcrumb',
                                    "itemsList": [
                                        {
                                            "url": 'index.html',
                                            "text": 'Home'
                                        },
                                        {
                                            "url": '',
                                            "text": 'About the census',
                                            "current": true

                                        }
                                    ]
                                }) 
                            }}
                            <h1>About the census</h1>
                        </div>
                    </div>
                </div>
                <div class="container">
                <div class="grid grid--flex grid--column@xs@s u-mt-l">
                    <div class="grid__col grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
                        {{-
                            onsCard({
                                "title": 'What is the census?',
                                "url": '/about-the-census/what-is-the-census',
                                "text": 'Why we need a census and how the data is used' 
                              
                            })
                        }}
                    </div>
                    <div class="grid__col grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
                        {{- 
                            onsCard({
                                "classes": 'u-fs-r',
                                "title": 'About the rehearsal',
                                "url": '#',
                                "text": 'Why we need a rehearsal and when and where it will be happening'
                            })
                        }}
                    </div>
                    <div class="grid__col grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
                        {{- 
                            onsCard({
                                "classes": 'u-fs-r',
                                "title": 'Why we ask these questions',
                                "url": '#',
                                "text": 'Reasons why we ask particular questions in the census'
                            })
                        }}
                    </div>
                    
                    </div>
                    <div class="grid grid--flex grid--column@xs@s u-mt-l u-mb-l">  
                    <div class="grid__col grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
                        {{-
                            onsCard({
                                "title": 'The law',
                                "url": '#',
                                "text": 'The census laws and legislation'
                            })
                        }}
                    </div> 
                    <div class="grid__col grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
                        {{-
                            onsCard({
                                "title": 'Privacy and security',
                                "url": '#',
                                "text": 'How your data is secured and stored'
                            })
                        }}
                    </div>
                    <div class="grid__col grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
                        {{-
                            onsCard({
                                "title": 'Confidentiality',
                                "url": '#',
                                "text": 'How we keep your private information confidential'
                            })
                        }}
                    </div>
                </div>
                
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock %}
