---
version: 13.4.4
layout: census-website/views/_guide
---

{% set content = { 
    "title": 'About the census',
    "sectionTitle": 'Online census',
    "breadcrumbs": {
        "itemsList": [
            {
                "url": '/prototypes/census-website/',
                "text": 'Home'
            },
            {
                "url": '/prototypes/census-website/about-the-census/',
                "text": 'About the census'
            },                                            
            {
                "url": '',
                "text": 'Online census',
                "current": true                                            
            }
        ]
    },
    "contentsList": {
        "ariaLabel": 'Pages in this guide',
        "lists": [
            {
                "itemsList": [
                    {
                        "url": '/prototypes/census-website/about-the-census/',
                        "text": 'Overview'
                    },
                    {
                        "url": '/prototypes/census-website/about-the-census/who-should-take-part-and-why.html',
                        "text": 'Who should take part and why'
                    },
                    {
                        "url": '/prototypes/census-website/about-the-census/what-happens-to-your-information.html',
                        "text": 'How your information is used'
                    },
                    {
                        "url": '/prototypes/census-website/about-the-census/the-2019-rehearsal.html',
                        "text": 'The 2019 Census Rehearsal'
                    },
                    {
                        "text": 'Online census',
                        "current": true
                    }
                ]
            }
        ]
    },
    "contentPagination": {
        "contentPaginationItems": [
            {
                "rel": 'prev',
                "text": 'Previous',
                "url": '/prototypes/census-website/about-the-census/the-2019-rehearsal.html',
                "label": 'The 2019 Census Rehearsal'
            }
        ]
    }
} %}
{% block content %}
    <p>We would like as many people as possible to complete the census online. The information we need is easier to collect and better quality online. Using online forms is cheaper than using paper forms, so it's a better use of public money.</p>
{% endblock %}
