---
version: 13.4.4
layout: census-website/views/_guide
---

{% set content = { 
    "title": 'About the census',
    "sectionTitle": 'How your information is used',
    "breadcrumbs": {
        "itemsList": [
            {
                "url": '/prototypes/census-website/',
                "text": 'Home'
            },
            {
                "url": '/prototypes/census-website/about-the-census/',
                "text": 'About the census'
            },                                            
            {
                "url": '',
                "text": 'How your information is used',
                "current": true                                            
            }
        ]
    },
    "contentsList": {
        "ariaLabel": 'Pages in this guide',
        "lists": [
            {
                "itemsList": [
                    {
                        "url": '/prototypes/census-website/about-the-census/',
                        "text": 'Overview'
                    },
                    {
                        "url": '/prototypes/census-website/about-the-census/who-should-take-part-and-why.html',
                        "text": 'Who should take part and why'
                    },
                    {
                        "text": 'How your information is used',
                        "current": true
                    },
                    {
                        "url": '/prototypes/census-website/about-the-census/the-2019-rehearsal.html',
                        "text": 'The 2019 Census Rehearsal'
                    },
                    {
                        "text": 'Online census',
                        "url": '/prototypes/census-website/about-the-census/online-census.html'
                    }
                ]
            }
        ]
    },
    "contentPagination": {
        "contentPaginationItems": [
            {
                "rel": 'prev',
                "text": 'Previous',
                "url": '/prototypes/census-website/about-the-census/who-should-take-part-and-why.html',
                "label": 'Who should take part and why'
            },
            {
                "rel": 'next',
                "text": 'Next',
                "url": '/prototypes/census-website/about-the-census/the-2019-rehearsal.html',
                "label": 'The 2019 Census Rehearsal'
            }
        ]
    }
} %}
{% block content %}
    <p>Different organisations use information from the census for planning and policy making. For example, the data is used by:</p>
    <ul>
        <li>central government to share out public money between councils</li>
        <li>councils and government departments to make plans and policies</li>
        <li>charities to find out where there are people who need extra help</li>
        <li>companies to plan where to build shops and businesses</li>
        <li>researchers and academics to understand current and future changes in our society</li>
    </ul>
    <p>We are working on ways we might be able to replace the census in the future, by using information from other sources, like government departments.</p>
{% endblock %}
