---
version: 13.4.4
layout: census-website/views/_guide
---

{% set content = { 
    "title": 'About the census',
    "sectionTitle": 'Who should take part and why',
    "breadcrumbs": {
        "itemsList": [
            {
                "url": '/prototypes/census-website/',
                "text": 'Home'
            },
            {
                "url": '/prototypes/census-website/about-the-census/',
                "text": 'About the census'
            },                                            
            {
                "url": '',
                "text": 'Who should take part and why',
                "current": true                                            
            }
        ]
    },
    "contentsList": {
        "ariaLabel": 'Pages in this guide',
        "lists": [
            {
                "itemsList": [
                    {
                        "url": '/prototypes/census-website/about-the-census/',
                        "text": 'Overview'
                    },
                    {
                        "text": 'Who should take part and why',
                        "current": true
                    },
                    {
                        "url": '/prototypes/census-website/about-the-census/what-happens-to-your-information.html',
                        "text": 'How your information is used'
                    },
                    {
                        "url": '/prototypes/census-website/about-the-census/the-2019-rehearsal.html',
                        "text": 'The 2019 Census Rehearsal'
                    },
                    {
                        "text": 'Online census',
                        "url": '/prototypes/census-website/about-the-census/online-census.html'
                    }
                ]
            }
        ]
    },
    "contentPagination": {
        "contentPaginationItems": [
            {
                "rel": 'prev',
                "text": 'Previous',
                "url": '/prototypes/census-website/about-the-census/',
                "label": 'Overview'
            },
            {
                "rel": 'next',
                "text": 'Next',
                "url": '/prototypes/census-website/about-the-census/what-happens-to-your-information.html',
                "label": 'How your information is used'
            }
        ]
    }
} %}
{% block content %}
    <p>We ask everyone living in England and Wales for information about where they live and who they live with.</p>
    <p>The information and data we get from the census helps the government spend public money. It does this by:</p>
    <ul>
        <li>giving us detailed information we can't get from anywhere else</li>
        <li>including everyone in the country at the same time</li>
        <li>showing if people are being treated fairly and have the same access to help and services</li>
        <li>showing where we need things like hospital beds, doctors’ surgeries, schools, new roads and investment in jobs</li>
    </ul>
    {% from "components/panel/_macro.njk" import onsPanel %}
    {{ 
        onsPanel({
            "body": "<p>If you take part in the <a href=\"/prototypes/census-website/about-the-census/the-2019-rehearsal.html\">census rehearsal</a> you will still need to fill out the census in 2021.</p>"
        }) 
    }}
{% endblock %}
