---
title: Campaign Website
group: Census
version: 13.4.4
layout: census-website/views/_master
---

{% from "components/card/_macro.njk" import onsCard %}

{% block page %}
<div class="page__container container {{ containerClasses }}">
                        <div class="col-7@m">
                            {% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
                                {{ 
                                    onsBreadcrumb({
                                        "ariaLabel": 'Breadcrumb',
                                        "itemsList": [
                                            {
                                                "url": '/prototypes/census-website/index.html',
                                                "text": 'Home'
                                            },
                                            {
                                                "url": '/prototypes/census-website/help/',
                                                "text": 'Help with your census'
                                            },                                            
                                            {
                                                "url": '/prototypes/census-website/help/help-guidance/index.html',
                                                "text": 'Help with the census questions'
                                            },
                                            {
                                                "url": '/prototypes/census-website/help/help-guidance/online-help/index.html',
                                                "text": 'Online census question help'
                                            },
                                            {
                                                "url": '',
                                                "text": 'Does anyone live at the address as their permanent or family home?',
                                                "current": true
                                            }
                                        ]
                                    }) 
                                }}
                                </div>
                <div class="grid u-mt-s@m">
                    <div class="grid__col col-7@m">
                        <main id="main-content" class=" {{ pageClasses }}">

                     
                    <h1 class="u-mb-l u-fs-xxl"> Does anyone live at the address as their permanent or family home?</h1>
                    <aside class="toc-container" role="complementary">
                        <nav role="navigation" class="toc" aria-label="Pages in this guide">
                            <h2 class="toc__title u-fs-r--b u-mb-s">Contents</h2>
                            <ol class="list list--dashed u-mb-m">
                            <li class="list__item " aria-current="true">
                                Overview
                            </li>
                            <li class="list__item ">
                                <a href="#separate" class="list__link ">
                                There are people who live in separate accommodation on or within my property. Should I include them on my form?
                                </a>
                            </li>
                            <li class="list__item ">
                                <a href="#living" class="list__link ">
                                I have converted part of my home into a separate living space. Do I include the person who lives there on my form?
                                </a>
                            </li>
                            <li class="list__item ">
                                <a href="#family" class="list__link ">
                                More than one family share the same accommodation. Who do I include on the form?
                                </a>
                            </li>
                        
                            </ol>
                        </nav>
                    </aside>  
                    
                    <p>The place you usually live will be the address where you spend most of your time. For most people, this is likely to be your permanent or family home.</p>

                    <p>Remember to include:</p>

                    <ul class="list">
                        <li>family members including partners and children</li>
                        <li>students and schoolchildren who live away from home during term time</li>
                        <li>housemates, tenants or lodgers</li>
                        <li>people who usually live outside of the UK, but are staying in the UK for three months or more</li>
                        <li>people who are working away from home within the UK, or are in the Armed Forces, if this is their permanent or family home</li>
                        <li>those who usually live here, but are outside of the UK for  less than 12 months</li>
                        <li>anyone in prison with a sentence of less than 12 months</li>
                        <li>anyone who’s staying in a communal establishment for  six months or less</li>
                    </ul>

                    <p>More information for <a href="#">student households</a></p>

                    <h3>Anyone who usually lives here</h3>
                    <p>What do we mean by “usually”? You usually live here if this is your permanent or family home. For most people this will be the address where you spend most of your time.</p>
                    
                    <h3>People temporarily away from home</h3>
                    <p>Such as students or schoolchildren living away or boarding, people in a care home or hospital and people who have two addresses, but this is their usual home.</p>
                    <p>See full list of advice for people <a href="">temporarily away from home</a></p>

                    <h3>Also include these people, even though they don’t actually live here</h3>
                    <p>We know this might seem strange, but please include anyone staying overnight on 13 October 2019 who doesn’t usually live at this address and who:</p>
                    
                    <ul class="list">
                        <li>lives outside the UK but is staying in the UK for three months or more</li>
                   
                        <li>lives in the UK  lives in the UK but has no other usual address</li>
                    </ul>
                    <p>Please make sure individual questions are completed about these people.</p>
            
            <h3 id="separate">There are people who live in separate accommodation on or within my property. Should I include them on my form?</h3>
            <p>No, you don’t need to include them on your household form if their accommodation has its own:</p>
            <ul class="list">
                <li>cooking facilities</li>
                <li>a living, sitting or dining area</li>
            </ul> 
            <p>These may be in one room, for example a bedsit or studio flat.
            They’ll need to <a href="">ask for their own form</a> to fill in.</p>

            <h3 id="living">I have converted part of my home into a separate living space. Do I include the person who lives there on my form?</h3>
            <p>No, you don’t need to include them on your household form if their space has its own:</p>
            <ul class="list">
                <li>cooking facilities</li>
                <li>a living, sitting or dining area</li>
            </ul> 
            <p>These may be in one room, for example a bedsit or studio flat.
            They’ll need to <a href="">ask for their own form</a> to fill in.</p>

            <h3 id="family">More than one family share the same accommodation. Who do I include on the form?</h3>
            <p>All families should be included on the same form if they share either:</p>
            <ul class="list">
                <li>cooking facilities</li>
            
                <li>a living, sitting or dining area</li>
            </ul> 
            <p>But if each family has its own facilities then each family should be on a separate household form.</p>
            <p>A household’s own facilities must include both</p>
            <ul class="list">
                <li>cooking facilities</li>
            
                <li>a living, sitting or dining area</li>
            </ul> 
            <p>These may be in one room. Please <a href="">contact us for another form.</a> </p>

                        </main>
                </div>
                <!--Right Sidbar-->
                <div class="grid__col col-4@m push-1@m">
                    <div style="border-top:5px solid purple;padding:15px 0;">
                        <h3>Related content</h3>
                        <ul class="list list--bare">
                            <li><a href="#">About the census</a></li>
                            <li><a href="#">Help and support</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div> <!--Right Sidbar end-->
        </div>
</div>
{% endblock %}
