---
group: Components
title: Upload file
version: 14.4.0
layout: upload-file/views/_index
---

{% block main %}

{% from "components/upload/_macro.njk" import onsUpload %}

<h1>Upload component styling</h1>
<ul>
    <li><a href="/prototypes/upload-file/simple/index.html">Restyled</a></li>
    <li><a href="/prototypes/upload-file/new/index.html">New</a></li>
</uL>

{% endblock %}
