---
group: Components
title: Upload file
version: 14.2.1
layout: upload-file/views/_index
---

{% block main %}
  <h1>Styled accessible file upload</h1>

  <h2>Version 1</h2>
  <div class="version version__one">
    <label for="fileupload" class="btn btn--secondary">
      <span role="button" class="btn__inner" aria-controls="filename" tabindex="0">
        Choose file
      </span>
    </label>
    <input type="file" id="fileupload">
    <input type="text" class="input" id="filename" autocomplete="off" readonly placeholder="No file chosen">
  </div>

  <h2>Version 2</h2>
  <div class="version version__two">
    <label for="fileupload" class="btn btn--secondary">
      <span role="button" class="btn__inner" aria-controls="filename" tabindex="0">
        Choose file
      </span>
    </label>
    <input type="file" id="fileupload">
    <input type="text" class="input" id="filename" autocomplete="off" readonly placeholder="No file chosen">
  </div>

  <h3>Version 2</h3>
  <div class="version version__three">
    <label for="fileupload" class="btn btn--secondary">
      <span role="button" class="btn__inner" aria-controls="filename" tabindex="0">
        Choose file
      </span>
    </label>
    <input type="file" id="fileupload">
    <input type="text" class="input" id="filename" autocomplete="off" readonly placeholder="No file chosen">
  </div>

{% endblock %}

<script>
  // trigger upload on space & enter
  // = standard button functionality
  $('#buttonlabel span[role=button]').bind('keypress keyup', function (e) {
    if (e.which === 32 || e.which === 13) {
      e.preventDefault();
      $('#fileupload').click();
    }
  });

  // return chosen filename to additional input
  $('#fileupload').change(function (e) {
    var filename = $('#fileupload')
      .val()
      .split('\\')
      .pop();
    $('#filename').val(filename);
    $('#filename').attr('placeholder', filename);
    $('#filename').focus();
  });
</script>
