#fileupload {
  display: none;
}
form {
  display: flex;
}

.hide {
  display: none;
}

label {
  white-space: nowrap;
  &.btn {
    .btn__inner {
      padding: 0.5em 1em;
    }
  }
}

.version__one {
  display: flex;
}
