@import 'dropzone.scss';

// Overrides
.input--upload {
  border: 1px solid #222;
}
.input--upload::-webkit-file-upload-button {
  background: #d0d0d0;
  border-right: 1px solid #222;
  color: #222;
  font-size: 1rem;
}
.input--upload:hover::-webkit-file-upload-button {
  border-right-color: #222;
}

.statusbar {
  display: flex;
  justify-content: space-between;
}

.dropzone {
  min-height: 0;
  border: none;
  padding: 0;
  border-radius: 0;
  .dz-preview {
    width: 100%;
    position: relative;
    margin: 0;
    .dz-image {
      display: none;
    }
    .dz-details {
      border: 1px solid #f33;
      display: flex;
      justify-content: space-between;
      position: relative;
      text-align: left;
      padding: 0;
      line-height: inherit;
      font-size: inherit;
      max-width: inherit;
      min-width: inherit;
      opacity: 1;
      .dz-size {
        span {
          padding: 0;
        }
      }
      .dz-filename {
        span {
          padding: 0;
        }
      }
    }
    .progress {
      display: flex;
      justify-content: space-between;
      .dz-progress {
        position: relative;
        border: 1px solid #7f3;
        border-radius: 0;
        left: inherit;
        top: inherit;
        margin-top: inherit;
        width: 100%;
        margin-left: inherit;
      }
    }
    .dz-error-message {
      border: 1px solid #33f;
    }
    .dz-success-mark {
      border: 1px solid #0f0;
      position: relative;
      top: inherit;
      width: auto;
      height: inherit;
      left: inherit;
      margin-left: 0;
    }
    .dz-error-mark {
      border: 1px solid #937;
      position: relative;
      top: inherit;
      width: auto;
      height: inherit;
      left: inherit;
      margin-left: 0;
    }
  }
  .dz-message {
    text-align: left;
    margin: 1em 0;
  }
  &.dz-started {
    .dz-message {
      display: block;
    }
  }
}
