---
group: Frontstage
title: SM Templates
version: 14.4.0
layout: SM-categorisation/views/_master
---

{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}

{% block main %}

    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/SM-categorisation/',
                            "text": 'Home'
                        },
                        {
                            "url": '/prototypes/SM-categorisation/01-message-categories.html',
                            "text": 'Monthly Business Survey help'
                        },
                        {
                            "url": '/',
                            "text": 'Manage access to surveys',
                            "current": true
                        }
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            <h1>Manage access to my surveys</h1>
            <form>
                <p>
                    {{ 
                        onsRadios({
                            "legend": "Choose an option:",
                            "name": "food",
                            "checked": "false",
                            "radios": [
                                {
                                    "id": "colleague",
                                    "label": {
                                        "text": "I need to share access to my surveys"
                                    },
                                    "value": "colleague",
                                    "attributes": {
                                        "data-action-url": pageInfo.parentPath + "/30-add-new-account.html"
                                    }
                                },
                                {
                                    "id": "leaving",
                                    "label": {
                                        "text": "I'm no longer responsible for completing surveys"
                                    },
                                    "value": "leaving",
                                    "attributes": {
                                        "data-action-url": pageInfo.parentPath + "/40-transfer-account.html"
                                    }
                                }
                            ]
                        }) 
                    }}
                </p>
                <p class="field">
                    {% from "components/button/_macro.njk" import onsButton %}
                    {{ 
                            onsButton({
                                "text": 'Continue'
                            }) 
                        }}
                </p>
            </div>
        </div>

    {% endblock %}
