---
group: Frontstage
title: SM Templates
version: 14.4.0
layout: SM-categorisation/views/_master
---

{% from "components/input/_macro.njk" import onsInput %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}

{% block main %}

    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/SM-categorisation/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/prototypes/SM-categorisation/01-message-categories.html',
                            "text": 'Help'
                        },
                        {
                            "url": '/prototypes/SM-categorisation/manage-surveys/20-my-account.html',
                            "text": 'Manage access to surveys'
                        },
                        {
                            "url": '/',
                            "text": 'Share access',
                            "current": true
                        }
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            <h1>Share access to my surveys</h1>
            
            <!--
            <p>You'll need to:</p>
            <ol>
                <li>Provide the email address of the recipient</li>
                <li>Assign one or more surveys</li>
                <li>Send the enrolment code</li>
            </ol>
            -->
            <p class="field">
            {{ 
                onsInput({
                    "id": "text",
                    "label": {
                        "text": "Enter the recipient's email address"
                    }
                }) 
            }}
            </p>
            <p class="field">
                <button type="submit" class="btn" onclick="location.href='{{ pageInfo.rootPath }}/manage-surveys/31-allocate-surveys.html';">
                    <span class="btn__inner">Continue</span>
                </button>
            </p>
            <p class="field">
                <a href="{{ pageInfo.rootPath }}/manage-surveys/20-my-account.html">Cancel</a>
            </p>
        </div>
    </div>

{% endblock %}
