---
version: 15.0.2
layout: bsl-v3/views/_master
---
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "bsl/components/uac/_macro.njk" import onsUACInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/details/_macro.njk" import onsDetails %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "/name.html"
    }
} %}

{% block main %}
    {% call onsQuestion({
    }) %}
        <h1 class="u-mt-l">Start census</h1>
        {{ onsUACInput({
            "id": "uac",
            "name": "uac",
            "label": {
                "text": "Enter your 16<span aria-hidden=\"true\">-</span>character access code",
                "description": "Keep this code safe and only share it with others in your household"
            },
            "securityMessage": "Your personal information is protected by law and will be kept confidential."
        }) }}

        {{ onsButton({
            "text": "Access census",
            "classes": "u-mb-xl"
        }) }}

        <h2 class="u-fs-m u-mb-s">If you don't have a household access code</h2>
        <p>
            You can <a href="#">request a new household access code</a> to start a new census if you have lost, forgotten or not received an access code.
        </p>

        {%
            call onsDetails({
                "id": "details",
                "classes": "u-mt-m u-mb-m",
                "title": "Need to answer separately from your household?",
                "button": {
                    "close": "Hide this",
                    "contextSuffix": "content"
                }
            }) %}
            <p>If you prefer to answer separately from the people you live with, you can <a href="#">request an individual access code</a>.</p>
        {% endcall %}
    {% endcall %}

{% endblock %}
