---
group: Frontstage
title: SM Categorisation
version: 17.0.0
layout: SM-categorisation/views/version-2/_master-survey
---

{% from "components/input/_macro.njk" import onsInput %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}

{% block main %}

    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/SM-categorisation/version-2/account/30-my-account.html',
                            "text": 'Account'
                        },
                        {
                            "url": '/',
                            "text": 'Transfer account',
                            "current": true
                        }
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            <h1>Send enrolment codes</h1>
            <p>We will send enrolment codes for the following surveys to <b>jane.doe@acme.com</b>.</p>
            <h2 class="u-fs-m">ACME Consumer Products</h2>
            <div class="text-indent">
                <ul class="list list--bare">
                    <li>Quarterly Business Survey</li>
                    <li>Monthly Business Survey</li>
                </ul>
            </div> 
            <h2 class="u-fs-m">ACME Group Ltd</h2>
            <div class="text-indent">
                <ul class="list list--bare">
                    <li>Business Register and Employment Survey</li>
                    <li>Monthly Business Survey</li>
                    <li>Quarterly Business Survey</li>
                    <li>Monthly Wages and Salary Survey</li>
                    <li>Quarterly Acquisitions and Disposals of Capital Assets</li>
                </ul>
            </div>
            <p class="field">
                <button type="submit" class="btn" onclick="location.href='{{ pageInfo.rootPath }}/version-2/account/01-change-account-details/04-confirmation.html';">
                    <span class="btn__inner">Send</span>
                </button>
                <button type="submit" class="btn btn--secondary" onclick="location.href='{{ pageInfo.rootPath }}/version-2/account/01-change-account-details/01-change-details.html';">
                    <span class="btn__inner">Cancel</span>
                </button>
            </p>
        </div>
    </div>

{% endblock %}
