---
version: 10.0.0
layout: census-website/views/_page
---

{% set content = { 
    "title": 'Contact us',
    "breadcrumbs": {
        "itemsList": [
            {
                "url": '/prototypes/census-website/',
                "text": 'Home'
            },
            {
                "url": '/prototypes/census-website/contact/',
                "text": 'Contact us',
                "current": true
            }
        ]
    }
} %}
{% block content %}
    <p>Census helpline is available from the 23 September to 17 November 2019.</p>
    <h2 class="u-mt-l">By phone</h2>
    <div class="u-mb-m tel-block">
    <p style="margin-bottom:2px;">(England) Telephone:</p> <p><strong>0800 141 2021</strong></p>
    <p style="margin-bottom:2px;">(Wales) Telephone:</p> <p> <strong>0800 169 2021</strong> <small>(Option for English and Welsh)</small></p>
    <p style="margin-bottom:2px;">(Northern Ireland) Telephone:</p> <p><strong> 0800 328 2021</strong></p>
    <p style="margin-bottom:2px;">(For other languages) Telephone:</p> <p><strong> 0800 587 2021</strong></p>
    <p style="margin-bottom:2px;">Text relay:</p> <p><strong>NGT (18001) then 0800 141 2021</strong> </p>
    </div>
<p class="u-mt-s u-mb-m u-fs-r–b"><strong>Opening hours: </strong>Monday to Friday, 8 am to 7pm<br> Saturday, 8am to 4pm</p>

    {% from "components/details/_macro.njk" import onsDetails %}
    {{ onsDetails({
            "id": "details",
            "title": "Find out about call charges",
            "classes": "u-mb-m",
            "content": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur snint occaecat cupidatat</p>
                        <p> non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occat in culpa qui officia deserunt mollit anim id est laborum.</p>",
            "button": {
                "close": "Hide this"
            }
        })
    }}


    <div class="u-mb-m">
    {% from "components/panel/_macro.njk" import onsPanel %}
    {{ 
    onsPanel({
        body: "<p>Call 0800 141 2021 to ask for alternative formats, such as braille</p>"
    }) 
    }}
    </div>
    
    <h2 class="u-mt-xl u-mb-xs">Web chat</h2>
    <p><a href="">Speak to an advisor</a></p>
        <p class="u-mt-s u-mb-xs u-fs-r–b"><strong>Opening hours: </strong>Monday to Friday, 8 am to 7pm<br> Saturday, 8am to 4pm</p>
    <h2 class="u-mt-xl u-mb-xs">Web form</h2>
    <p>You can use the <a href="">webform</a> to send your questions or comments about the Census programme</p>
    

    <h2 class="u-mt-xl">Follow us</h2>
    <div style="display: flex;">
    <div style="height:40px;width:40px;margin-right:10px;">
        <a href=""><img src="/prototypes/census-website/img/facebook-logo.svg"></a>
    </div> 
    <div style="height:40px;width:40px;margin-right:10px;">
        <a href=""><img src="/prototypes/census-website/img/twitter-logo.svg"></a>
    </div> 
    <!--<div style="height:40px;width:40px;">
        <a href=""><img src="/prototypes/census-website/img/linkedin.svg"></a>
    </div>-->
    </div> 


    <!--<div class="u-mt-m">
    <h2 class="u-fs-l">Marketing materials</h2>
    <p>Select below the advertising materials you require</p>
    {% from "components/downloads/_macro.njk" import onsDownloads %}
    {{ onsDownloads({
        "classes": "u-mt-m",
        "downloads": [
            {
                "url": "#",
                "thumbnail": "/prototypes/census-website/img/poster.jpg",
                "title": "Census awareness poster",
                "type": "Portable Document Format",
                "typeAbbr": "PDF",
                "fileSize": "890KB",
                "pages": "1 page",
                "accessibilityMessage": "This file may not be suitable for users of assistive technology.",
                "accessibilityURL": "#",
                "accessibilityLinkText": "Request an accessible format"
            },
            {
                "url": "#",
                "thumbnail": "/prototypes/census-website/img/poster2.jpg",
                "title": "Census Letterhead",
                "type": "Portable Document Format",
                "typeAbbr": "PDF",
                "fileSize": "330KB",
                "pages": "1 page",
                "accessibilityMessage": "This file may not be suitable for users of assistive technology.",
                "accessibilityURL": "#",
                "accessibilityLinkText": "Request an accessible format"
            }
        ]
    }) }}   -->     
{% endblock %}
