---
version: 10.0.0
layout: census-website/views/_page
---

{% set content = { 
    "title": 'Contact us',
    "breadcrumbs": {
        "itemsList": [
            {
                "url": '/prototypes/census-website/',
                "text": 'Home'
            },
            {
                "url": '/prototypes/census-website/contact/',
                "text": 'Contact us',
                "current": true
            }
        ]
    }
} %}
{% block content %}
    <p>Census contact centre is available from the 23 September to 17 November 2019.</p>
<h2>By phone</h2>
<h3 class="u-mb-xs">England</h3>
<div class="tel-block">
    <p>Telephone: 0800 141 2021<br>Monday to Friday, 8 am to 7pm<br>Saturday and Sunday, 8am to 1pm<br>(During rehearsal weekend) Saturday and Sunday, 8am to 4pm</p>
</div>
<h3 class="u-mb-xs">Wales</h3>
<div class="tel-block">
    <p>Telephone: 0800 169 2021 <small>(Option for English and Welsh)</small><small></small><br>Monday to Friday, 8 am to 7pm<br>Saturday and Sunday, 8am to 4pm<br>(During rehearsal weekend) Saturday and Sunday, 8am to 4pm<br></p>
</div>
<h3 class="u-mb-xs">For other languages</h3>
<div class="tel-block">
    <p> Telephone: 0800 587 2021<br>Monday to Friday, 8 am to 7pm<br>Saturday and Sunday, 8am to 1pm<br>(During rehearsal weekend) Saturday and Sunday, 8am to 4pm</p>
</div>
{% from "components/details/_macro.njk" import onsDetails %}
    {{ onsDetails({
            "id": "details",
            "title": "Find out about call charges",
            "classes": "u-mb-m u-mt-l",
            "content": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur snint occaecat cupidatat</p>
                        <p> non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occat in culpa qui officia deserunt mollit anim id est laborum.</p>",
            "button": {
                "close": "Hide this"
            }
        })
    }}
<h3 class="u-mb-xs">Text relay:</h3>
<p> NGT (18001) then 0800 141 2021<br>Monday to Sunday, open 24 hours</p>
<h3>Alternative formats:</h3>
<p>Telephone: 0800 141 2021<br>To request a Braille form, etc</p>

   

    <h2 class="u-mb-xs">Web chat</h2>
    <p>Monday to Friday, 8am to 7pm<br>Saturday and Sunday, 8am to 1pm<br>(During rehearsal weekend) Saturday and Sunday, 8am to 4pm<a href="/webchat"><br></a></p>
    <p><a href="/webchat">Chat with an adviser</a></p>

    <h2 class="u-mt-m">Web form</h2>
<p>You can use the <a href="https://craftcms.census-gcp.onsdigital.uk/admin/entries/contentPage/82-contact-us/en">webform</a> to send your questions or comments about the Census programme</p>

{% endblock %}
