---
group: RAS/RM - Frontstage
title: Change business details
version: 32.0.1
layout: change-business-details/views/version-2/scenario-1/_master-survey
---

{% from "components/input/_macro.njk" import onsInput %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}

{% block main %}

    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/change-business-details/version-2/scenario-1/signed-in/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/prototypes/change-business-details/version-2/scenario-1/signed-in/account/index.html',
                            "text": 'Account'
                        } 
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            <h1>Transfer your surveys</h1>

            {% from "components/panel/_macro.njk" import onsPanel %}
            {{
                onsPanel({
                    "body": 'You will no longer have access to the surveys you transfer. If you still require access to your surveys, you can <a href="/prototypes/change-business-details/version-2/scenario-1/signed-in/account/04-transfer-my-surveys/index.html">share access instead</a>.'
                })
            }}


            <h2 class="u-fs-m u-mt-l">What will happen</h2>
            <ul>
                <li>Select which surveys you want to transfer.</li>
                <li>Enter the email address of the person who will be responding to these surveys.</li>
                <li>We will email them  the instructions to access the surveys.</li>
                <li>Once we confirm their access, they will be able to respond to the surveys and share access with their colleagues.</li>
            </ul>


            <div class="grid grid--flex grid--gutterless grid--vertical-center grid--no-wrap@s u-mt-m u-mb-m">
        <div class="grid__col">
          <button type="button" class="btn btn-group__btn" onclick="location.href='{{ pageInfo.rootPath }}/version-2/scenario-1/signed-in/account/04-transfer-my-surveys/00-select-business.html';">
                    <span class="btn__inner">Continue</span>
                </button>
                
                </div>
                <div class="grid__col u-ml-m">
                    <a href="/prototypes/change-business-details/version-2/scenario-1/signed-in/account/index.html">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
        $('.add').click(function () {
            $('.block:last').before('<div class="block u-mb-s"><label class="label" for="text">Email address</label><input type="text" id="text" class="input input--text input-type__input u-dib u-mr-s" /><button type="submit" class="btn btn--secondary btn--small remove u-dib"><span class="btn__inner">Remove</span></button></div>');
        });
        $('.optionBox').on('click', '.remove', function () {
            $(this)
                .parent()
                .remove();
        });
    </script>

{% endblock %}
