---
group: RAS/RM - Frontstage
title: SM Templates
version: 14.4.0
layout: user-self-serve/views/version-1/_master
---

{% from "components/input/_macro.njk" import onsInput %}

{% block main %}

    <div class="grid">
        <div class="grid__col col-8@m">
            <h1>Transfer your account</h1>

            <p>All your survey enrolments will be transferred to the following email addresses</p>

            <!--
            <p>You'll need to:</p>
            <ol>
                <li>Provide the email address</li>
                <li>Send the enrolment code</li>
            </ol>
            -->

            <!-- <p>To whom would you like to transfer your surveys?</p> -->

            <div class="field">
                <p>
                    {{ 
                        onsInput({
                            "id": "recipient-one",
                            "class": "hello",
                            "label": {
                                "text": "Email address"
                            }
                        }) 
                    }}
                </p>
            </div>

            <div class="field">
                <p>
                    {{ 
                        onsInput({
                            "id": "recipient-two",
                            "label": {
                                "text": "Email address (optional)"
                            }
                        }) 
                    }}
                </p>
            </div>

            <div class="field">
                <p>
                    {{ 
                        onsInput({
                            "id": "recipient-three",
                            "label": {
                                "text": "Email address (optional)"
                            }
                        }) 
                    }}
                </p>
            </div>

        
            <p class="field">
                <button type="submit" class="btn" onclick="location.href='{{ pageInfo.rootPath }}/manage-surveys/41-send-enrolment-codes.html';">
                    <span class="btn__inner">Continue</span>
                </button>
            </p>
            <p class="field">
                <a href="{{ pageInfo.rootPath }}/manage-surveys/20-my-account.html">Cancel</a>
            </p>
        </div>
    </div>

{% endblock %}
