---
group: Frontstage
title: SM Templates
version: 14.4.0
layout: SM-categorisation/views/_master
---

{% from "components/input/_macro.njk" import onsInput %}

{% block main %}

    <div class="grid">
        <div class="grid__col col-8@m">
            <h1>Send enrolment codes</h1>

            <p>The following surveys will be transferred to <b>jane.doe@vcp.com</b></p>
            <h2 class="u-fs-m">Omni Consumer Products</h2>
            <div class="text-indent">
                <ul class="list list--bare">
                    <li>Quarterly Business Survey</li>
                    <li>Monthly Business Survey</li>
                </ul>
            </div> 
            <h2 class="u-fs-m">OCP Group Ltd</h2>
            <div class="text-indent">
                <ul class="list list--bare">
                    <li>Business Register and Employment Survey</li>
                    <li>Monthly Business Survey</li>
                    <li>Quarterly Business Survey</li>
                    <li>Monthly Wages and Salary Survey</li>
                    <li>Quarterly Acquisitions and Disposals of Capital Assets</li>
                </ul>
            </div>
            <p class="field">
                <button type="submit" class="btn" onclick="location.href='{{ pageInfo.rootPath }}/manage-surveys/52-confirmation.html';">
                    <span class="btn__inner">Send</span>
                </button>
            </p>
            <p class="field">
                <a href="{{ pageInfo.rootPath }}/manage-surveys/40-transfer-account.html">Cancel</a>
            </p>
        </div>
    </div>

{% endblock %}
