.btn-clear {
  display: block;

  &:hover {
    text-decoration: none !important;
  }

  .btn__inner {
    &:after {
      background-image: none !important;
    }
  }
}

.btn--disabled {
  opacity: 0.5;
  padding-top: 0.16666667em;
  &:focus .btn__inner {
    background-color: #d0d0d0 !important;
  }
}
