@import '../components/uac/uac';

.page__container {
  position: relative;
}

.previous-link {
  line-height: 1;
}

/* BSL */
.bsl {
  display: -webkit-box;
  display: flex;
}

.bsl-video {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 10px 0;
  &__video {
    clear: both;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 10px;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
@media only screen and (min-width: 480px) {
  .bsl-video {
    width: 450px;
    &--closed {
      background: none;
    }
  }
}

.icon--bsl-btn:after {
  display: inline-block;
  background-repeat: no-repeat;
  content: '';
  background-image: url(/prototypes/bsl/img/icons/icons--hide.svg);
  vertical-align: middle;
  width: 1.2rem;
  height: 1.2rem;
  background-size: 100%;
  margin: -0.2rem 0 0 0.5rem;
}

.icon--bsl-btn--closed:after {
  background-image: url(/prototypes/bsl/img/icons/icons--show.svg);
}

.icon--bsl:before {
  display: inline-block;
  background-repeat: no-repeat;
  content: '';
  vertical-align: middle;
  width: 2.35rem;
  height: 2.2rem;
  background-image: url(/prototypes/bsl/img/icons/icons--bsl.svg);
  background-size: 2.35rem 2.2rem;
  margin: 0 0.5rem 0 0;
  -webkit-transform: translateY(-0.15rem);
  transform: translateY(-0.15rem);
}

/* Replace footer logo */
.footer__poweredby-img {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(/prototypes/bsl/img/icons/icons--coat-of-arms.svg) no-repeat;
  width: 120px; /* Width of new image */
  height: 102px; /* Height of new image */
  padding-left: 120px; /* Equal to width of new image */
}

.icon--external-link:after {
  background-image: url(/prototypes/bsl/img/icons/icons--external-link.svg);
}
