---
group: RAS/RM
title: Overview
version: 17.0.0
layout: onboard-survey/views/_master
---

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/input/_macro.njk" import onsInput %}

{% block main %}

    <h1 name="page-surveys-title">Manage collection instruments for 001 NEW</h1>
    <div class="grid overview">
        <div class="grid__col col-4@m">
            <div class="field-group">
                {{ 
                    onsInput({
                        "id": "EQid",
                        "classes": "input--w-6",
                        "label": {
                            "text": "Eq ID",
                            "description": "For example: mbs"
                        }
                    }) 
                }}
                {{ 
                    onsInput({
                        "id": "formtype",
                        "classes": "input--w-6",
                        "label": {
                            "text": "Form type",
                            "description": "For example: 001"
                        }
                    }) 
                }}
            </div>
            <p class="field">
                <form action="" method="get">
                    {{ 
                        onsButton({
                            "text": 'Add',
                            "url": 'manage-collection-instruments-added.html',
                            "classes": 'btn--secondary btn--small'
                        }) 
                    }}
                </form>
            </p>
            <p class="field u-mt-l">
                <label class="label" for="file">Upload multiple Eq links
                        <br>
                    <span class="label__description">File types accepted are .csv, .xls and .xlsx <br>
                        <a href="">Download a template</a>
                    </span>
                </label>
                <input type="file" id="file" class="input input--text input-type__input  input--upload input--w-20" accept=".xls,.xlsx"/>
            </p>
            <p class="field">
                <form action="" method="get">
                    {{ 
                        onsButton({
                            "text": 'Add',
                            "url": 'manage-collection-instruments-added.html',
                            "classes": 'btn--secondary btn--small btn--disabled'
                        }) 
                    }}
                </form>
            </p>
            <p class="field u-mt-l">
                <label class="label" for="file">Upload SEFT files
                        <br>
                    <span class="label__description">File types accepted are .csv, .xls and .xlsx</span>
                </label>
                <input type="file" id="file" class="input input--text input-type__input  input--upload input--w-20" accept=".xls,.xlsx"/>
            </p>
            <p class="field">
                <form action="" method="get">
                    {{ 
                        onsButton({
                            "text": 'Add',
                            "url": 'manage-collection-instruments-added.html',
                            "classes": 'btn--secondary btn--small btn--disabled'
                        }) 
                    }}
                </form>
            </p>
        </div>
        <div class="grid__col col-5@m push-1@m">
            <h3>Collection instruments</h3>
            <p>When the collection instruments have been loaded they  will be listed here.</p>
            <p class="field u-mt-l">
                {{ 
                    onsButton({
                        "text": 'Done',
                        "url": 'create-collection-exercise.html',
                        "classes": 'btn--disabled'
                    }) 
                }}
            </p>
        </div>
    </div>

{% endblock %}
