---
group: Frontstage
title: Change business details
version: 32.0.1
layout: change-business-details/views/version-1/_master-survey
---

{% from "components/input/_macro.njk" import onsInput %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/text-indent/_macro.njk" import onsTextIndent %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% block main %}

    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/change-business-details/version-1/signed-in/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/prototypes/change-business-details/version-1/signed-in/account/index.html',
                            "text": 'Account'
                        }
                    ]
                }) 
            }}
            <h1>Change business details for BOW TRADING LTD</h1>
            <p class="field">
                {{
                    onsInput({
                        "id": "text",
                        "value": "BOW TRADING LTD",
                        "label": {
                            "text": "Business name"
                        }
                    })
                }}
                {{
                    onsInput({
                        "id": "text",
                        "value": "BOW TRADING LTD",
                        "label": {
                            "text": "Trading name"
                        }
                    })
                }}
                                    
                <h2 id="business-address" class="u-mt-l">Business address</h2>
                {{
                    onsInput({
                        "id": "address-1",
                        "value": "BARRATT HOUSE",
                        "label": {
                            "text": "Address line 1"
                        }
                    })
                }}
                {{
                    onsInput({
                        "id": "address-2",
                        "value": "CARTWRIGHT WAY",
                        "label": {
                            "text": "Address line 2"
                        }
                    })
                }}
                {{
                    onsInput({
                        "id": "address-3",
                        "value": "FOREST BUSINESS PARK",
                        "label": {
                            "text": "Address line 3"
                        }
                    })
                }}
                {{
                    onsInput({
                        "id": "address-4",
                        "value": "BARDON HILL",
                        "label": {
                            "text": "Address line 4 (optional)"
                        }
                    })
                }}
                {{
                    onsInput({
                        "id": "address-5",
                        "value": "COALVILLE LEICS",
                        "label": {
                            "text": "Address line 5 (optional)"
                        }
                    })
                }}
                {{
                    onsInput({
                        "id": "postcode",
                        "value": "LE67 1UF",
                        "label": {
                            "text": "Postcode"
                        }
                    })
                }}
            </p>

            <div class="grid grid--flex grid--gutterless grid--vertical-center grid--no-wrap@s u-mt-m u-mb-m">
                <div class="grid__col">
                    <button type="button" class="btn btn-group__btn" onclick="location.href='{{ pageInfo.rootPath }}/version-1/signed-in/account/05-change-business-details/scenario-1/04-summary.html';">
                        <span class="btn__inner">Continue</span>
                    </button>
                </div>
                <div class="grid__col u-ml-m">
                    <a href="/prototypes/change-business-details/version-1/signed-in/account/05-change-business-details/scenario-1/01-summary.html">Cancel</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
