---
group: Frontstage
title: User account creation
version: 17.0.0
layout: user-account-creation/views/_index
---

{% block main %}
    {% from "components/button/_macro.njk" import onsButton %}
    <h1>User account creation</h1>

    <div class="grid">
        <div class="grid__col col-8@m">
            <h2>Version 4</h2>
            {{ 
                onsButton({
                    "type": 'button',
                    "text": 'Start',
                    "classes": 'btn--small u-mb-s',
                    "url": "/prototypes/user-account-creation/version-4/00-surveys-list.html"
                }) 
            }}
            <p>Includes recommendations from user testing 8/9th September 2020</p>
            <ul class="list ">
                <li class="list__item ">Redesigned transfer surveys
                    <ul class="list ">
                        <li class="list__item ">Limited to one email address</li>
                        <li class="list__item ">Added intro screen "What will happen"</li>
                        <li class="list__item ">Removed delete acccount option</li>
                        <li class="list__item ">Added <a href="/prototypes/user-account-creation/version-4/account/04-transfer-my-surveys-1/index.html">Transferring one survey for one businesses</a></li>
                        <li class="list__item ">Added <a href="/prototypes/user-account-creation/version-4/account/04-transfer-my-surveys-2/index.html">Transferring multiple surveys for one businesses</a></li>
                        <li class="list__item ">Added <a href="/prototypes/user-account-creation/version-4/account/04-transfer-my-surveys-3/index.html">Transferring multiple surveys for multiple businesses</a></li>
                        <li class="list__item ">Added <a href="/prototypes/user-account-creation/version-4/account/04-transfer-my-surveys-4/index.html">Transferring multiple surveys for large amount of businesses</a></li>
                    </ul>
                </li>
                <li class="list__item ">Redesigned <a href="/prototypes/user-account-creation/version-4/account/03-share-access-to-my-surveys/index.html">share access to surveys</a>
                    <ul class="list ">
                        <li class="list__item ">Limited to one email address</li>
                        <li class="list__item ">Added intro screen "What will happen"</li>
                    </ul>
                </li>
                <!-- <li class="list__item ">Added link to tranfer surveys to <a href="/prototypes/user-account-creation/version-4/account/01-change-contact-details/02-change-email-address.html">email confirmation page</a></li> -->
            </ul>
            <h2>Version 3</h2>
            {{ 
                onsButton({
                    "type": 'button',
                    "text": 'Start',
                    "classes": 'btn--small u-mb-s',
                    "url": "/prototypes/user-account-creation/version-3/00-surveys-list.html"
                }) 
            }}
            <p>Changes in this version</p>
            <ul>
                <li>Moved change account details into option list</li>
                <li>Upgraded to design system 20.0.3</li>
                <li>Change business details: Added ability for user to choose survey the change applies to</li>
                <li>Change of copy of transfer surveys</li>
            </ul>
            
            <h2 class="u-mt-l">Version 2</h2>
            {{ 
                onsButton({
                    "type": 'button',
                    "text": 'Start',
                    "classes": 'btn--small u-mb-s',
                    "url": "/prototypes/user-account-creation/version-2/00-surveys-list.html"
                }) 
            }}
            <p>Includes recommendations from user testing 18th June 2020</p>
            <ul>
                <li>Added 'My account' to header</li>
                <li>Added 'Change my business details'</li>
            </ul>
            
            
            <h2 class="u-mt-l">Version 1</h2>
            {{ 
                onsButton({
                    "type": 'button',
                    "text": 'Start',
                    "classes": 'btn--small u-mb-s',
                    "url": "/prototypes/user-account-creation/version-1/10-surveys-list.html"
                }) 
            }}
            
        </div>
    </div>
{% endblock %}

