---
title: Enter address
group: Census
version: 10.0.1
layout: rh-census/views/_master
---
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "rh-census/components/address-input/_macro.njk" import prototypeAddressInput %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "action": "/prototypes/rh-census/confirm-address.html"
    }
} %}

{% block main %}
    <a class="previous-link js-previous" href="{{ pageInfo.rootPath }}/home.html">Previous</a>
    {% call onsQuestion({
        "title": "Get a new code",
        "description": "<p>We use this to check if your area is included in the census rehearsal.</p>"
    }) %}
        {{
            prototypeAddressInput({
                "id": "address",
                "legend": "What is your address?",
                "classes": "u-mt-s",
                "fromLookup": {
                    "name": "from-lookup"
                },
                "line1": {
                    "label": "Address line 1"
                },
                "line2": {
                    "label": "Address line 2"
                },
                "town": {
                    "label": "Town or City"
                },
                "county": {
                    "label": "County"
                },
                "postcode": {
                    "label": "Postcode"
                },
                "typeahead": {
                    "label": {
                        "text": "Enter your address or postcode"
                    },
                    "instructions": "Use up and down keys to navigate addresses once you\'ve typed more than two characters. Use the enter key to select a address. Touch device users, explore by touch or with swipe gestures.",
                    "content": {
                        "no_results": "No addresses found",
                        "aria_no_results": "No addresses found for the query",
                        "aria_you_have_selected": "You have selected",
                        "aria_found_by_alternative_name": "found by alternative name",
                        "aria_min_chars": "Type in 5 or more characters for addresses.",
                        "aria_one_result": "There is one address available.",
                        "aria_n_results": "There are {n} addresses available.",
                        "aria_limited_results": "Results have been limited to 10 addresses. Type more characters to refine your search.",
                        "more_results": "Continue typing to refine addresses",
                        "results_title": "Select an address"
                    },
                    "autocomplete": "new-address"
                },
                "or": "Or",
                "searchButton": "Search for an address",
                "manualButton": "Manually enter address",
                "selectError": "Select an address to continue."
            })
        }}
    {% endcall %}
    
    {{
        onsButton({
            "text": "Continue",
            "classes": "u-mt-l"
        })
    }}
    
{% endblock %}
