---
title: Access code sent by letter
group: Census
version: 7.0.0
layout: rh-census/views/_master
---
{% from "prototypes/rh-census/components/uac-entry/_macro.njk" import onsUACEntry %}
{% from "components/button/_macro.njk" import onsButton %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "action": "/prototypes/rh-census/"
    }
} %}

{% block main %}
    <h1 class="u-mt-l">We will send the access code to</h1>

    <p>
        Nicola Smith<br/>
        94 Osborne Road<br/>
        Kingarth<br/>
        PA20 6PG
    </p>
    <p>Your letter will arrive within 5 working days. Once you get the code, you can begin completing the survey.</p>
    <p>If it doesn’t arrive, you can either request another code or call us on 0300 141 2021.</p>

{% endblock %}
