---
title: Access code sent to mobile number
group: Census
version: 10.0.1
layout: rh-census/views/_master
---
{% from "components/button/_macro.njk" import onsButton %}
{% set form =  {
    "method": "GET",
    "attributes": {
        "action": "/prototypes/rh-census/"
    }
} %}

{% block main %}
    <h1 class="u-mt-l js-piped-answer" data-question-to-pipe="{{ pageInfo.rootPath }}/enter-mobile-number.html">We have sent an access code to {x}</h1>

    <p>A text with the code should arrive soon. Once you get the code, you can start the survey.</p>

    {{ onsButton({
        "url": pageInfo.rootPath + "/home.html",
        "text": "Start survey",
        "classes": "u-mb-xl",
        "innerClasses": "icon--chevron-right-white"
    }) }}

    <h2>Didn't receive a text?</h2>

    <p>It can take a few minutes for the text to arrive. If it doesn't arrive, you can <a href="/prototypes/rh-census/address.html">get a new code</a>.</p>
{% endblock %}
