---
title: Enter email address
group: Census
version: 7.0.0
layout: rh-census/views/_master
---
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "prototypes/rh-census/components/uac-entry/_macro.njk" import onsUACEntry %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "action": "/prototypes/rh-census/confirm-email-address.html"
    }
} %}

{% block main %}
    <a class="previous-link js-previous" href="{{ pageInfo.parentPath }}">Previous</a>
    {% call onsQuestion({
        "title": "What is your email address?",
        "useFieldset": true
    }) %}

    {% from "components/input/_macro.njk" import onsInput %}
    {{ 
        onsInput({
            "id": "email",
            "type": "email",
            "autocomplete": "email",
            "label": {
                "text": "Enter your email address"
            }
        }) 
    }}
    {% endcall %}
    
    {{
        onsButton({
            "text": "Continue",
            "classes": "u-mt-l"
        })
    }}
    
{% endblock %}
