---
title: Respondent Home
group: Census
version: 10.0.1
layout: rh-census/views/_uac-page
---
{% set action = "https://deploy-preview-138--eq-prototypes.netlify.com/your-household-v13/confirm-address/" %}
{% set requestNewCodeLink = "address.html?no-js=false" %}
