---
title: Respondent Home
group: Census
version: 10.0.1
layout: rh-census/views/_uac-page
---
{% set action = "https://deploy-preview-138--eq-prototypes.netlify.com/your-household-v13/confirm-address/?address=%7B%22address-line-1%22:%2268%20Abigndon%20Road%22,%22address-line-2%22:%22Goathill%22,%22town-city%22:%22Oxford%22,%22county%22:%22Oxford%22,%22postcode%22:%22OX1%204XN%22%7D" %}
{% set requestNewCodeLink = "address.html?no-js=false" %}
