---
title: Respondent Home
group: Census
version: 10.0.1
layout: rh-census/views/_master
---
{% from "components/lists/_macro.njk" import onsList %}

{% block main %}
    {{ onsList({
        "classes": "u-mt-l",
        "itemsList": [
            {
                "text": "UAC Entry page (Runner)",
                "url": pageInfo.rootPath + "/home.html"
            },
            {
                "text": "UAC Entry page (Your household v13)",
                "url": pageInfo.rootPath + "/home-v13.html"
            },
            {
                "text": "UAC Entry page (Request UAC no-js emulated)",
                "url": pageInfo.rootPath + "/home-request-uac-no-js.html"
            },
            {
                "text": "Address not found page",
                "url": pageInfo.rootPath + "/address-not-found.html"
            },
            {
                "text": "Address not eligible page",
                "url": pageInfo.rootPath + "/address-not-eligible.html"
            }
        ]
    }) }}
{% endblock %}
