---
title: Confirm mobile number
group: Census
version: 8.0.1
layout: rh-census/views/_master
---
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/button/_macro.njk" import onsButton %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "action": "/prototypes/rh-census/code-sent-mobile.html"
    }
} %}

{% block main %}
    <a class="previous-link js-previous" href="{{ pageInfo.rootPath }}/enter-mobile-number.html">Previous</a>
    {% call onsQuestion({
        "title": "What language would you like to complete the census in?",
        "description": "<p>You can change your language option at any time.</p>",
        "useFieldset": true
    }) %}

    {% from "components/radios/_macro.njk" import onsRadios %}
    {{ 
        onsRadios({
            "name": "language",
            "radios": [
                {
                    "id": "yes",
                    "label": {
                        "text": "English"
                    },
                    "value": "english"
                },
                {
                    "id": "no",
                    "label": {
                        "text": "Welsh"
                    },
                    "value": "welsh"
                }
            ]
        }) 
    }}
    {% endcall %}

    {{
        onsButton({
            "text": "Continue",
            "classes": "u-mt-l"
        })
    }}

{% endblock %}
