---
group: Frontstage
title: SM Categorisation
version: 14.4.0
layout: SM-categorisation/views/_master-messages
---

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}

{% block main %}

    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/SM-attachments/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/prototypes/SM-attachments/01-message-categories.html',
                            "text": 'Help'
                        },
                        {
                            "url": '/prototypes/SM-attachments/20-category/00-category-list.html',
                            "text": 'Information about the survey'
                        },
                        {
                            "url": '/',
                            "text": 'Information',
                            "current": true
                        }
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            <h1>Information about the Monthly Business Survey</h1>
            <p>You'll find answers to most of your questions in our <a href="https://www.ons.gov.uk/surveys/informationforbusinesses" class="icon--external-link" target="_blank" rel="noopener">information for businesses</a></p>
            <h2>Did this answer your question?</h2>
            <p class="field">
                <div class="btn-group">
                {{ 
                    onsButton({
                        "type": 'button',
                        "text": 'Yes',
                        "classes": 'btn-group__btn',
                        "url": "/prototypes/SM-attachments/00-surveys-list.html"
                    }) 
                }}
                {{ 
                    onsButton({
                        "type": 'button',
                        "text": 'No',
                        "classes": 'btn--secondary btn-group__btn',
                        "url": "/prototypes/SM-attachments/20-category/50-create-message.html"
                    }) 
                }}
                </div>
            </p>
        </div>
    </div>

{% endblock %}
