---
group: RAS/RM - Frontstage
title: User self serve
version: 17.0.0
layout: user-self-serve/views/version-2/_master-external
---

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}

{% block main %}

    <div class="grid">

        <div id="main" class="grid__col col-9@m">

            <p class='u-fs-r'>
                <a href="#">Add a survey</a> Using your enrolment code
            </p>

            <!-- tabs 
            <section role="region" class="tabs">
                <h2 class="tabs__title">Tabs</h2>
                <ul class="tabs__list">
                    <li id="tabId1Item" class="tab__list-item"><a href="#tabId1" class="tab" data-ga="click" data-ga-category="tabs" data-ga-action="Show: To do" data-ga-label="Show: To do">To do</a></li>
                    <li id="tabId2Item" class="tab__list-item"><a href="#tabId2" class="tab" data-ga="click" data-ga-category="tabs" data-ga-action="Show: History" data-ga-label="Show: History">History</a></li>
                </ul>
                <section id="tabId1" class="tabs__panel">
            -->
            
            <section class="survey u-bb">
                <div class="grid">
                    <div class="grid__col col-7@m u-pt-s u-pb-s">
                        <h2 class="u-fs-r u-fw-b u-mb-xs">
                            <a href="{{ pageInfo.rootPath }}/version-2/50-survey-start.html">Monthly Wages and Salary Survey</a>
                        </h2>
                        <p class="u-mb-xs ">
                            <span>for ACME Consumer Products</span></p>
                        <p class="u-mb-xs ">Period covered: December 2019</p>
                    </div>
                    <div class="grid__col col-5@m u-pt-s u-pl-no">
                        <p class="u-fs-r u-fw-b u-mb-xs u-ta-right">
                            Due in 3 days
                        </p>
                        <p class="u-mb-xs u-ta-right">Submit by 14th Jan 2020, 23:59</p>
                        <p class="u-fs-r u-fw-b u-mb-xs u-ta-right">
                           <span class="status status--success">In progress</span> 
                        </p>
                    </div>
                </div>
            </section>

            <section class="survey u-bb">
                <div class="grid">
                    <div class="grid__col col-7@m u-pt-s u-pb-s">
                        <h2 class="u-fs-r u-fw-b u-mb-xs">
                            <a href="{{ pageInfo.rootPath }}/version-2/50-survey-start.html">Quarterly Business Survey</a>
                        </h2>
                        <p class="u-mb-xs ">
                            <span>for ACME Consumer Products</span></p>
                        <p class="u-mb-xs ">Period covered: December 2019</p>
                    </div>
                    <div class="grid__col col-5@m u-pt-s u-pl-no">
                        <p class="u-fs-r u-fw-b u-mb-xs u-ta-right">
                            Due in 5 days
                        </p>
                        <p class="u-mb-xs u-ta-right">Submit by 16th Jan 2020, 23:59</p>
                        <p class="u-fs-r u-fw-b u-mb-xs u-ta-right">
                           <span class="status status--success">In progress</span> 
                        </p>
                    </div>
                </div>
            </section>

            <section class="survey u-bb">
                <div class="grid">
                    <div class="grid__col col-7@m u-pt-s u-pb-s">
                        <h2 class="u-fs-r u-fw-b u-mb-xs">
                            <a href="{{ pageInfo.rootPath }}/version-2/50-survey-start.html">Quarterly Acquisitions and Disposals of Capital Assets</a>
                        </h2>
                        <p class="u-mb-xs ">
                            <span>for ACME Consumer Products</span></p>
                        <p class="u-mb-xs ">Period covered: December 2019</p>
                    </div>
                    <div class="grid__col col-5@m u-pt-s u-pl-no">
                        <p class="u-fs-r u-fw-b u-mb-xs u-ta-right">
                            Due in 5 days
                        </p>
                        <p class="u-mb-xs u-ta-right">Submit by 16th Jan 2020, 23:59</p>
                        <p class="u-fs-r u-mb-xs u-ta-right">
                           Not started
                        </p>
                    </div>
                </div>
            </section>

            <section class="survey">
                <div class="grid">
                    <div class="grid__col col-7@m u-pt-s u-pb-s">
                        <h2 class="u-fs-r u-fw-b u-mb-xs">
                            <a href="{{ pageInfo.rootPath }}/version-2/50-survey-start.html">Business Register and Employment Survey</a>
                        </h2>
                        <p class="u-mb-xs ">
                            <span>for ACME Consumer Products</span></p>
                        <p class="u-mb-xs ">Period covered: December 2019</p>
                    </div>
                    <div class="grid__col col-5@m u-pt-s u-pl-no">
                        <p class="u-fs-r u-fw-b u-mb-xs u-ta-right">
                            Due in 15 days
                        </p>
                        <p class="u-mb-xs u-ta-right">Submit by 26th Jan 2020, 23:59</p>
                        <p class="u-fs-r u-mb-xs u-ta-right">
                           Not started
                        </p>
                    </div>
                </div>
            </section>

            <!-- Tabs ENDS
                </section>
                <section id="tabId2" class="tabs__panel">
                    
                </section>
            </section>
            -->

        </div>
    </div>

{% endblock %}
