@import 'node_modules/@ons/design-system/9.1.0/scss/vars/forms';
@import 'node_modules/@ons/design-system/9.1.0/scss/vars/colors';
@import 'node_modules/@ons/design-system/9.1.0/scss/vars/grid';
@import 'node_modules/@ons/design-system/9.1.0/scss/helpers/mq';

.download {
  display: flex;

  & + & {
    margin: 2rem 0 0;
    padding: 2em 0 0;
    border-top: 1px solid $color-grey-3;
  }

  &__thumbnail {
    flex: 0 0 auto;
    padding: 0 1rem 0 0;
    width: 120px;
  }

  &__thumbnail-link {
    display: block;
    border: 2px solid $color-grey-3;
  }

  &__metadata,
  &__accessibility {
    margin: 0.5rem 0 0;
  }

  &__title {
    margin: 0 0 0.25rem;
  }
}
