---
group: Frontstage
title: Change business details
version: 32.0.1
layout: change-business-details/version-1/scenario-4/views/_master-survey
---

{% from "components/input/_macro.njk" import onsInput %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}

{% block main %}

    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/change-business-details/version-1/scenario-4/signed-in/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/prototypes/change-business-details/version-1/scenario-4/signed-in/account/index.html',
                            "text": 'Account'
                        },
                        {
                            "url": '/prototypes/change-business-details/version-1/scenario-4/signed-in/account/03-share-access-to-my-surveys/index.html',
                            "text": 'Share surveys'
                        },
                        {
                            "url": '/prototypes/change-business-details/version-1/scenario-4/signed-in/account/03-share-access-to-my-surveys/00-select-business.html',
                            "text": 'Select business'
                        },
                        {
                            "url": '/prototypes/change-business-details/version-1/scenario-4/signed-in/account/03-share-access-to-my-surveys/01-select-surveys.html',
                            "text": 'Select surveys'
                        } 
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            <h1>Enter recipient’s email address</h1>
            <p>We need the email address of the person who will be responding to your surveys.</p>
            {% from "components/panel/_macro.njk" import onsPanel %}
            {{
                onsPanel({
                    "body": 'Make sure you have their permission to give us their email address.'
                })
            }}

            <p class="field">
                {{ 
                onsInput({
                    "id": "text",
                    "label": {
                        "text": "Enter email address"
                    }
                }) 
            }}
            </p>

            <div class="grid grid--flex grid--gutterless grid--vertical-center grid--no-wrap@s u-mt-m u-mb-m">
                <div class="grid__col">
                    <button type="button" class="btn btn-group__btn" onclick="location.href='{{ pageInfo.rootPath }}/version-1/scenario-4/signed-in/account/03-share-access-to-my-surveys/03-send-enrolment-codes.html';">
                        <span class="btn__inner">Continue</span>
                    </button>

                </div>
                <div class="grid__col u-ml-m">
                    <a href="/prototypes/change-business-details/version-1/scenario-4/signed-in/account/index.html">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
        $('.add').click(function () {
            $('.block:last').before('<div class="block u-mb-s"><label class="label" for="text">Email address</label><input type="text" id="text" class="input input--text input-type__input u-dib u-mr-s" /><button type="submit" class="btn btn--secondary btn--small remove u-dib"><span class="btn__inner">Remove</span></button></div>');
        });
        $('.optionBox').on('click', '.remove', function () {
            $(this)
                .parent()
                .remove();
        });
    </script>

{% endblock %}
