---
version: 10.0.0
layout: census-website/views/_page
---

{% set content = { 
    "title": 'Getting started',
    "sectionTitle": "How long will it take?",
    "breadcrumbs": {
        "itemsList": [
            {
                "url": '/prototypes/census-website/',
                "text": 'Home'
            },
            {
                "url": '/prototypes/census-website/help/',
                "text": 'Help with your census'
            },
            {
                "url": '/prototypes/census-website/help/getting-started/',
                "text": 'Getting started',
                "current": true
            },
            {
                "text": 'How long will it take?',
                "current": true
            }            
        ]
    },
    "contentsList": {
        "ariaLabel": 'Pages in this guide',
        "lists": [
            {
                "itemsList": [
                    {
                        "text": 'Overview',
                        "url": '/prototypes/census-website/help/getting-started/'
                    },
                    {
                        "text": 'How long will it take?',
                        "url": '/prototypes/census-website/help/getting-started/how-long-will-it-take.html',
                        "current": true
                    },                          
                    {
                        "text": 'Completing online',
                        "url": '/prototypes/census-website/help/getting-started/completing-online.html'
                    },        
                    {
                        "text": 'Completing on paper',
                        "url": '/prototypes/census-website/help/getting-started/completing-on-paper.html'
                    },
                    {
                        "text": 'Who should complete the census',                        
                        "url": '/prototypes/census-website/help/getting-started/who-should-do-it.html'
                    },
                    {
                        "text": 'When to complete the census',                        
                        "url": '/prototypes/census-website/help/getting-started/when-should-i-do-it.html'
                    }
                ]
            }
        ]
    },
    "contentPagination": {
        "contentPaginationItems": [
            {
                "rel": 'next',
                "text": 'Next',
                "url": '/prototypes/census-website/help/getting-started/whats-on-the-form.html',
                "label": 'What’s on the form?'
            }
        ]
    }    
} %}

{% block content %}
    <p>The questions about the household should take about 10 minutes to complete, including the visitor questions.</p>
    <p>The personal questions should take about 10 minutes to complete for each person.</p>
    {% from "components/panel/_macro.njk" import onsPanel %}
    {{ 
        onsPanel({
            "body": "<p>You don't have to do it all at once. You can save your progress at any time by clicking \"save and complete later\".</p>"
        }) 
    }}
{% endblock %}
