---
version: 13.4.4
layout: census-website/views/_guide
---

{% set content = { 
    "title": 'How to complete the census',
    "sectionTitle": "Overview",
    "breadcrumbs": {
        "itemsList": [
            {
                "url": '/prototypes/census-website/',
                "text": 'Home'
            },
            {
                "url": '/prototypes/census-website/help/',
                "text": 'Help with your census'
            },
            {
                "url": '/prototypes/census-website/help/getting-started/',
                "text": 'Getting started',
                "current": true
            }
        ]
    },
    "contentsList": {
        "ariaLabel": 'Pages in this guide',
        "lists": [
            {
                "itemsList": [
                    {
                        "text": 'Overview',
                        "current": true
                    },
                    {
                        "url": '/prototypes/census-website/help/getting-started/who-should-complete-the-census.html',
                        "text": 'Who should complete the census'
                    },
                    {
                        "url": '/prototypes/census-website/help/getting-started/change-in-circumstances.html',
                        "text": 'Change in circumstances'
                    }
                ]
            }
        ]
    },
    "contentPagination": {
        "contentPaginationItems": [
            {
                "rel": 'next',
                "text": 'Next',
                "url": '/prototypes/census-website/help/getting-started/who-should-complete-the-census.html',
                "label": 'Who should complete the census'
            }
        ]
    }    
} %}

{% block content %}
    <p>We will send a letter to your household asking the householder to answer questions about the property and the individuals living there.</p>
    <p>The householder is responsible for completing the census.</p>
    {% from "components/details/_macro.njk" import onsDetails %}
    {{
        onsDetails({
            "id": "details",
            "title": "What is a household and who is the householder?",
            "classes": "u-mb-m",
            "content": "<p>A <strong>household</strong> is either:</p>
                        <ul>
                            <li>one person living alone</li>
                            <li>a group of people (who don't have to be related) living at the same address who share cooking facilities and share a living or dining area</li>
                        </ul>
                        <p>The <strong>householder</strong> is a person who individually or jointly meets at least one of following:</p>
                        <ul>
                            <li>owns or rents the property</li>
                            <li>is responsible for paying the household bills and expenses</li>
                        </ul>",
            "button": {
                "close": "Hide this"
            }
        })
    }}
    <p>To complete your census online</a>, use the unique access code in the letter we sent the householder.</p>
    <img class="u-mb-s" src="../../img/letter-placeholder.png" width="280"/>
    <p>Complete your census as soon as possible.</p>
    <p>It should take between 20 to 30 minutes to complete and we’d like you to do it as soon as possible. You can save your answers and return to them later if you need to.</p>
    {% from "components/panel/_macro.njk" import onsPanel %}
    {{-
        onsPanel({
            "body": "Keep your unique access code safe to protect your personal information. You will also need it each time you return to the survey.",
            "classes": "u-mb-m"
        })
    }}
    {% from "components/button/_macro.njk" import onsButton %}
    {{-
        onsButton({
            "type": "button",
            "classes": "u-mb-l",
            "innerClasses": "icon--chevron-right-white",
            "url": "https://sdc-prototypes.netlify.com/prototypes/rh-census/home-v13.html",
            "text": "Start census"
        })
    }}    
  <h2>If you have not seen a census letter</h2>
    <p>If you are the householder and think you should have received a letter, <a href="/prototypes/census-website/contact/">contact us to get a unique access code.</a></p>
    <p>If you are not the householder check with them to see if they have the census letter with the unique access code. You can use the code to complete your individual questions.</p>
    <p>This may not be possible, or you may not want the people you live with to see your answers. You can <a href="https://sdc-prototypes.netlify.com/prototypes/rh-census/address.html">get a new code to respond separately to the household</a>. We will send it to you by text.</p>
  {% endblock %}
