---
version: 10.0.0
layout: census-website/views/_page
---

{% set content = { 
    "title": 'Getting started',
    "sectionTitle": "Overview",
    "breadcrumbs": {
        "itemsList": [
            {
                "url": '/prototypes/census-website/',
                "text": 'Home'
            },
            {
                "url": '/prototypes/census-website/help/',
                "text": 'Help with your census'
            },
            {
                "url": '/prototypes/census-website/help/getting-started/',
                "text": 'Getting started',
                "current": true
            }
        ]
    },
    "contentsList": {
        "itemsList": [
            {
                "text": 'Overview',
                "current": true
            },
            {
                "url": '/prototypes/census-website/help/getting-started/whats-on-the-form.html',
                "text": 'What’s on the form?'
            },
            {
                "url": '/prototypes/census-website/help/getting-started/who-should-do-it.html',
                "text": 'Who should do it?'
            },
            {
                "url": '/prototypes/census-website/help/getting-started/who-should-i-put-on-the-form.html',
                "text": 'Who should I put on the form?'
            },
            {
                "url": '/prototypes/census-website/help/getting-started/when-should-i-do-it.html',
                "text": 'When should I do it?'
            }
        ]
    },
    "contentPagination": {
        "contentPaginationItems": [
            {
                "rel": 'next',
                "text": 'Next',
                "url": '/prototypes/census-website/help/getting-started/whats-on-the-form.html',
                "label": 'What’s on the form?'
            }
        ]
    }    
} %}

{% block content %}
    <h2>Online</h2>
    <p>Whether we sent you a letter or a paper form, it has a code on it. This is your unique access code. Use it to open an online form just for your household.</p> 
    <p>Just enter the code and follow the simple instructions.</p> 

    <h2>Paper</h2>
    <p>If you have a paper form, just follow the instructions on your form. If you have a letter, you can:</p>
    <ul>
        <li><a href="#">call us for a paper form</a><br>
        OR</li>
        <li><a href="#">order a paper form online</a></li>
    </ul>
{% endblock %}
