---
version: 9.0.0
layout: census-website/views/_page
---

{% set content = { 
    "title": 'Getting started',
    "sectionTitle": "Who should do it?",
    "breadcrumbs": {
        "itemsList": [
            {
                "url": '/prototypes/census-website/',
                "text": 'Home'
            },
            {
                "url": '/prototypes/census-website/help/',
                "text": 'Help with your census'
            },
            {
                "url": '/prototypes/census-website/help/getting-started/',
                "text": 'Getting started'
            },
            {
                "text": "Who should do it?",
                "current": true
            }
        ]
    },
    "contentsList": {
        "itemsList": [
            {
                "text": 'How do I get started?',
                "url": '/prototypes/census-website/help/getting-started/'
            },
            {
                "url": '/prototypes/census-website/help/getting-started/whats-on-the-form.html',
                "text": 'What’s on the form?'
            },
            {
                "text": 'Who should do it?',
                "current": true                                
            },
            {
                "url": '/prototypes/census-website/help/getting-started/who-should-i-put-on-the-form.html',
                "text": 'Who should I put on the form?'
            },
            {
                "url": '/prototypes/census-website/help/getting-started/when-should-i-do-it.html',
                "text": 'When should I do it?'
            }
        ]
    },
    "contentPagination": {
        "contentPaginationItems": [
            {
                "rel": 'previous',
                "text": 'Previous',
                "url": '/prototypes/census-website/help/getting-started/whats-on-the-form.html',
                "label": 'What’s on the form?'
            },            
            {
                "rel": 'next',
                "text": 'Next',
                "url": '/prototypes/census-website/help/getting-started/who-should-i-put-on-the-form.html',
                "label": 'Who should I put on the form?'
            }            
        ]
    }    
} %}

{% block content %}
    <p>A householder should fill in the form for the household.</p>
    <h2>Who is a householder?</h2>
    <p>A householder is a person who, individually or jointly:</p>
    <ul>
        <li>owns or rents the accommodation<br>
        AND/OR</li>
        <li>is responsible for paying the household bills and expenses</li>
    </ul>
    <h2>What is a household?</h2>
    <p>A household is either:</p>
    <ul>
        <li>one person living alone<br>
        OR</li>
        <li>a group of people (who don’t have to be related) living at the same address who share cooking facilities and share a living room, sitting room or dining area</li>
    </ul>{% endblock %}
