---
version: 9.0.0
layout: census-website/views/_page
---

{% set content = { 
    "title": 'Getting started',
    "sectionTitle": "Who should I put on the form?",
    "breadcrumbs": {
        "itemsList": [
            {
                "url": '/prototypes/census-website/',
                "text": 'Home'
            },
            {
                "url": '/prototypes/census-website/help/',
                "text": 'Help with your census'
            },
            {
                "url": '/prototypes/census-website/help/getting-started/',
                "text": 'Getting started'
            },
            {
                "text": "Who should I put on the form?",
                "current": true
            }
        ]
    },
    "contentsList": {
        "itemsList": [
            {
                "text": 'Overview',
                "url": '/prototypes/census-website/help/getting-started/'
            },
            {
                "text": 'What’s on the form?',
                "url": '/prototypes/census-website/help/getting-started/whats-on-the-form.html'
            },
            {
                "text": 'Who should do it?',
                "url": '/prototypes/census-website/help/getting-started/who-should-do-it.html'                             
            },
            {
                "text": 'Who should I put on the form?',
                "current": true                   
            },
            {
                "text": 'When should I do it?',
                "url": '/prototypes/census-website/help/getting-started/when-should-i-do-it.html'
            }
        ]
    },
    "contentPagination": {
        "contentPaginationItems": [
            {
                "rel": 'previous',
                "text": 'Previous',
                "url": '/prototypes/census-website/help/getting-started/who-should-do-it.html',
                "label": "Who should do it?"
            },            
            {
                "rel": 'next',
                "text": 'Next',
                "url": '/prototypes/census-website/help/getting-started/when-should-i-do-it.html',
                "label": 'When should I do it?'
            }            
        ]
    }    
} %}

{% block content %}
    <p>There are two types of people to put on your form:</p>
    <ol>
        <li><strong>Usual residents</strong> – answer individual questions about these people</li> 
        <li><strong>Visitors</strong> – answer the four visitor questions about these people</li>
    </ol>
    <h2>Who do I include as usual residents?</h2>
    <h3>1. Anyone who usually lives here</h3>
    <p>What do we mean by “usually”? You usually live here if this is your permanent or family home. For most people this will be the address where you spend most of your time.</p>
    <h3>2. People temporarily away from home</h3>
    <p>Such as students or schoolchildren living away or boarding, people in a care home or hospital and people who have two addresses, but this is their usual home.</p> 
    <p>See full list of advice for people <a href="#">temporarily away from home</a></p>
    <h3>3. Also include these people, even though they don’t actually live here</h3>
    <p>We know this might seem strange, but please include anyone staying overnight on 13 October 2019 who doesn’t usually live at this address and who:</p>
    <ul>
        <li>lives <strong>outside the UK</strong> but is staying in the UK for three months or more<br>
        OR</li>
        <li>lives <strong>in the UK</strong> but has no other usual address</li>
    </ul>
    <p>Please make sure individual questions are completed about these people.</p>
    <h2>Who do I include as visitors?</h2>
    <p>Include these people as visitors if they’re staying with you overnight on 13 October 2019:</p>
    <ul>
        <li>people who usually live at another address in the UK</li>
        <li>people who usually live outside the UK and are staying in the UK for less than three months</li>
        <li>people who are normally staying in a communal establishment such as a care home or hospital for a period of six months or more</li>
    </ul>
    {% from "components/panel/_macro.njk" import onsPanel %}
    {{ 
        onsPanel({
            "body": "<p>Please do <strong>not</strong> answer individual questions about these visitors.</p>",
            "classes": "u-mb-m"
        }) 
    }}
    <p>If you’re not sure who’s staying at your property, please give us the best information you can.</p>
         
{% endblock %}
