---
group: Frontstage
title: SM Attachments
version: 17.0.0
layout: SM-attachments/views/_index
---

{% block main %}
    {% from "components/button/_macro.njk" import onsButton %}
    <h1>Secure messages templates</h1>

    <div class="grid">
        <div class="grid__col col-6@m">
            <h2>Screens</h2>
            <ul class="list list--bare">
                <li class="list__item">
                    <a href="{{ pageInfo.rootPath }}/create-message/index.html">Create message</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
