---
title: About Census 2021
group: Census
version: 24.0.5
layout: census-website-engage/views/_nisra-master
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": pageInfo.rootPath + '/ni/home',
                            "text": 'Home'
                        },
                        {
                            "url": pageInfo.rootPath + '/ni/about-the-census',
                            "text": 'About the census'
                        }
                    ]
                })
            }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l">
                            <span class="u-fs-m u-db u-mb-xs u-lighter">About the census</span>
                            <span class="u-vh">: </span>
                            <span class="u-fs-xxl u-db">About Census 2021</span>
                        </h1>

                        {{-
                            onsTableOfContents({
                                "title": 'Contents',
                                "ariaLabel": 'Pages in this guide',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/ni/about-the-census',
                                        "text": 'Overview'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/ni/about-the-census/2019-rehearsal',
                                        "text": '2019 Rehearsal'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/ni/about-the-census/why-should-i-take-part-in-the-census',
                                        "text": 'Why should I take part in the census?'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/ni/about-the-census/about-census-2021',
                                        "text": 'About Census 2021',
                                        "current": true
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/ni/about-the-census/about-the-census-coverage-survey',
                                        "text": 'About the Census Coverage Survey'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/ni/about-the-census/about-the-census-quality-survey',
                                        "text": 'About the Census Quality Survey'
                                    }
                                ]
                            })
                        }}

                        <div class="page__body">
                            
                            <p>The next census is planned for March 2021. Early in 2021, we’ll be asking you to fill in the census questionnaire, but there are a few things you should know first.</p>

                            <h2>Help your area</h2>

                            <p>It’s really important you take part. Your information helps build a picture of where you live that’ll be used to decide how vital services are planned and funded. These include things like schools, doctors’ surgeries, hospitals and libraries. Charities and local services need census information, too. You can <a href="#0">read more about how different organisations use the 2011 Census to support communities</a>.<p>
                            
                            <h2>Moving the census online</h2>

                            <p>We’re moving to a “digital-first” census. We want as many people as possible to fill their questionnaire in online in 2021. It’s easy to do and can be done on any device. Most people will get a letter with a unique access code on it through the post. All you need to do is enter the code into the website and fill in the questionnaire. We’ll be in contact nearer the time to let you know what you need to do.</p>

                            <h2>Our changing needs</h2>

                            <p>We’re making some changes to the next census. We want to make sure it collects the information our society needs. So, we’ll be taking away a few questions we no longer need and adding some we do.</p>

                            <p>We also want everyone to be able to identify as they wish. In 2021, it’ll be even easier as we are developing ‘search-as-you-type’ functionality.</p>
                            
                            <div class="u-mt-xl">
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                            {
                                                "rel": 'prev',
                                                "text": 'Previous',
                                                "url": pageInfo.rootPath + '/ni/about-the-census/why-should-i-take-part-in-the-census',
                                                "label": 'Why should I take part in the census?'
                                            },
                                            {
                                                "rel": 'next',
                                                "text": 'Next',
                                                "url": pageInfo.rootPath + '/ni/about-the-census/about-the-census-coverage-survey',
                                                "label": 'About the Census Coverage Survey'
                                            }
                                        ]
                                    })
                                }}
                            </div>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/keeping-your-data-safe',
                                    "text": 'Keeping your data safe'
                                },
                                {
                                    "url": pageInfo.rootPath + '/contact-us',
                                    "text": 'Contact us'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
