---
version: 13.6.9
layout: rh-fulfilments/views/_master
---

{% block main %}

    <h1 class="u-mt-l">The selected address is not a household</h1>

    <p>The address that you have selected is a SPG, but you are requesting a form for a household.</p>
    
    <p><a href="{{ pageInfo.rootPath }}/spg-form/">Request an SPG form</a></p>

    <p>If you believe that the address that you selected should be classified as a 'household' please call us free on 0800 085 7376.</p>

{% endblock %}
