.tbl-ce-value {
  text-align: right;
}

.table-heading {
  border-bottom: 2px solid #222;
}

.metadata {
  dt {
    font-weight: 400;
  }
  dd {
    font-weight: 600;
  }
}

.progress {
  padding: 0;
  margin: 6px 0;
  height: 22px;
  width: 100%;
  span {
    height: 22px;
  }
  .completed {
    background-color: #0f8243;
  }
  .in-progress {
    background-color: #033e58;
  }
  .not-started {
    background-color: #d0d0d0;
  }
}
