.tbl-ce-value {
  text-align: right;
}

.table-heading {
  border-bottom: 2px solid #222;
}

.metadata {
  dt {
    font-weight: 400;
  }
  dd {
    font-weight: 600;
  }
}

.progress {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  .completed-percentage {
    padding-right: 3px;
  }
  .graph {
    width: 100px;
    margin-top: 2px;
    span {
      height: 24px;
    }
    .completed {
      background-color: #0f8243;
    }
    .in-progress {
      background-color: #ff600a;
    }
    .not-started {
      background-color: #d0d0d0;
    }
  }
}
