---
group: ROps
title: SDC dashboard
version: 20.0.3
layout: SDC-dashboard/views/_index
---

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "prototypes/SDC-dashboard/data/mbs.dta" import surveystats %}

{% block main %}
  <div class="grid">
    <div class="grid__col col-12@m">
      <h1 name="page-surveys-title">Choose survey</h1>
      <table id="tbl-surveys" class="table table--responsive">
        <thead class="table__head">
          <tr class="table__row">
            <th scope="col" class="table__header">ID</th>
            <th scope="col" class="table__header">Abbreviation</th>
            <th scope="col" class="table__header">Title</th>
            <th scope="col" class="table__header">Period</th>
            <th scope="col" class="table__header">Progress</th>
            <th scope="col" class="table__header">
              <span class="u-vh">Action</th>
            </tr>
          </thead>
          <tbody class="table__body">
            {% for survey in surveystats %}
              <tr class="table__row">
                <td class="table__cell" name="tbl-surveys-id" data-th="ID">009</td>
                <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">{{ survey.abbreviation }}</td>
                <td class="table__cell" name="tbl-surveys-title" data-th="Title">{{ survey.surveyTitle }}</td>
                <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Period">{{ survey.period }}</td>
                <td class="table__cell" name="tbl-surveys-progress" data-th="Progress">
                  <div class="progress">
                    <span class="completed u-dib" style="width:calc({{ survey.completed }}/{{ survey.sampleSize }}*100%)"><span class="u-vh">Completed: </span></span><span class="in-progress u-dib" style="width:calc({{ survey.inProgress }}/{{ survey.sampleSize }}*100%)"><span class="u-vh">In progress: </span></span><span class="not-started u-dib" style="width:calc({{ survey.notStarted }}/{{ survey.sampleSize }}*100%)"><span class="u-vh">Not started: </span></span>
                  </div>
                </td>
                <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                  <button type="button" class="btn btn--secondary btn--small">
                    <span class="btn__inner">
                      Choose
                    </span>
                  </button>
                </td>
              </tr>
            {% endfor %}

            <!--
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">017</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">QSS</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/QSS" name="survey-link-QSS">Quarterly Stocks Survey</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">019</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">QCAS</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/QCAS" name="survey-link-QCAS">Quarterly Acquisitions and Disposal of Capital Assets Survey</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">023</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">RSI</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/RSI" name="survey-link-RSI">Monthly Business Survey - Retail Sales Index</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">062</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">AIFDI</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/AIFDI" name="survey-link-AIFDI">Annual Inward Foreign Direct Investment Survey</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">063</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">AOFDI</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/AOFDI" name="survey-link-AOFDI">Annual Outward Foreign Direct Investment Survey</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">064</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">QIFDI</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/QIFDI" name="survey-link-QIFDI">Quarterly Inward Foreign Direct Investment Survey</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">065</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">QOFDI</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/QOFDI" name="survey-link-QOFDI">Quarterly Outward Foreign Direct Investment Survey</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">066</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">Sand &amp; Gravel</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/Sand&amp;Gravel" name="survey-link-Sand &amp; Gravel">Quarterly Survey of Building Materials Sand and Gravel</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">073</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">Blocks</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/Blocks" name="survey-link-Blocks">Monthly Survey of Building Materials Concrete Building Blocks</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">074</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">Bricks</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/Bricks" name="survey-link-Bricks">Monthly Survey of Building Materials Bricks</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">093</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">FSPS</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/FSPS" name="survey-link-FSPS">Financial Survey of Pension Schemes</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">134</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">MWSS</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/MWSS" name="survey-link-MWSS">Monthly Wages and Salaries Survey</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">137</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">PCS</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/PCS" name="survey-link-PCS">Public Corporations Survey</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">139</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">QBS</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/QBS" name="survey-link-QBS">Quarterly Business Survey</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">141</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">ASHE</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/ASHE" name="survey-link-ASHE">Annual Survey of Hours and Earnings</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">144</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">UKIS</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/UKIS" name="survey-link-UKIS">UK Innovation Survey</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">160</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">QPSESLA</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/QPSESLA" name="survey-link-QPSESLA">Quarterly Public Sector Employment Survey - Local Authorities</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">165</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">QPSESPB</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/QPSESPB" name="survey-link-QPSESPB">Quarterly Public Sector Employment Survey - Public Bodies</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">169</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">QPSESCS</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/QPSESCS" name="survey-link-QPSESCS">Quarterly Public Sector Employment Survey - Civil Service</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">187</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">Ecommerce</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/Ecommerce" name="survey-link-Ecommerce">E-commerce Survey</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">199</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">NBS</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/NBS" name="survey-link-NBS">National Balance Sheet</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">221</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">BRES</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/BRES" name="survey-link-BRES">Business Register and Employment Survey</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">225</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">OFATS</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/OFATS" name="survey-link-OFATS">Outward Foreign Affiliates Statistics Survey</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">281</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">MTS</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/MTS" name="survey-link-MTS">Monthly Turnover Survey</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">500</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">GovERD</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/GovERD" name="survey-link-GovERD">Government Research and Development Survey</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell" name="tbl-surveys-id" data-th="ID">888</td>
                        <td class="table__cell" name="tbl-surveys-abbreviation" data-th="Abbreviation">TST</td>
                        <td class="table__cell" name="tbl-surveys-title" data-th="Title">
                            <a href="/surveys/TST" name="survey-link-TST">Test Survey</a>
                        </td>
                        <td class="table__cell" name="tbl-surveys-progress" data-th="Progress"></td>
                        <td class="table__cell" name="tbl-surveys-choose" data-th="Choose">
                          <button type="button" class="btn btn--secondary btn--small">
                            <span class="btn__inner">
                              Choose
                            </span>
                          </button>
                        </td>
                    </tr>
                    -->
          </tbody>
        </table>
      </div>
    </div>

  {% endblock %}
