---
group: Frontstage
title: Change business details
version: 32.0.1
layout: change-business-details/views/version-1/_master-survey
---

{% from "components/input/_macro.njk" import onsInput %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}

{% block main %}

    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/user-self-serve/version-1/signed-in/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/prototypes/user-self-serve/version-1/signed-in/account/index.html',
                            "text": 'Account'
                        } 
                    ]
                }) 
            }}
        </div>
        <h1>My business is subject to a takeover</h1>
        <div class="grid grid--flex grid--gutterless grid--vertical-center grid--no-wrap@s u-mt-m u-mb-m">
            <div class="grid__col">
                <button id="approve" type="button" class="btn btn-group__btn" onclick="location.href='{{ pageInfo.rootPath }}/version-1/signed-in/account/05-change-business-details/scenario-1/account-index-done.html';">
                    <span class="btn__inner">Send changes</span>
                </button>
            </div>
            <div class="grid__col u-ml-m">
                <a href="/prototypes/user-self-serve/version-1/signed-in/account/index.html">Cancel</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
