---
title: BSL
group: BSL
version: 15.0.2
layout: bsl/views/_master
---
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "bsl/components/uac/_macro.njk" import onsUACInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/details/_macro.njk" import onsDetails %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "/do-you-live.html"
    }
} %}

{% block main %}
    {% call onsQuestion({
    }) %}
        <h1 class="u-mt-l">Start census</h1>

        {{ onsUACInput({
            "id": "uac",
            "name": "uac",
            "label": {
                "text": "Enter your 16<span aria-hidden=\"true\">-</span>character access code",
                "description": "Keep this code safe and only share it with others in your household"
            },
            "securityMessage": "Your personal information is protected by law and will be kept confidential."
        }) }}

        {{ onsButton({
            "text": "Access census",
            "classes": "u-mb-xl"
        }) }}
        {# {{ onsButton({
            "text": "BSL translations",
            "classes": "u-fl btn--secondary"
        }) }} #}
        <div class="bsl u-mb-l">
            <div class="bsl__icon"><span class="icon icon--bsl"></span></div>
            <p class="bsl__message">You can <a class="bsl__link" href="#">view BSL translations</a> to help you complete your census.</p>
        </div>
        <h2 class="u-fs-m u-mb-s">If you don't have a household code</h2>
        <p>
            You can <a href="#">request a new household access code</a> to start a new census if you have lost, forgotten or not received an access code.
        </p>
        {# <p style="border-left: 8px solid #ccc; padding-left: 1rem">The householder is responsible for ensuring that your census questionnaire is completed and submitted.</p>
        {{
            onsDetails({
                "id": "details",
                "classes": "u-mt-m u-mb-m",
                "title": "What we mean by \"householder\"",
                "content": "<p>A householder is a person who, individually or jointly</p>
                <ul>
                <li>owns or rents the accommodation</li>
                <li>is responsible for paying the household bills and expenses</li>
                </ul>",
                "button": {
                    "close": "Hide this",
                    "contextSuffix": "content"
                }
            })
        }} #}
        <h2 class="u-fs-m u-mt-m">Need to answer separately from your household?</h2>
        <p>If you prefer to answer separately from the people you live with, you can <a href="#">request an individual access code</a>.</p>
    {% endcall %}
{% endblock %}
