---
version: 15.0.2
layout: bsl/views/_question
---
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/details/_macro.njk" import onsDetails %}
{% from "components/video/_macro.njk" import onsVideo %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "/national-identity.html"
    }
} %}
    {% block preMain %}
    <div class="container page__container container u-mt-s">
        <a href="/prototypes/bsl/sex.html">Previous</a>
    </div>
    {% endblock %}
    {% block main %}
        {% call onsQuestion({
            "title": "On 13 October 2019, what is your legal marital or registered civil partnership status?",
            "useFieldset": true
        }) %}
            {{ onsRadios({
                "noField": true,
                "id": "do-you-live",
                "name": "do-you-live",
                "classes": "js-radios",
                "radios": [
                    {
                        "id": "never",
                        "label": {
                            "text": "Never married and never registered a civil partnership"
                        }
                    },
                    {
                        "id": "married",
                        "label": {
                            "text": "Married"
                        }
                    },
                    {
                        "id": "registered-partnership",
                        "label": {
                            "text": "In a registered civil partnership"
                        }
                    },
                    {
                        "id": "separated",
                        "label": {
                            "text": "Separated, but still legally married"
                        }
                    },
                    {
                        "id": "separated-partnership",
                        "label": {
                            "text": "Separated, but still legally in a civil partnership"
                        }
                    },
                    {
                        "id": "divorced",
                        "label": {
                            "text": "Divorced"
                        }
                    },
                    {
                        "id": "former-partnership",
                        "label": {
                            "text": "Formerly in a civil partnership which is now legally dissolved"
                        }
                    },
                    {
                        "id": "widowed",
                        "label": {
                            "text": "Widowed"
                        }
                    },
                    {
                        "id": "surviving-partnership",
                        "label": {
                            "text": "Surviving partner from a registered civil partnership"
                        }
                    }
                ]
            }) }}
        {% endcall %}

        {{ onsButton({
            "text": "Save and continue",
            "classes": "u-ml-no u-mt-xl u-mb-xl"
        }) }}

        <div class="bsl-video u-d-no">
            {{ onsButton({
                "text": "Hide BSL",
                "classes": "u-mb-xs u-fr js-bsl-btn btn--secondary u-mt-l",
                "innerClasses": "icon--bsl-btn"
            }) }}
            <div class="bsl-video__video">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/sspljXl7pLI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                
            </div>
        </div>        
    {% endblock %}
