---
version: 15.0.2
layout: bsl/views/_question
---
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/details/_macro.njk" import onsDetails %}
{% from "components/video/_macro.njk" import onsVideo %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "/sex.html"
    }
} %}
    {% block preMain %}
    <div class="container page__container container u-mt-s">
       
    </div>
    {% endblock %}
    {% block main %}
        {% call onsQuestion({
            "title": "What is your name?",
            "useFieldset": true
        }) %}
            {{ onsInput({
                "id": "your-name",
                "name": "your-name",
                "label": {
                    "text": "First name"
                }
            }) }}
            {{ onsInput({
                "id": "your-name",
                "name": "your-name",
                "label": {
                    "text": "Middle names"
                }
            }) }}
            {{ onsInput({
                "id": "your-name",
                "name": "your-name",
                "label": {
                    "text": "Last name"
                }
            }) }}
        {% endcall %}

        {{ onsButton({
            "text": "Save and continue",
            "classes": "u-ml-no u-mt-xl u-mb-xl"
        }) }}
    {% endblock %}
