/* Remove image from link button */
.btn--link:not(.btn--secondary) .btn__inner:after,
.btn--link:not(.btn--secondary):active .btn__inner:after,
.btn--link:not(.btn--secondary):hover:focus .btn__inner:after,
.btn--link.btn--secondary .btn__inner:after,
.btn--link:focus.btn--secondary .btn__inner:after {
  background-image: none;
  display: none;
}

.grid {
  position: relative;
}

.td-submit-by,
.td-status {
  white-space: nowrap;
}
/* section.survey {
  .grid {
    display: flex;
    div:last-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
} */

.breadcrumb {
  padding-top: 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.01s;
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.01s;
  }
  a:hover {
    color: #f1f1f1;
  }
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  legend {
    line-height: 1rem;
  }
}

#main {
  transition: margin-left 0.01s;
  padding: 16px;
  .showhide {
    .btn + .btn {
      margin-left: 0.5rem;
    }
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* Dirty fix to show the sidenav content  */
@media only screen and (min-width: 740px) {
  .col-2\@m {
    max-width: 100%;
  }
}

select.input {
  line-height: 1.6;
}
