---
group: Frontstage
title: User generated account
version: 14.4.0
layout: user-generated-account/views/_master
---

{% from "components/input/_macro.njk" import onsInput %}

{% block main %}

    <div class="grid">
        <div class="grid__col col-8@m">
            <h1>Allow colleagues access to my surveys</h1>
            
            <!--
            <p>You'll need to:</p>
            <ol>
                <li>Provide the email address of the recipient</li>
                <li>Assign one or more surveys</li>
                <li>Send the enrolment code</li>
            </ol>
            -->
            <p class="field">
            {{ 
                onsInput({
                    "id": "text",
                    "label": {
                        "text": "Enter the recipient's email address"
                    }
                }) 
            }}
            </p>
            <p class="field">
                <button type="submit" class="btn" onclick="location.href='{{ pageInfo.rootPath }}/31-allocate-surveys.html';">
                    <span class="btn__inner">Continue</span>
                </button>
            </p>
            <p class="field">
                <a href="{{ pageInfo.rootPath }}/20-my-account.html">Cancel</a>
            </p>
        </div>
    </div>

{% endblock %}
