.address-input {
  &__search {
    display: none;
  }

  &--search & {
    &__manual {
      display: none;
    }

    &__search {
      display: block;
    }
  }

  &__typeahead {
    .typeahead__combobox .typeahead__listbox {
      width: 100%;
    }

    .typeahead__combobox {
      display: block;
    }
  }
}

.group-text {
  color: #4263c2;
  text-decoration: underline;
}
.typeahead-input__option--focused:not(.typeahead-input__option--no-results),
.typeahead-input__option:not(.typeahead-input__option--no-results):not(.typeahead-input__option--more-results):hover {
  .group-text {
    color: #fff;
  }
}
