---
group: Frontstage
title: User self serve
version: 20.0.3
layout: user-self-serve/views/version-4/_master-survey
---

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/metadata/_macro.njk" import onsMetadata %}

{% block main %}

    <div class="grid">
        <div class="grid__col col-8@m">
            <div class="panel panel--info panel--simple u-mb-s">
                <div class="panel__body">
                    <p>Contextually relevant help which should either:</p>
                    <ul>
                        <li><a href="#">Redirect the user</a> to help within the site</li>
                        <li>Give advice on what to write in an email to get the ideal solution</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="grid__col col-6@m">
            <h1>Create message</h1>
            {{ 
                onsMetadata({
                    "metadataLabel": "",
                    "termCol": "2",
                    "descriptionCol": "10",
                    "itemsList": [
                        {
                            "term": "Survey:",
                            "descriptions": [ 
                                {
                                    "description": "Monthly Business Survey"
                                }
                            ]
                        },
                        {
                            "term": "About:",
                            "descriptions": [ 
                                {
                                    "description": "I've already completed this survey"
                                }                  
                            ]
                        }                                                         
                    ]
                }) 
            }}
            <p class="field">
            {{
                onsTextarea({
                    "id": "textarea",
                    "name": "feedback",
                    "label": {
                        "text": "Message"
                    }
                })
            }}
            </p>
            <p class="field">
                <div class="btn-group">
                    {{ 
                        onsButton({
                            "type": 'button',
                            "text": 'Send message',
                            "classes": 'btn-group__btn',
                            "url": "/prototypes/user-self-serve/version-4/10-message-sent.html"
                        }) 
                    }}
                    {{ 
                        onsButton({
                            "type": 'button',
                            "text": 'Cancel',
                            "classes": 'btn--secondary btn-group__btn',
                            "url": "/prototypes/user-self-serve/version-4/00-surveys-list.html"
                        }) 
                    }}
                </div>
            </p>
        </div>
    </div>

{% endblock %}
