---
title: Contact us
group: Census
version: 29.0.5
layout: census-website-respond/views/_nisra-master
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": pageInfo.rootPath + '/ni/home',
                            "text": 'Home'
                        }
                    ]
                })
            }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l u-fs-xxl">Contact us</h1>

                            <div class="page__body">
                            
                            <p>If you have an enquiry about the census, you can contact us.</p>
                            
                            <p>Telephone: 028 9025 5156</p>
                            
                            <p>Opening hours: Monday to Friday – 9:30am to 4pm <br> <span class="u-fs-s">(excluding public, bank and all Northern Ireland government holidays)</span></p>
                            
                            <p>Email: <a href="mailto:census@nisra.gov.uk">census@nisra.gov.uk</a></p>
                            
                            <p>Follow us:</p>
                        
                            {{
                                onsList({
                                    "classes": 'list--bare list--inline',
                                    "itemsList": [
                                        {
                                            "url": 'https://www.twitter.com/NICensus2021',
                                            "text": 'Twitter',
                                            "prefixIcon": 'twitter',
                                            "iconSize": 'xxl',
                                            "rel": 'noreferrer external'
                                        },
                                        {
                                            "url": 'https://www.facebook.com/NICensus2021',
                                            "text": 'Facebook',
                                            "prefixIcon": 'facebook',
                                            "iconSize": 'xxl',
                                            "rel": 'noreferrer external'
                                        }
                                    ]
                                })
                            }}

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/ni/media-and-campaigns/media-enquiries',
                                    "text": 'Media enquiries'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
