---
title: Campaign Website (engage phase)
group: Census
version: 23.0.0
layout: census-website-engage/views/_rh-master
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">
        
            <div class="grid">

                <div class="grid__col col-8@m">
                
                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-fs-xxl u-mt-l">Prototypes</h1>

                        <p>A collection of prototypes in preperation for Census 2021.</p>

                        <h2 class="u-fs-l u-mt-l">England and Wales</h2>

                        {{
                            onsList({
                                "classes": 'list--bare',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/our-partners/downloadable-resources',
                                        "text": 'Downloadable resources'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/media-and-campaigns/news-and-events',
                                        "text": 'News and events'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/find-a-support-centre',
                                        "text": 'Find a support centre'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/web-form',
                                        "text": 'Web form'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/home',
                                        "text": 'Home (engagement phase)'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/home-minimal',
                                        "text": 'Home (minimal)'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/hero',
                                        "text": 'Hero banners'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/important-dates-for-local-authorities',
                                        "text": 'Important dates for local authorities'
                                    }
                                ]
                            })
                        }}

                        <h2 class="u-fs-l u-mt-l">Northern Ireland</h2>

                        {{
                            onsList({
                                "classes": 'list--bare',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/nisra/home',
                                        "text": 'Home (engagement phase)'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/nisra/our-partners/downloadable-resources',
                                        "text": 'Downloadable resources'
                                    }
                                ]
                            })
                        }}

                    </main>

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
