@import 'scss/settings/all';

// Filter
.adv-filter__gallery {
  border-top: 1px solid $border-color;
  margin-left: 0;
  padding-left: 0;
}

.adv-filter__item {
  margin-top: 24px;

  &:last-child {
    margin-bottom: 24px;
  }
}

.adv-filter__selection {
  color: $text-secondary;
  font-size: 14px;
  line-height: (24/14);
  margin-bottom: 8px;
}

.adv-filter__results-count {
  font-size: 16px;
  line-height: (24/16);
}

.adv-filter__results-options {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.adv-filter__results-sort {
  display: flex;
  align-items: center;

  .label {
    font-size: 16px;
    line-height: (24/16); // Override 28px line height with 24px line height for vertical rhythm.
    font-weight: normal;
    margin-bottom: 0;
    margin-right: 8px;
  }

  .input--select {
    width: auto !important; // NASTY override
    font-size: 16px;
    line-height: (24/16);
  }
}

.filter__item {
  border-bottom: 1px solid $border-color;
  display: block; // An accessible way of removing bullets (don’t use list-style-type: none; https://github.com/jensimmons/cssremedy/issues/15#issuecomment-462174177)
  margin-bottom: 0; // Reset default margin bottom on list items
  padding-bottom: 24px;
  padding-top: 24px;
}

// No JavaScript
html:not(.js-enabled) {
  .adv-filter__no-results {
    display: none;
  }

  .adv-filter__selection {
    display: none;
  }
}

// Resource
.resource {
  display: flex;
}

.resource__heading {
  font-size: 18px;
  line-height: (24/18);
  margin-bottom: 8px;
}

.resource__image {
  flex: 0 0 auto;
  margin-right: 32px;
  width: 100px;
}

.resource__image-link {
  border: 2px solid $border-color;
  display: block;
  height: 100%;
  width: 100%;
  // padding-top: calc(133.33333333% -4px); // Remove border width from aspect ratio (3:4)
}

.resource__meta {
  color: $text-secondary;
  display: block;
  font-size: 14px;
  line-height: (24/14);
  margin-bottom: 8px;
}

.resource__excerpt {
  font-size: 16px;
  line-height: (24/16); // Override 28px line height with 24px line height for vertical rhythm.
  margin-bottom: 0;
}
