---
title: Important dates for local authorities
group: Census
version: 24.0.0
layout: census-website-engage/views/_nisra-master
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": pageInfo.rootPath + '/nisra/home',
                            "text": 'Home'
                        },
                        {
                            "url": pageInfo.rootPath + '/nisra/local-authorities',
                            "text": 'Local authorities'
                        }
                    ]
                })
            }}

            <div class="grid u-mt-s@m">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l">
                            <span class="u-fs-m u-db u-mb-xs u-lighter">Local authorities</span>
                            <span class="u-vh">: </span>
                            <span class="u-fs-xxl u-db">Important dates for local authorities</span>
                        </h1>

                        {{-
                            onsTableOfContents({
                                "title": 'Contents',
                                "ariaLabel": 'Pages in this guide',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/nisra/local-authorities/',
                                        "text": 'Help the census succeed in your area'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/nisra/local-authorities/how-you-can-work-with-us',
                                        "text": 'How you can work with us'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/nisra/local-authorities/what-you-can-do-to-help',
                                        "text": 'What you can do to help'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/nisra/local-authorities/important-dates-for-local-authorities',
                                        "text": 'Important dates for local authorities',
                                        "current": true
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/nisra/local-authorities/materials-to-help-promote-the-census',
                                        "text": 'Materials to help promote the census'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/nisra/local-authorities/who-you-can-contact-for-help',
                                        "text": 'Who you can contact for help'
                                    }
                                ]
                            })
                        }}

                       <p>Important dates for local authorities to prepare for Census 2021.</p>

                        {{
                            onsTimeline({
                            "classes": "u-mt-l u-mb-xl",
                            "items": [
                                    {
                                        "heading": 'September 2020',
                                        "content": '<p>Local Authority Toolkit available online</p>'
                                    },
                                    {
                                        "heading": 'September to October 2020',
                                        "content": '<p>ONS to provide Councillor Handbook for distribution</p>'
                                    },
                                    {
                                        "heading": 'October to November 2020',
                                        "content": '<p>Meet your Census Engagement Manager and set up regular catch up meetings</p>'
                                    },
                                    {
                                        "heading": 'November 2020',
                                        "content": '<p>ONS to provide you with content for magazines and publications</p>'
                                    },
                                    {
                                        "heading": 'January to March 2021',
                                        "content": '<p>ONS to provide a range of press releases for external use</p>'
                                    },
                                    {
                                        "heading": 'February to April 2021',
                                        "content": '<p>Promote your local Census Support Centres</p>'
                                    }
                                ]
                            })
                        }}

                        <div class="page__body">

                            <div class="u-mt-xl">
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                            {
                                                "rel": 'prev',
                                                "text": 'Previous',
                                                "url": pageInfo.rootPath + '/local-authorities/what-you-can-do-to-help',
                                                "label": 'What you can do to help'
                                            },
                                            {
                                                "rel": 'next',
                                                "text": 'Next',
                                                "url": pageInfo.rootPath + '/local-authorities/materials-to-help-promote-the-census',
                                                "label": 'Materials to help promote the census'
                                            }
                                        ]
                                    })
                                }}
                            </div>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/nisra/community-groups',
                                    "text": 'Community groups'
                                },
                                {
                                    "url": pageInfo.rootPath + '/nisra/downloadable-resources',
                                    "text": 'Downloadable resources'
                                },
                                {
                                    "url": pageInfo.rootPath + '/nisra/contact-us',
                                    "text": 'Contact us'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
