---
title: Why you should take part in the census
group: Census
version: 29.1.0
layout: census-website-respond/views/_master
---

{% set pageId = 'about' %}

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": 'https://census-website-respond.netlify.app/end-to-end/home/',
                            "text": 'Home'
                        },
                        {
                            "url": pageInfo.rootPath + '/about-the-census',
                            "text": 'About the census'
                        }
                    ]
                })
            }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l">
                            <span class="u-fs-m u-db u-mb-xs u-lighter">About the census</span>
                            <span class="u-vh">: </span>
                            <span class="u-fs-xxl u-db">Why you should take part in the census</span>
                        </h1>

                        {{-
                            onsTableOfContents({
                                "title": 'Contents',
                                "ariaLabel": 'Pages in this guide',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census',
                                        "text": 'Overview'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/who-should-fill-in-a-census',
                                        "text": 'Who should fill in a census'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/why-you-should-take-part-in-the-census',
                                        "text": 'Why you should take part in the census',
                                        "current": true
                                    }
                                ]
                            })
                        -}}

                        <div class="page__body">
                            
                            <p>It’s important you take part in the census. The information it gives has the power to make a real impact on our day-to-day lives.</p>

                            <h2>The census is vital to all of us</h2>

                            <p>The census helps us understand what our society needs now and what it will likely need in the future. The information it collects helps with decisions on the planning and funding of services in your area. This could include schools, doctors’ surgeries, emergency services or even local support groups.</p>

                            <p>Charities also use census information to help get the funding they need. Businesses use it to decide where to set up, which creates job opportunities.</p>

                            {% from "components/panel/_macro.njk" import onsPanel %}
                            
                            {% call onsPanel() %}

                            <p>You can read more about how the <a href="#0">Mental Health Foundation</a> and <a href="#0">London Fire Brigade</a> use census data to support and protect communities.</p>

                            {% endcall %}

                            <h2>Its success could help you</h2>

                            <p>A successful census in 2021 will help give the best picture of the needs of everyone living in England and Wales.</p>

                            <p>A total of 94% of people responded to the last census, helping each area receive its share of public funding. Without the census, it would be much more difficult to provide your area with the services you need.</p>
           
                            <div class="u-mt-xl">
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                            {
                                                "rel": 'prev',
                                                "text": 'Previous',
                                                "url": pageInfo.rootPath + '/about-the-census/who-should-fill-in-a-census',
                                                "label": 'Who should fill in a census'
                                            }
                                        ]
                                    })
                                }}
                            </div>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/your-data-and-security',
                                    "text": 'Your data and security'
                                },
                                {
                                    "url": pageInfo.rootPath + '/news',
                                    "text": 'News'
                                },
                                {
                                    "url": pageInfo.rootPath + '/contact-us',
                                    "text": 'Contact us'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
