---
title: Why you should take part in the census
group: Census
version: 31.3.0
layout: census-website-respond/views/_master
---

{% set pageId = 'about' %}

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": 'https://census-website-respond.netlify.app/end-to-end/home/',
                            "text": 'Home'
                        },
                        {
                            "url": pageInfo.rootPath + '/about-the-census',
                            "text": 'About the census'
                        }
                    ]
                })
            }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l">
                            <span class="u-fs-m u-db u-mb-xs u-lighter">About the census</span>
                            <span class="u-vh">: </span>
                            <span class="u-fs-xxl u-db">Why you should take part in the census</span>
                        </h1>

                        {{-
                            onsTableOfContents({
                                "title": 'Contents',
                                "ariaLabel": 'Pages in this guide',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census',
                                        "text": 'Overview'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/who-should-fill-in-a-census',
                                        "text": 'Who should fill in a census'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/why-you-should-take-part-in-the-census',
                                        "text": 'Why you should take part in the census',
                                        "current": true
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/about-the-census-coverage-survey',
                                        "text": 'About the Census Coverage Survey'
                                    }
                                ]
                            })
                        -}}

                        <div class="page__body">

                            <p>Taking part in the census is your chance to help make sure you and your community get the services you need for the next 10 years and beyond.</p>

                            <h2>The census helps show what we need</h2>

                            <p>The information you give in the census helps provide the best picture of the needs of everyone in England and Wales.</p>

                            <p>Organisations such as local authorities and charities use this picture to plan and fund the services we all need, including transport, education and healthcare. Without the census, it’d be much more difficult to do this.</p>

                            {% call onsPanel() %}

                                <p>You can read more about how the <a href="#0">Mental Health Foundation</a> and <a href="#0">London Fire Brigade</a> use census data to support and protect communities.</p>

                            {% endcall %}

                            <h2>You must complete the census by law</h2>

                            <p>It is an offence to supply false information or to not complete the census, and you could be fined up to £1,000. Some questions are clearly labelled as voluntary. It is not an offence if you do not answer these.</p>

                            <div class="u-mt-xl">
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                            {
                                                "rel": 'prev',
                                                "text": 'Previous',
                                                "url": pageInfo.rootPath + '/about-the-census/who-should-fill-in-a-census',
                                                "label": 'Who should fill in a census'
                                            }
                                        ]
                                    })
                                }}
                            </div>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/your-data-and-security',
                                    "text": 'Your data and security'
                                },
                                {
                                    "url": pageInfo.rootPath + '/about-the-census/what-if-im-away-or-abroad-on-census-day',
                                    "text": 'What if I’m away or abroad on Census Day?'
                                },
                                {
                                    "url": pageInfo.rootPath + '/about-the-census/help/getting-started/im-moving-house',
                                    "text": 'I’m moving house'
                                },
                                {
                                    "url": pageInfo.rootPath + '/news',
                                    "text": 'News'
                                },
                                {
                                    "url": pageInfo.rootPath + '/contact-us',
                                    "text": 'Contact us'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
