---
title: Community and voluntary groups
group: Census
version: 28.0.1
layout: census-website-respond/views/_nisra-master
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": pageInfo.rootPath + '/ni/home',
                            "text": 'Home'
                        },
                        {
                            "url": pageInfo.rootPath + '/ni/get-involved',
                            "text": 'Get involved'
                        }
                    ]
                })
            }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l">
                            <span class="u-fs-m u-db u-mb-xs u-lighter">Get involved</span>
                            <span class="u-vh">: </span>
                            <span class="u-fs-xxl u-db">Community and voluntary groups</span>
                        </h1>

                        {{-
                            onsTableOfContents({
                                "title": 'Contents',
                                "ariaLabel": 'Pages in this guide',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/ni/get-involved',
                                        "text": 'Overview'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/ni/get-involved/community-and-voluntary-groups',
                                        "text": 'Community and voluntary groups',
                                        "current": true
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/ni/get-involved/census-information-events',
                                        "text": 'Census information events'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/ni/get-involved/census-completion-events',
                                        "text": 'Census completion events'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/ni/get-involved/downloadable-resources',
                                        "text": 'Downloadable resources'
                                    }
                                ]
                            })
                        }}

                        <div class="page__body">
                            
                            <p>We need your help to encourage everyone to take part in Census 2021.</p>

                            <p>You understand your local area and the people around you better than anyone.</p>

                            <p>With your help, we can give everyone the best chance possible to take part in the census and make sure it represents them.</p>
                            
                            <p>Your networks can help us reach people who need support to complete their census.</p>

                            <h2>How you can help</h2>

                            <p>There are lots of things you can do to help in the run up to the 2021 Census, including:</p>

                            <ul>
                                <li>use the downloadable materials we will be publishing on this website, to help promote the census</li>
                                <li>add information about Census 2021 to your website (we can help with the branding and messages)</li>
                                <li>share information about the census on your social media channels</li>
                                <li>spread the word with any community organisations you know in your area</li>
                                <li>display our downloadable posters in your facilities</li>
                                <li>help us publicise census field staff jobs in your area – there’ll be lots of opportunities for local people</li>
                                <li>offer the use of your space and/or resources for census events</li>
                                <li>host a <a href="{{pageInfo.rootPath}}/ni/get-involved/census-information-events">census information event</a></li>
                                <li>host a <a href="{{pageInfo.rootPath}}/ni/get-involved/census-completion-events">census completion event</a></li>
                            </ul>

                            <p>If you’d like to talk about how we can work together for Census 2021, please email the <a href="mailto:census.engagement@nisra.gov.uk">Census Engagement Team</a>.</p>

                            <div class="u-mt-xl">
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                            {
                                                "rel": 'prev',
                                                "text": 'Previous',
                                                "url": pageInfo.rootPath + '/ni/get-involved',
                                                "label": 'Overview'
                                            },
                                            {
                                                "rel": 'next',
                                                "text": 'Next',
                                                "url": pageInfo.rootPath + '/ni/get-involved/census-information-events',
                                                "label": 'Census information events'
                                            }
                                        ]
                                    })
                                }}
                            </div>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/ni/contact-us',
                                    "text": 'Contact us'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
