---
group: Examples
title: Example
version: 0.5.0
---
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}

{% set page = { 
    "title": "Example Prototype",
    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
} %}

{% block head %}
    <link rel="stylesheet" href="/prototypes/example/styles.css" />
{% endblock %}

{% block content %}
    <form class="u-mt-m">
        <h1>What is your name?</h1>
        {{
            onsInput({
                "id": "first-name",
                "name": "first-name",
                "label": {
                    "text": "First or given name"
                }
            })
        }}
        {{
            onsInput({
                "id": "last-name",
                "name": "last-name",
                "label": {
                    "text": "Surname or family name"
                }
            })
        }}
        {{
            onsButton({
                "text": "Save and continue",
                "classes": "u-mt-l"
            })
        }}
    </form>
{% endblock %}

{% block bodyEnd %}
    <script src="/prototypes/example/index.js"></script>
{% endblock %}
