---
version: 14.4.4
layout: typeahead-update/views/_master
---
{% from "components/button/_macro.njk" import onsButton %}
{% from "typeahead-update/components/input/_macro.njk" import onsInput %}
{% from "components/question/_macro.njk" import onsQuestion %}

{% block main %}
    <a class="previous-link js-previous" href="{{ pageInfo.rootPath }}/one-year-ago-address.html">Previous</a>
    <form action="{{ pageInfo.parentPath }}/one-year-ago-outside-address-type.html?previous={{ pageInfo.path }}.html">
        {% call onsQuestion({
            "title": "In which country outside of the UK was your usual address one year ago?"
        }) %}
        {{
            onsInput({
                "id": "address-country",
                "dontWrap": true,
                "label": {
                    "text": "Current name of country",
                    "description": "Enter your own answer or select from suggestions"
                },
                "typeahead":{
                    "instructions": "Use up and down keys to navigate suggestions once you\'ve typed more than two characters. Use the enter key to select a suggestion. Touch device users, explore by touch or with swipe gestures.",
                    "content": {
                        "aria_you_have_selected": "You have selected",
                        "aria_found_by_alternative_name": "found by alternative name",
                        "aria_min_chars": "Type in 2 or more characters for suggestions.",
                        "aria_one_result": "There is one suggestion available.",
                        "aria_n_results": "There are {n} suggestions available.",
                        "aria_limited_results": "Results have been limited to 10 suggestions. Type more characters to refine your search.",
                        "more_results": "Continue typing to refine suggestions",
                        "results_title": "Suggestions"
                    },
                    "autocomplete": "off",
                    "typeaheadData": "https://gist.githubusercontent.com/rmccar/08794cd217fbc08b7c2a470371f0390d/raw/b3dae8c70bb8c25d609a1e1dfe5a47ea104daee1/COB_FEL.json"
                }
            })
        }}
        {% endcall %}
        {{
           onsButton({
                "text": "Save and continue",
                "classes": "u-mt-l"
            })
        }}
    </form>
{% endblock %}
