---
group: RAS/RM - Frontstage
title: E-commerce Survey
version: 35.0.3
layout: user-self-serve/views/version-9/_master-survey-section
---

{% block preMain %}
<div class="container">
    {{
        onsBreadcrumb({
            "ariaLabel": 'Back',
            "itemsList": [
                {
                    "linkClasses": 'js-previous',
                    "url":  pageInfo.rootPath + '/version-9/signed-in/survey/hub/index.html',
                    "id": "back",
                    "text": 'Back'
                }
            ]
        })
    }}
</div>
{% endblock %}
{% block main %}
<form class="js-question-no-summary"></form>

    <div class="grid">
        <div id="main" class="grid__col col-8@m u-pt-no u-pb-no">
            <h1>E-commerce</h1>
            <p>The next section covers e-commerce.</p>
            <p>E-commerce is the sale or purchase of goods or services conducted over computer networks by methods specifically designed for the purpose of receiving or placing of orders.</p>
            <p>The payment and the delivery of the goods or services do not have to be conducted online.</p>
            <p class="u-mb-no">E-commerce transactions exclude orders made by manually typed emails.</p>
            {{ onsButton({
                "text": "Continue",
                "classes": "u-mt-xl",
                "url": 'orders/index.html'
            }) }}
        </div>
    </div>
    <script>
        function setSectionStatus() {
            var newSectionStatus = new Object();

            newSectionStatus.bookmark = window.location.pathname;
            newSectionStatus.status = "started";

            if(sessionStorage.sectionSix) {
                sessionStorage.removeItem('sectionSix');
                sectionSix = JSON.parse(sessionStorage.getItem('sectionSix'));
            } else {
                sectionSix = [];
            }
            var sectionSix = newSectionStatus;

            sessionStorage.setItem('sectionSix', JSON.stringify(sectionSix));
        }

        setSectionStatus();
    </script>
{% endblock %}
