---
version: 5.0.1
layout: typeaheads-in-browser/views/_master
---
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}

{% block main %}
    <a class="previous-link js-previous" href="{{ pageInfo.rootPath }}/ethnic-group.html">Previous</a>
    <form action="{{ pageInfo.parentPath }}/religion.html?previous={{ pageInfo.path }}.html">
        {{ 
            onsRadios({
                "legend": "<h1 class=\"u-fs-l\">Which one best describes your White ethnic group or background?</h1>",
                "name": "ethnic-group-white",
                "classes": "u-mt-s",
                "radios": [
                    {
                        "id": "a",
                        "label": {
                            "text": "English, Welsh, Scottish, Northern Irish or British"
                        },
                        "name": "a"
                       
                    },
                    {
                        "id": "b",
                        "label": {
                            "text": "Irish"
                        },
                        "name": "b"
                       
                    },
                    {
                        "id": "c",
                        "label": {
                            "text": "Gypsy or Irish Traveler"
                        },
                        "name": "c"
                       
                    },
                    {
                        "id": "d",
                        "label": {
                            "text": "Roma"
                        },
                        "name": "d"
                       
                    },
                    {
                        "id": "other",
                        "label": {
                            "text": "Any other White ethnic group or background ",
                            "description": "You can enter this on the next question"
                        },
                        "name": "other",
                        "attributes": {
                            "data-action-url": pageInfo.parentPath + "/ethnic-group-white-other.html"
                        }
                    }
                ]
            }) 
        }}
        {{
           onsButton({
                "text": "Save and continue",
                "classes": "u-mt-l"
            })
        }}
    </form>
{% endblock %}
