@import 'components/typeahead/typeahead';
@import 'components/address-input/address-input';

.previous-link {
  line-height: 1;
}

.field__description {
  margin-top: 1rem;
}

.panel {
  &--off {
    padding: 0;
    border-left: 0;
    background: transparent;
  }

  &--off & {
    &__list {
      display: none;
    }
  }
}
