---
title: Respondent Home - Requests (Fulfilments)
group: Census
version: 10.0.1
layout: rh-fulfilments/views/_master
---
{% from "components/lists/_macro.njk" import onsList %}

{% block main %}
    {{ onsList({
        "classes": "u-mt-l",
        "itemsList": [
            {
                "text": "Request Household Code",
                "url": pageInfo.rootPath + "/household-code/"
            },
            {
                "text": "Request Household Form",
                "url": pageInfo.rootPath + "/household-form/"
            },
            {
                "text": "Request Household Translation Booklet",
                "url": pageInfo.rootPath + "/household-booklet/"
            },
            {
                "text": "Request Household Large Print",
                "url": pageInfo.rootPath + "/household-largeprint/"
            },
            {
                "text": "Request Household Continuation",
                "url": pageInfo.rootPath + "/household-continuation/"
            },
            {
                "text": "Request Individual Code",
                "url": pageInfo.rootPath + "/individual-code/"
            },
            {
                "text": "Request Individual Form",
                "url": pageInfo.rootPath + "/individual-form/"
            }
        ]
    }) }}
{% endblock %}
