---
title: Get ready for Census 2021
group: Census
version: 24.0.5
layout: census-website-engage/views/_nisra-master
---

{% block pageContent %}

    {% block main %}

        <!-- Hero -->
        {{
            onsHero({
                censusTheme: true,
                censusThemeDark: true,
                title: 'Get ready for Census 2021',
                subtitle: 'Census Day will be Sunday 21 March 2021.',
                image: {
                    smallSrc: pageInfo.rootPath + '/img/small/',
                    largeSrc: pageInfo.rootPath + '/img/large/',
                    filename: 'mum-and-child-healthcare-belfast.jpg',
                    alt: 'Mum and child at healthcare facilities in Belfast'
                }
            })
        }}


        <!-- CTAs -->
        <div class="container">

            <section class="u-pt-l u-mb-s u-pb-s u-pb-s@m">

                <div class="grid grid--column@xs@s">

                    <div class="grid__col col-4@m">
                        {{-
                            onsCard({
                                "ariaBy": 'Section highlight',
                                "id": 'title1',
                                "textId": 'text1',
                                "title": 'About the census',
                                "url": pageInfo.rootPath + '/ni/about-the-census',
                                "text": 'The census happens only once every 10 years and gives us a picture of all the people and households in Northern Ireland.'
                            })
                        }}
                    </div>

                    <div class="grid__col col-4@m">
                        {{-
                            onsCard({
                                "ariaBy": 'Section highlight',
                                "id": 'title2',
                                "textId": 'text2',
                                "title": 'Working on the census',
                                "url": pageInfo.rootPath + '/ni/jobs',
                                "text": 'For Census 2021, we will be hiring field staff across Northern Ireland.'
                            })
                        }}
                    </div>

                    <div class="grid__col col-4@m">
                        {{-
                            onsCard({
                                "ariaBy": 'Section highlight',
                                "id": 'title3',
                                "textId": 'text3',
                                "title": 'Keeping your data safe',
                                "url": pageInfo.rootPath + '/ni/keeping-your-data-safe',
                                "text": 'How we keep your data safe and what happens to your personal information.'
                            })
                        }}
                    </div>

                </div>

            </section>

        </div>


        <!-- Promo banner -->
        <section class="promo-banner promo-banner--dark-theme">

            <div class="container">

                <div class="grid grid--gutterless">
                    
                    <div class="grid__col col-6@m">
                        
                        <h3><a href="{{pageInfo.rootPath}}/ni/get-involved">Get involved</a></h3>

                        <p>There are lots of ways that you can get involved with Census 2021. Whether you are an individual, a group or organisation we would love to hear from you.</p>

                        <p class="u-mb-no">By taking part and encouraging others to do the same, you’ll help make sure you and your community get the services you need.</p>

                        <img class="promo-banner-image" src="{{pageInfo.rootPath}}/img/census-promo-banner.svg" alt="" role="presentation" aria-hidden="true">

                    </div>
                    
                </div>

            </div>

        </section>


        <div class="container">

            <!-- Contact and social links -->
            <section class="u-mb-l u-pt-m">

                <div class="grid grid--column@xs@s">

                    <div class="grid__col col-6@m">
                    
                        <h3>Get in touch</h3>

                        <p>For support with your census you can <a href="{{pageInfo.rootPath}}/ni/contact-us">contact us</a>.</p>

                    </div>

                    <div class="grid__col col-6@m">
                        
                        <h3>Follow us</h3>
                    
                        <ul class="social-list social-list--inline">
                            
                            <li class="social-list__item">
                                <svg class="social__icon u-mr-xs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M24.04,12.95c0,0.17,0,0.33,0,0.5c0.01,4.01-2.17,7.71-5.69,9.64c-3.52,1.93-7.81,1.78-11.19-0.38c0.31,0.04,0.61,0.05,0.92,0.05c1.73,0,3.42-0.58,4.78-1.65c-1.65-0.04-3.09-1.11-3.6-2.68c0.25,0.05,0.51,0.07,0.76,0.07c0.34,0,0.68-0.05,1.01-0.14C9.23,18,7.93,16.4,7.95,14.55v-0.05c0.54,0.29,1.13,0.46,1.74,0.48c-1.66-1.12-2.2-3.33-1.23-5.08c1.96,2.41,4.85,3.87,7.95,4.03c-0.07-0.29-0.1-0.58-0.1-0.88c0-1.58,0.97-3,2.44-3.59c1.47-0.58,3.15-0.21,4.23,0.94c0.86-0.17,1.69-0.49,2.45-0.94c-0.28,0.9-0.88,1.65-1.69,2.13c0.76-0.09,1.51-0.29,2.21-0.6C25.43,11.76,24.79,12.42,24.04,12.95zM16,0C7.16,0,0,7.16,0,16s7.16,16,16,16s16-7.16,16-16c0-4.24-1.69-8.31-4.69-11.31S20.24,0,16,0z"/></svg>
                                <a href="https://www.twitter.com/NICensus2021" rel="noreferrer external">Twitter</a>
                            </li>

                            <li class="social-list__item">
                                <svg class="social__icon u-mr-xs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M18.5,31.9V20.72h3.73l0.72-4.62H18.5v-3c0-1.26,0.62-2.5,2.61-2.5h2.02V6.66c-1.18-0.19-2.38-0.3-3.58-0.31c-3.66,0-6.04,2.22-6.04,6.22v3.53H9.44v4.62h4.06V31.9C5.09,30.57-0.8,22.89,0.09,14.43C0.98,5.96,8.34-0.33,16.84,0.12S32,7.59,32,16.1C32,23.97,26.27,30.67,18.5,31.9z"/></svg>
                                <a href="https://www.facebook.com/NICensus2021" rel="noreferrer external">Facebook</a>
                            </li>

                        </ul>

                    </div>

                </div>

            </section>

        </div>

    
    {% endblock %}


{% endblock %}
