---
title: Find a census support centre
group: Census
version: 31.3.0
layout: census-website-respond/views/_master
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{ onsBreadcrumb({
                "ariaLabel": 'Breadcrumb',
                "itemsList": [
                    {
                        "url": pageInfo.rootPath + '/',
                        "text": 'Home'
                    },
                    {
                        "url": pageInfo.rootPath + '/help',
                        "text": 'Help with the census'
                    }
                ]
            }) }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l u-fs-xxl">Find a census support centre</h1>

                        <div class="page__body">
                        
                            <p>You can get help to complete your online census at one of our support centres across England and Wales.</p>

                            <p class="u-mb-m">You can either bring your own device, or use a laptop or tablet provided at the centre. You don’t need to bring ID with you, or to prove any information about yourself.</p>

                            {% call onsPanel({
                                "classes": 'u-mb-l'
                            }) %}

                                <p>You will need to bring your access code printed on the letter we sent you. <a href="https://census-website-respond.netlify.app/end-to-end/where-to-find-your-access-code/?previous=website-find-a-census-support-centre">Where to find your access code</a></p>

                            {% endcall %}

                            {{
                                onsButton({
                                    "type": 'button',
                                    "text": 'Find a census support centre',
                                    "url": pageInfo.rootPath + '/help/find-a-census-support-centre/enter-your-postcode'
                                })
                            }}

                            <h2>Coronavirus (COVID-19)</h2>

                            <p>All our support centres follow the government’s safety guidelines about coronavirus...(awaiting content about compliance)</p>

                            <p>Whether you need advice, instructions or a computer, we can help.</p>

                            <h2>If there isn’t a centre near you</h2>

                            <p>Unfortunately our support centres cannot cover the whole country. If your area isn’t included and you need further help, please <a href="{{pageInfo.rootPath}}/contact-us">contact us</a>.</p>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/help/getting-started/completing-the-census-for-someone-else/',
                                    "text": 'Completing the census for someone else'
                                },
                                {
                                    "url": 'https://census-website-respond.netlify.app/end-to-end/languages/',
                                    "text": 'Languages'
                                },
                                {
                                    "url": pageInfo.rootPath + '/contact-us',
                                    "text": 'Contact us'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
