---
group: RAS/RM - ROps
title: Reporting unit
version: 20.0.3
layout: reporting-unit/views/_master-internal
---

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/metadata/_macro.njk" import onsMetadata %}

{% block main %}

    <div class="grid">

        <div id="main" class="grid__col col-10@m">
            <h1 id="RU_NAME" class="u-fs-xl">SPARKS & MERCER PLC</h1>
            {{
                onsMetadata({
                    "metadataLabel": "",
                    "termCol": "2",
                    "descriptionCol": "10",
                    "itemsList": [
                        {
                            "term": "Reference:",
                            "descriptions": [
                                {
                                    "description": "50000001703"
                                }
                            ]
                        },
                        {
                            "term": "Trading as:",
                            "descriptions": [
                                {
                                    "description": "ALL ACTIVITY IN ENGLAND SCOTLAND AND WALES"
                                }
                            ]
                        }
                    ]
                })
            }}
        </div>
        <div class="grid__col col-8@m">

            <section role="region" class="tabs">
                <h2 class="tabs__title">Tabs</h2>
                <ul class="tabs__list">
                    <li id="tabId1Item" class="tab__list-item">
                        <a href="#tabId1" class="tab" data-ga="click" data-ga-category="tabs" data-ga-action="Show: UKIS" data-ga-label="Show: UKIS">Surveys</a>
                    </li>
                    <li id="tabId2Item" class="tab__list-item">
                        <a href="#tabId2" class="tab" data-ga="click" data-ga-category="tabs" data-ga-action="Show: Vacancy survey" data-ga-label="Show: Vacancy survey">Respondents</a>
                    </li>
                </ul>
                <section id="tabId1" class="tabs__panel">
                    <table id="basic-table" class="table">
                        <thead class="table__head">
                            <tr class="table__row">
                                <th scope="col" class="table__header ">
                                    <span>Survey</span>
                                </th>
                                <th scope="col" class="table__header ">
                                    <span>Current period</span>
                                </th>
                                <th scope="col" class="table__header ">
                                    <span>Status</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="table__body">
                            <tr class="table__row">
                                <td class="table__cell " name="cell-name">
                                    <a href="017_QSS.html">017 QSS</a>
                                </td>
                                <td class="table__cell ">
                                        2009
                                    </td>
                                <td class="table__cell ">
                                    <span class="status status--success">Completed</span>
                                </td>
                            </tr>
                            <tr class="table__row">
                                <td class="table__cell " name="cell-name">
                                    <a href="#">019 QCAS</a>
                                </td>
                                <td class="table__cell ">
                                        2009
                                    </td>
                                <td class="table__cell ">
                                    <span class="status status--success">Completed</span>
                                </td>
                            </tr>
                            <tr class="table__row">
                                <td class="table__cell " name="cell-name">
                                    <a href="#">023 RSI</a>
                                </td>
                                <td class="table__cell ">
                                        2010
                                    </td>
                                <td class="table__cell ">
                                    <span class="status status--dead">Not started</span>
                                </td>
                            </tr>
                            <tr class="table__row">
                                <td class="table__cell " name="cell-name">
                                    <a href="#">134 MWSS</a>
                                </td>
                                <td class="table__cell ">
                                        202010
                                    </td>
                                <td class="table__cell ">
                                    <span class="status status--success">Completed</span>
                                </td>
                            </tr>
                            <tr class="table__row">
                                <td class="table__cell " name="cell-name">
                                    <a href="#">139 QBS</a>
                                </td>
                                <td class="table__cell ">
                                        2009
                                    </td>
                                <td class="table__cell ">
                                    <span class="status status--success">Completed</span>
                                </td>
                            </tr>
                            <tr class="table__row">
                                <td class="table__cell " name="cell-name">
                                    <a href="#">144 UKIS</a>
                                </td>
                                <td class="table__cell ">
                                        201812
                                    </td>
                                <td class="table__cell ">
                                    <span class="status status--success">Completed</span>
                                </td>
                            </tr>
                            <tr class="table__row">
                                <td class="table__cell " name="cell-name">
                                    <a href="#">185 VACS5</a>
                                </td>
                                <td class="table__cell ">
                                        2010
                                    </td>
                                <td class="table__cell ">
                                    <span class="status status--pending">In progress</span>
                                </td>
                            </tr>
                            <tr class="table__row">
                                <td class="table__cell " name="cell-name">
                                    <a href="#">187 Ecommerce</a>
                                </td>
                                <td class="table__cell ">
                                        2019
                                    </td>
                                <td class="table__cell ">
                                    <span class="status status--success">Completed</span>
                                </td>
                            </tr>
                            <tr class="table__row">
                                <td class="table__cell " name="cell-name">
                                    <a href="#">221 BRES</a>
                                </td>
                                <td class="table__cell ">
                                        202012
                                    </td>
                                <td class="table__cell ">
                                    <span class="status status--success">Completed</span>
                                </td>
                            </tr>
                            <tr class="table__row">
                                <td class="table__cell " name="cell-name">
                                    <a href="#">888 TST</a>
                                </td>
                                <td class="table__cell ">
                                        202106
                                    </td>
                                <td class="table__cell ">
                                    <span class="status status--dead">Not started</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section id="tabId2" class="tabs__panel">
                    <div style="display:flex; align-items:center">
                        <div>Loading</div>
                        <svg class="svg-icon" style="height: 1.5rem;" xmlns="http://www.w3.org/2000/svg" focusable="false" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                            <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                            <rect x='46.5' y='40' width='7' height='20' rx='5' ry='5' transform='rotate(0 50 50) translate(0 -30)'>
                                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0s' repeatCount='indefinite' />
                            </rect>
                            <rect x='46.5' y='40' width='7' height='20' rx='5' ry='5' transform='rotate(30 50 50) translate(0 -30)'>
                                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.08333333333333333s' repeatCount='indefinite' />
                            </rect>
                            <rect x='46.5' y='40' width='7' height='20' rx='5' ry='5' transform='rotate(60 50 50) translate(0 -30)'>
                                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.16666666666666666s' repeatCount='indefinite' />
                            </rect>
                            <rect x='46.5' y='40' width='7' height='20' rx='5' ry='5' transform='rotate(90 50 50) translate(0 -30)'>
                                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.25s' repeatCount='indefinite' />
                            </rect>
                            <rect x='46.5' y='40' width='7' height='20' rx='5' ry='5' transform='rotate(120 50 50) translate(0 -30)'>
                                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.3333333333333333s' repeatCount='indefinite' />
                            </rect>
                            <rect x='46.5' y='40' width='7' height='20' rx='5' ry='5' transform='rotate(150 50 50) translate(0 -30)'>
                                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.4166666666666667s' repeatCount='indefinite' />
                            </rect>
                            <rect x='46.5' y='40' width='7' height='20' rx='5' ry='5' transform='rotate(180 50 50) translate(0 -30)'>
                                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.5s' repeatCount='indefinite' />
                            </rect>
                            <rect x='46.5' y='40' width='7' height='20' rx='5' ry='5' transform='rotate(210 50 50) translate(0 -30)'>
                                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.5833333333333334s' repeatCount='indefinite' />
                            </rect>
                            <rect x='46.5' y='40' width='7' height='20' rx='5' ry='5' transform='rotate(240 50 50) translate(0 -30)'>
                                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.6666666666666666s' repeatCount='indefinite' />
                            </rect>
                            <rect x='46.5' y='40' width='7' height='20' rx='5' ry='5' transform='rotate(270 50 50) translate(0 -30)'>
                                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.75s' repeatCount='indefinite' />
                            </rect>
                            <rect x='46.5' y='40' width='7' height='20' rx='5' ry='5' transform='rotate(300 50 50) translate(0 -30)'>
                                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.8333333333333334s' repeatCount='indefinite' />
                            </rect>
                            <rect x='46.5' y='40' width='7' height='20' rx='5' ry='5' transform='rotate(330 50 50) translate(0 -30)'>
                                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.9166666666666666s' repeatCount='indefinite' />
                            </rect>
                        </svg>
                    </div>
                </section>
            </section>
        </div>
    </div>

{% endblock %}
