---
version: 8.0.5
layout: census-website/views/_page
---

{% set content = { 
    "title": 'About the Census',
    "breadcrumbs": {
        "itemsList": [
            {
                "url": '/prototypes/census-website/',
                "text": 'Home'
            },
            {
                "url": '/prototypes/census-website/about-the-census/',
                "text": 'About the census',
                "current": true
            }
        ]
    },
    "contentsList": {
        "itemsList": [
            {
                "text": 'Overview',
                "current": true
            },
            {
                "url": '/prototypes/census-website/what-is-the-census/why-info-important.html',
                "text": 'Why the information we collect is important'
            },
            {
                "url": '/prototypes/census-website/what-is-the-census/who-uses-data.html',
                "text": 'Who uses the data'
            },
            {
                "url": '/prototypes/census-website/what-is-the-census/the-2019-rehearsal.html',
                "text": 'The 2019 Census rehearsal'
            },
            {
                "text": 'Online census',
                "url": '/prototypes/census-website/what-is-the-census/online-census.html'
            }
        ]
    },
    "contentPagination": {
        "contentPaginationItems": [
            {
                "rel": 'next',
                "text": 'Next',
                "url": '/prototypes/census-website/what-is-the-census/why-info-important.html',
                "label": 'Why the information we collect is important'
            }
        ]
    }

} %}
{% block content %}
    <p>The census is a count of all the people and housing in England and Wales, run by the Office for National Statistics. It’s happened every 10 years since 1801, except during World War 2 in 1941. This balances the difficulty of running a census and getting the information we need. </p>    
{% endblock %}
{% block aside %}
    <div style="border-top:5px solid purple;padding:15px 0;">
        <h3>Related content</h3>
        <ul class="list list--bare">
            <li><a href="#">About the census</a></li>
            <li><a href="#">What we ask you</a></li>
            <li><a href="#">Help and support</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
    </div>
{% endblock %}

