---
version: 7.0.0
layout: census-website/views/_master
---

{% from "components/card/_macro.njk" import onsCard %}

{% block page %}
<div class="page__container container {{ containerClasses }}">
        {% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
                                {{ 
                                    onsBreadcrumb({
                                        "ariaLabel": 'Breadcrumb',
                                        "itemsList": [
                                            {
                                                "url": 'index.html',
                                                "text": 'Home'
                                            },
                                            {
                                                "url": '../about-the-census.html',
                                                "text": 'About the census'
                                            },                                            
                                            {
                                                "url": '',
                                                "text": 'What is the census?',
                                                "current": true                                                

                                            }
                                        ]
                                    }) 
                                }}
                                <div class="grid">
                <div class="grid__col col-7@m">
                    <main id="main-content" class=" {{ pageClasses }}">
                                <h1 class="u-mb-l u-fs-l">What is the census?</h1>
                                <div class="u-mb-xs" style="font-weight:bold;">Contents</div>
                                <ul class="list list--bare">
                                    <li>— <a href="../what-is-the-census">What is the census?</a></li>
                                    <li>— Why we need a census</li>
                                    <li>— <a href="#">What the census is for</a></li>
                                    <li>— <a href="#">How your information is used</a></li>
                                </ul>
                                <div class="u-mt-l">
                                     <hr class="footer__hr" style="margin-bottom: 0;">
                                </div>
                                </div>
                                </main>

                        <div class="grid__col col-7@m u-mt-s">
                    <main id="main-content" class=" {{ pageClasses }}">
                        <h2>Why we need a census</h1>
                        <p>The census is how we count people and find out how they live. The information we collect helps to build a picture of our society.</p>
                        <h3>What the numbers tell us</h3>
                        <p>The numbers show how people live and where there is a need for:</p> 
                        <ul>
                            <li>roads and homes</li>
                            <li>bus routes and transport links</li>
                            <li>investment in jobs</li>
                            <li>language classes</li>
                            <li>hospital beds and doctors’ surgeries</li>
                            <li>centres for the elderly</li>
                            <li>children's services</li>
                            <li>school and nursery places</li>
                            <li>help for single parents</li>
                            <li>support for community groups</li>
                        </ul>
                        <p>It also helps to show whether everyone is being treated fairly and has equal access to help and services.</p>

                    </main>
                </div>
                <div class="grid__col col-4@m push-1@m">
                    <div style="border-top:5px solid purple;padding:15px 0;">
                        <h3>Related content</h3>
                            <ul class="list list--bare">
                                <li><a href="#">About the census</a></li>
                                <li><a href="#">What we ask you</a></li>
                                <li><a href="#">Help and support</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        <div class="u-mb-m">
                            <hr class="footer__hr">
                        </div>
                        <div class="card card-cta">
                            <h3 class="u-fs-m u-mb-xs">
                                Ready to take part?
                            </h3>
                            <a href="#" style="font-size:2.2em; font-weight:bold;line-height: 1.3em;color:white;text-decoration:underline;cursor:pointer;">Start your census survey</a>
                        </div>
                    </div>
                </div>
        </div>
</div>
{% endblock %}
