---
version: 8.0.5
layout: census-website/views/_page
---

{% set content = { 
    "title": 'About the Census',
    "sectionTitle": 'Why the information we collect is important',
    "breadcrumbs": {
        "itemsList": [
            {
                "url": '/prototypes/census-website/',
                "text": 'Home'
            },
            {
                "url": '/prototypes/census-website/about-the-census/',
                "text": 'About the census'
            },                                            
            {
                "url": '',
                "text": 'Why the information we collect is important',
                "current": true                                            
            }
        ]
    },
    "contentsList": {
        "itemsList": [
            {
                "url": '/prototypes/census-website/what-is-the-census/',
                "text": 'Overview'
            },
            {
                "text": 'Why the information we collect is important',
                "current": true
            },
            {
                "url": '/prototypes/census-website/what-is-the-census/who-uses-data.html',
                "text": 'Who uses the data'
            },
            {
                "url": '/prototypes/census-website/what-is-the-census/the-2019-rehearsal.html',
                "text": 'The 2019 Census rehearsal'
            },
            {
                "text": 'Online census',
                "url": '/prototypes/census-website/what-is-the-census/online-census.html'
            }
        ]
    },
    "contentPagination": {
        "contentPaginationItems": [
            {
                "rel": 'previous',
                "text": 'Previous',
                "url": '/prototypes/census-website/what-is-the-census/',
                "label": 'Overview'
            },
            {
                "rel": 'next',
                "text": 'Next',
                "url": '/prototypes/census-website/what-is-the-census/who-uses-data.html',
                "label": 'Who uses the data'
            }
        ]
    }
} %}
{% block content %}
    <p>The information and data we get from the census helps the government spend public money. It does this by:</p>
    <ul>
        <li>giving us detailed information we can't get from anywhere else</li>
        <li>including everyone in the country at the same time</li>
        <li>showing if people are being treated fairly and have the same access to help and services</li>
        <li>showing where we need things like hospital beds, doctors’ surgeries, schools, new roads and investment in jobs</li>
    </ul>
{% endblock %}
