---
title: Completing your census online
group: Census
version: 31.4.13
layout: census-website-respond/views/_master
---

{% set pageId = 'help' %}

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{- onsBreadcrumb({
                "ariaLabel": 'Breadcrumb',
                "itemsList": [
                    {
                        "url": 'https://census-website-respond.netlify.app/end-to-end/home/',
                        "text": 'Home'
                    },
                    {
                        "url": pageInfo.rootPath + '/help',
                        "text": 'Help with the census'
                    },
                    {
                        "url": pageInfo.rootPath + '/help/getting-started',
                        "text": 'Getting started'
                    }
                ]
            }) }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l">
                            <span class="u-fs-m u-db u-mb-xs u-lighter">Getting started</span>
                            <span class="u-vh">: </span>
                            <span class="u-fs-xxl u-db">Completing your census online</span>
                        </h1>

                        {{-
                            onsTableOfContents({
                                "title": 'Contents',
                                "ariaLabel": 'Pages in this guide',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/help/getting-started',
                                        "text": 'Overview'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/help/getting-started/completing-your-census-online',
                                        "text": 'Completing your census online',
                                        "current": true
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/help/getting-started/completing-your-census-on-paper',
                                        "text": 'Completing your census on paper'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/help/getting-started/completing-the-census-for-someone-else',
                                        "text": 'Completing the census for someone else'
                                    }
                                ]
                            })
                        }}

                        <div class="page__body">

                            <p>Use your access code to open an online census form.</p>

                            {{
                                onsPanel({
                                    "classes": 'u-mt-m u-mb-l',
                                    "body": 'It’s important to keep your access code safe to protect your personal information.'
                                })
                            }}

                            {{
                                onsButton({
                                    "type": 'button',
                                    "text": 'Start census',
                                    "classes": 'u-mb-m',
                                    "url": '#0'
                                })
                            }}

                            <p>You don’t have to fill in the form all at once. You can save your progress at any time by selecting “save and sign out”. Don’t forget to select “submit” when you’re finished.</p>

                            <p>If you lose your access code, you can <a href="{{pageInfo.path}}/help/get-an-access-code-or-paper-census">request a new code</a> to fill in your online form.</p>

                            {{
                                onsPanel({
                                    "classes": 'u-mt-m u-mb-m',
                                    "body": 'If you lose your access code, you’ll need to start again with a new code. You won’t see any answers you entered using your original code.'
                                })
                            }}

                            {% call onsCollapsible({
                                "id": 'collapsible-1',
                                "classes": 'u-mb-m',
                                "title": 'Help to get online',
                                "button": {
                                    "close": 'Hide this'
                                }
                            }) %}

                                <p>If you need support to get online, you can go to one of the <a href="{{pageInfo.rootPath}}/help/find-a-census-support-centre">Census Support Centres</a>.</p>

                                <p>You can also ask someone you trust to help you, for example a family member or friend.</p>

                                <p>If you prefer not to do the census online, <a href="https://census-website-respond.netlify.app/end-to-end/uac-request-address/?previous={{pageInfo.rootPath}}">you can request a paper form</a>.</p>

                            {% endcall %}

                            <h2>Devices you can use</h2>

                            <p>You can use any smartphone, tablet, laptop or desktop computer to fill in your online form. You can start it on one device and finish it on another, as long as you use the same access code.</p>

                            <h2>You can use a public computer</h2>

                            <p>Make sure you protect your access code to keep your information safe.</p>

                            <p>You should:</p>

                            {{
                                onsList({
                                    "itemsList": [
                                        {
                                            "text": 'treat your access code the same way you would a password'
                                        },
                                        {
                                            "text": 'make sure you select “save and sign out” if you haven’t finished, or select “submit” if you’re all done'
                                        },
                                        {
                                            "text": 'not leave behind anything which has your access code details on'
                                        }
                                    ]
                                })
                            }}

                            <h2>When you’ve finished</h2>

                            <p>Check to make sure you’ve completed each section before you submit the form.</p>

                            <p>You won’t be able to view your information after selecting submit.</p>

                            <div class="u-mt-xl">
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                        {
                                            "rel": 'prev',
                                            "text": 'Previous',
                                            "url": pageInfo.rootPath + '/help/getting-started',
                                            "label": 'Overview'
                                        }
                                        ]
                                    })
                                }}
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                        {
                                            "rel": 'next',
                                            "text": 'Next',
                                            "url": pageInfo.rootPath + '/help/getting-started/completing-your-census-on-paper',
                                            "label": 'Completing your census on paper'
                                        }
                                        ]
                                    })
                                }}
                            </div>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{- onsRelatedLinks({
                        "id": 'related-links',
                        "title": 'Related content',
                        "itemsList": [
                            {
                                "url": pageInfo.rootPath + '/help/get-an-access-code-or-paper-census/',
                                "text": 'Get an access code or paper census'
                            },
                            {
                                "url": pageInfo.rootPath + '/help/find-a-census-support-centre',
                                "text": 'Find a census support centre'
                            },
                            {
                                "url": pageInfo.rootPath + '/help/contact-us',
                                "text": 'Contact us'
                            }
                        ]
                    }) }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
