---
version: 29.1.3
layout: census-website-respond/views/_master
---

{% set pageId = 'help' %}

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{- onsBreadcrumb({
                "ariaLabel": 'Breadcrumb',
                "itemsList": [
                    {
                        "url": 'https://census-website-respond.netlify.app/end-to-end/home/',
                        "text": 'Home'
                    },
                    {
                        "url": pageInfo.rootPath + '/help',
                        "text": 'Help with the census'
                    },
                    {
                        "url": pageInfo.rootPath + '/help/getting-started',
                        "text": 'Getting started'
                    }
                ]
            }) }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l u-fs-xxl">I need someone to complete the census on my behalf</h1>

                        <div class="page__body">

                            <p>Someone you trust, like a family member or friend, can complete your census for you if you can't complete the form yourself.</p>

                            <p>They will need your paper form, or the access code from the letter we sent you. This code will open your online form.</p>

                            <p>If possible, make sure they read the questions and answer options out to you and read the answers back to you at the end.</p>

                            <p>You or the person helping you, can <a href="{{pageInfo.rootPath}}/help/languages-and-accessibility/accessible-formats">download or order accessible formats</a>, such as Braille, British Sign Language (BSL) and easy read.</p>

                            <p>If you've asked for help completing a paper form, you or the person helping you could also <a href="{{pageInfo.rootPath}}/help/languages-and-accessibility/language-support">download a translation guidance booklet</a> in one of 49 languages.</p>

                            <p>Or you can <a href="{{pageInfo.rootPath}}/contact-us">contact us</a> and we can talk you through your other options for filling in the census.</p>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{- onsRelatedLinks({
                        "id": 'related-links',
                        "title": 'Related content',
                        "itemsList": [
                            {
                                "url": pageInfo.rootPath + '/help/get-an-access-code-or-paper-census/',
                                "text": 'Get a new access code or paper form'
                            },
                            {
                                "url": pageInfo.rootPath + '/help/find-a-census-support-centre',
                                "text": 'Find a census support centre'
                            },
                            {
                                "url": pageInfo.rootPath + '/help/contact-us',
                                "text": 'Contact us'
                            }
                        ]
                    }) }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
