---
group: Frontstage
title: Change business details
version: 32.0.1
layout: change-business-details/scenario-1/views/_master-survey
---

{% from "components/header/_macro.njk" import onsHeader %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}


{% block main %}

    <div class="grid">
        <div class="grid__col col-7@m">
            <h2 class="u-fs-l">You are completing this for <span>ACME Consumer Products</span></h2>
            <p class="u-fs-r" data-qa="details-changed-title">
                    If the business details or structure have changed contact us on <a href="tel:03001234931">0300 1234 931</a> or email <a href="mailto:surveys@ons.gov.uk?subject=Change%20of%20details%20reference%2011110000001H"  aria-describedby="details-changed-title">surveys@ons.gov.uk</a>
            </p>
            <div id="use-of-information" class="u-mb-s">
                <ul>
                    <li>Data should relate to all sites in England, Scotland, Wales and Northern Ireland unless otherwise stated.</li>
                    <li>You can provide informed estimates if actual figures aren’t available.</li>
                    <li>We will treat your data securely and confidentially.</li>
                </ul>
            </div>
            <h3 class="u-fs-m" data-qa="legal-response">Your response is legally required</h3>
            <p class="u-fs-r u-mb-m" data-qa="legal-basis">Notice is given under section 1 of the Statistics of Trade Act 1947.</p>
            <p class="field">
            {{ 
                onsButton({
                    "text": 'Start survey'
                }) 
            }}
            </p>
            <h3 class="u-fs-m u-mt-l">Information you need</h3>
            <div class="collapsible__introduction">
                <p class="u-fs-r qa-intro-description" data-qa="intro-preview-description">
                        You can select the dates of the period you are reporting for, if the given dates are not appropriate.
                    </p>
            </div>
            {% from "components/accordion/_macro.njk" import onsAccordion %}
                {{
                    onsAccordion({
                        "id": "accordion",
                        "allButton": {
                            "open": "Show all",
                            "close": "Hide all"
                        },
                        "itemsList": [
                            {
                                "title": "Total retail turnover",
                                "titleTag": "h2",
                                "content": "<h3 class=\"u-fs-r\">Include:</h3><ul class=\"list\"><li class=\"list__item\">VAT</li><li class=\"list__item\">internet sales</li><li class=\"list__item\">retail sales from outlets in Great Britain to <a href=\"#\">customers abroad</a></li></ul><h3 class=\"u-fs-r\">Exclude:</h3><ul class=\"list\"><li class=\"list__item\">revenue from mobile phone network commission and top-up</li><li class=\"list__item\">sales from catering facilities used by customers</li><li class=\"list__item\">lottery sales and commission from lottery sales</li><li class=\"list__item\">sales of car accessories and motor vehicles</li><li class=\"list__item\">NHS receipts</li><li class=\"list__item\">automotive fuel</li></ul>",
                                "button": {
                                    "open": "Show",
                                    "close": "Hide"
                                }
                            },
                            {
                                "title": "Food sales",
                                "titleTag": "h2",
                                "content": "<h3 class=\"u-fs-r\">Include:</h3><ul class=\"list\"><li class=\"list__item\">all fresh food</li><li class=\"list__item\">other food for human consumption (except chocolate and sugar confectionery)</li><li class=\"list__item\">soft drinks</li></ul><h3 class=\"u-fs-r\">Exclude:</h3><ul class=\"list\"><li class=\"list__item\">sales from catering facilities used by customers</li></ul>",
                                "button": {
                                    "open": "Show",
                                    "close": "Hide"
                                }
                            },
                            {
                                "title": "Alcohol, confectionery, soft drinks and tobacco sales",
                                "titleTag": "h2",
                                "content": "<h3 class=\"u-fs-r\">Include:</h3><ul class=\"list\"><li class=\"list__item\">chocolate and sugar confectionery</li><li class=\"list__item\">tobacco and smokers’ requisites</li></ul>",
                                "button": {
                                    "open": "Show",
                                    "close": "Hide"
                                }
                            }
                        ]
                    })
                }}
            <div id="how-we-use-your-data" class="u-mb-s">
                <h3 class="u-fs-m">How we use your data</h3>
                <ul>
                    <li>You cannot appeal your selection. Your business was selected to give us a comprehensive view of the UK economy.</li>
                    <li>The information you provide contributes to <a rel='noopener noreferrer' target='_blank' href='https://www.ons.gov.uk/economy/grossdomesticproductgdp'>Gross Domestic Product (GDP).</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
