---
title: Working on the census
group: Census
version: 31.3.0
layout: census-website-respond/views/_nisra-master
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": pageInfo.rootPath + '/ni/home',
                            "text": 'Home'
                        }
                    ]
                })
            }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l u-fs-xxl">Working on the census</h1>

                        <div class="page__body">
                        
                            <h2>Opportunities to work on the census</h2>
                            
                            <p>NISRA is moving into the second and most important phase of its recruitment campaign for Census 2021. In total, a field force in excess of 1800 temporary field staff will be required to help with census operations throughout Northern Ireland.</p>
                            
                            <p>This includes staff at Area Manager, Team Co-ordinator and Enumerator grades.  Twelve Area Managers have already been appointed and will take up post on 5 October, and a competition to recruit 174 Team Co-ordinators and 1676 Enumerators is now getting underway.</p>
                            
                            <p>[image]</p>

                            <p>If you are a people person, have great customer service skills and want to be part of something that affects all of us, then take a look to see how you can get involved.</p>

                            <p>Census Team Co-ordinator and Enumerator roles will be advertised from 5 October with a closing date for applications of Friday 23 October.</p>

                            <p>[image]</p>

                            <h2>How to apply</h2>

                            <p>Full details of both roles, including how to apply, can be found on the <a href="https://irecruit-ext.hrconnect.nigov.net" target="_blank" rel="external">NICS recruitment website</a> from Monday 5 October onwards.</p>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/ni/contact-us',
                                    "text": 'Contact us'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
