---
title: Campaign Website
group: Census
version: 13.4.4
layout: census-website/views/_master
---

{% from "components/card/_macro.njk" import onsCard %}

{% block page %}
<div class="page__container container {{ containerClasses }}">
                        <div class="col-7@m">
                            {% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
                                {{ 
                                    onsBreadcrumb({
                                        "ariaLabel": 'Breadcrumb',
                                        "itemsList": [
                                            {
                                                "url": '/prototypes/census-website/index.html',
                                                "text": 'Home'
                                            },
                                            {
                                                "url": '/prototypes/census-website/help/',
                                                "text": 'Help with your census'
                                            },                                            
                                            {
                                                "url": '/prototypes/census-website/help/index.html',
                                                "text": 'Help with the questions'
                                            },
                                            {
                                                "url": '/prototypes/census-website/help/help-guidance/paper-help/index.html',
                                                "text": 'Help with your paper census questions'
                                            },
                                            {
                                                "url": '',
                                                "text": '13. Can you understand, speak, read or write Welsh?',
                                                "current": true
                                            }
                                        ]
                                    }) 
                                }}
                                </div>
                <div class="grid">
                    <div class="grid__col col-7@m">
                        <main id="main-content" class=" {{ pageClasses }}">
                                    <h1 class="u-mb-m">13. Can you understand, speak, read or write Welsh?</h1>
                                    {% from "components/details/_macro.njk" import onsDetails %}

                                    {{
                                        onsDetails({
                                            "id": "details",
                                            "title": "Why we ask this question",
                                            "classes": "u-mb-s",
                                            "content": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur snint occaecat cupidatat</p>
                                            <p> non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occat in culpa qui officia deserunt mollit anim id est laborum.</p>
</p>",
                                            "button": {
                                                "close": "Hide this"
                                            }
                                        })
                                    }}
                                    {% from "components/panel/_macro.njk" import onsPanel %}
                                    {{ 
                                        onsPanel({
                                            "body": "<p>This question only applies to people living in Wales.</p>",
                                            "classes": "u-mb-s"
                                        }) 
                                    }}
                                              
                                    <p>It’s up to you to decide whether you’re able to understand spoken Welsh, or you can speak, read or write Welsh. Choose all the options you believe to be right for you. If you can’t do any of these things, select <strong>“None of the above”</strong>.</p> 

                                    <h3>For children and babies</h3>
                                    <p>If a child is aged two years or under, you don’t need to answer this question for them.For those aged three years and above, only choose the option that show what they’re able to do <strong>now</strong>.</p>
                                    
                        </main>
                </div>
                <!--Right Sidbar-->
                <div class="grid__col col-4@m push-1@m">
                    <div style="border-top:5px solid purple;padding:15px 0;">
                        <h3>Related content</h3>
                        <ul class="list list--bare">
                            <li><a href="#">About the census</a></li>
                            <li><a href="#">Help and support</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div> <!--Right Sidbar end-->
        </div>
</div>
{% endblock %}
