---
title: Campaign Website
group: Census
version: 13.4.4
layout: census-website/views/_master
---

{% from "components/card/_macro.njk" import onsCard %}

{% block page %}
<div class="page__container container {{ containerClasses }}">
                        <div class="col-7@m">
                            {% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
                                {{ 
                                    onsBreadcrumb({
                                        "ariaLabel": 'Breadcrumb',
                                        "itemsList": [
                                            {
                                                "url": '/prototypes/census-website/index.html',
                                                "text": 'Home'
                                            },
                                            {
                                                "url": '/prototypes/census-website/help/',
                                                "text": 'Help with your census'
                                            },                                            
                                            {
                                                "url": '/prototypes/census-website/help/index.html',
                                                "text": 'Help with the questions'
                                            },
                                            {
                                                "url": '/prototypes/census-website/help/help-guidance/paper-help/index.html',
                                                "text": 'Help with your paper census questions'
                                            },
                                            {
                                                "url": '',
                                                "text": '17 - What is your ethnic group?',
                                                "current": true
                                            }
                                        ]
                                    }) 
                                }}
                                </div>
                <div class="grid">
                    <div class="grid__col col-7@m">
                        <main id="main-content" class=" {{ pageClasses }}">
                                    <h1 class="u-mb-m">17 - What is your ethnic group?</h1>
                                    {#<div class="u-mb-m">
                                    {% from "components/panel/_macro.njk" import onsPanel %}
                                        {{ 
                                            onsPanel({
                                                body: "<p>If you’re not sure how to describe your accommodation, answer as best you can.</p>"
                                            }) 
                                        }}
                                        </div>#}
                                    {% from "components/details/_macro.njk" import onsDetails %}

                                    {{
                                        onsDetails({
                                            "id": "details",
                                            "title": "Why we ask this question",
                                            "classes": "u-mb-m",
                                            "content": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur snint occaecat cupidatat</p>
                                            <p> non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occat in culpa qui officia deserunt mollit anim id est laborum.</p>
</p>",
                                            "button": {
                                                "close": "Hide this"
                                            }
                                        })
                                    }}
                                              
                                    <p>It’s up to you how you answer this question. Your ethnic group could be your cultural or family background. First, choose the group that best describes you:</p> 

                                    <ul class="list">
                                        <li>White</li>
                                        <li>Mixed or Multiple ethnic groups</li>
                                        <li>Asian or Asian British</li>
                                        <li>Black, Black British, Caribbean or African</li>
                                        <li>Other ethnic group</li>
                                    </ul>

                                    <p>Then choose one option within that group.</p>
                                    <h2>If your ethnic group isn’t listed</h2>
                                    <p>If there isn't an option that describes your ethnic group, choose the “Any other ethnic group” option and enter your ethnic group in the space provided.</p>
                                    
                                    <hr class="footer__hr u-mb-s u-mt-s" style="margin-bottom: 0;">
                                    <h3>See repeating information for:</h3>
                                    <ul class="list list--bare">
                                        <li>- <a href="">Don’t want to share a form with your household?</a></li>
                                        <li>- <a href="">Confidentiality</a></li>
                                        <li>- <a href="">Answering for someone else</a></li>
                                        <li>- <a href="">Completing online (add in ‘ethnic group’)</a></li>
                                        <li>- <a href="">Completing on paper</a></li>
                                    </ul>
                        </main>
                </div>
                <!--Right Sidbar-->
                <div class="grid__col col-4@m push-1@m">
                    <div style="border-top:5px solid purple;padding:15px 0;">
                        <h3>Related content</h3>
                        <ul class="list list--bare">
                            <li><a href="#">About the census</a></li>
                            <li><a href="#">Help and support</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div> <!--Right Sidbar end-->
        </div>
</div>
{% endblock %}
