---
version: 13.4.4
layout: census-website/views/_page
---

{% set content = { 
    "title": 'Paper census question help',
    "breadcrumbs": {
        "itemsList": [
            {
                "url": '#',
                "text": 'Home'
            },
            {
                "url": '#',
                "text": 'Help with your census'
            }, 
            {
                "url": '/prototypes/census-website/help/help-guidance/index.html',
                "text": 'Help with the census questions'
            }, 
            {
                "url": '',
                "text": 'Paper census question help',
                "current": true
            }
        ]
    },
    "topPanel": {
        "body": 'If you are completing the census online please use the <a href="/prototypes/census-website/help/help-guidance/online-help/index.html">online census guidance</a>.'
    },
    "contentsList": {
        "ariaLabel": 'Links to page sections',
        "lists": [
            {
                "listHeading": 'Household questions',
                "itemsList": [
                    {
                        "url": '#household1',
                        "text": 'Household and who lives here'
                    },
                    {
                        "url": '#household2',
                        "text": 'Housing'
                    }
                ]
            },
            {
                "listHeading": 'Individual questions',
                "itemsList": [  
                    {
                        "url": '#individual1',
                        "text": 'Name, date of birth and marital status'
                    },
                    {
                        "url": '#individual2',
                        "text": 'Language, religion and ethnicity'
                    },
                    {
                        "url": '#individual3',
                        "text": 'Address, health and sexual orientation'
                    },
                    {
                        "url": '#individual4',
                        "text": 'Education and employment'
                    }
                ]    
            } 
        ]
    }
} %}
{% block content %}
    <h2>Household questions</h2>
    <h3 class="u-mt-m" id="household1">Household and who lives there</h3>
    {{ 
        onsList({
            "element": 'ol',
            "classes": 'list--prefix list--spacious',
            "itemsList": [
                {
                    "url": '#',
                    "text": 'Who usually lives here?',
                    "prefix": 'H1'
                },
                {
                    "url": '#',
                    "text": 'Counting everyone you included in question H1, how many people usually live here?',
                    "prefix": 'H2'
                },
                {
                    "url": '#',
                    "text": 'Starting with yourself, list the names of all the people counted in question H2 including children, babies and lodgers',
                    "prefix": 'H3'
                },
                {
                    "url": '#',
                    "text": 'Apart from everyone counted in question H2, who else is staying overnight here on 13 October 2019? These people are counted as visitors. Remember to include children and babies',
                    "prefix": 'H4'
                },
                {
                    "url": '#',
                    "text": 'Counting only the people included in question H4, how many visitors are staying overnight here on 13 October 2019?',
                    "prefix": 'H5'
                },
                {
                    "url": '#',
                    "text": 'How many members of this household related to each other?',
                    "prefix": 'H6'
                }
            ]
        }) 
    }}
    <h3 class="u-mt-l" id="household2">Accommodation</h3>
    {{ 
        onsList({
            "element": 'ol',
            "classes": 'list--prefix list--spacious',
            "itemsList": [
                {
                    "url": '#',
                    "text": 'What type of accommodation is this?',
                    "prefix": 'H7'
                },
                {
                    "url": '#',
                    "text": 'Are all the rooms in this accommodation, including the kitchen, bathroom and toilet, behind a door that only this household can use?',
                    "prefix": 'H8'
                },
                {
                    "url": '#',
                    "text": 'How many bedrooms are available for use only by this household?',
                    "prefix": 'H9'
                },
                {
                    "url": '#',
                    "text": 'What type of central heating does this accommodation have?',
                    "prefix": 'H10'
                },
                {
                    "url": '#',
                    "text": 'If there is no one living here',
                    "prefix": 'H11'
                },
                {
                    "url": '#',
                    "text": 'Does your household own or rent this accommodation?',
                    "prefix": 'H12'
                },
                {
                    "url": '#',
                    "text": 'Who is your landlord?',
                    "prefix": 'H13'
                },
                {
                    "url": '#',
                    "text": 'In total, how many cars or vans are owned, or available for use, by members of this household?',
                    "prefix": 'H14'
                }
            ]
        })
    }}

    <h2 class="u-mt-xl">Individual questions</h2>
    <h3 class="u-mt-m" id="individual1">Name, date of birth and marital status</h3>
    {{ 
        onsList({
            "element": 'ol',
            "classes": 'list--prefix list--spacious',
            "itemsList": [
                {
                    "url": '#',
                    "text": 'Thinking about the people listed in question H3, are you Person 1?',
                    "prefix": 'P'
                },
                {
                    "url": '#',
                    "text": 'What is your name?',
                    "prefix": '1'
                },
                {
                    "url": '#',
                    "text": 'What is your date of birth?',
                    "prefix": '2'
                },
                {
                    "url": '3-what-is-your-sex.html',
                    "text": 'What is your sex?',
                    "prefix": '3'
                },
                {
                    "url": '#',
                    "text": 'On 13 October 2019, what is your legal marital or registered civil partnership status?',
                    "prefix": '4'
                },
                {
                    "url": '#',
                    "text": 'Who is (was) your legal marriage or registered civil partnership to?',
                    "prefix": '5'
                },
                {
                    "url": '#',
                    "text": 'Do you stay at another address for more than 30 days a year?',
                    "prefix": '6'
                },
                {
                    "url": '#',
                    "text": 'What is that address?',
                    "prefix": '7'
                },
                {
                    "url": '#',
                    "text": 'Are you a schoolchild or student in full-time education?',
                    "prefix": '8'
                },
                {
                    "url": '#',
                    "text": 'During term time, where do you usually live?',
                    "prefix": '9'
                },
                {
                    "url": '#',
                    "text": 'What is your country of birth?',
                    "prefix": '10'
                }
            ]
        }) 
    }}
    <h3 class="u-mt-m" id="individual2">Language, religion and ethnicity </h3>
    {{ 
        onsList({
            "element": 'ol',
            "classes": 'list--prefix list--spacious',
            "itemsList": [
                {
                    "url": '#',
                    "text": 'If you were born in the United Kingdom, when did you most recently arrive to live here?',
                    "prefix": '11'
                },
                {
                    "url": '#',
                    "text": 'Including the time you have already spent here, how long do you intend to stay in the United Kingdom?',
                    "prefix": '12'
                },
                {
                    "url": '13-speak-welsh.html',
                    "text": 'Can you understand, speak, red or write Welsh?',
                    "prefix": '13'
                },
                {
                    "url": '#',
                    "text": 'What is your main language?',
                    "prefix": '14'
                },
                {
                    "url": '#',
                    "text": 'How well can you speak English?',
                    "prefix": '15'
                },
                {
                    "url": '#',
                    "text": 'How would you describe your national identity',
                    "prefix": '16'
                },
                {
                    "url": '17-What-is-your-ethnic-group.html',
                    "text": 'What is your ethnic group?',
                    "prefix": '17'
                },
                {
                    "url": '#',
                    "text": 'What is your religion?',
                    "prefix": '18'
                },
                {
                    "url": '#',
                    "text": 'One year ago, what was your usual address?',
                    "prefix": '19'
                },
                {
                    "url": '#',
                    "text": 'What passports do you hold?',
                    "prefix": '20'
                }
            ]
        }) 
    }}
    <h3 class="u-mt-m" id="individual3">Address, health and sexual orientation</h3>
    {{ 
        onsList({
            "element": 'ol',
            "classes": 'list--prefix list--spacious',
            "itemsList": [
                {
                    "url": '#',
                    "text": 'How is your health in general?',
                    "prefix": '21'
                },
                {
                    "url": '#',
                    "text": 'Do you have any physical or mental health conditions or illnesses lasting or epected to last 12 months or more?',
                    "prefix": '22'
                },
                {
                    "url": '#',
                    "text": 'Do you look after, or give an help or support to, anyone because they have long-term physical or mental health conditions or illnesses, or problems related to old age?',
                    "prefix": '23'
                },
                {
                    "url": '#',
                    "text": 'Do any of your conditions or illnesses reduce your ability to carry out day-to-day activities?',
                    "prefix": '24'
                },
                {
                    "url": '#',
                    "text": 'BLANK',
                    "prefix": '25'
                },
                {
                    "url": '26-sexual-orientation.html',
                    "text": 'Which of the following best describes your sexual orientation?',
                    "prefix": '26'
                },
                {
                    "url": '27-gender-registered.html',
                    "text": 'Is your gender the same as the sex you were registered at birth?',
                    "prefix": '27'
                }
            ]
        }) 
    }}
    <h3 class="u-mt-m" id="individual4">Education and employment</h3>
    {{ 
        onsList({
            "element": 'ol',
            "classes": 'list--prefix list--spacious',
            "itemsList": [
                {
                    "url": '#',
                    "text": 'BLANK',
                    "prefix": '28'
                },
                {
                    "url": '#',
                    "text": 'Have you completed an apprenticeship?',
                    "prefix": '29'
                },
                {
                    "url": '#',
                    "text": 'Have you achieved a qualification at degree level or above?',
                    "prefix": '30'
                },
                {
                    "url": '#',
                    "text": 'Have you achieved any other qualifications?',
                    "prefix": '31'
                },
                {
                    "url": '#',
                    "text": 'Have you previously served in the UK Armed Forces',
                    "prefix": '32'
                },
                {
                    "url": '#',
                    "text": 'In the last seven days, were you doing any of the following?',
                    "prefix": '33'
                },
                {
                    "url": '#',
                    "text": 'Which of the following describes what youe were doing in the last seven days?',
                    "prefix": '34'
                },
                {
                    "url": '#',
                    "text": 'In the last four weeks, were you actively looking for any kind of paid work?',
                    "prefix": '35'
                },
                {
                    "url": '#',
                    "text": 'If a job became available now, could you start it within two weeks?',
                    "prefix": '36'
                },
                {
                    "url": '#',
                    "text": 'In the last seven days, were you waiting to start a job already accepted?',
                    "prefix": '37'
                },
                {
                    "url": '#',
                    "text": 'Have you ever done any paid work?',
                    "prefix": '38'
                },
                {
                    "url": '#',
                    "text": 'Answer the remaining questions for your main job or, if not working, your last main job',
                    "prefix": '39'
                },
                {
                    "url": '#',
                    "text": 'In your main job, what is (was) your employment status?',
                    "prefix": '40'
                }         
            ]
        }) 
    }}


{% endblock %}
