---
title: Local authorities
group: Census
version: 19.3.0
layout: census-website-engage/views/_master
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": pageInfo.rootPath + '/home',
                            "text": 'Home'
                        },
                        {
                            "url": pageInfo.rootPath + '/our-partners',
                            "text": 'Our partners'
                        }
                    ]
                })
            }}

            <div class="grid u-mt-s@m">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l">
                            <span class="u-fs-m u-db u-mb-xs u-lighter">Local authorities</span>
                            <span class="u-vh">: </span>
                            <span class="u-fs-xxl u-db">Overview</span>
                        </h1>

                        {{-
                            onsTableOfContents({
                                "title": 'Contents',
                                "ariaLabel": 'Pages in this guide',
                                "itemsList": [
                                    {
                                        "text": 'Overview',
                                        "current": true
                                    },
                                    {
                                        "url": '#0',
                                        "text": 'How you can prepare for 2021'
                                    },
                                    {
                                        "url": '#0',
                                        "text": 'What you can do now'
                                    },
                                    {
                                        "url": '#0',
                                        "text": 'What you can do closer to the census'
                                    },
                                    {
                                        "url": '#0',
                                        "text": 'Where you can get materials to help promote the census'
                                    },
                                    {
                                        "url": '#0',
                                        "text": 'Who you can contact at ONS for support'
                                    }
                                ]
                            })
                        }}

                        <div class="page__body">
                            
                            <p>Just as census statistics may well be vital to you, your support is vital to us. By working together, we can make sure Census 2021 gets a great response and represents everyone.</p>

                            <p><a href="mailto:2021Census.LA.Liaison@ons.gov.uk">Please email our Local Authority Partnerships team</a>.</p>

                            <div class="u-mt-xl">
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                        {
                                            "rel": 'next',
                                            "text": 'Next',
                                            "url": '#',
                                            "label": 'How you can prepare for 2021'
                                        }
                                        ]
                                    })
                                }}
                            </div>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/our-partners/community-groups',
                                    "text": 'Community groups'
                                },
                                {
                                    "url": pageInfo.rootPath + '/our-partners/resources-for-partners',
                                    "text": 'Download resources'
                                },
                                {
                                    "url": pageInfo.rootPath + '/contact-us',
                                    "text": 'Contact us'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
