---
version: 13.6.9
layout: rh-fulfilments/views/_master
---

{% from 'components/question/_macro.njk' import onsQuestion %}
{% from 'components/button/_macro.njk' import onsButton %}
{% from 'components/radios/_macro.njk' import onsRadios %}

{% set form =  {
    'method': 'GET',
    'attributes': {
        'action': pageInfo.parentPath + "/code-sent-post/"
    }
} %}

{% set form_options = [
                {
                    'id': 'yes',
                    'label': {
                        'text': 'Yes, the name is correct'
                    },
                    'value': 'yes',
                    "attributes": {
                        "data-action-url": pageInfo.parentPath + "/code-sent-post/"
                    }
                },
                {
                    'id': 'no',
                    'label': {
                        'text': 'No, I need to change it'
                    },
                    'value': 'no',
                    "attributes": {
                        "data-action-url": pageInfo.parentPath + "/enter-name/"
                    }
                }
            ]
%}

{% block main %}

    {% call onsQuestion({
        'title': 'Is this name correct?',
        'description': '<p class="u-fs-r--b js-name-confirm" data-name-input-url="' + pageInfo.parentPath + '/enter-name"></p>'
    }) %}

    {{
        onsRadios({
            'name': 'request-name-confirmation',
            'radios': form_options
        })
    }}

    {% endcall %}

    {{
        onsButton({
            'text': 'Continue',
            'classes': 'u-mt-l'
        })
    }}

{% endblock %}
