---
title: Contact us form
group: Web Form
version: 9.1.0
layout: rh-census/views/_master
---
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/address/_macro.njk" import onsManualAddressInput %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/textarea/_macro.njk" import onsTextarea %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "action": "/prototypes/web-form/web-form-sent.html"
    }
} %}

{% block main %}
    <a class="previous-link js-previous" href="{{ pageInfo.rootPath }}/">Previous</a>
    {% call onsQuestion({
        "title": "Contact us form",
        "description": "",
        "useFieldset": true
    }) %}

    {% from "components/textarea/_macro.njk" import onsTextarea %}
    {{
        onsTextarea({
            "id": "textarea",
            "name": "feedback",
            "label": {
                "text": "How can we help?",
                "description": "For example describe any difficulties you experienced in the use of this service"
            }
        })
    }}

    {% from "components/input/_macro.njk" import onsInput %}
    {{ 
        onsInput({
            "id": "name",
            "label": {
                "text": "Name"
            }
        }) 
    }}

    {% from "components/input/_macro.njk" import onsInput %}
    {{ 
        onsInput({
            "id": "email",
            "type": "email",
            "autocomplete": "email",
            "label": {
                "text": "Email address",
                "description": "We will send our reply to this email address"
            }
        }) 
    }}

    {% endcall %}
    
    {{
        onsButton({
            "text": "Send message",
            "classes": "u-mt-l"
        })
    }}
    
{% endblock %}
