---
group: RAS/RM - ROps
version: 20.0.3
title: Alert banner management
layout: alert-banner-management/views/version-4/_master
---

{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/button/_macro.njk" import onsButton %}

{% block main %}

    <div class="grid">
        <div class="grid__col col-12@m u-pt-no u-pb-no">
            <table>
                <tr>
                    <td>Template:</td>
                    <td>
                        <select name="template" onChange="setTemplate(this);">
                            <option value="0">Admission</option>
                            <option value="1">Registration</option>
                            <option value="2">Speech on 2,3 May</option>
                        </select>
                    </td>
                    <tr>
                        <td>Message: </td>
                        <td>
                            <textarea name="templatemessage" id="templatemessage" rows="5" cols="50"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="submit" id="submit" value="Send SMS" class="button-primary"/></td>
                    </tr>
                </table>
                <script>
                    test0 = "";
                    test1 = "test string 1";
                    test2 = "test string 2";

                    function setTemplate(t) {
                        var otionValue = t.value;
                        if (otionValue == "0") {
                            document
                                .getElementById('templatemessage')
                                .innerHTML = test0;
                        } else if (otionValue == "1") 
                            document
                                .getElementById('templatemessage')
                                .innerHTML = test1;
                        else if (otionValue == "2") 
                            document
                                .getElementById('templatemessage')
                                .innerHTML = test2;
                        };
                </script>
            </div>

        </div>
    </div>

{% endblock %}
