---
group: Feedback
title: EQ feedback proto v2
version: 13.4.6
theme: census
layout: feedback2/views/_success
---
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/panel/_macro.njk" import onsPanel %}


{% block header %}
{{
    onsHeader({
        "title": "Survey title",
        "theme": "census",
        "logoHref": "https://www.ons.gov.uk",
        "titleLogo": "/img/census-logo-en.svg",
        "titleLogoAlt": "Census 2021",
        "titleLogoHref": "/prototypes/feedback/",
        "button": {
            "text": "Save and complete later",
            "url": "#"
        }
        })
}} 
{% endblock %}

{% block page %}
    <div class="page__container container ">
          <div class="grid">
            <div class="grid__col col-8@m">
              <main id="main-content" class="page__main ">
               <a class="previous-link js-previous" href="{{ pageInfo.rootPath }}/sex.html">Previous</a>
                <form class="u-mt-m" action="{{ pageInfo.rootPath }}/religion.html">

                  <h1>Which of the following best describes your sexual orientation?</h1>
                                {{ 
    onsPanel({
        body: "<p>This question is voluntary</p>"
    }) 
}}
<br>
       {{ 
    onsCheckboxes({
        "checkboxesLabel": "Select all that apply",
        "name": "food-other",
        "checkboxes": [
            {
                "id": "Straight or Heterosexual",
                "label": {
                    "text": "Straight or Heterosexual"
                },
                "value": "Straight or Heterosexual"
            },
            {
                "id": "Gay or Lesbian",
                "label": {
                    "text": "Gay or Lesbian"
                },
                "value": "Gay or Lesbian"
            },
             {
                "id": "Bisexual",
                "label": {
                    "text": "Bisexual"
                },
                "value": "Bisexual"
            },
            {
                "id": "Other sexual orientation ",
                "label": {
                    "text": "Other sexual orientation ",
                    "description": "Select to enter answer"
                },
                "value": "other",
                "other": {
                    "id": "other-textbox",
                    "name": "other-answer",
                    "label": {
                        "text": "Enter your sexual orientation"
                    }
                }
            }
        ]
    }) 
}}
   </p>
                  <button type="submit" class="btn u-mt-l">
                    <span class="btn__inner">Save and continue</span>
                  </button>
                </form>
              </main>
            </div>
          </div>
        </div>
                   <a name="feedback"></a>

{% endblock %}
