---
title: What you can do around Census Day
group: Census
version: 24.0.4
layout: census-website-engage/views/_nisra-master
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": pageInfo.rootPath + '/nisra/home',
                            "text": 'Home'
                        },
                        {
                            "url": pageInfo.rootPath + '/nisra/community-groups',
                            "text": 'Community groups'
                        }
                    ]
                })
            }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l">
                            <span class="u-fs-m u-db u-mb-xs u-lighter">Community groups</span>
                            <span class="u-vh">: </span>
                            <span class="u-fs-xxl u-db">Overview</span>
                        </h1>

                        {{-
                            onsTableOfContents({
                                "title": 'Contents',
                                "ariaLabel": 'Pages in this guide',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/nisra/community-groups/',
                                        "text": 'Why your help is vital'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/nisra/community-groups/spread-the-word-before-the-census',
                                        "text": 'Spread the word before the census'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/nisra/community-groups/what-you-can-do-around-census-day',
                                        "text": 'What you can do around Census Day',
                                        "current": true
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/nisra/community-groups/who-to-contact-for-help',
                                        "text": 'Who to contact for help'
                                    }
                                ]
                            })
                        }}

                        <div class="page__body">
                            
                            <p>Around Census Day, on Sunday 21 March 2021, the main priority is to help people fill in their census form. You can do that in a number of ways.</p>

                            <p>You can:</p>

                            <ul>
                                <li>tell people when the census is happening</li>
                                <li>help friends, family and neighbours get the help they need to fill in their census form</li>
                                <li>help someone get onto the internet, so they can fill in the census online</li>
                                <li>direct people who need help getting online to one of our Census Support Centres</li>
                                <li>arrange help for people in your community whose first language is not English</li>
                                <li>direct people to the help in different languages and accessible formats we’ll be making available</li>
                                <li>organise census completion activities</li>
                            </ul>

                            <h2>Census completion activities</h2>

                            <p>A census completion activity is an event or activity set up to encourage and help people fill in their census form while they’re there.</p>

                            <p>The idea is that these activities are run by communities, for communities. This way, it’s likely that people will feel more comfortable filling in the questionnaire. They’ll get support from those they know and trust in a safe and familiar place.</p>

                            <p>These activities could be a chance for people to get help with taking part online or with understanding the questions in their language. Or, they might just like some reassurance that they’re doing it right.</p>

                            <p>You can hold a census completion activity at a time and venue that suits your community. For example, a good opportunity might be at your place of worship or local community centre.</p>

                            <p>All you need is a space for people to gather in and access to their census questionnaire.</p>

                            <p>Anyone in a local community can organise a census completion activity, and your local census engagement manager (CEM) can offer you support if you need it.</p>

                            <p>If you need to find out who your CEM is, <a href="mailto:2021Census.Engagement@ons.gov.uk">email your details to our Community Partnerships team</a> and we’ll put you in touch with them.</p>

                            <div class="u-mt-xl">
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                            {
                                                "rel": 'prev',
                                                "text": 'Previous',
                                                "url": pageInfo.rootPath + '/nisra/community-groups/what-you-can-do-around-census-day',
                                                "label": 'Spread the word before the census'
                                            },
                                            {
                                                "rel": 'next',
                                                "text": 'Next',
                                                "url": pageInfo.rootPath + '/nisra/community-groups/who-to-contact-for-help',
                                                "label": 'Who to contact for help'
                                            }
                                        ]
                                    })
                                }}
                            </div>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/nisra/local-authorities',
                                    "text": 'Local authorities'
                                },
                                {
                                    "url": pageInfo.rootPath + '/nisra/downloadable-resources',
                                    "text": 'Downloadable resources'
                                },
                                {
                                    "url": pageInfo.rootPath + '/nisra/contact-us',
                                    "text": 'Contact us'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
