---
title: Boats, caravans and other mobile homes
group: Census
version: 31.2.0
layout: census-website-respond/views/_master
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{ onsBreadcrumb({
                "ariaLabel": 'Breadcrumb',
                "itemsList": [
                    {
                        "url": 'https://census-website-respond.netlify.app/end-to-end/home',
                        "text": 'Home'
                    },
                    {
                        "url": pageInfo.rootPath + '/help',
                        "text": 'Help with the census'
                    },
                    {
                        "url": pageInfo.rootPath + '/help/types-of-accommodation',
                        "text": 'Types of household or accommodation'
                    }
                ]
            }) }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-fs-xxl u-mb-l">
                            Boats, caravans and other mobile homes
                            <span class="u-vh">: Overview</span>
                        </h1>

                        {{-
                            onsTableOfContents({
                                "title": 'Contents',
                                "ariaLabel": 'Pages in this guide',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/help/types-of-accommodation/boats-caravans-and-other-mobile-homes',
                                        "text": 'Overview',
                                        "current": true
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/help/types-of-accommodation/boats-caravans-and-other-mobile-homes/boats-vans-or-tents-in-a-permanent-location',
                                        "text": 'Boats, vans or tents in a permanent location'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/help/types-of-accommodation/boats-caravans-and-other-mobile-homes/boats-vans-or-other-mobile-households-not-in-a-permanent-location',
                                        "text": 'Boats, vans or other mobile households not in a permanent location'
                                    }
                                ]
                            })
                        }}

                        <div class="page__body">

                            <p>You should fill in your own household form. It doesn’t matter whether your home is in a permanent location or not.</p>

                            <p>If your home is permanently located, for example at a site or marina, you should receive your census form in the post.</p><p>If you’re not in a permanent location, put the address of your location on Census Day.</p>

                            <p>If you haven’t received a census letter or form by Sunday 21 March 2021, please <a href="{{pageInfo.rootPath}}/help/get-an-access-code-or-paper-census">order an access code or paper form</a>.</p>


                            <div class="u-mt-xl">
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                        {
                                            "rel": 'next',
                                            "text": 'Next',
                                            "url": pageInfo.rootPath + '/help/types-of-accommodation/boats-caravans-and-other-mobile-homes/boats-vans-or-tents-in-a-permanent-location',
                                            "label": 'Boats, vans or tents in a permanent location'
                                        }
                                        ]
                                    })
                                }}
                            </div>
                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{ onsRelatedLinks({
                        "id": 'related-links',
                        "title": 'Related content',
                        "itemsList": [
                            {
                                "url": pageInfo.rootPath + '/help/find-a-census-support-centre',
                                "text": 'Find a census support centre'
                            },
                            {
                                "url": 'https://census-website-respond.netlify.app/end-to-end/languages',
                                "text": 'Languages'
                            },
                            {
                                "url": pageInfo.rootPath + '/contact-us',
                                "text": 'Contact us'
                            }
                        ]
                    }) }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
