---
title: How your information is used
group: Census
version: 31.1.0
layout: census-website-respond/views/_nisra-master
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": pageInfo.rootPath + '/ni/home',
                            "text": 'Home'
                        },
                        {
                            "url": pageInfo.rootPath + '/ni/about-the-census',
                            "text": 'About the census'
                        }
                    ]
                })
            }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l">
                            <span class="u-fs-m u-db u-mb-xs u-lighter">About the census</span>
                            <span class="u-vh">: </span>
                            <span class="u-fs-xxl u-db">How your information is used</span>
                        </h1>

                        {{-
                            onsTableOfContents({
                                "title": 'Contents',
                                "ariaLabel": 'Pages in this guide',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/ni/about-the-census',
                                        "text": 'Overview'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/ni/about-the-census/2019-rehearsal',
                                        "text": 'The 2019 Census Rehearsal'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/ni/about-the-census/the-next-census',
                                        "text": 'How your information is used',
                                        "current": true
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/ni/about-the-census/census-coverage-survey-ccs',
                                        "text": 'Census Coverage Survey (CCS)'
                                    }
                                ]
                            })
                        }}

                        <div class="page__body">
                            
                            <p>The next census is planned to take place on 21 March 2021.</p>

                            <h2>Help your area</h2>

                            <p>It is really important you take part. Your information helps build a picture of where you live that’ll be used to decide how vital services are planned and funded.</p> 
                            
                            <p>These include things like schools, doctors’ surgeries, hospitals and libraries. Charities and local services need census data too.</p>
                            
                            <h2>Moving the census online</h2>

                            <p>We’re moving to a ‘digital-first’ census. We want as many people as possible to fill in their questionnaire online in 2021. It is easy to do and can be done on any device with internet connectivity.</p> 
                            
                            <p>Most people will get a letter with a unique access code on it through the post. All you need to do is enter the code into our secure website and fill in the questionnaire.</p> 
                            
                            <p>There’ll be plenty of support available if you have any concerns about filling it in. If you prefer, you can still return a paper form. We will be in contact nearer the time to let you know what you need to do.</p>

                            <h2>Changes for Census 2021</h2>

                            <p>The census gives an accurate picture of our society and the needs of everyone who lives here. If we can make any changes to better meet those needs, we do.</p>

                            <h2>New questions</h2>

                            <p>Census 2021 will have new questions which are more relevant to the society we live in today. For the first time, we will be asking people aged 16 years and over a question on sexual orientation.</p>
                            
                            <p>In the household section, we will be asking a new question on renewable energy systems.</p>

                            <h2>Changes to existing questions</h2>

                            <p>We’re making a few changes to questions too, for example, the ethnic group question has been updated to reflect the growth of particular ethnic groups within Northern Ireland since 2011.</p>

                            <h2>Removing questions</h2>

                            <p>We do not want to ask you any more questions than we need to, so we also take some away when they’re no longer needed. That’s why we no longer ask you about things like whether or not you’ve got an outside toilet, as we did from 1951 to 1991.</p>

                            <p>This time, we will not be asking how many rooms are in your house, or what year you last worked.</p>

                            <div class="u-mt-xl">
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                            {
                                                "rel": 'prev',
                                                "text": 'Previous',
                                                "url": pageInfo.rootPath + '/ni/about-the-census/2019-rehearsal',
                                                "label": 'The 2019 Census Rehearsal'
                                            },
                                            {
                                                "rel": 'next',
                                                "text": 'Next',
                                                "url": pageInfo.rootPath + '/ni/about-the-census/census-coverage-survey-ccs',
                                                "label": 'Census Coverage Survey (CCS)'
                                            }
                                        ]
                                    })
                                }}
                            </div>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/your-data-and-security',
                                    "text": 'Your data and security'
                                },
                                {
                                    "url": pageInfo.rootPath + '/contact-us',
                                    "text": 'Contact us'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
