---
title: Contact us
group: Census
version: 17.2.0
layout: census-website-engage/views/_master
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            <div class="grid u-mt-s@m">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l u-fs-xxl">Contact us</h1>

                            <div class="page__body">

                            <h2>Census Quality Survey (CQS)</h2>
                            
                            <p>If you have any questions, or you’d like to arrange a convenient time to complete the CQS, please call us free on 0800 085 7376.</p>
                            
                            <h2>Questions about the census</h2>
                            
                            <p>Contact us if you have any questions about the census.</p>
                            
                            <h2>Telephone</h2>
                            
                            <p>+44 (0)1329 444972</p>
                            
                            <p>Our team is available to help you:</p>
                            
                            <p>Monday to Friday – 9am to 4pm</p>
                            
                            <h2>Email</h2>
                            
                            <p><a href="#0">census.customerservices@ons.gov.uk</a></p>
                            
                            <h2>Social media</h2>
                            
                            <p>Follow us:</p>
                            
                            <p><a href="#0">Twitter</a></p>
                            
                            <p><a href="#0">Facebook</a></p>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": '#0',
                                    "text": 'Media enquiries'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
