---
group: Frontstage
title: Change business details
version: 32.0.1
layout: change-business-details/scenario-2/views/_master-survey
---

{% from "components/input/_macro.njk" import onsInput %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% block main %}

    <div class="grid">

        <div class="grid__col col-12@m u-pt-no">
            <div class="summary">
                <div class="summary__group">
                    <h2 class="summary__group-title u-fs-xl">Your business details</h2>
                    {{
                        onsPanel({
                            "classes":"u-mb-m",
                            "body": '<p>You have changed your business details. Before they can be confirmed, you need to send us the changes for approval.</p>'
                        })
                    }}
                    <div class="grid grid--flex grid--gutterless grid--vertical-center grid--no-wrap@s u-mt-m u-mb-m">
                        <div class="grid__col">
                            <button id="approve" type="button" class="btn btn-group__btn" onclick="location.href='{{ pageInfo.rootPath }}/scenario-1/signed-in/account/05-change-business-details/account-index-done.html';">
                                <span class="btn__inner">Send changes</span>
                            </button>
                        </div>
                        <div class="grid__col u-ml-m">
                            <a href="/prototypes/change-business-details/scenario-1/signed-in/account/index.html">Cancel</a>
                        </div>
                    </div>
                    <table class="summary__items">
                        <thead>
                            <tr class="u-ta-left">
                                <th>Business name</th>
                                <th>Address</th>
                                <th>Surveys</th>
                                <th class="u-vh">Surveys</th>
                            </tr>
                        </thead>
                        <tbody class="summary__item">
                            <tr class="summary__row summary__row--has-values">
                                <td class="summary__item-title">
                                    <div class="summary__item--text">
                                        BOW TRADING LTD <br>
                                        
                                        <span class="u-fs-s">Trading as: BOW TRADING LTD<br>
                                        RU ref: 50000041799</span>
                                    </div>
                                </td>
                                <td class="summary__values u-fw-n">
                                    BARRATT HOUSE<br>         
                                    CARTWRIGHT WAY<br>                
                                    FOREST BUSINESS PARK<br>          
                                    BARDON HILL<br>                   
                                    COALVILLE LEICS<br>
                                    LE67 1UF
                                </td>
                                <td class="summary__values u-fw-n">  
                                    <ul class="list list--bare">
                                        <li class="list__item ">Quarterly Stocks Survey</li>  
                                    </ul>  
                                </td>
                                <td class="summary__actions">
                                    <a href="02-change-business-details.html" class="summary__button" aria-label="Change answer">Change</a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="summary__item">
                            <tr class="summary__row summary__row--has-values">
                                <td class="summary__item-title">
                                    <div class="summary__item--text">
                                        BOW TRADING LTD <br>
                                        <span class="u-fs-s">Trading as: BOW TRADING LTD<br>
                                        RU ref: 50000041799</span>
                                    </div>
                                </td>
                                <td class="summary__values u-fw-n">
                                    BARRATT HOUSE<br>                 
                                    WALNUT TREE CLOSE<br>             
                                    GUILDFORD<br>                     
                                    SURREY<br>
                                    GU1 4SW
                                </td>
                                <td class="summary__values u-fw-n">  
                                    <ul class="list list--bare">
                                        <li class="list__item ">Quarterly Acquisitions and Disposal of Capital Assets Survey</li>
                                    </ul>  
                                </td>
                                <td class="summary__actions">
                                    <a href="02-choice.html" class="summary__button" aria-label="Change answer">Change</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
