---
version: 4.1.0
layout: census-website/views/_master
---

{% from "components/card/_macro.njk" import onsCard %}

{% block page %}
<div class="page__container {{ containerClasses }}">
    <div class="grid">
        <div class="grid__col u-mb-l">
            <main id="main-content" class="{{ pageClasses }}">
                <div class="intro--banner u-pb-m">
                    <div class="container">
                        <div class="col-8@m">
                            {% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
                            {{ 
                                onsBreadcrumb({
                                    "ariaLabel": 'Breadcrumb',
                                    "itemsList": [
                                        {
                                            "url": 'index.html',
                                            "text": 'Home'
                                        },
                                        {
                                            "url": '',
                                            "text": 'About the census',
                                            "current": true

                                        }
                                    ]
                                }) 
                            }}
                            <h1>About the census</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                <div class="grid grid--flex grid--column@xs@s u-mt-l">
                    <div class="grid__col grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
                        {{-
                            onsCard({
                                "title": 'What is the census?',
                                "url": 'what-is-the-census',
                                "text": 'description' 
                              
                            })
                        }}
                    </div>
                    <div class="grid__col grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
                        {{- 
                            onsCard({
                                "classes": 'u-fs-r',
                                "title": 'The 2019 rehearsal',
                                "url": '#',
                                "text": 'Who we are asking to participate in a rehearsal and why'
                            })
                        }}
                    </div>
                    <div class="grid__col grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
                        {{-
                            onsCard({
                                "title": 'Who needs to take part',
                                "url": '#',
                                "text": ''
                            })
                        }}
                    </div>                 
                    </div>
                    <div class="grid grid--flex grid--column@xs@s u-mt-l u-mb-l">
                                        <div class="grid__col grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
                        {{-
                            onsCard({
                                "title": 'Background and history',
                                "url": '#',
                                "text": ''
                            })
                        }}
                    </div>    
                    <div class="grid__col grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
                        {{-
                            onsCard({
                                "title": 'The census laws',
                                "url": '#',
                                "text": ''
                            })
                        }}
                    </div> 
                    <div class="grid__col grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
                        {{-
                            onsCard({
                                "title": 'Privacy, security and confidentiality',
                                "url": '#',
                                "text": 'description'
                            })
                        }}
                    </div>
                    </div>
                    <div>
                    <div class="u-pl-no grid__col grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
                        <div class="card card-cta">
                        <h3 class="u-fs-m u-mb-xs">
                            Ready to take part?
                        </h3>
                        <a href="#" style="font-size:2.2em; font-weight:bold;line-height: 1.3em;color:white;text-decoration:underline;cursor:pointer;">Start your census survey</a>
                        </div>
                    </div>
                </div>
                
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock %}
