---
version: 8.8.0
layout: census-website/views/_master
---

{% from "components/card/_macro.njk" import onsCard %}

{% block page %}
<div class="page__container container {{ containerClasses }}">
        {% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
                                {{ 
                                    onsBreadcrumb({
                                        "ariaLabel": 'Breadcrumb',
                                        "itemsList": [
                                            {
                                                "url": '/',
                                                "text": 'Home'
                                            },
                                            {
                                                "url": 'help-guidance.html',
                                                "text": 'Help and guidance'
                                            },                                            
                                            {
                                                "url": '',
                                                "text": 'Online form',
                                                "current": true                                                

                                            }
                                        ]
                                    }) 
                                }}
                                <div class="grid">
                <div class="grid__col col-7@m">
                    <main id="main-content" class=" {{ pageClasses }}">
                                <h1 class="u-mb-l">Help with the online form</h1>
                                <h2>Addresses and people who live here</h2>
                                <ul class="list list--bare">
                                    <li><a href="">- Who live here</a></li>
                                    <li><a href="">- Relationships</a></li>
                                    <li><a href="">- Address</a></li>
                                    <li><a href="">- Address one year ago</a></li>
                                    <li><a href="">- Other address</a></li>
                                </ul>

                                <h2 class="u-mt-l">Household and accommodation</h2>
                                <ul class="list list--bare">
                                    <li><a href="">- Type of accommodation</a></li>
                                    <li><a href="">- Self contained</a></li>
                                    <li><a href="">- Number of bedrooms</a></li>
                                    <li><a href="">- Central heating</a></li>
                                    <li><a href="">- Tenure</a></li>
                                    <li><a href="">- Landlord</a></li>
                                    <li><a href="">- Cars or vans</a></li>
                                </ul>

                                <h2 class="u-mt-l">Name, date of birth and marital status</h2>
                                <ul class="list list--bare">
                                    <li><a href="">- Name</a></li>
                                    <li><a href="">- Date of birth</a></li>
                                    <li><a href="">- Marital status</a></li>
                                </ul>

                                <h2 class="u-mt-l">Country of birth, passports and non born in the UK</h2>
                                <ul class="list list--bare">
                                    <li><a href="">- Country of birth</a></li>
                                    <li><a href="">- Passports help</a></li>
                                    <li><a href="">- Last arrived to live here</a></li>
                                    <li><a href="">- Intention to stay</a></li>
                                </ul>

                                <h2 class="u-mt-l">National identity and ethnic group</h2>
                                <ul class="list list--bare">
                                    <li><a href="question-26.html">- National identity</a></li>
                                    <li><a href="">- Ethnic group</a></li>
                                </ul>

                                <h2 class="u-mt-l">Language and religion</h2>
                                <ul class="list list--bare">
                                    <li><a href="">- Main language</a></li>
                                    <li><a href="">- Proficiency in English</a></li>
                                    <li><a href="">- Welsh language skills</a></li>
                                    <li><a href="">- Religion</a></li>
                                </ul>

                                <h2 class="u-mt-l">Health and care</h2>
                                <ul class="list list--bare">
                                    <li><a href="">- Health</a></li>
                                    <li><a href="">- Long-term health condition or disability</a></li>
                                    <li><a href="">- Carers</a></li>
                                </ul>

                                <h2 class="u-mt-l">Qualifications and full-time education</h2>
                                <ul class="list list--bare">
                                    <li><a href="">- Apprentice</a></li>
                                    <li><a href="">- Degree</a></li>
                                    <li><a href="">- Other qualifications</a></li>
                                </ul>

                                <h2 class="u-mt-l">Main job and armed forces</h2>
                                <ul class="list list--bare">
                                    <li><a href="">- Working last week</a></li>
                                    <li><a href="">- Seeking work</a></li>
                                    <li><a href="">- Ever worked</a></li>
                                    <li><a href="">- Main job</a></li>
                                    <li><a href="">- Supervise staff</a></li>
                                    <li><a href="">- Employer’s industry</a></li>
                                    <li><a href="">- Name of employer</a></li>
                                    <li><a href="">- Workplace address</a></li>
                                    <li><a href="">- Travel to work</a></li>
                                    <li><a href="">- Hours worked </a></li>
                                    <li><a href="">- Armed forces</a></li>
                                </ul>

                                <h2 class="u-mt-l">Visitors</h2>
                                <ul class="list list--bare">
                                    <li><a href="">- Visitor name</a></li>
                                    <li><a href="">- Visitor date of birth</a></li>
                                    <li><a href="">- Visitor address</a></li>
                                </ul>
                    </main>
                </div>
                <div class="grid__col col-4@m push-1@m">
                    <div style="border-top:5px solid purple;padding:15px 0;">
                        <h3>Related content</h3>
                            <ul class="list list--bare">
                                <li><a href="#">About the census</a></li>
                                <li><a href="#">What we ask you</a></li>
                                <li><a href="#">Help and support</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                         <!--<div class="u-mb-m">
                            <hr class="footer__hr">
                        </div>
                       <div class="card card-cta">
                            <h3 class="u-fs-m u-mb-xs">
                                Ready to take part?
                            </h3>
                            <a href="#" style="font-size:2.2em; font-weight:bold;line-height: 1.3em;color:white;text-decoration:underline;cursor:pointer;">Start your census survey</a>
                        </div>-->
                    </div>
                </div>
        </div>
</div>
{% endblock %}
