@import 'prototypes/feedback2/components/feedback/feedback';
@import 'prototypes/feedback2/components/feedback/container';
@import 'components/**/*.scss';

$purple: #93328e;

.grid--flex.grid--vertical-center {
  -webkit-box-align: center;
  align-items: center;
}

.hero--with-image {
  border-top: 1px solid white;
  position: relative;
  padding: 0;
  overflow: hidden;
}

.hero--with-image .hero__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
}

.hero--dark-theme a,
.hero--dark-theme h1,
.hero--dark-theme h2,
.hero--dark-theme li,
.hero--dark-theme p {
  color: #fff;
}

.header__bottom {
  background: $purple;
}

.header__main {
  background: $purple;
}

.call-to-action {
  background: rgba(227, 77, 219, 0.15);
}

.stat-icon {
  width: 70px;
  height: 70px;
  border: solid 3px;
  border-radius: 50%;
  margin: 0 auto;
}

.stat-text {
  font-size: 4em;
  line-height: 1em;

  & small {
    font-size: 60%;
    line-height: 0;
  }
}

.img--box {
  padding: 15px;
  height: 190px;
  color: white;
  display: flex;
  align-items: center;
}

.logo-text {
  text-align: center;
  font-size: 2.2em;
  margin: 0;

  & strong {
    font-size: 1.3em;
  }
}

.box-text {
  font-size: 2.1em;
  line-height: 1.1em;
  font-weight: bold;
  margin: 0 10px;

  & strong {
    background: white;
    color: #5073a5;
    line-height: 1.4em;
  }
}

.bg-blue {
  background: #483698 !important;
}

.bg-purple {
  background: purple !important;
}

.bg-grey {
  background: #5073a5 !important;
}
.bg-darkgrey {
  background: #555555 !important;
}
.cta-banner {
  display: none;
}

.card {
  border: none;
  padding: 0;
}

.intro--banner {
  background-color: #f0f0f0;
}
.panel--question strong {
  background: white;
  border: purple 2px solid;
  border-radius: 4px;
  padding: 0 3px;
  margin-left: 3px;
}

.panel__cta {
  background: purple;
  color: white;
}
.card-cta {
  background: purple;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  min-height: 240px;
}

.hero-image {
  height: 43vh;
  overflow: hidden;
  position: relative;
  background: black;
}

.icon--chevron-right-white:after {
  background-image: url(img/icons--chevron-right-white.svg);
  margin: 0 0 0 0.5rem;
  -webkit-transform: none;
  transform: none;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  content: '';
  vertical-align: middle;
}

.btn--small .btn__inner {
  padding: 0.5em 0.7em;
}

.btn--small > .icon--chevron-right-white:after {
  width: 0.8rem;
  background-size: 0.8rem 0.8rem;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

@media only screen and (max-width: 680px) {
  .cta-banner {
    background: #483698;
    padding: 10px 0;
    display: block;
    font-weight: bold;
    border-top: 1px solid hsla(0, 0%, 100%, 0.5);
  }
  .cta-banner a {
    color: white;
  }
  .hero-image {
    height: 25vh;
  }
  .hero-text {
    width: 90vw;
  }
  .hero-text button {
    font-size: 25px;
  }
  .hero--header {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
.tel-block {
  padding-left: 10px;
  border-left: solid 1px grey;
}

ol.household {
  list-style-type: none;
  counter-reset: elementcounter;
  padding-left: 0;
}
ol.household li {
  margin-top: 1rem;
}

ol.household li a {
  margin-left: 2.5rem;
  display: block;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 1rem;
}

ol.household li:before {
  content: 'H' counter(elementcounter) '. ';
  counter-increment: elementcounter;
  font-weight: bold;
  position: absolute;
}

ol.individual {
  counter-reset: item;
  margin: 0 0 1.5em;
  padding: 0;
  > li {
    margin-top: 1rem;
    counter-increment: item;
    list-style-type: none;
    &::before {
      content: counter(item) '.';
      display: inline-block;
      font-weight: bold;
      padding-right: 0.5rem;
      counter-increment: elementcounter;
      font-weight: bold;
      position: absolute;
    }
    a {
      margin-left: 2.2rem;
      display: block;
      border-bottom: 1px solid lightgrey;
      padding-bottom: 1rem;
    }
  }
}

ol.individual-p {
  > li {
    margin-top: 1rem;
    counter-increment: item;
    list-style-type: none;
    &::before {
      content: 'P.';
      display: inline-block;
      font-weight: bold;
      padding-right: 0.5rem;
      counter-increment: elementcounter;
      font-weight: bold;
      position: absolute;
    }
    > a {
      margin-left: 2.2rem;
      display: block;
      border-bottom: 1px solid lightgrey;
      padding-bottom: 1rem;
    }
  }
}
ul.online {
  counter-reset: item;
  margin: 0 0 1.5em;
  padding: 0;
  > li {
    margin-top: 1rem;

    list-style-type: none;
    &::before {
      display: inline-block;
      font-weight: bold;
      padding-right: 0.5rem;
      font-weight: bold;
      position: absolute;
    }
    a {
      display: block;
      border-bottom: 1px solid lightgrey;
      padding-bottom: 1rem;
    }
  }
}
.quote {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  font-size: 3rem !important;
  line-height: 0.5 !important;
  width: 2.4rem;
  color: grey;
}

cite {
  font-size: 0.8em;
  font-weight: 400;
  color: grey;
  white-space: nowrap;
  display: block;
  font-style: normal;
  margin-top: 0.5em;
  &::before {
    content: '- ';
  }
}
blockquote {
  font-size: 1.2em;
  margin: 1.5rem 0 0 0 !important;
  font-weight: 700;
  color: #000;
  padding: 0 2rem 1.2em 3.7rem;
  line-height: 1.6;
  position: relative;
}

blockquote::before {
  font-family: Arial;
  content: '\201C';
  color: #525252;
  font-size: 4.5em;
  position: absolute;
  left: 0;
  top: -34px;
}

blockquote::after {
  content: '';
}

blockquote span {
  display: block;
  color: #333333;
  font-size: 0.8em;
  font-weight: 400;
  margin-top: 1em;
}
