@import 'components/**/*.scss';

.header__bottom {
  background: purple;
}

.header__main {
  background: purple;
}

.call-to-action {
  background: rgba(227, 77, 219, 0.15);
}

.stat-icon {
  width: 70px;
  height: 70px;
  border: solid 3px;
  border-radius: 50%;
  margin: 0 auto;
}

.stat-text {
  font-size: 4em;
  line-height: 1em;

  & small {
    font-size: 60%;
    line-height: 0;
  }
}

.img--box {
  padding: 15px;
  height: 190px;
  color: white;
  display: flex;
  align-items: center;
}

.logo-text {
  text-align: center;
  font-size: 2.2em;
  margin: 0;

  & strong {
    font-size: 1.3em;
  }
}

.box-text {
  font-size: 2.1em;
  line-height: 1.1em;
  font-weight: bold;
  margin: 0 10px;

  & strong {
    background: white;
    color: #5073a5;
    line-height: 1.4em;
  }
}

.bg-blue {
  background: #483698 !important;
}

.bg-purple {
  background: purple !important;
}

.bg-grey {
  background: #5073a5 !important;
}
.bg-darkgrey {
  background: #555555 !important;
}
.cta-banner {
  display: none;
}

.card {
  border: none;
  padding: 0;
}

.intro--banner {
  background-color: #f0f0f0;
}
.panel__cta {
  background: purple;
  color: white;
}
.card-cta {
  background: purple;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  min-height: 240px;
}

.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/group.jpg);
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.icon--chevron-right-white:after {
  background-image: url(img/icons/icons--chevron-right-white.svg);
  margin: 0 0 0 0.5rem;
  -webkit-transform: none;
  transform: none;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  content: '';
  vertical-align: middle;
}

.btn--small .btn__inner {
  padding: 0.5em 0.7em;
}

.btn--small > .icon--chevron-right-white:after {
  width: 0.8rem;
  height: 0.8rem;
  background-size: 0.8rem 0.8rem;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

@media only screen and (max-width: 680px) {
  .cta-banner {
    background: #483698;
    padding: 10px 0;
    display: block;
    font-weight: bold;
    border-top: 1px solid hsla(0, 0%, 100%, 0.5);
  }
  .cta-banner a {
    color: white;
  }
  .hero-image {
    height: 25vh;
  }
  .hero-text {
    width: 90vw;
  }
  .hero-text button {
    font-size: 25px;
  }
  .hero--header {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
.tel-block {
  padding-left: 10px;
  border-left: solid 1px grey;
}
.download strong {
  background: black;
  padding: 0 3px;
  color: white;
  width: auto;
  font-weight: bold;
}
