.bg-blue{
  background: #483698!important;
}
.cta-banner{
  display: none;
}

.intro--banner{
  background-color:#F0F0F0;
}
.panel__cta{
  background: purple;
  color: white;
}
.card-cta{
  background: purple;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
border: none;
min-height: 250px;

}
.header__bottom{
  background: purple;
}
.header__main{
  background: purple;
}

.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),url(images/group.jpg);
  height: 45vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 15px 25px;
  color: white;
  background-color:purple;
  text-align: center;
  cursor: pointer;
  font-size: 30px;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.panel__body strong{
  width: 45px;
  background: white;
  text-align: center;
  padding: 5px 5px;
  border: solid purple 2px;
  font-weight: bold;
  border-radius: 3px;
}
.hero--header{
  font-size:50px;
}

@media only screen and (max-width: 680px) {
  .cta-banner{
    background: #483698;
    padding: 10px 0;
    display: block;
    font-weight: bold;
    border-top: 1px solid hsla(0,0%,100%,.5);
  }
  .cta-banner a{
    color: white;
  }
  .hero-image{
    height: 25vh;
  }
  .hero-text{
    width: 90vw;

  }
  .hero-text button{
    font-size: 25px;
  }
  .hero--header{
    font-size:30px;
    margin-bottom: 10px;
  }
  
}