---
title: Campaign Website
group: Census
version: 8.0.1
layout: census-website/views/_master
---

{% from "components/card/_macro.njk" import onsCard %}

{% block page %}
<div class="page__container container {{ containerClasses }}">
        {% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
                                {{ 
                                    onsBreadcrumb({
                                        "ariaLabel": 'Breadcrumb',
                                        "itemsList": [
                                            {
                                                "url": '/',
                                                "text": 'Home'
                                            },
                                            {
                                                "url": '',
                                                "text": 'About the census',
                                                "current": true                                                

                                            }
                                        ]
                                    }) 
                                }}
                                <div class="grid">
                <div class="grid__col col-7@m">
                    <main id="main-content" class=" {{ pageClasses }}">
                                <h1 class="u-mb-l">Who needs to take part</h1>
                                <div class="u-mb-xs" style="font-weight:bold;">Contents</div>
                                <ul class="list list--bare">
                                    <li>- <a href="do-i-have-to.html">Overview</a></li>
                                    <li>- <a href="do-i-have-to.html">Do I have to respond to the census rehearsal?</a></li>
                                    <li>- <a href="#">What happens if I don't do it?</a></li>
                                </ul>
                                <div class="u-mt-l">
                                     <hr class="footer__hr" style="margin-bottom: 0;">
                                </div>
                                </div>
                                </main>

                        <div class="grid__col col-7@m u-mt-s">
                    <main id="main-content" class=" {{ pageClasses }}">
                                <p>The 2019 Rehearsal is your chance to help us make sure the census in 2021 is as good as it can be. The country uses census information to make plans and decisions. By taking part in this rehearsal, you’ll be helping us do two important things:</p> 
                                <ul>
                                <li>making sure the census includes everyone</li>
                                <li>making sure the census gives us high quality information</li>
                                </ul>
                    </main>
                </div>
                <div class="grid__col col-4@m push-1@m">
                    <div style="border-top:5px solid purple;padding:15px 0;">
                        <h3>Related content</h3>
                            <ul class="list list--bare">
                                <li><a href="#">About the census</a></li>
                                <li><a href="#">What we ask you</a></li>
                                <li><a href="#">Help and support</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        <div class="u-mb-m">
                            <hr class="footer__hr">
                        </div>
                        <div class="card card-cta">
                            <h3 class="u-fs-m u-mb-xs">
                                Ready to take part?
                            </h3>
                            <a href="#" style="font-size:2.2em; font-weight:bold;line-height: 1.3em;color:white;text-decoration:underline;cursor:pointer;">Start your census survey</a>
                        </div>
                    </div>
                </div>
        </div>
</div>
{% endblock %}
