---
version: 9.0.0
layout: census-website/views/_page
---

{% set content = { 
    "title": 'Finding support to complete your census',
    "sectionTitle": 'Overview',    
    "breadcrumbs": {
        "itemsList": [
            {
                "url": '/prototypes/census-website/',
                "text": 'Home'
            },
            {
                "url": '/prototypes/census-website/help/',
                "text": 'Help with your census'
            },            
            {
                "url": '/prototypes/census-website/help/finding-support-to-complete-your-census/',
                "text": 'Finding support to complete your census',
                "current": true
            }
        ]
    },
    "contentsList": {
        "itemsList": [
            {
                "text": 'Overview',
                "current": true
            },
            {
                "url": '/prototypes/census-website/help/finding-support-to-complete-your-census/help-centres/',
                "text": 'Help centres'
            },
            {
                "url": '/prototypes/census-website/help/finding-support-to-complete-your-census/helping-someone-else-fill-in-their-census/',
                "text": 'Helping someone else fill in their census'
            }
        ]
    },
    "contentPagination": {
        "contentPaginationItems": [
            {
                "rel": 'next',
                "text": 'Next',
                "url": '/prototypes/census-website/help/finding-support-to-complete-your-census/help-centres/',
                "label": 'Help centres'
            }
        ]
    }

} %}
{% block content %}
    <p>There are a few different ways to get help filling in your census. You can:</p>
    <ul>
        <li>call <a href="/prototypes/census-website/contact/">our contact centre</a> using the free phone number</li>
        <li>ask someone you trust to help you</li>
        <li>visit one of the <a href="/prototypes/census-website/help/finding-support-to-complete-your-census/drop-in-centres/">drop-in help centres</a> set up to provide help</li>
    </ul>
    {% from "components/panel/_macro.njk" import onsPanel %}
    {{-
        onsPanel({
            "body": "<p>When you contact us or visit one of our venues you will need your letter with the 16 digit unique access code.</p>",
            "classes": "u-mb-m"
        })
    }} 
{% endblock %}
