---
version: 8.0.1
layout: census-website/views/_master
---

{% from "components/card/_macro.njk" import onsCard %}

{% block page %}
{% from "census-website/components/call-to-action/_macro.njk" import onsCallToAction %}
{{-
    onsCallToAction({
        "headingText": "Ready to start your census survey?",
        "paragraphText": "You'll need the access code from the letter we sent you.",
        "button": {
            "text": "Start survey",
            "classes": 'btn--small',
            "href": "https://deploy-preview-28--sdc-prototypes.netlify.com/prototypes/rh-census/"
        }
    })
}}
<div class="page__container {{ containerClasses }}">
    <div class="grid">
        <div class="grid__col u-mb-l">
            <main id="main-content" class="{{ pageClasses }}">
                
                    <div class="container">
                        <div class="col-8@m">
                            {% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
                            {{ 
                                onsBreadcrumb({
                                    "ariaLabel": 'Breadcrumb',
                                    "itemsList": [
                                        {
                                            "url": pageInfo.parentPath,
                                            "text": 'Home'
                                        },
                                        {
                                            "url": '',
                                            "text": 'Help with your census',
                                            "current": true
                                        }
                                    ]
                                }) 
                            }}
                            <h1>Help with your census</h1>
                            
                        </div>
                   
                <div class="grid">
                    <div class="grid__col col-7@m">
                        <div class="grid grid--column@xs@s u-mt-s ">
                            <div class="grid__col">
                                <div class="card">
                                    <h3 class="u-fs-m">
                                        <a href="/prototypes/census-website/help/how-to-complete-the-census/">
                                        How to complete your census
                                        </a>
                                    </h3>
                                    <p>What you need to do to get started.</p>
                                    {#
                                    <ul class="list list--bare">
                                        <a href="#"><li>- Online form</li></a>
                                        <a href="#"><li>- Paper form</li></a>
                                    </ul>
                                    #}
                                </div>
                            </div>
                            <hr class="grid__col footer__hr u-mb-m" style="margin-left: 1em;width:100%;">
                            <div class="grid__col">
                                {{- 
                                    onsCard({
                                        "title": 'Help with the questions',
                                        "url": '#',
                                        "text": 'Guidance on how to answer the questions in the census.'
                                    })
                                }}
                            </div>
                          <hr class="grid__col footer__hr u-mb-m" style="margin-left: 1em;width:100%;">
                            <div class="grid__col u-mb-m">
                                {{-
                                    onsCard({
                                        "title": 'Getting help to complete your census',
                                        "url": '/prototypes/census-website/help/getting-help-to-complete-your-census/',
                                        "text": 'You can get help from a friend or neighbour, or one of our advisors face-to-face or over the phone.'
                                    })
                                }}
                            </div> 
                        </div>
                    </div>
                <div class="grid__col col-4@m push-1@m">
                    <div style="border-top: 5px solid purple;padding: 10px 0 0;background: #f1f1f1;">
                        <div style="padding:15px 15px 1px 15px;">
                            <h3>Related content</h3>
                                <ul class="list list--bare">
                                    <li><a href="#">About the census</a></li>
                                    <li><a href="#">What we ask you</a></li>
                                    <li><a href="#">Help and support</a></li>
                                </ul>
                        </div>
                        <div style="padding:0 15px 15px;">
                            <hr class="footer__hr u-mb-s" style="margin-bottom: 0;">
                            <ul class="list list--bare">
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
            </div> 
            </div>
             

                {#
                <div class="container" style="padding:0;">
                    <div class="grid u-mt-l u-mb-l">
                        <div class="grid__col--flex grid--flex grid--no-wrap@m grid__col col-12@xs@s">
                            <div class="card" style="border-right:4px solid purple;padding:1em 1em 1em 0;">
                                <h3 class="u-fs-m">
                                    <a href="#">About the census</a>
                                </h3>
                                <p>Lorem ipsum dolor sit amet, contetur adipiscing elit</p>
                            </div>
                            <div class="card" style="padding: 1.3em;">
                                <h3 class="">
                                    What is the census rehearsal?
                                </h3>
                                <ul class="list--bare">
                                <li><a href="">Why we need one?</a></li>
                                <li><a href="">Lorem ipsum dolor sit</a></li>
                                <li><a href="">Contetur adipiscing elit</a></li>
                                </ul>
                            </div>
                            <div class="card" style="padding: 1.3em;">
                               <h3 class="">
                                    Taking part in the census
                                </h3>
                                <ul class="list--bare">
                                <li><a href="">Why you should take part?</a></li>
                                <li><a href="">What happens if you don’t?</a></li>
                                <li><a href="">Where is it happening?</a></li>
                                </ul>
                            </div>
                            <div class="card" style="padding: 1.3em;">
                                <h3 class="">
                                    Why do we need  a census?
                                </h3>
                                <ul class="list--bare">
                                <li><a href="">What's the census for?</a></li>
                                <li><a href="">Who uses the numbers?</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>       
                </div>
                #}
              
                
                </div>
            </main>
            
        </div>
    </div>
</div>
{% endblock %}
