---
version: 13.4.4
layout: census-website/views/_master
---

{% from "components/card/_macro.njk" import onsCard %}

{% block page %}
<div class="page__container container {{ containerClasses }}">
        <div class="grid">
                <div class="grid__col col-7@m">
                {% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
                                {{ 
                                    onsBreadcrumb({
                                        "ariaLabel": 'Breadcrumb',
                                        "itemsList": [
                                            {
                                                "url": '#',
                                                "text": 'Home'
                                            },
                                            {
                                                "url": '#',
                                                "text": 'Help with your census'
                                            }, 
                                            {
                                                "url": '',
                                                "text": 'Help with the online questions',
                                                "current": true
                                            }
                                        ]
                                    }) 
                                }}
                </div>
        </div>
                                <div class="grid">
                <div class="grid__col col-7@m">
                <main id="main-content" class=" {{ pageClasses }}">
                        <div id="top"></a>
                        <h1 class="u-mb-l u-fs-xl">Help with your online census questions</h1>
                                    <div class="panel panel--info panel--simple u-mb-l">
                                        <div class="panel__body">
                                            <p>If you are completing the <strong>paper</strong> version of the census questions <a href="question-help.html">see paper census guidance here</a> 
                                            </p>
                                        </div>
                                    </div>
                    <div class="u-mb-xs" style="font-weight:bold;">Contents</div>
                    <ul class="list list--bare">
                        <li>Who lives here?</li>
                        <li>- <a href="#household">People who live in the household</a></li>
                        <li class="u-mt-m">Household accommodation</li>
                        <li>- <a href="#accommodation">About your accommodation</a></li>
                        <li class="u-mt-m">Individual questions (Additional persons)</li>
                        <li>- <a href="#people">Additional persons details</a></li>
                        <li>- <a href="#Qualifications">Individual qualifications</a></li>
                        <li>- <a href="#Employment">Individual employment</a></li>
                        
                    </ul>
                    <div class="u-mt-l">
                            <hr class="footer__hr u-mb-s u-mt-s" style="margin-bottom: 0;">
                    </div>
                </main>
                    <main id="main-content" class=" {{ pageClasses }}">

                                <div id="house"></div>
                                <h2 class="u-mt-m ">Your address</h2>
                                
                                <ul class="list list--bare online">
                                    <li><a href="">What is your address?</a></li>
                                </ul>
                                
                                <div id="household"></div>
                                <h2 class="u-mt-l">Who lives here?</h2>
                                <h3>People who live in the household</h3>
                                
                                    <ul class="list list--bare u-mt-m online">

                                    <li><a href="h7-what-type-of-accommodation.html">Does anyone live at [House number] as their permanent or family home?</a></li>
                                    
                                    <li><a href="h8-rooms-behind-doors.html">What are the names of everyone who live at [House number]?</a></li>
                                    
                                    <li><a href="h9-how-many-bedrooms.html">Is this everyone for whom this is their permanent or family home?</a></li>
                                    
                                    <li><a href="h10-central-heating.html">How many visitors are staying overnight at [House number] on 8th February 2018?</a></li>
                                    
                                    <li><a href="">How are the following people related to [Person name]</a></li>
                                    
                                    <li><a href="h12-own-or-rent.html">Does your household own or rent this accommodation?</a></li>
                                </ul>
                                <div id="accommodation"></div>
                                <h2 class="u-mt-l">Household accommodation</h2>
                                <h3>About your accommodation</h3>
                                <ul class="list list--bare u-mt-m online">
                                <li><a href="">What type of accommodation is [House number]?</a></li>
                                    <li><a href="">Which of the following is your house or bungalow?</a></li>
                                    <li><a href="">Are all the rooms in this accommodation, including the kitchen, bathroom and toilet, behind a door that only this household can use?</a></li>
                                    <li><a href="3-what-is-your-sex.html">How many bedrooms are available for use only by this household?</a></li>
                                    <li><a href="">What type of central heating does [House number] have?</a></li>
                                    <li><a href="">Does your household own or rent [House number]?</a></li>
                                    <li><a href="">Who is your landlord?</a></li>
                                    <li><a href="">In total, how many cars or vans are owned, or available for use, by members of this household?</a></li>
                                </ul>
                                <div id="people"></div>
                                <h2 class="u-mt-l">Individual questions</h2>
                                <h3>Additional persons details</h3>
                                    <ul class="list list--bare u-mt-m online">
                                    <li><a href="">Are you [Person name]?</a></li>
                                    <li><a href="">What is [Person name] date of birth?</a></li>
                                    
                                    <li><a href="">What is [Person name] sex?</a></li>
                                    <li><a href="">On 30 November 2018, what is [Person name] legal marital or registered civil partnership status?</a></li>
                                    <li><a href="">Who is [Person name] legal marriage to?</a></li>
                                    <li><a href="17-What-is-your-ethnic-group.html">Does [Person name] stay at another address for more than 30 days a year?</a></li>
                                    <li><a href="">Enter details of the other UK address where [Person name] stays for more than 30 days a year?</a></li>
                                    <li><a href="">What type of address is [House number]</a></li>
                                    <li><a href="">Is [Person name] a student in full-time education?</a></li>
                                    <li><a href="">During term time, where does [Person name] usually live?</a></li>
                                    <li><a href="">What is [Person name] country of birth?</a></li>
                                    <li><a href="">What is [Person name] main language?</a></li>
                                    <li><a href="">How would [Person name] describe their national identity?</a></li>
                                    <li><a href="">What is [Person name] ethnic group?</a></li>
                                    <li><a href="">Which one best describes [Person name] White ethnic group or background?</a></li>
                                    <li><a href="">What is [Person name] religion?</a></li>
                                    <li><a href="26-sexual-orientation.html">One year ago, what was [Person name] usual address?</a></li>
                                    <li><a href="27-gender-registered.html">What passports does [Person name] hold?</a></li>
                                
                                    <li><a href="">How is [Person name] health in general?</a></li>
                                    <li><a href="">Does [Person name] have any physical or mental health conditions or illnesses lasting or expected to last 12 months or more?</a></li>
                                    <li><a href="">Does any of [Person name] conditions or illnesses reduce their ability to carry out day-to-day activities?</a></li>
                                    <li><a href="">Does [Person name] look after, or give any help or support to, anyone because they have long-term physical or mental health conditions or illnesses, or problems related to old age?</a></li>
                                    <li><a href="">Which of the following best describes [Person name] sexual orientation?</a></li>
                                    <li><a href="">Is [Person name] gender the same as the sex they were registered at birth?</a></li>
                                    <div id="Qualifications"></div>
                                    
                                    <h3 class="u-mt-l u-fs-m">Individual qualifications</h3>
                                    <li><a href="">Has [Person name] completed an apprenticeship?</a></li>
                                    <li><a href="">Has [Person name] achieved a qualification at degree level or above?</a></li>
                                    <li><a href="">Has [Person name] achieved an AS, A level or equivalent qualification?</a></li>
                                    <li><a href="">Has [Person name] achieved a GCSE or equivalent qualification?</a></li>
                                    <li><a href="">Has [Person name] previously served in the UK Armed Forces?</a></li>
                                    <li><a href="">In the last seven days, was [Person name] doing any of the following?</a></li>
                                    </ul>
                                    <ul class="list list--bare u-mt-m online">
                                    <div id="Employment"></div>
                                    
                                    <h3>Individual employment</h3>
                                    <li><a href="">In their main job, what is [Person name] employment status?</a></li>
                                    <li><a href="">What is the name of the organisation or business [Person name] works for?</a></li>
                                    <li><a href="">What is [Person name] full job title?</a></li>
                                    <li><a href="">Briefly describe what [Person name] does in their main job?</a></li>
                                    <li><a href="">What is the main activity of [Person name] organisation, business or freelance work?</a></li>
                                    <li><a href="">Does [Person name] supervise or oversee the work of other employees on a day-to-day basis?</a></li>
                                    <li><a href="">In [Person name] main job, how many hours a week do they usually work?</a></li>
                                    <li><a href="">How does [Person name] usually travel to work?</a></li>
                                    <li><a href="">Where does [Person name] mainly work?</a></li>
                                    <li><a href="">What is the address of [Person name] workplace?</a></li>
                                    
                                </ul>

                                <div class="u-mt-l u-mb-l"><a href="#top">Back to top</a></div>
                    </main>
                </div>
                <div class="grid__col col-4@m push-1@m">
                    <div style="border-top:5px solid purple;padding:15px 0;">
                        <h3>Related content</h3>
                            <ul class="list list--bare">
                                <li><a href="#">About the census</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                         <!--<div class="u-mb-m">
                            <hr class="footer__hr">
                        </div>
                       <div class="card card-cta">
                            <h3 class="u-fs-m u-mb-xs">
                                Ready to take part?
                            </h3>
                            <a href="#" style="font-size:2.2em; font-weight:bold;line-height: 1.3em;color:white;text-decoration:underline;cursor:pointer;">Start your census survey</a>
                        </div>-->
                    </div>
                </div>
        </div>
</div>
{% endblock %}
