---
group: Frontstage
title: User self serve
version: 30.0.0
layout: user-self-serve/views/version-8/_master-survey
---

{% from "components/input/_macro.njk" import onsInput %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}

{% block main %}

    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/user-self-serve/version-8/signed-in/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/prototypes/user-self-serve/version-8/signed-in/account/index.html',
                            "text": 'Account'
                        },
                        {
                            "url": '/prototypes/user-self-serve/version-8/signed-in/account/04-transfer-my-surveys/index.html',
                            "text": 'Transfer surveys'
                        },
                        {
                            "url": '/prototypes/user-self-serve/version-8/signed-in/account/04-transfer-my-surveys/00-select-business.html',
                            "text": 'Select business'
                        },
                        {
                            "url": '/prototypes/user-self-serve/version-8/signed-in/account/04-transfer-my-surveys/01-select-surveys.html',
                            "text": 'Select surveys'
                        },
                        {
                            "url": '/prototypes/user-self-serve/version-8/signed-in/account/04-transfer-my-surveys/02-email-address.html',
                            "text": 'Enter email address'
                        } 
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            <h1>Send instructions</h1>

            <p>We will send an email to <b>joe.bloggs@acme.com</b> with instructions to access the following surveys:</p>
            <h2 class="u-fs-m">ACME Consumer Products</h2>
            <div class="text-indent">
                <ul class="list list--bare">
                    <li>Quarterly Business Survey</li>
                    <li>Monthly Business Survey</li>
                </ul>
            </div>
            <h2 class="u-fs-m">ACME Group Ltd</h2>
            <div class="text-indent">
                <ul class="list list--bare">
                    <li>Business Register and Employment Survey</li>
                    <li>Monthly Business Survey</li>
                    <li>Quarterly Business Survey</li>
                    <li>Monthly Wages and Salary Survey</li>
                    <li>Quarterly Acquisitions and Disposals of Capital Assets</li>
                </ul>
            </div>
            <div class="grid grid--flex grid--gutterless grid--vertical-center grid--no-wrap@s u-mt-m u-mb-m">
                <div class="grid__col">
                    <button type="button" class="btn btn-group__btn" onclick="location.href='{{ pageInfo.rootPath }}/version-8/signed-in/account/04-transfer-my-surveys/04-confirmation.html';">
                        <span class="btn__inner">Send</span>
                    </button>

                </div>
                <div class="grid__col u-ml-m">
                    <a href="/prototypes/user-self-serve/version-8/signed-in/account/04-transfer-my-surveys/02-email-address.html">Cancel</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
