---
group: RAS/RM - ROps
title: Overview
version: 14.2.1
layout: overview/views/_index
---


{% block main %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.6.0/echarts-en.js"></script>
  <div class="grid">
    <div class="grid__col col-12@m">
        <h2>Version 1: Data table</h2>
        <ul>
            <li>
                <a href="/prototypes/overview/version-one/index.html">Overview - in session</a>
            </li>
            <li>
                <a href="/prototypes/overview/version-one/change-survey-button.html">Overview - no cookie session (Choose survey:buttons)</a>
            </li>
            <li>
                <a href="/prototypes/overview/version-one/change-survey.html">Overview - no cookie session (Choose survey:links)</a>
            </li>
        </ul>
        <h2>Version 2: Progress visualisation</h2>
        <ul>
            <li>
                <a href="/prototypes/overview/version-two/index.html">Overview with progress visualisation</a>
            </li>
            <li>
                <a href="/prototypes/overview/version-two/index-table.html">Overview with progress data table</a>
            </li>
        </ul>
    </div>
  </div>
{% endblock %}
