---
version: 8.0.5
layout: census-website/views/_master
---

{% from "components/card/_macro.njk" import onsCard %}

{% block page %}
{% from "census-website/components/call-to-action/_macro.njk" import onsCallToAction %}
{{-
    onsCallToAction({
        "headingText": "Ready to start your census survey?",
        "paragraphText": "You'll need the access code from the letter we sent you.",
        "button": {
            "text": "Start survey",
            "classes": 'btn--small',
            "href": "https://deploy-preview-28--sdc-prototypes.netlify.com/prototypes/rh-census/"
        }
    })
}}
<div class="page__container container {{ containerClasses }}">
        {% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/census-website/',
                            "text": 'Home'
                        },
                        {
                            "url": '/prototypes/census-website/help/',
                            "text": 'Help with your census'
                        },    
                        {
                            "url": '/prototypes/census-website/help/getting-help-to-complete-your-census/',
                            "text": 'Getting help to complete your census'
                        },                                             
                        {
                            "url": '',
                            "text": 'Drop-in help centres',
                                "current": true                                                

                        }
                    ]
                }) 
            }}
    <div class="grid">
        <div class="grid__col col-7@m">
            <main id="main-content" class=" {{ pageClasses }}">
            <section>
                <h1 class="u-mb-l u-fs-xl">Getting help to complete your census</h1>
                
                <div class="u-mb-xs" style="font-weight:bold;">Contents</div>
                <ul class="list list--bare">
                    <li>— <a href="/prototypes/census-website/help/getting-help-to-complete-your-census/">Overview</a></li>
                    <li>— Drop-in help centres</a></li>
                    <li>— <a href="/prototypes/census-website/help/getting-help-to-complete-your-census/helping-someone-else/">Helping someone else fill in their census</a></li>
                </ul>
                <div class="u-mt-l">
                        <hr class="footer__hr" style="margin-bottom: 0;">
                </div>
            </section>    
            </main> 
            <div class="u-mt-s">
                <main id="main-content" class=" {{ pageClasses }}">
                <section>
                    <h1 class="u-fs-l">Drop-in help centres</h1>

                    <p>Help is available at the following venues, between the hours of 9am - 5pm.  You don't need to make an appointment.</p>
                    <p>Our staff will offer you help to get online and fill in the census. You can take your own mobile device, or you can use a laptop or tablet provided at the venue.</p>
                    <p>You will need to have access to the information we ask for in the census. You can <a href="/prototypes/census-website/help/help-with-the-questions">find out what you will need in our guidance on the questions.</a></p>
                    <h2>Carlisle</h2>
                    <ul>
                        <li>Greystone Community Centre, Close St, Carlisle CA1 2HA</li>
                        <li>Harraby Community Centre, Edgehill Rd, Carlisle CA1 3SN</li>
                    </ul>
                    <h2>Ceredigion</h2>
                    <ul>
                        <li>Sir Geraint Evans Leisure Centre, South Rd, Aberaeron SA46 0DP</li>
                        <li>National Library of Wales, Penglais Rd, Aberystwyth SY23 3BU</li>
                    </ul>
                    <h2>Hackney</h2>
                    <ul>
                        <li>Clapton Library, Northwold Rd, Cazenove, London E5 8RA</li>
                    </ul>     
                    <h2>Tower Hamlets</h2>
                    <ul>
                        <li>St Matthias Community Centre, 113 Poplar High St, Poplar, London E14 0AE</li>
                    </ul>                                   
                   </section>    
                </main>
            </div> 
            <div class="u-mt-l">
                <hr class="footer__hr" style="margin-bottom: 0;">
            </div>  
            <div class="u-mt-s">
                <div class="grid__col col-4@m" style="padding-left:0;">
                    <a href="/prototypes/census-website/help/getting-help-to-complete-your-census/" style="text-align:left;"><h2 class="u-mb-xs">< Previous</h2><p>Overview</p> </a>
                </div>
                <div class="grid__col col-4@m push-4@m col-5@xs push-1@xs" style="padding-left:0;">
                  <a href="/prototypes/census-website/help/getting-help-to-complete-your-census/helping-someone-else/" style="text-align:right;"><h2 class="u-mb-xs">Next ></h2><p>Helping someone else fill in their census</p> </a>
                </div>
            </div>
        </div>
        <div class="grid__col col-4@m push-1@m">
            <div style="border-top:5px solid purple;padding:15px 0;">
                <h3>Related content</h3>
                    <ul class="list list--bare">
                        <li><a href="#">About the census</a></li>
                        <hr>
                        <li><a href="#">Contact us</a></li>
                    </ul>
            </div>
        </div>      
    </div>
</div>
{% endblock %}
