---
title: About the census
group: Census
version: 31.4.13
layout: census-website-respond/views/_master
---

{% set pageId = 'about' %}

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": 'https://census-website-respond.netlify.app/end-to-end/home/',
                            "text": 'Home'
                        }
                    ]
                })
            }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-fs-xxl u-mb-l">
                            About the census
                            <span class="u-vh">: Overview</span>
                        </h1>

                        {{-
                            onsTableOfContents({
                                "title": 'Contents',
                                "ariaLabel": 'Pages in this guide',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census',
                                        "text": 'Overview',
                                        "current": true
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/who-should-fill-in-a-census',
                                        "text": 'Who should fill in a census'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/why-you-should-take-part-in-the-census',
                                        "text": 'Why you should take part in the census'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/about-the-census-coverage-survey',
                                        "text": 'About the Census Coverage Survey'
                                    }
                                ]
                            })
                        -}}

                        <div class="page__body">

                            <h2>What is the census?</h2>

                            <p>The census is a survey that happens every 10 years and gives us a picture of all the people and households in England and Wales. The next census takes place on Sunday 21 March 2021.</p>

                            <p>Your answers to the census questions will help organisations make decisions on planning and funding public services in your area, including transport, education and healthcare.</p>

                            <h2>When to complete your census</h2>

                            <p>All households should complete the census on <strong>Sunday 21 March 2021</strong> or as soon as possible after. If you’ve responded before 21 March and things have changed, you can <a href="{{pageInfo.rootPath}}/contact-us">contact us</a> to let us know.</p>

                            <p>The census should take around 10 minutes per person to fill in.</p>

                            <h2>The census in Northern Ireland and Scotland</h2>

                            <p>The Office for National Statistics (ONS) runs the census in England and Wales.</p>

                            <p>If you live in Northern Ireland, visit the <a href="https://census.gov.uk/ni/">Northern Ireland Statistics Agency (NISRA) census website</a> to find out how to take part in the census for Northern Ireland.</p>

                            <p>If you live in Scotland, visit the <a href="https://www.scotlandscensus.gov.uk/2021">National Records of Scotland census website</a> to find out how to take part in the census for Scotland.</p>

                            <h2>The last census</h2>

                            <p>The last census took place in 2011. Many people and organisations used information from the 2011 Census in a variety of ways.</p>

                            <p>For example, Bristol Borough Council used it to inform decisions on how to fund local housing improvements. It was also essential for the charity Redbridge Council for Voluntary Services to help people from ethnic minority groups learn more about dementia.</p>

                            <p>To read more about the benefits that information from the 2011 Census helped to create, visit the <a href="https://www.ons.gov.uk/census/2011census">Office for National Statistics (ONS) website</a>.</p>

                            <div class="u-mt-xl">
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                        {
                                            "rel": 'next',
                                            "text": 'Next',
                                            "url": pageInfo.rootPath + '/about-the-census/who-should-fill-in-a-census',
                                            "label": 'Who should fill in a census'
                                        }
                                        ]
                                    })
                                }}
                            </div>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/your-data-and-security/what-we-do-with-your-information',
                                    "text": 'What we do with your information'
                                },
                                {
                                    "url": '#0',
                                    "text": 'Census stories'
                                },
                                {
                                    "url": pageInfo.rootPath + '/news',
                                    "text": 'News'
                                }
                            ]
                        })
                    }}

                    <div class="u-pt-m u-pb-s u-bt">
                        
                        <h2 class="u-fs-r--b u-mb-xs">Help with the census</h2>

                        {{
                            onsList({
                                "classes": 'list--bare',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/help/getting-started/what-if-im-away-or-abroad-on-census-day',
                                        "text": 'What if I’m away or abroad on Census Day?'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/help/getting-started/im-moving-house',
                                        "text": 'I’m moving house'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/help/getting-started/completing-the-census-for-someone-else',
                                        "text": 'Completing the census for someone else'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/help/',
                                        "text": 'More help'
                                    }
                                ]
                            })
                        }}

                    </div>

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
