---
title: About the census
group: Census
version: 29.1.0
layout: census-website-respond/views/_master
---

{% set pageId = 'about' %}

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": 'https://census-website-respond.netlify.app/end-to-end/home/',
                            "text": 'Home'
                        }
                    ]
                })
            }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l">
                            <span class="u-fs-m u-db u-mb-xs u-lighter">About the census</span>
                            <span class="u-vh">: </span>
                            <span class="u-fs-xxl u-db">Overview</span>
                        </h1>

                        {{-
                            onsTableOfContents({
                                "title": 'Contents',
                                "ariaLabel": 'Pages in this guide',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census',
                                        "text": 'Overview',
                                        "current": true
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/who-should-fill-in-a-census',
                                        "text": 'Who should fill in a census'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/why-you-should-take-part-in-the-census',
                                        "text": 'Why you should take part in the census'
                                    }
                                ]
                            })
                        -}}

                        <div class="page__body">

                            <h2>What is the census?</h2>

                            <p>The census is a survey that happens every 10 years and gives us a picture of all the people and households in England and Wales. The next census takes place on Sunday 21 March 2021.</p>

                            <p>Your answers to the census questions will help organisations plan and fund public services in your area, including transport, education and healthcare.</p>

                            <h2>When to complete your census</h2>
                            
                            <p>All households should complete the census on <strong>Sunday 21 March 2021</strong> or as soon as possible after. If you’ve responded before 21 March and things have changed, you can <a href="../contact-us">contact us</a> to let us know.</p>

                            <p>The census should take around 10 minutes per person to fill in.</p>

                            <h2>The census in Northern Ireland and Scotland</h2>

                            <p>The Office for National Statistics (ONS) plans and runs the census in England and Wales.</p>

                            <p>The Northern Ireland Statistics and Research Agency (NISRA) runs the census in Northern Ireland. Visit the <a href="https://census.gov.uk/ni/">NISRA census website</a> to find out how to take part in the census for Northern Ireland.</p>

                            <p>The National Records of Scotland runs the census in Scotland. Visit the <a href="https://www.scotlandscensus.gov.uk/2021">National Records of Scotland census website</a> to find out how to take part in the census for Scotland.</p>

                            <h2>Previous census [TBC]</h2>
                            
                            <p>[Short content TBC with direct link to Census 2011 results on <a href="https://www.ons.gov.uk/census/2011census">the ONS website</a>]</p>

                            <div class="u-mt-xl">
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                        {
                                            "rel": 'next',
                                            "text": 'Next',
                                            "url": pageInfo.rootPath + '/about-the-census/who-should-fill-in-a-census',
                                            "label": 'Who should fill in a census'
                                        }
                                        ]
                                    })
                                }}
                            </div>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/your-data-and-security',
                                    "text": 'Your data and security'
                                },
                                {
                                    "url": pageInfo.rootPath + '/news',
                                    "text": 'News'
                                },
                                {
                                    "url": pageInfo.rootPath + '/contact-us',
                                    "text": 'Contact us'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
