---
title: This property is sublet, but the landlord doesn’t know
group: Census
version: 32.2.4
layout: census-website-respond/views/_master
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{ onsBreadcrumb({
                "ariaLabel": 'Breadcrumb',
                "itemsList": [
                    {
                        "url": 'https://census-website-respond.netlify.app/end-to-end/home',
                        "text": 'Home'
                    },
                    {
                        "url": pageInfo.rootPath + '/help',
                        "text": 'Help with the census'
                    },
                    {
                        "url": pageInfo.rootPath + '/help/types-of-accommodation',
                        "text": 'Types of household or accommodation'
                    },
                    {
                        "url": pageInfo.rootPath + '/help/types-of-accommodation/second-homes-and-properties',
                        "text": 'Second homes, holiday lets and empty properties'
                    }
                ]
            }) }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l">
                            <span class="u-fs-m u-db u-mb-xs u-lighter">Second homes, holiday lets and empty properties</span>
                            <span class="u-vh">: </span>
                            <span class="u-fs-xxl u-db">This property is sublet, but the landlord doesn’t know</span>
                        </h1>

                        {{-
                            onsTableOfContents({
                                "title": 'Contents',
                                "ariaLabel": 'Pages in this guide',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/help/types-of-accommodation/second-homes-and-properties',
                                        "text": 'Overview'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/help/types-of-accommodation/second-homes-and-properties/i-have-a-second-property',
                                        "text": 'I have a second property'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/help/types-of-accommodation/second-homes-and-properties/empty-properties',
                                        "text": 'Empty properties'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/help/types-of-accommodation/second-homes-and-properties/im-in-rented-holiday-accommodation',
                                        "text": 'I’m in rented holiday accommodation'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/help/types-of-accommodation/second-homes-and-properties/im-staying-in-a-non-residential-property',
                                        "text": 'I’m staying in a non-residential property'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/help/types-of-accommodation/second-homes-and-properties/this-property-is-sublet-but-the-landlord-doesnt-know',
                                        "text": 'This property is sublet, but the landlord doesn’t know',
                                        "current": true
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/help/types-of-accommodation/second-homes-and-properties/properties-with-squatters',
                                        "text": 'Properties with squatters'
                                    }
                                ]
                            })
                        }}

                        <div class="page__body">

                            <p>The householder is responsible for completing the census.</p>

                            <p>The householder is a person who usually lives at this address, and either on their own or with someone else:</p>

                            {{
                                onsList({
                                    "itemsList": [
                                        {
                                            "text": 'owns or rents the accommodation, or'
                                        },
                                        {
                                            "text": 'pays the household bills and expenses'
                                        }
                                    ]
                                })
                            }}

                            <p>Whether or not the owner of the property knows you’re here, if you live here and pay the bills for this property, or you pay rent, you are the householder. It’s your responsibility to return or submit a completed census form for this property. If you are not a householder but still live at this address, you need to be included on the form.</p>

                            <p>The census does not ask questions about sublets. We won’t share any information with the landlord.</p>

                            <p>If you don’t return or submit a completed census form, a census officer will call at your door. If you don’t complete the census, you risk prosecution, a criminal record and a fine of up to £1,000. The best way to avoid this is to return or submit the completed form as soon as you can.</p>

                            <div class="u-mt-xl">
                                {{ onsContentPagination({
                                    "contentPaginationItems": [
                                        {
                                            "rel": 'prev',
                                            "text": 'Previous',
                                            "url": pageInfo.rootPath + '/help/types-of-accommodation/second-homes-and-properties/im-staying-in-a-non-residential-property',
                                            "label": 'I’m staying in a non-residential property'
                                        }
                                        ]
                                    })
                                }}
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                        {
                                            "rel": 'next',
                                            "text": 'Next',
                                            "url": pageInfo.rootPath + '/help/types-of-accommodation/second-homes-and-properties/properties-with-squatters',
                                            "label": 'Properties with squatters'
                                        }
                                        ]
                                    })
                                }}
                            </div>


                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{ onsRelatedLinks({
                        "id": 'related-links',
                        "title": 'Related content',
                        "itemsList": [
                            {
                                "url": pageInfo.rootPath + '/help/find-a-census-support-centre',
                                "text": 'Find a census support centre'
                            },
                            {
                                "url": 'https://census-website-respond.netlify.app/end-to-end/languages',
                                "text": 'Languages'
                            },
                            {
                                "url": pageInfo.rootPath + '/contact-us',
                                "text": 'Contact us'
                            }
                        ]
                    }) }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
