.uac__field {
  display: inline-block;
  position: relative;
  border: none;
  padding: 0;
}

.uac__input {
  max-width: 15em;
  /* Used to fix clipped lowercase g and y */
  height: 100%;
  font-weight: bold;
  text-transform: uppercase;
}

.uac__security {
  display: flex;
}
