---
group: RAS/RM - Frontstage
title: User self serve
version: 30.0.0
layout: user-self-serve/views/version-7/_master-survey
---

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}

{% block main %}
    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/user-self-serve/version-7/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/prototypes/user-self-serve/version-7/01-message-categories.html',
                            "text": 'Help'
                        }
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            <h1>Information about the ONS</h1>
            <form action="{{ pageInfo.parentPath }}/index.html">
                <p class="field">
                    <fieldset class="fieldset">
                        <legend class="fieldset__legend">Choose an option</legend>
                        <div class="radios__items">
                            <p class="radios__item">
                                <span class="radio">
                                    <input
                                        type="radio"
                                        id="option-1"
                                        data-action-url="{{ pageInfo.parentPath }}/option-1/index.html"
                                        class="radio__input js-radio"
                                        value="option-1"
                                        name="message-query">
                                    <label class="radio__label" for="option-1">Who is the ONS?</label>
                                </span>
                            </p>
                            <br>
                            <p class="radios__item">
                                <span class="radio">
                                    <input
                                        type="radio"
                                        id="option-2"
                                        data-action-url="{{ pageInfo.parentPath }}/option-2/index.html"
                                        class="radio__input js-radio"
                                        value="option-2"
                                        name="message-query">
                                    <label class="radio__label" for="option-2">How safe is my data?</label>
                                </span>
                            </p>
                            <br>
                            <p class="radios__item">
                                <span class="radio">
                                    <input
                                        type="radio"
                                        id="other"
                                        data-action-url="{{ pageInfo.parentPath }}/send-message.html"
                                        class="radio__input js-radio "
                                        value="other" 
                                        name="message-query"
                                        aria-controls="other-wrap" aria-haspopup="true">
                                        <label class="radio__label" for="other">
                                            Something else
                                        </label>
                                </span>
                            </p>
                        </div>
                    </fieldset>
                </p>
                <p class="field">
                    <div class="btn-group">
                        <button type="submit" class="btn">
                            <span class="btn__inner">Continue</span>
                        </button>
                        {{ 
                            onsButton({
                                "type": 'button',
                                "text": 'Cancel',
                                "classes": 'btn--secondary btn-group__btn',
                                "url": "/prototypes/user-self-serve/version-7/00-surveys-list.html"
                            }) 
                        }}
                    </div>
                </p>
            </form>
        </div>
    </div>
    <script>
        var submit = document.getElementById('btnFormSubmit');
        submit.addEventListener('click', submitForm);

        function submitForm(event) {
            event.preventDefault();
            event.stopPropagation();

            var href = '',
                inputs = this
                    .parentNode
                    .getElementsByTagName('input')
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].getAttribute('name') == 'button' && inputs[i].checked) {
                    href = inputs[i].getAttribute('data-href');
                    window.location = href;
                }
            }
        }
    </script>

{% endblock %}
