---
group: RAS/RM - Census ROps
title: ROps case management
version: 17.0.0
layout: rops-management/views/_index
---

{% block main %}
    {% from "components/button/_macro.njk" import onsButton %}

    <div class="grid">
        <div class="grid__col col-8@m">
            <h1>Current version</h1>
            <p><a href="/prototypes/rops-management/version-2/search.html">Search</a> (Start here)</p>

            <h2>Archive</h2>
            <div id="collapsible" class="collapsible js-collapsible" data-btn-close="Hide this">
                <div class="collapsible__heading js-collapsible-heading">
                    <div class="collapsible__controls">
                    <h2 class="collapsible__title u-fs-r--b">Version 1</h2>
                    </div>
                </div>
                <div id="collapsible-content" class="collapsible__content js-collapsible-content">
                    <ul>
                        <li><a href="/prototypes/rops-management/version-1/search.html">Search</a> (Start here)<br>Search by address/postcode </li>
                        <li><a href="/prototypes/rops-management/version-1/search-and-find.html">Search and find</a>  <br>Search by address/postcode + case reference + questionnaire ID</li>
                        <li><a href="/prototypes/rops-management/version-1/version-2/index.html">View a case</a></li>
                        <li><a href="/prototypes/rops-management/version-1/version-1/index.html">View a case: Version 1</a>  Simple semantic html with metadata component</li>
                        <li><a href="/prototypes/rops-management/version-1/version-2/index.html">View a case: Version 2</a>  Collapsible component</li>
                        <li><a href="/prototypes/rops-management/version-1/version-3/index.html">View a case: Version 3</a>  json version</li>
                    </ul>
                    <button type="button" class="btn btn--small js-collapsible-button u-d-no btn--secondary">
                    <span class="btn__inner js-collapsible-button-inner">Hide this</span>
                    <span class="btn__context u-vh">Version 1 content</span>
                    </button>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}
