---
group: Frontstage
title: ROps Management
version: 17.0.0
layout: rops-management/views/_index
---

{% block main %}
    {% from "components/button/_macro.njk" import onsButton %}
    <h1>Screens</h1>

    <div class="grid">
        <div class="grid__col col-8@m">
            <p><a href="/prototypes/rops-management/home.html">Home</a></p>
        </div>
    </div>
{% endblock %}
