---
group: Frontstage
title: User account creation
version: 20.0.3
layout: sm-categorisation/views/version-5/_master-survey
---

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}

{% block main %}
    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/sm-categorisation/version-5/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/prototypes/sm-categorisation/version-5/30-my-account.html',
                            "text": 'Account'
                        },
                        {
                            "url": '/',
                            "text": 'Change business details',
                            "current": true
                        }
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            <h1>Change business details for MBI UNITED KINGDOM LTD</h1>
             <div class="field">
                <p>
                    {{ 
                        onsInput({
                            "id": "businessname",
                            "value": "MBI UNITED KINGDOM LTD",
                            "label": {
                                "text": "Business name"
                            }
                        }) 
                    }}
                </p>
            </div>
            {{
                onsTextarea({
                    "id": "textarea",
                    "name": "business-address",
                    "classes": "input--w-20",
                    "value": "MAILPOINT A1F
PO BOX 41
NORTH HARBOUR
PORTSMOUTH",
                    "rows": "5",
                    "label": {
                        "text": "Business address",
                        "description": "Limit address to a maximum of 5 lines"
                    }
                })
            }}
             <div class="field">
                <p>
                    {{ 
                        onsInput({
                            "id": "postcode",
                            "value": "PO6 3AU",
                            "classes": "input--w-6",
                            "label": {
                                "text": "Postcode"
                            }
                        }) 
                    }}
                </p>
            </div>
             <div class="field">
                <p>
                    {{ 
                        onsInput({
                            "id": "phone-number",
                            "value": "0204 089 0982",
                            "classes": "input--w-10",
                            "label": {
                                "text": "Phone number"
                            }
                        }) 
                    }}
                </p>
            </div>
             <div class="field">
                <p>
                    {{ 
                        onsInput({
                            "id": "faxnumber",
                            "value": "0204 089 0983",
                            "classes": "input--w-10",
                            "label": {
                                "text": "Fax number"
                            }
                        }) 
                    }}
                </p>
            </div>
            {{
                onsCheckboxes({
                    "legend": "Which surveys are affected by this change?",
                    "checkboxesLabel": "Select all that apply",
                    "name": "food",
                    "checkboxes": [
                        {
                            "id": "mbs",
                            "label": {
                                "text": "Monthly business survey"
                            },
                            "value": "mbs"
                        },
                        {
                            "id": "ashe",
                            "label": {
                                "text": "Annual Survey of Hours and Earnings"
                            },
                            "value": "ashe"
                        }
                    ]
                })
            }}
            <p class="field u-mt-l">
                <button type="submit" class="btn" onclick="location.href='{{ pageInfo.rootPath }}/version-5/account/05-change-business-details/03-confirm-business-details-change.html';">
                    <span class="btn__inner">Continue</span>
                </button>
                <button type="submit" class="btn btn--secondary" onclick="location.href='{{ pageInfo.rootPath }}/version-5/account/05-change-business-details/01-select-business.html';">
                    <span class="btn__inner">Cancel</span>
                </button>
            </p>
        </div>
    </div>

{% endblock %}
