---
group: RAS/RM - Frontstage
title: User self serve
version: 35.0.3
layout: user-self-serve/views/version-9/_master-surveys-list
---
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}

{% block main %}

    <div class="grid">
    <form></form>
        <div class="grid__col col-12@m">
        {% from "components/panel/_macro.njk" import onsPanel %}
            {{
                onsPanel({
                    "classes": 'u-mb-l u-d-no',
                    "type": 'success',
                    "id": 'js-success-panel',
                    "icon": 'check',
                    "body": '<p>Your message has been sent. <a href="/prototypes/user-self-serve/version-9/signed-in/00-surveys-list.html#tabId3">View message</a></p>'
                })
            }}

            <section role="region" class="tabs">
                <h2 class="tabs__title">Tabs</h2>
                <ul class="tabs__list">
                    <li id="tabId1Item" class="tab__list-item">
                        <a href="#tabId1" class="tab" data-ga="click" data-ga-category="tabs" data-ga-action="Show: UKIS" data-ga-label="Show: UKIS">To do</a>
                    </li>
                    <li id="tabId2Item" class="tab__list-item">
                        <a href="#tabId2" class="tab" data-ga="click" data-ga-category="tabs" data-ga-action="Show: Vacancy survey" data-ga-label="Show: Vacancy survey">History</a>
                    </li>
                    <li id="tabId3Item" class="tab__list-item">
                        <a href="#tabId3" class="tab" data-ga="click" data-ga-category="tabs" data-ga-action="Show: QBS" data-ga-label="Show: QBS">Messages</a>
                    </li>
                </ul>

                <section id="tabId1" class="tabs__panel">
                    <p class='u-fs-r u-mt-s u-mb-l'>
                        Need to add a new survey? Use your enrolment code to <a href="#">add a new survey to your account</a>.
                    </p>
                    <section class="u-bb " id="access_survey_button_1">
                        <h1 class="u-mb-xs u-fs-m u-mt-s">
                            <a href="#0" aria-label="Access the Quarterly Acquisitions and Disposals of Capital Assets survey">Quarterly Acquisitions and Disposals of Capital Assets</a>
                        </h1>
                        <h2 class="u-mb-xs u-mt-no u-fs-r u-fw-b"> <span>Period covered:</span> April to June 2021</h2>
                        <dl class="grid">
                            <div class="grid__col col-5@m u-pt-no u-pb-xs">
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s">Business: </dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">ACME Group Ltd</dd>
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s">RU ref: </dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">49900000001</dd>
                            </div>
                            <div class="grid__col col-4@m u-pt-no u-pb-xs">

                                <dt class="u-fs-r u-ml-no u-mb-xs" style="line-height:1.2">
                                    <strong>Due in 2 months</strong>
                                </dt>

                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s">Submit by: </dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">10th October 2021</dd>
                            </div>
                            <div class="grid__col col-3@m u-pt-no u-pb-xs">
                                <dt style="float: left; clear: left;" class="u-vh">Status: </dt>
                                <dd class="u-fs-r u-ml-no u-mb-xs" style="line-height:1">
                                    <span class="status status--info">Not started</span>
                                </dd>
                                <dt style="float: left; clear: left;" class="u-vh">Help: </dt>
                                <dd class="u-ml-no u-mb-s">
                                    <a id="create-message-link-1" href="{{ pageInfo.rootPath }}/version-9/signed-in/help/index.html" aria-label="Get help with the Quarterly Business Survey">Get help with this survey <span class="u-vh"> about Quarterly Business Survey</span></a>
                                </dd>
                            </div>
                        </dl>
                    </section>
                    <section class="u-bb " id="access_survey_button_2">
                        <h1 class="u-mb-xs u-fs-m u-mt-s">
                            <a href="#0" aria-label="Access the Quarterly Business Survey">Quarterly Business Survey</a>
                        </h1>
                        <h2 class="u-mb-xs u-mt-no u-fs-r u-fw-b"> <span>Period covered:</span> January to March 2021</h2>
                        <dl class="grid">
                            <div class="grid__col col-5@m u-pt-no u-pb-xs">
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s">Business: </dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">ACME Group Ltd</dd>
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s">RU ref: </dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">49900000001</dd>
                            </div>
                            <div class="grid__col col-4@m u-pt-no u-pb-xs">

                                <dt class="u-fs-r u-ml-no u-mb-xs" style="line-height:1.2">
                                    <strong>Due in 5 days</strong>
                                </dt>

                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s">Submit by: </dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">10th August 2021</dd>
                            </div>
                            <div class="grid__col col-3@m u-pt-no u-pb-xs">
                                <dt style="float: left; clear: left;" class="u-vh">Status: </dt>
                                <dd class="u-fs-r u-ml-no u-mb-xs" style="line-height:1">
                                    <span class="status status--success">In progress</span>
                                </dd>
                                <dt style="float: left; clear: left;" class="u-vh">Help: </dt>
                                <dd class="u-ml-no u-mb-s">
                                    <a id="create-message-link-1" href="{{ pageInfo.rootPath }}/version-9/signed-in/help/index.html" aria-label="Get help with the Quarterly Business Survey">Get help with this survey <span class="u-vh"> about Quarterly Business Survey</span></a>
                                </dd>
                            </div>
                        </dl>
                    </section>
                    <section class="u-bb " id="access_survey_button_3">
                        <h1 class="u-mb-xs u-fs-m u-mt-s">
                            <a href="#0" aria-label="Access the Monthly Wages and Salary Survey">Monthly Wages and Salary Survey</a>
                        </h1>
                        <h2 class="u-mb-xs u-mt-no u-fs-r u-fw-b"> <span>Period covered:</span> June 2021</h2>
                        <dl class="grid">
                            <div class="grid__col col-5@m u-pt-no u-pb-xs">
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s">Business: </dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">ACME Group Ltd</dd>
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s">RU ref: </dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">49900000001</dd>
                            </div>
                            <div class="grid__col col-4@m u-pt-no u-pb-xs">

                                <dt class="u-fs-r u-ml-no u-mb-xs" style="line-height:1.2">
                                    <strong>Due tomorrow</strong>
                                </dt>

                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s">Submit by: </dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">30th August 2021</dd>
                            </div>
                            <div class="grid__col col-3@m u-pt-no u-pb-xs">
                                <dt style="float: left; clear: left;" class="u-vh">Status: </dt>
                                <dd class="u-fs-r u-ml-no u-mb-xs" style="line-height:1">
                                    <span class="status status--info">Not started</span>
                                </dd>
                                <dt style="float: left; clear: left;" class="u-vh">Help: </dt>
                                <dd class="u-ml-no u-mb-s">
                                    <a id="create-message-link-1" href="{{ pageInfo.rootPath }}/version-9/signed-in/help/index.html" aria-label="Get help with the Quarterly Business Survey">Get help with this survey <span class="u-vh"> about Quarterly Business Survey</span></a>
                                </dd>
                            </div>
                        </dl>
                    </section>
                    <section class="u-bb " id="access_survey_button_4">
                        <h1 class="u-mb-xs u-fs-m u-mt-s">
                            <a id="js-survey-cta" href="{{ pageInfo.rootPath }}/version-9/signed-in/50-survey-start.html" aria-label="Access the E-commerce survey">E-commerce survey</a>
                        </h1>
                        <h2 class="u-mb-xs u-mt-no u-fs-r u-fw-b"> <span>Period covered:</span> April 2020</h2>
                        <dl class="grid">
                            <div class="grid__col col-5@m u-pt-no u-pb-xs">
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s">Business: </dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">ACME Group Ltd</dd>
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s">RU ref: </dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">49900000001</dd>
                            </div>
                            <div class="grid__col col-4@m u-pt-no u-pb-xs">

                                <dt class="u-fs-r u-ml-no u-mb-xs" style="line-height:1.2">
                                    <strong>Due today</strong>
                                </dt>

                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s">Submit by: </dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">29th August 2021</dd>
                            </div>
                            <div class="grid__col col-3@m u-pt-no u-pb-xs">
                                <dt style="float: left; clear: left;" class="u-vh">Status: </dt>
                                <dd class="u-fs-r u-ml-no u-mb-xs" style="line-height:1">
                                    <span id="js-survey-status" class="status status--info">Not started</span>
                                </dd>
                                <dt style="float: left; clear: left;" class="u-vh">Help: </dt>
                                <dd class="u-ml-no u-mb-s">
                                    <a id="create-message-link-1" href="{{ pageInfo.rootPath }}/version-9/signed-in/help/index.html?survey=e-commerce" aria-label="Get help with the E-commerce Survey">Get help with this survey <span class="u-vh"> about E-commerce</span></a>
                                </dd>
                            </div>
                        </dl>
                    </section>
                    <section class="u-bb " id="access_survey_button_5">
                        <h1 class="u-mb-xs u-fs-m u-mt-s">
                            <a href="#0" aria-label="Access the Monthly Business Survey">Monthly Business Survey</a>
                        </h1>
                        <h2 class="u-mb-xs u-mt-no u-fs-r u-fw-b"> <span>Period covered:</span> December 2020</h2>
                        <dl class="grid">
                            <div class="grid__col col-5@m u-pt-no u-pb-xs">
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s">Business: </dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">ACME Group Ltd</dd>
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s">RU ref: </dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">49900000001</dd>
                            </div>
                            <div class="grid__col col-4@m u-pt-no u-pb-xs">

                                <dt class="u-fs-r u-ml-no u-mb-xs" style="line-height:1.2">
                                    <strong></strong>
                                </dt>

                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s">Submit by: </dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">29th Jan 2021</dd>
                            </div>
                            <div class="grid__col col-3@m u-pt-no u-pb-xs">
                                <dt style="float: left; clear: left;" class="u-vh">Status: </dt>
                                <dd class="u-fs-r u-ml-no u-mb-xs" style="line-height:1">
                                    <span class="status status--info">Not started</span>
                                </dd>
                                <dt style="float: left; clear: left;" class="u-vh">Help: </dt>
                                <dd class="u-ml-no u-mb-s">
                                    <a id="create-message-link-1" href="{{ pageInfo.rootPath }}/version-9/signed-in/help/index.html" aria-label="Get help with the Quarterly Business Survey">Get help with this survey <span class="u-vh"> about Quarterly Business Survey</span></a>
                                </dd>
                            </div>
                        </dl>
                    </section>

                    <p class='u-fs-r u-mt-l'>
                        <a href="#">Survey not listed?</a>
                    </p>
                </section>
                <section id="tabId2" class="tabs__panel">
                    <section class="u-bb " id="js-completed-surveyX">
                        <h1 class="u-mb-xs u-fs-m u-mt-s">E-commerce survey</h1>
                        <dl class="grid">
                            <div class="grid__col col-5@m u-pt-no u-pb-xs">
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fw-b">Period covered:</dt>
                                <dd class="u-ml-no u-mb-xs u-fw-b">April 2020</dd>
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s">Business: </dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">ACME Group Ltd</dd>
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s">RU ref: </dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">49900000001</dd>
                            </div>
                            <div class="grid__col col-4@m u-pt-no u-pb-xs">
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s">Submitted on: </dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">25 June 2021 at 15:49</dd>
                            </div>
                            <div class="grid__col col-3@m u-pt-no u-pb-xs">
                                <dt style="float: left; clear: left;" class="u-vh">Status: </dt>
                                <dd class="u-fs-r u-ml-no u-mb-xs" style="line-height:1">
                                    <span class="status status--dead">Complete</span>
                                </dd>
                            </div>
                        </dl>
                    </section>
                    <section class="survey u-bb">
                        <h1 class="u-mb-xs u-fs-m u-mt-s u-mb-s">Monthly Wages and Salary Survey</h1>
                        <dl class="grid">
                            <div class="grid__col col-5@m u-pt-no u-pb-xs">
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fw-b">Period covered:</dt>
                                <dd class="u-ml-no u-mb-xs u-fw-b">November 2020</dd>
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s add-colon">Business</dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">ACME Consumer Products</dd>
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s add-colon">RU ref</dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">10000678476</dd>
                            </div>
                            <div class="grid__col col-4@m u-pt-no u-pb-xs">
                                <dt class="u-ml-no u-mb-xs u-pr-xs u-fs-s add-colon">Submit by</dt>
                                <dd style="float: left; clear: left;" class="u-ml-no u-mb-xs u-fs-s">6th Jan 2021, 23:59</dd>
                            </div>
                            <div class="grid__col col-3@m u-pt-no u-pb-xs">
                                <dt class="u-vh">Status</dt>
                                <dd class="u-fs-r u-ml-no u-mb-xs">
                                    <span class="status status--dead">Complete</span></dd>
                            </div>
                        </dl>
                    </section>
                    <section class="survey u-bb">
                        <h1 class="u-mb-xs u-fs-m u-mt-s u-mb-s">Monthly Wages and Salary Survey</h1>
                        <dl class="grid">
                            <div class="grid__col col-5@m u-pt-no u-pb-xs">
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fw-b">Period covered</dt>
                                <dd class="u-ml-no u-mb-xs u-fw-b">October 2020</dd>
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s add-colon">Business</dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">ACME Consumer Products</dd>
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s add-colon">RU ref</dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">10000678476</dd>
                            </div>
                            <div class="grid__col col-4@m u-pt-no u-pb-xs">
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s add-colon">Submit by</dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">6th Jan 2021, 23:59</dd>
                            </div>
                            <div class="grid__col col-3@m u-pt-no u-pb-xs">
                                <dt class="u-vh">Status</dt>
                                <dd class="u-fs-r u-ml-no u-mb-xs">
                                    <span class="status status--dead">Completed by phone</span></dd>
                            </div>
                        </dl>
                    </section>
                    <section class="survey u-bb">
                        <h1 class="u-mb-xs u-fs-m u-mt-s u-mb-s">Monthly Wages and Salary Survey</h1>
                        <dl class="grid">
                            <div class="grid__col col-5@m u-pt-no u-pb-xs">
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fw-b">Period covered</dt>
                                <dd class="u-ml-no u-mb-xs u-fw-b">September 2020</dd>
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s add-colon">Business</dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">ACME Consumer Products</dd>
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s add-colon">RU ref</dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">10000678476</dd>
                            </div>
                            <div class="grid__col col-4@m u-pt-no u-pb-xs">
                                <dt style="float: left; clear: left;" class="u-ml-no u-mb-xs u-pr-xs u-fs-s add-colon">Submit by</dt>
                                <dd class="u-ml-no u-mb-xs u-fs-s">6th Jan 2021, 23:59</dd>
                            </div>
                            <div class="grid__col col-3@m u-pt-no u-pb-xs">
                                <dt class="u-vh">Status</dt>
                                <dd class="u-fs-r u-ml-no u-mb-xs">
                                    <span class="status status--dead">No longer required</span></dd>
                            </div>
                        </dl>
                    </section>
                </section>
                <section id="tabId3" class="tabs__panel">
                {% from "components/message-list/_macro.njk" import onsMessageList %}
                    {{ 
                        onsMessageList({
                            "ariaLabel": "Message list for ONS Business Surveys",
                            "unreadText": "New",
                            "fromLabel": "From",
                            "dateLabel": "Date",
                            "hiddenReadLabel": "Read the message",
                            "ariaLabelMetaData": "Message information",
                            "ariaLabelMsg": "Message preview",
                            "messages": [
                                {
                                    "id": "message1",
                                    "unread": true,
                                    "url": "#",
                                    "subject": "E-commerce survey - Help answering a survey question",
                                    "fromText": "Jane Doe",
                                    "dateText": "Tue 4 Aug 2021 at 7:47",
                                    "body": "Hi, I need help answering the question about the speed of the internet at my business."
                                },                        
                                {
                                    "id": "message2",   
                                    "url": "#",
                                    "subject": "BRES 2015 Enquiry on data",
                                    "fromText": "Jacky Turner",
                                    "dateText": "Mon 1 Oct 2019 at 9:52",
                                    "body": "Hi Jacky, Thank you for returning the Business Register and Employment Survey (BRES) 2016…"
                                }
                            ]
                        })
                    }}

                </section>
            </section>
        </div>
    </div>

    <script>

        function continueSurvey() {
            if (sessionStorage.length) {
                var surveyStatus = document.getElementById('js-survey-status');
                var surveyCta = document.getElementById('js-survey-cta');
                var surveyBookmark = sessionStorage.getItem('surveyBookmark');
                
                surveyStatus.innerHTML = 'In progress';
                surveyStatus.classList.replace('status--info', 'status--success');

                surveyCta.onclick = function continueSurvey() {
                    surveyCta.href = surveyBookmark;
                }

            }
        }

        function showPanel() {
            var urlParams = new URLSearchParams(window.location.search);
            var showPanel = urlParams.get('sent');
            var successPanel = document.getElementById('js-success-panel');

            if(showPanel) { 
                successPanel.classList.remove('u-d-no');
            }
        }

        function openNav() {
            document
                .getElementById("mySidenav")
                .style
                .width = "20%";
            document
                .getElementById("main")
                .style
                .marginLeft = "20%";
            document
                .getElementById("openNavBtn")
                .style
                .display = "none";
            document
                .getElementById("closeNavBtn")
                .style
                .display = "block";
        }

        function closeNav() {
            document
                .getElementById("mySidenav")
                .style
                .width = "0";
            document
                .getElementById("main")
                .style
                .marginLeft = "0";
            document
                .getElementById("closeNavBtn")
                .style
                .display = "none";
            document
                .getElementById("openNavBtn")
                .style
                .display = "block";
        }

        function hideCompletedSurvey() {
            var surveyCompleteStorage = sessionStorage.getItem('surveyComplete');
            var activeSurvey = document.getElementById('access_survey_button_4');
            var completedSurvey = document.getElementById('js-completed-survey');

            if(surveyCompleteStorage === "true") {
                activeSurvey.classList.add('u-d-no');
                completedSurvey.classList.remove('u-d-no');
            }
        }

        continueSurvey();
        showPanel();
        hideCompletedSurvey();
    </script>

{% endblock %}
