---
version: 23.0.1
layout: census-support/views/_master
---
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "census-support/components/input/_macro.njk" import onsInput %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.parentPath + "/code-text-sent.html"
    }
} %}
{% block preMain %}
    <div class="u-mt-s">
        <a class="back-link" href="{{ pageInfo.parentPath }}/what-is-your-address.html">Back</a>
    </div>
{% endblock %}
{% block main %}
    {% call onsQuestion({
        "title": "Enter your address manually"
    }) %}
        {% call onsFieldset({
            "legend": "Enter your address manually",
            "legendClasses": "u-vh",
            "classes": "u-mb-no"
        }) %}
            {{
                onsInput({
                    "id": "address-line-1",
                    "classes": "input--w-20",
                    "label": {
                        "text": "Address line 1"
                    }
                })
            }}
            {{
                onsInput({
                    "id": "address-line-2",
                    "classes": "input--w-20",
                    "label": {
                        "text": "Address line 2"
                    }
                })
            }}
            {{
                onsInput({
                    "id": "address-town",
                    "label": {
                        "text": "Town or city"
                    }
                })
            }}
            {{
                onsInput({
                    "id": "address-postcode",
                    "classes": "input--w-5 u-mb-no",
                    "label": {
                        "text": "Postcode"
                    }
                })
            }}
        {% endcall %}
        {{ 
            onsButton({
                "text": "Continue",
                "classes": "u-mt-l u-mb-xl"
            }) 
        }}
    {% endcall %}

    <script>
        sessionStorage.removeItem("{{ pageInfo.parentPath }}/enter-your-address.html");
    </script>
{% endblock %}
