---
title: Relationships
group: Components
version: 7.0.1
layout: relationships/views/_master
---
{% from "components/button/_macro.njk" import onsButton %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "action": pageInfo.rootPath + "/intro.html"
    }
} %}

{% block main %}
    <h1 class="u-mt-l">Relationships Prototype</h1>

    <p>The purpose of this prototype is to test the relationships component for accessibility.<p>
    <p>This prototype does <strong>NOT</strong> accurately represent the people who live here flow, or the behaviour of actually collecting the relationships and should not be used as a reference for these patterns.</p>

    {{ onsButton({
        "text": "Start prototype",
        "classes": "u-mt-m u-mb-xl"
    }) }}

{% endblock %}
