---
title: Relationships
group: Components
version: 7.0.1
layout: relationships/views/_master
---
{% from "components/button/_macro.njk" import onsButton %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "action": pageInfo.rootPath + "/your-name.html"
    }
} %}

{% block main %}
    <h1 class="u-mt-l">People who live here</h1>

    <p>In this section, we’re going to ask you about the people living or staying at 2 Example Address.</p>

    <h2>Information you will need</h2>

    <ul>
        <li>Names of the people living at this address including anyone temporarily away or who has been or intends to be in the UK 3 months or more.</li>
        <li>Names of visitors staying overnight at this address on 3 February 2019</li>
    </ul>

    {{ onsButton({
        "text": "Continue",
        "classes": "u-mt-m u-mb-xl"
    }) }}

{% endblock %}
