---
group: Frontstage
title: User account creation
version: 17.0.0
layout: user-account-creation/views/version-2/_master-survey
---

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "components/input/_macro.njk" import onsInput %}

{% block main %}

    <div class="grid">
        <div class="grid__col col-6@m">
            <h1>Change of business details</h1>
            <p>Send us a message with your new business details and we’ll respond to confirm the changes.</p>
            <p class="field">
        
            {{
                onsTextarea({
                    "id": "textarea",
                    "name": "feedback",
                    "label": {
                        "text": "Create message"
                    }
                })
            }}
            </p>
            <p class="field">
                <div class="btn-group">
                    <button type="submit" class="btn" onclick="location.href='{{ pageInfo.rootPath }}/version-2/10-message-sent.html';">
                        <span class="btn__inner">Send</span>
                    </button>
                    <button type="submit" class="btn btn--secondary" onclick="location.href='{{ pageInfo.rootPath }}/version-2/30-my-account.html';">
                        <span class="btn__inner">Cancel</span>
                    </button>
                </div>
            </p>
        </div>
    </div>

{% endblock %}
