---
group: RAS/RM - Frontstage
title: User self serve
version: 35.0.3
layout: user-self-serve/views/version-10/_master-internal-respondent
---

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/metadata/_macro.njk" import onsMetadata %}

{% block main %}
    <div class="grid">
        <div class="grid__col col-6@m">
            <section>
                <h1>Delete transfer request for gareth.poole@ons.gov.uk?</h1>
                <p>The request to transfer the surveys will be cancelled and the email sent to the recipient will no longer be valid.</p>
                <p>Once the option to delete is confirmed, it is unrecoverable.</p>
                <p>New requests to share or transfer to the email will be available immediately.</p>

            <p class="field u-mt-l">
                <div class="grid grid--flex grid--gutterless grid--vertical-center grid--no-wrap@s u-mt-m u-mb-m">
                    <div class="grid__col">
                        <button type="button" class="btn btn-group__btn" onclick="location.href='{{ pageInfo.rootPath }}/version-10/00-internal/respondent/index-transfer-deleted.html';">
                            <span class="btn__inner">Delete share request</span>
                        </button>

                    </div>
                    <div class="grid__col u-ml-m">
                        <a href="/prototypes/user-self-serve/version-10/00-internal/respondent/index.html">Cancel</a>
                    </div>
                </div>
            </p>
            </section>
        </div>
    </div>
{% endblock %}
