---
group: Frontstage
title: User self serve
version: 35.0.3
layout: user-self-serve/views/version-9/_master-survey
---

{% from "components/input/_macro.njk" import onsInput %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% block main %}

    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/user-self-serve/version-9/signed-in/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/prototypes/user-self-serve/version-9/signed-in/account/index.html',
                            "text": 'Account'
                        } 
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-12@m u-pt-no">
            <div class="summary">
                <div class="summary__group">
                    <h2 class="summary__group-title u-fs-xl">Your business details</h2>
                    {{
                        onsPanel({
                            "classes":"u-mb-m",
                            "body": '<p>You have changed your business details. Before they can be confirmed, changes need to be <a href="#approve">sent to us</a> for approval.</p>'
                        })
                    }}
                    <table class="summary__items">
                        <thead>
                            <tr class="u-ta-left">
                                <th>Business name</th>
                                <th>Address</th>
                                <th>Surveys</th>
                                <th class="u-vh">Surveys</th>
                            </tr>
                        </thead>
                        <tbody class="summary__item">
                            <tr class="summary__row summary__row--has-values">
                                <td class="summary__item-title">
                                    <div class="summary__item--text">
                                        BOW TRADING LTD <br>
                                        <span class="u-fs-s">Trading as: BOW TRADING LTD<br>
                                        RU ref: 50000041799</span>
                                    </div>
                                </td>
                                <td class="summary__values u-fw-n">
                                    BARRATT HOUSE<br>         
                                    CARTWRIGHT WAY<br>                
                                    FOREST BUSINESS PARK<br>          
                                    BARDON HILL<br>                   
                                    COALVILLE LEICS<br>
                                    LE67 1UF
                                </td>
                                <td class="summary__values u-fw-n">  
                                    <ul class="list list--bare">
                                        <li class="list__item ">Annual Survey of Hours and Earnings</li>
                                    </ul>  
                                </td>
                                <td class="summary__actions">
                                    <a href="02-select-surveys.html" class="summary__button" aria-label="Change answer">Change</a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="summary__item">
                            <tr class="summary__row summary__row--has-values">
                                <td class="summary__item-title">
                                    <div class="summary__item--text">
                                        BOW TRADING LTD <br>
                                        <span class="u-fs-s">Trading as: BOW TRADING LTD<br>
                                        RU ref: 50000041929</span>
                                    </div>
                                </td>
                                <td class="summary__values u-fw-n">
                                    7 BUCHANAN GATE<br>               
                                    CUMBERNAULD ROAD<br>              
                                    STEPPS <br>                       
                                    GLASGOW <br>                      
                                    G33 6FB<br>
                                </td>
                                <td class="summary__values u-fw-n">  
                                    <ul class="list list--bare">
                                        <li class="list__item ">Quarterly Acquisitions and Disposal of Capital Assets Survey</li>
                                        <li class="list__item ">Quarterly Stocks Survey</li>
                                    </ul>  
                                </td>
                                <td class="summary__actions">
                                    <a href="02-select-surveys.html" class="summary__button" aria-label="Change answer">Change</a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="summary__item">
                            <tr class="summary__row summary__row--has-values">
                                <td class="summary__item-title">
                                    <div class="summary__item--text">
                                        BOW TRADING LTD <br>
                                        <span class="u-fs-s">Trading as: BOW TRADING LTD<br>
                                        RU ref: 50000043304</span>
                                    </div>
                                </td>
                                <td class="summary__values u-fw-n">
                                        6 ALPHA COURT<br>
                                        MONKS CROSS DRIVE<br>
                                        HUNTINGDON<br>
                                        YORK<br>
                                        YO32 9WN
                                </td>
                                <td class="summary__values u-fw-n">  
                                    <ul class="list list--bare">
                                        <li class="list__item ">E-commerce Survey</li>
                                        <li class="list__item ">UK Innovation Survey</li>
                                    </ul>  
                                </td>
                                <td class="summary__actions">
                                    <a href="02-select-surveys.html" class="summary__button" aria-label="Change answer">Change</a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="summary__item">
                            <tr class="summary__row summary__row--has-values">
                                <td class="summary__item-title">
                                    <div class="summary__item--text">
                                        BOW TRADING LTD <br>
                                        <span class="u-fs-s">Trading as: BOW TRADING LTD<br>
                                        RU ref: 50000043460</span>
                                    </div>
                                </td>
                                <td class="summary__values u-fw-n">
                                    BARRATT HOUSE<br>
                                    SANDY WAY<br>
                                    GRANGE PARK<br>
                                    NORTHAMPTON<br>
                                    NN4 5EJ
                                </td>
                                <td class="summary__values u-fw-n">  
                                    <ul class="list list--bare">
                                        <li class="list__item ">Quarterly Acquisitions and Disposal of Capital Assets Survey</li>
                                        <li class="list__item ">Quarterly Stocks Survey</li>
                                    </ul>  
                                </td>
                                <td class="summary__actions">
                                    <a href="02-select-surveys.html" class="summary__button" aria-label="Change answer">Change</a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="summary__item">
                            <tr class="summary__row summary__row--has-values">
                                <td class="summary__item-title">
                                    <div class="summary__item--text">
                                        BOW TRADING LTD <br>
                                        <span class="u-fs-s">Trading as: BOW TRADING LTD<br>
                                        RU ref: 50000058661</span>
                                    </div>
                                </td>
                                <td class="summary__values u-fw-n">
                                    WEALD HOUSE<br>
                                    88 MAIN ROAD<br>
                                    SUNDRIDGE<br>
                                    SEVENOAKS<br>
                                    KENT<br>
                                    TN14 6ER
                                </td>
                                <td class="summary__values u-fw-n">  
                                    <ul class="list list--bare">
                                        <li class="list__item ">Monthly Wages and Salaries Survey</li>
                                        <li class="list__item ">UK Innovation Survey</li>
                                    </ul>  
                                </td>
                                <td class="summary__actions">
                                    <a href="02-select-surveys.html" class="summary__button" aria-label="Change answer">Change</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid grid--flex grid--gutterless grid--vertical-center grid--no-wrap@s u-mt-m u-mb-m">
                <div class="grid__col">
                    <button type="button" class="btn btn-group__btn btn--disabled" disabled="true" onclick="location.href='{{ pageInfo.rootPath }}/version-9/signed-in/account/index.html';">
                        <span class="btn__inner">Send changes</span>
                    </button>
                </div>
                <div class="grid__col u-ml-m">
                    <a href="/prototypes/user-self-serve/version-9/signed-in/account/index.html">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
