@import 'node_modules/@ons/design-system/0.5.0/scss/vars/forms';
@import 'node_modules/@ons/design-system/0.5.0/scss/vars/colors';
@import 'node_modules/@ons/design-system/0.5.0/scss/vars/grid';
@import 'node_modules/@ons/design-system/0.5.0/scss/helpers/mq';

.typeahead {
  position: relative;

  &__combobox {
    display: inline-block;
    border-radius: $input-radius;

    &--focused {
      box-shadow: 0 0 0 3px $color-focus;
    }
  }

  &__preview {
    position: absolute;
    width: 100%;

    border-color: transparent;
    color: $color-grey-1;
    
    pointer-events: none;
  }

  &__listbox {
    margin: 0;
    padding: 0;
    width: 100%;

    &:not(&--full-width) {
      @include mq(s) {
        width: $input-width;
      }
    }

    list-style: none;

    border: 1px solid $color-input;
    border-top: 0;
    border-bottom-left-radius: $input-radius;
    border-bottom-right-radius: $input-radius;

    &:empty {
      display: none;
    }
  }

  &__option {
    margin: 0;
    padding: $input-padding;
    outline: none;

    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid $color-input;
    }

    &:not(&--no-results):not(&--more-results):hover,
    &--focused:not(&--no-results) {
      border-color: $color-blue;
      background: $color-blue;
      color: $color-white;
    }

    &--no-results,
    &--more-results {
      background: $color-grey-3;
      cursor: not-allowed;
    }
  }

  &__combobox--focused & {
    &__listbox {
      border-color: $color-input;
    }
  }

  // Modifiers
  &:not(&--initialised) & {
    &__preview,
    &__instructions,
    &__listbox,
    &__status {
      display: none;
    }
  }

  &--initialised & {
    &__input {
      background: transparent;
  
      &:focus {
        box-shadow: none;
      }
    }
  }

  &--has-results & {
    &__input {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
