---
title: Campaign Website
group: Census
version: 7.0.0
layout: census-website/views/_master
---

{% from "components/card/_macro.njk" import onsCard %}



{% block page %}
<div class="cta-banner">
    <div class="container">
        <a href=""#>Start your census rehearsal</a>
    </div>
</div>
<div class="page__container {{ containerClasses }}">
    <div class="grid">
        <div class="grid__col u-mb-l">
            <main id="main-content" class="{{ pageClasses }}">
                <div>
                    <div class="container">
                        <div class="col-12@m">
                            {% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
                            {{ 
                                onsBreadcrumb({
                                    "ariaLabel": 'Breadcrumb',
                                    "itemsList": [
                                        {
                                            "url": 'index.html',
                                            "text": 'Home'
                                        },
                                        {
                                            "url": '../about-the-census',
                                            "text": 'About the census'
                                        },
                                        {
                                            "url": '',
                                            "text": 'What is the census?',
                                            "current": true

                                        }
                                    ]
                                }) 
                            }}
                            <h1>What is the census?</h1>
                            <p class="u-fs-r">The census is a count of people and housing in England and Wales. It helps councils and governments make decisions about how to share public money and where to spend it.</p>
                            <p>Information from the census helps to show where we need things like hospital beds, doctors’ surgeries, and support for the elderly and vulnerable. It also helps plan for schools, bus routes, new roads and investment in jobs. Census information affects how our government looks after its population.<p>
                            <h2></h2>                      
                        </div>
                    </div>
                </div>
                <div class="container">
                <div class="grid">
                    <div class="grid__col grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
                        {{-
                            onsCard({
                                "title": 'Why do we need a census?',
                                "url": pageInfo.parentPath + '/why-we-need-a-census/',
                                "text": '' 
                              
                            })
                        }}
                    </div>
                    <div class="grid__col grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
                        {{- 
                            onsCard({
                                "classes": 'u-fs-r',
                                "title": 'Why is the census so important?',
                                "url": pageInfo.parentPath + '/why-is-the-census-so-important/',
                                "text": ''
                            })
                        }}
                    </div>
                    <div class="grid__col grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
                        {{- 
                            onsCard({
                                "classes": 'u-fs-r',
                                "title": 'How old is the census?',
                                "url": pageInfo.parentPath + '/how-old-is-the-census/',
                                "text": ''
                            })
                        }}
                    </div>
                    
                    </div>
                    <div class="grid">  
                    <div class="grid__col grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
                        {{-
                            onsCard({
                                "title": 'Do all countries have a census?',
                                "url": pageInfo.parentPath + '/do-all-countries-have-a-census.html',
                                "text": ''
                            })
                        }}
                    </div> 
                    <div class="grid__col grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
                        {{-
                            onsCard({
                                "title": 'Why do we need a rehearsal?',
                                "url": pageInfo.parentPath + '/why-do-we-need-a-rehearsal/',
                                "text": ''
                            })
                        }}
                    </div>
                    <div class="grid__col grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
                        {{-
                            onsCard({
                                "title": '',
                                "url": '#',
                                "text": ''
                            })
                        }}
                    </div>
                </div>
                
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock %}
