---
title: About the Census Coverage Survey
group: Census
version: 26.0.1
layout: census-website-engage/views/_master
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": pageInfo.rootPath + '/home',
                            "text": 'Home'
                        },
                        {
                            "url": pageInfo.rootPath + '/about-the-census',
                            "text": 'About the census'
                        }
                    ]
                })
            }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l">
                            <span class="u-fs-m u-db u-mb-xs u-lighter">About the census</span>
                            <span class="u-vh">: </span>
                            <span class="u-fs-xxl u-db">About the Census Coverage Survey</span>
                        </h1>

                        {{-
                            onsTableOfContents({
                                "title": 'Contents',
                                "ariaLabel": 'Pages in this guide',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census',
                                        "text": 'Overview'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/2019-rehearsal',
                                        "text": '2019 Rehearsal'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/why-should-i-take-part-in-the-census',
                                        "text": 'Why should I take part in the census?'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/about-census-2021',
                                        "text": 'About Census 2021'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/about-the-census-coverage-survey',
                                        "text": 'About the Census Coverage Survey',
                                        "current": true
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/about-the-census/about-the-census-quality-survey',
                                        "text": 'About the Census Quality Survey'
                                    }
                                ]
                            })
                        }}

                        <div class="page__body">
                            
                            <p>We try our hardest to make sure everyone is counted in a census. However, no census is perfect, and some people will be missed. We want to make sure the number missed is as small as possible.</p>

                            <p>To do this we conduct the Census Coverage Survey (CCS). The CCS is a short survey to find out how many people have been missed and how many people have been counted more than once. If your house is chosen, someone will come to your door and ask you some questions.</p>

                            <h2>Information the Census Coverage Survey collects</h2>

                            <p>The CCS asks similar questions to those on the census questionnaire, just fewer of them. It’s carried out six weeks after the census in a sample of areas across England and Wales.<p>

                            <p>The CCS records are then compared with those from the census. If needed, the census data is then adjusted. This is all to make sure the information produced is as accurate as possible for planning services such as health, education, housing and transport.<p>
                            
                            <div class="u-mt-xl">
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                            {
                                                "rel": 'prev',
                                                "text": 'Previous',
                                                "url": pageInfo.rootPath + '/about-the-census/about-census-2021',
                                                "label": 'About Census 2021'
                                            },
                                            {
                                                "rel": 'next',
                                                "text": 'Next',
                                                "url": pageInfo.rootPath + '/about-the-census/about-the-census-quality-survey',
                                                "label": 'About the Census Quality Survey'
                                            }
                                        ]
                                    })
                                }}
                            </div>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/keeping-your-data-safe',
                                    "text": 'Keeping your data safe'
                                },
                                {
                                    "url": pageInfo.rootPath + '/news',
                                    "text": 'News'
                                },
                                {
                                    "url": pageInfo.rootPath + '/contact-us',
                                    "text": 'Contact us'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
