---
title: Media and campaigns
group: Census
version: 17.2.0
layout: census-website-engage/views/_page
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/census-website-engage/',
                            "text": 'Home'
                        },
                        {
                            "text": 'Media and campaigns',
                            "current": true
                        }
                    ]
                }) 
            }}

            <div class="grid">

                <div class="grid__col col-12@m">

                    <main class="page__main" id="main-content" role="main">
                            
                        <h1 class="u-mb-l u-fs-xxl">Media and campaigns</h1>

                        <div class="grid grid--column@xs@s u-mb-m@m">

                            <div class="grid__col col-4@m">
                                {{-
                                    onsCard({
                                        "ariaBy": 'Section highlight',
                                        "id": 'title1',
                                        "textId": 'text1',
                                        "title": 'Local authorities',
                                        "url": '#0',
                                        "text": 'If you work for a local authority, find out how you can help support the census in your area.'
                                    })
                                }}
                            </div>

                            <div class="grid__col col-4@m">
                                {{- 
                                    onsCard({
                                        "ariaBy": 'Section highlight',
                                        "id": 'title2',
                                        "textId": 'text2',
                                        "title": 'Community groups',
                                        "url": '#0',
                                        "text": 'If you’re a community group leader, find out how you can help support the census in your community.'
                                    })
                                }}
                            </div>

                            <div class="grid__col col-4@m">
                                {{-
                                    onsCard({
                                        "ariaBy": 'Section highlight',
                                        "id": 'title3',
                                        "textId": 'text3',
                                        "title": 'Resources for partners',
                                        "url": pageInfo.rootPath + '/our-partners/resources-for-partners',
                                        "text": 'We’ve produced downloadable materials for community groups and local authorities to use.'
                                    })
                                }}
                            </div>

                        </div>

                    </main>

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
