---
group: Census ROps
title: ROps case management
version: 17.0.0
layout: rops-management/views/_master
---

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/metadata/_macro.njk" import onsMetadata %}

{% block main %}
    <p class="field u-mb-l">
        <a href="search-results.html">Back to search results</a>
    </p>
    No data in current prototype
{% endblock %}
