---
group: RAS/RM - Census ROps
title: ROps case management
version: 17.0.0
layout: rops-management/views/_index
---

{% block main %}
    {% from "components/input/_macro.njk" import onsInput %}
    {% from "components/button/_macro.njk" import onsButton %}

    <div class="grid">
        <div class="grid__col col-8@m">
            <h2>Search cases</h2>
            <p class="field">
            {{ 
                onsInput({
                    "id": "search",
                    "label": {
                        "text": "Enter a postcode"
                    }
                }) 
            }}
            </p>
            <p class="field u-mt-l">
            {{ 
                onsInput({
                    "id": "case-ref",
                    "label": {
                        "text": "Enter a case reference",
                        "description": "For example: 98765432",
                        "url": '/prototypes/rops-management/version-2/index.html'
                    }
                }) 
            }}
            </p>
            <p class="field">
            {{ 
                onsInput({
                    "id": "qid",
                    "label": {
                        "text": "Enter a questionnaire ID",
                        "description": "For example: fRj9sUZiVFmfC7",
                        "url": '/prototypes/rops-management/version-2/index.html'
                    }
                }) 
            }}
            </p>
            <p class="field">
            {{ 
                onsButton({
                    "type": 'button',
                    "text": 'Submit',
                    "url": '/prototypes/rops-management/version-2/search-results.html'
                }) 
            }}
            </p>
        </div>
    </div>
{% endblock %}
