---
group: Frontstage
title: User account creation
version: 20.0.3
layout: SM-categorisation/views/version-5/_master-survey
---

{% from "components/input/_macro.njk" import onsInput %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}

{% block main %}

    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/SM-categorisation/version-5/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/prototypes/SM-categorisation/version-5/30-my-account.html',
                            "text": 'Account'
                        },
                        {
                            "url": '/prototypes/SM-categorisation/version-5/account/04-transfer-my-surveys-3/index.html',
                            "text": 'Transfer surveys'
                        },
                        {
                            "url": '/prototypes/SM-categorisation/version-5/account/04-transfer-my-surveys-3/00-select-business.html',
                            "text": 'Select business'
                        },
                        {
                            "url": '/prototypes/SM-categorisation/version-5/account/04-transfer-my-surveys-3/01-select-surveys.html',
                            "text": 'Select surveys'
                        },
                        {
                            "url": '/prototypes/SM-categorisation/version-5/account/04-transfer-my-surveys-3/02-email-address.html',
                            "text": 'Enter email address'
                        },
                        {
                            "url": '/',
                            "text": 'Send enrolment codes',
                            "current": true
                        }
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            <h1>Send enrolment codes</h1>

            <p><b>joe.bloggs@acme.com</b> will be enrolled onto the following surveys:</p>

            <h2 class="u-fs-m">SATURN HOTELS LTD</h2>
            <div class="text-indent">
                <ul class="list list--bare">
                    <li>Quarterly Acquisitions and Disposal of Capital Assets Survey</li>
                </ul>
            </div> 
 
            <h2 class="u-fs-m">SATURN HOTELS (WARWICK) LTD</h2>
            <div class="text-indent">
                <ul class="list list--bare">
                    <li>E-commerce Survey</li>
                    <li>Monthly Business Survey</li>
                </ul>
            </div> 
 
            <h2 class="u-fs-m">SATURN HOTELS (BEDFORD) LIMITED</h2>
            <div class="text-indent">
                <ul class="list list--bare">
                    <li>Monthly Business Survey</li>
                </ul>
            </div> 
 
            <h2 class="u-fs-m">SATURN HOTELS (GROUP 1) LIMITED</h2>
            <div class="text-indent">
                <ul class="list list--bare">
                    <li>Monthly Business Survey</li>
                    <li>UK Innovation Survey</li>
                </ul>
            </div> 

            <h2 class="u-fs-m">SATURN HOTELS (LIVERPOOL) LIMITED</h2>
            <div class="text-indent">
                <ul class="list list--bare">
                    <li>UK Innovation Survey</li>
                </ul>
            </div>
            <p class="field u-mt-l">
                <button type="submit" class="btn" onclick="location.href='{{ pageInfo.rootPath }}/version-5/account/04-transfer-my-surveys-3/04-confirmation.html';">
                    <span class="btn__inner">Send</span>
                </button>
                <button type="submit" class="btn btn--secondary" onclick="location.href='{{ pageInfo.rootPath }}/version-5/account/04-transfer-my-surveys-3/02-delete-account.html';">
                    <span class="btn__inner">Cancel</span>
                </button>
            </p>
        </div>
    </div>

{% endblock %}
