---
group: Census ROps
title: ROps case management
version: 17.0.0
layout: rops-management/views/_master-case-details
---

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "prototypes/rops-management/data/4_acacia_avenue/2/case.dta" import casedetails %}

{% block main %}
{% endblock %}
