---
title: What is a census completition event
group: Census
version: 24.0.5
layout: census-website-engage/views/_nisra-master
---

{% block pageContent %}
   
    {% block main %}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": pageInfo.rootPath + '/home',
                            "text": 'Home'
                        },
                        {
                            "url": pageInfo.rootPath + '/ni/get-involved',
                            "text": 'Get involved'
                        }
                    ]
                })
            }}

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l">
                            <span class="u-fs-m u-db u-mb-xs u-lighter">Get involved</span>
                            <span class="u-vh">: </span>
                            <span class="u-fs-xxl u-db">What is a census completition event</span>
                        </h1>

                        {{-
                            onsTableOfContents({
                                "title": 'Contents',
                                "ariaLabel": 'Pages in this guide',
                                "itemsList": [
                                    {
                                        "url": pageInfo.rootPath + '/ni/get-involved',
                                        "text": 'Overview'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/ni/get-involved/community-and-voluntary-groups',
                                        "text": 'Community and voluntary groups'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/ni/get-involved/how-you-can-help',
                                        "text": 'How you can help'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/ni/get-involved/what-is-a-census-information-event',
                                        "text": 'What is a census information event'
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/ni/get-involved/what-is-a-census-completion-event',
                                        "text": 'What is a census completition event',
                                        "current": true
                                    },
                                    {
                                        "url": pageInfo.rootPath + '/ni/get-involved/downloadable-resources',
                                        "text": 'Downloadable resources'
                                    }
                                ]
                            })
                        }}

                        <div class="page__body">
                            
                            <p>A census completion event is something people can attend to fill in their census in a trusted and familiar environment.</p>

                            <p>The idea is that these events are run by groups for their users so that people will feel more comfortable as they’ll be getting support from those they know and trust.</p>

                            <p>These events could be a chance for people to get help with taking part online or with understanding the questions in their language. Or, they might just like some reassurance that they’re doing it right.</p>

                            <p>Anyone in a local community can organise a census completion event.</p>

                            <p>You can hold a census completion event at a time and venue that suits your group. For example, a good opportunity might be at an existing event such as Mums and Tots or a language class.</p>

                            <p>All you need is a space for people to gather in and access to the census questionnaire.</p>

                            <p>All events will be dependent on social distancing guidance at the time If you could host an event please <a href="mailto:Census.engagement@nisra.gov.uk">get in touch</a>.</p>

                            <div class="u-mt-xl">
                                {{-
                                    onsContentPagination({
                                        "contentPaginationItems": [
                                            {
                                                "rel": 'prev',
                                                "text": 'Previous',
                                                "url": pageInfo.rootPath + '/ni/get-involved/what-is-a-census-information-event',
                                                "label": 'What is a census information event'
                                            },
                                            {
                                                "rel": 'next',
                                                "text": 'Next',
                                                "url": pageInfo.rootPath + '/ni/get-involved/downloadable-resources',
                                                "label": 'Downloadable resources'
                                            }
                                        ]
                                    })
                                }}
                            </div>

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-m">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Related content',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/ni/contact-us',
                                    "text": 'Contact us'
                                }
                            ]
                        })
                    }}

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
