---
version: 0.5.0
---
{% from "components/lists/_macro.njk" import onsList %}

{% set page = { 
    "title": "ONS Prototypes",
    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
} %}
{% block content %}
{% set groups = helpers.navigationHelper({ 
    "pages": pageInfo.siteMap[0].children,
    "ignorePaths": ["/"]
}) %}
{% for group in groups %}
    <section>
        <h1 class="u-fs-m">{{ group.title }}</h1>
        {{ 
            onsList({
                "classes": "list--bare",
                "items": group.items
            })
        }}
    </section>
{% endfor %}
{% endblock %}
