---
group: RAS/RM - Frontstage
title: User account creation
version: 20.0.3
layout: user-self-serve/views/version-6/_master-survey
---

{% from "components/input/_macro.njk" import onsInput %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}

{% block main %}

    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/user-self-serve/version-6/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/prototypes/user-self-serve/version-6/30-my-account.html',
                            "text": 'Account'
                        },
                        {
                            "url": '/prototypes/user-self-serve/version-6/account/04-transfer-my-surveys-2/index.html',
                            "text": 'Transfer surveys'
                        },
                        {
                            "url": '/',
                            "text": 'Send enrolment codes',
                            "current": true
                        }
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            <h1>Select surveys to transfer</h1>

            {{
                onsCheckboxes({
                    "legend": "BLUEBERRY RACECOURSE PLC",
                    "checkboxesLabel": "",
                    "name": "BLUEBERRY RACECOURSE PLC",
                    "checkboxes": [
                        {
                            "id": "MBS",
                            "label": {
                                "text": "Monthly Business Survey"
                            },
                            "value": "MBS"
                        },
                        {
                            "id": "MWSS",
                            "label": {
                                "text": "Monthly Wages and Salaries Survey"
                            },
                            "value": "MWSS"
                        },
                        {
                            "id": "QCAS",
                            "label": {
                                "text": "Quarterly Acquisitions and Disposal of Capital Assets Survey"
                            },
                            "value": "QCAS"
                        }
                    ]
                })
            }}
            <p class="field u-mt-l">
                <button type="submit" class="btn" onclick="location.href='{{ pageInfo.rootPath }}/version-6/account/04-transfer-my-surveys-2/02-email-address.html';">
                    <span class="btn__inner">Continue</span>
                </button>
                <button type="submit" class="btn btn--secondary" onclick="location.href='{{ pageInfo.rootPath }}/version-6/account/04-transfer-my-surveys-2/index.html';">
                    <span class="btn__inner">Cancel</span>
                </button>
            </p>

        </div>
    </div>

{% endblock %}
