---
title: Help
group: Census
version: 26.0.3
layout: census-website-engage/views/_master
---

{% block pageContent %}
   
    {% block main %}

        {{-
            onsCallToAction({
                "headingText": 'Ready to start your census?',
                "paragraphText": 'You’ll need the access code from the letter we sent you.',
                "button": {
                    "text": 'Start census',
                    "classes": 'btn--small btn--link',
                    "url": '#0'
                }
            })
        }}

        <div class="page__container container">

            {{
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": pageInfo.rootPath + '/home',
                            "text": 'Home'
                        }
                    ]
                })
            }}

            <main class="page__main" id="main-content" role="main">

                <h1 class="u-mb-l u-fs-xxl">Help with the census</h1>

                <div class="grid u-mb-m">

                    <div class="grid__col col-4@m">
                        {{-
                            onsCard({
                                "ariaBy": 'Section highlight',
                                "id": 'title1',
                                "textId": 'text1',
                                "title": 'Get an access code of paper census',
                                "url": pageInfo.rootPath + '/help/',
                                "text": 'Phasellus ac pulvinar massa, vel pretium massa. Integer id turpis ut nibh laoreet finibus.'
                            })
                        }}
                    </div>

                    <div class="grid__col col-4@m">
                        {{-
                            onsCard({
                                "ariaBy": 'Section highlight',
                                "id": 'title2',
                                "textId": 'text2',
                                "title": 'Find a support centre',
                                "url": pageInfo.rootPath + '/find-a-support-centre/',
                                "text": 'Phasellus ac pulvinar massa, vel pretium massa. Integer id turpis ut nibh laoreet finibus.'
                            })
                        }}
                    </div>

                    <div class="grid__col col-4@m">
                        {{-
                            onsCard({
                                "ariaBy": 'Section highlight',
                                "id": 'title3',
                                "textId": 'text3',
                                "title": 'Languages and accessibility',
                                "url": pageInfo.rootPath + '/help/languages-and-accessibility/',
                                "text": 'Phasellus ac pulvinar massa, vel pretium massa. Integer id turpis ut nibh laoreet finibus.'
                            })
                        }}
                    </div>

                </div>

                <div class="grid">

                    <div class="grid__col col-4@m">
                        {{-
                            onsCard({
                                "ariaBy": 'Section highlight',
                                "id": 'title4',
                                "textId": 'text4',
                                "title": 'How to answer questions',
                                "url": pageInfo.rootPath + '/help/how-to-answer-questions/',
                                "text": 'Phasellus ac pulvinar massa, vel pretium massa. Integer id turpis ut nibh laoreet finibus.'
                            })
                        }}
                    </div>

                    <div class="grid__col col-4@m">
                        {{-
                            onsCard({
                                "ariaBy": 'Section highlight',
                                "id": 'title5',
                                "textId": 'text5',
                                "title": 'Frequently asked questions',
                                "url": pageInfo.rootPath + '/help/frequently-asked-questions/',
                                "text": 'Phasellus ac pulvinar massa, vel pretium massa. Integer id turpis ut nibh laoreet finibus.'
                            })
                        }}
                    </div>

                    <div class="grid__col col-4@m">
                        {{-
                            onsCard({
                                "ariaBy": 'Section highlight',
                                "id": 'title6',
                                "textId": 'text6',
                                "title": 'Get help where you live',
                                "url": pageInfo.rootPath + '/help/',
                                "text": 'Phasellus ac pulvinar massa, vel pretium massa. Integer id turpis ut nibh laoreet finibus.'
                            })
                        }}
                    </div>

                </div>

            </main>

        </div>
    
    {% endblock %}

{% endblock %}
