---
group: RAS/RM - Frontstage
title: Change business details
version: 32.0.1
layout: change-business-details/views/version-3/scenario-1/_master-survey
---

{% from "components/input/_macro.njk" import onsInput %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% block main %}

    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/change-business-details/version-3/scenario-1/signed-in/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/prototypes/change-business-details/version-3/scenario-1/signed-in/account/index.html',
                            "text": 'Account'
                        },
                        {
                            "url": '/prototypes/change-business-details/version-3/scenario-1/signed-in/account/05-change-business-details/01-summary.html',
                            "text": 'Business details'
                        }
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            <h1>What will happen</h1>          
            <ul>
                <li>You will update your business details and send us the changes</li>
                <li>We will confirm the changes</li>
                <li>Changes may take up to 7 days to be approved and will not affect current surveys or surveys that you have completed.</li>
            </ul>
            <p>If you were expecting a letter from us, and believe you have missed this, please <a href="/prototypes/change-business-details/version-3/scenario-1/signed-in/account/05-change-business-details/10-send-message.html">contact us</a>.</p>
            <div class="grid grid--flex grid--gutterless grid--vertical-center grid--no-wrap@s u-mt-m u-mb-m">
                <div class="grid__col">
                    <button type="button" class="btn btn-group__btn" onclick="location.href='{{ pageInfo.rootPath }}/version-3/scenario-1/signed-in/account/05-change-business-details/03-change-business-details.html';">
                        <span class="btn__inner">Continue</span>
                    </button>
                </div>
                <div class="grid__col u-ml-m">
                    <a href="/prototypes/change-business-details/version-3/scenario-1/signed-in/account/05-change-business-details/01-summary.html">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
