---
title: Submission page
group: Individual summary
version: 9.1.0
layout: individual-summary/views/_master
---
{% from "components/button/_macro.njk" import onsButton %}
{% from "prototypes/link-as-button-accessibility/components/button/_macro.njk" import onsButton %}
{% block main %}
    <a class="previous-link js-previous" href="{{ pageInfo.rootPath }}/">Previous</a>
   <h1 class="u-fs-xl u-mt-s u-mb-s">Your census is nearly complete</h1>
   <p>You can <a href="individual-summary/summary.html">review your answers</a> before you submit it.</p>
    {{
        onsButton({
            "text": "Submit survey",
            "classes": "u-mt-l",
            "url": "confirmation.html"
        })
    }}
{% endblock %}
