---
version: 24.0.3
layout: census-support/views/_master
---
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "census-support/components/input/_macro.njk" import onsInput %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% block preMain %}
    <div class="u-mt-s">
        <a class="back-link" href="{{ pageInfo.rootPath }}/index.html">Back to start</a>
    </div>
{% endblock %}
{% block main %}
    <h1>Your 16-character access code</h1>
    {% call onsPanel({ 
        "type": "success",
        "classes": "u-pl-no"
    }) %}
        <p><code id="uac" class="uac__input u-fs-xl">A1B2 C3D4 E5F6 G7H8</code></p>
        {{
            onsButton({
                "id": "copy-btn",
                "text": "Copy code",
                "classes": "btn--secondary btn--small",
                "attributes": {
                    "onclick": "copyCode()"
                }
            })
        }}
    {% endcall %}
    {% call onsPanel({ 
        "type": "warn",
        "classes": "u-mb-l"
    }) %}
        <p>Keep this code safe. You will need to enter it every time you access your census</p>
    {% endcall %}
    <h2>Ready to start the census?</h2>
    {{ onsButton({
        "text": "Start census",
        "classes": "u-mb-l",
        "url": "https://eqendtoend.netlify.app/end-to-end/uac-entry/",
        "newWindow": true
        }) 
    }}

    <script>
        var checkIcon = '<span>Code copied to clipboard</span><svg id="check" class="svg-icon" viewBox="0 0 13 10" xmlns="http://www.w3.org/2000/svg"><path d="M14.35,3.9l-.71-.71a.5.5,0,0,0-.71,0h0L5.79,10.34,3.07,7.61a.51.51,0,0,0-.71,0l-.71.71a.51.51,0,0,0,0,.71l3.78,3.78a.5.5,0,0,0,.71,0h0L14.35,4.6A.5.5,0,0,0,14.35,3.9Z" transform="translate(-1.51 -3.04)"/></svg>';
        var doneButton = document.getElementById('done');

        document.getElementById("done").addEventListener("click", function(e) {
            e.preventDefault();

            window.location.href = '{{ pageInfo.rootPath }}/index.html';

        });

        function copyCode() {
            var accessCode = document.getElementById("uac");
            var range = document.createRange();
            range.selectNode(accessCode);
            window.getSelection().addRange(range);

            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';
                console.log('Copy email command was ' + msg);
            } catch(err) {
                console.log('Oops, unable to copy');
            }
            if (successful) {
                var copyBtn = document.getElementById("copy-btn");
                var buttonText = copyBtn.getElementsByTagName("span")[0];
                buttonText.innerHTML = checkIcon;
                copyBtn.classList.add("btn--completed");
                copyBtn.setAttribute("disabled", true);
                setTimeout(function(){ 
                    copyBtn.classList.remove("btn--completed");
                    copyBtn.removeAttribute("disabled");
                    buttonText.innerHTML = "Copy code";
                 }, 3000);
            }
            window.getSelection().removeAllRanges();
        }
    </script>
{% endblock %}
