{% extends "page-templates/_template.njk" %}

{% block head %}
    <link rel="stylesheet" href="{{ pageInfo.rootPath }}/styles.css" />
{% endblock %}

{% set pageConfig = { 
    "theme": "census",
    "title": "Census 2021",
    "header": {
        "logoHref": pageInfo.rootPath,
        "titleLogo": "census-logo-en",
        "titleLogoAlt": "Census 2021",
        "titleLogoHref": pageInfo.rootPath
    },
    "footer": {}
} %}

{% block bodyEnd %}
    <script src="{{ pageInfo.rootPath }}/scripts/index.js"></script>
{% endblock %}
