---
group: RAS/RM
title: Delete respondent
version: 13.8.3
layout: delete-respondent/views/_master
---

{% from "components/button/_macro.njk" import onsButton %}

{% block main %}

    {% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
    {{ 
        onsBreadcrumb({
            "ariaLabel": 'Breadcrumb',
            "itemsList": [
                {
                    "url": '/',
                    "text": 'Home'
                },
                {
                    "url": '/',
                    "text": 'FDI Messages',
                    "current": true
                }
            ]
        }) 
    }}
    <h1>FDI Messages</h1>

{% endblock %}
