---
group: RAS/RM
title: Overview
version: 17.0.0
layout: onboard-survey/views/_master
---

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/input/_macro.njk" import onsInput %}

{% block main %}

    <h1 name="page-surveys-title">Create new survey</h1>
    <div class="grid overview">
        <div class="grid__col col-12@m">
            <p class="field">
                {{ 
                    onsInput({
                        "id": "id",
                        "label": {
                            "text": "Survey ID",
                            "description": "For example: 001"
                        }
                    }) 
                }}
            </p>
            <p class="field">
                {{ 
                    onsInput({
                        "id": "name",
                        "label": {
                            "text": "Survey name",
                            "description": "For example: Monthly Business Survey"
                        }
                    }) 
                }}
            </p>
            <p class="field">
                {{ 
                    onsInput({
                        "id": "text",
                        "label": {
                            "text": "Abbreviation",
                            "description": "For example: MBS"
                        }
                    }) 
                }}
            </p>
            <p class="field">
            {% from "components/radios/_macro.njk" import onsRadios %}
            {{
                onsRadios({
                    "legend": "Choose legal basis",
                    "name": "legal",
                    "radios": [
                        {
                            "id": "goverd",
                            "label": {
                                "text": "GovERD"
                            },
                            "value": "goverd"
                        },
                        {
                            "id": "sta1947",
                            "label": {
                                "text": "Statistics of Trade Act 1947"
                            },
                            "value": "sta1947"
                        },{
                            "id": "sta1947beis",
                            "label": {
                                "text": "Statistics of Trade Act 1947 - BEIS"
                            },
                            "value": "sta1947beis"
                        },
                        {
                            "id": "volnotstated",
                            "label": {
                                "text": "Voluntary Not Stated"
                            },
                            "value": "volnotstated"
                        },
                        {
                            "id": "volbeis",
                            "label": {
                                "text": "Voluntary - BEIS"
                            },
                            "value": "volbeis"
                        }
                    ]
                })
            }}
            </p>
            <form>
                <p>
                    <fieldset class="fieldset">
                        <legend class="fieldset__legend">Choose mode</legend>
                        <div class="radios__items">
                            <p class="radios__item">
                                <span class="radio">
                                    <input
                                        type="radio"
                                        id="eQ"
                                        data-action-url="{{ pageInfo.parentPath }}/eQ/new-survey-list.html"
                                        class="radio__input js-radio"
                                        value="one"
                                        name="mode">
                                    <label class="radio__label" for="eQ">eQ</label>
                                </span>
                            </p>
                            <br>
                            <p class="radios__item">
                                <span class="radio">
                                    <input
                                        type="radio"
                                        id="seft"
                                        data-action-url="{{ pageInfo.parentPath }}/SEFT/new-survey-list.html"
                                        class="radio__input js-radio"
                                        value="two"
                                        name="mode">
                                    <label class="radio__label" for="seft">SEFT</label>
                                </span>
                            </p>
                        </div>
                    </fieldset>
                </p>
                <p class="field">
                    {% from "components/button/_macro.njk" import onsButton %}
                    {{ 
                            onsButton({
                                "text": 'Save and continue'
                            }) 
                        }}
                </p>
            </form>
        </div>
    </div>

{% endblock %}
