---
group: Frontstage
title: User self serve
version: 20.0.3
layout: user-self-serve/views/version-4/_master-surveys-list
---

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}

{% block main %}

    <div class="grid">
        <div id="mySidenav" class="grid__col col-2@m sidenav u-pt-s">
            {{ 
                onsCheckboxes({
                    "legend": "Filter surveys",
                    "name": "filter",
                    "checkboxes": [
                        {
                            "id": "not-started",
                            "classes": "input--w-8",
                            "label": {
                                "text": "Not started"
                            },
                            "value": "not-started"
                        },
                        {
                            "id": "olives",
                            "classes": "input--w-8",
                            "label": {
                                "text": "In progress"
                            },
                            "value": "in-progress"
                        },
                        {
                            "id": "overdue",
                            "classes": "input--w-8",
                            "label": {
                                "text": "Overdue"
                            },
                            "value": "overdue"
                        }
                    ]
                }) 
            }}
            <!-- <p class="field">
                <button type="button" class="btn btn--small">
                    <span class="btn__inner">Apply filter</span>
                </button>
            </p> -->
        </div>

        <div id="main" class="grid__col col-12@m">
            <p class='u-fs-r'>
                <a href="#">Add a survey</a> Using your enrolment code
            </p>

            <section class="survey u-bb">
                <div class="grid">
                    <div class="grid__col col-5@m u-pt-s u-pb-s">
                        <h2 class="u-fs-r u-fw-b u-mb-xs">
                            <a href="{{ pageInfo.rootPath }}/version-4/50-survey-start.html">Monthly Wages and Salary Survey</a>
                        </h2>
                        <p class="u-fs-s u-mb-xs ">
                            <span>for ACME Consumer Products</span></p>
                        <p class="u-fs-s u-mb-xs ">Period covered: December 2019</p>
                    </div>
                    <div class="grid__col col-4@m u-pt-s u-pb-s">
                        <h2 class="u-fs-r u-fw-b u-mb-xs">
                            <span>Due in 3 days</span>
                        </h2>
                        <p class="u-fs-s u-mb-xs">Submit by 14th Jan 2020, 23:59</p>
                    </div>
                    <div class="grid__col col-3@m u-pt-s u-pl-no">
                        <h2 class="u-fs-r u-fw-b u-mb-xs u-ta-right">
                            <span class="status status--success">In progress</span> 
                        </h2>
                        <p class="u-mb-m u-ta-right">
                            <a href="{{ pageInfo.rootPath }}/version-4/01-message-categories.html">Help with this survey</a>
                        </p>
                    </div>
                </div>
            </section>

            <section class="survey u-bb">
                <div class="grid">
                    <div class="grid__col col-5@m u-pt-s u-pb-s">
                        <h2 class="u-fs-r u-fw-b u-mb-xs">
                            <a href="{{ pageInfo.rootPath }}/version-4/50-survey-start.html">Quarterly Business Survey</a>
                        </h2>
                        <p class="u-fs-s u-mb-xs ">
                            <span>for ACME Consumer Products</span></p>
                        <p class="u-fs-s u-mb-xs ">Period covered: December 2019</p>
                    </div>
                    <div class="grid__col col-4@m u-pt-s u-pb-s">
                        <h2 class="u-fs-r u-fw-b u-mb-xs">
                            <span>Due in 5 days</span>
                        </h2>
                        <p class="u-fs-s u-mb-xs">Submit by 16th Jan 2020, 23:59</p>
                    </div>
                    <div class="grid__col col-3@m u-pt-s u-pl-no">
                        <h2 class="u-fs-r u-fw-b u-mb-xs u-ta-right">
                            <span class="status status--success">In progress</span> 
                        </h2>
                        <p class="u-mb-m u-ta-right">
                            <a href="{{ pageInfo.rootPath }}/version-4/01-message-categories.html">Help with this survey</a>
                        </p>
                    </div>
                </div>
            </section>

            <section class="survey u-bb">
                <div class="grid">
                    <div class="grid__col col-5@m u-pt-s u-pb-s">
                        <h2 class="u-fs-r u-fw-b u-mb-xs">
                            <a href="{{ pageInfo.rootPath }}/version-4/50-survey-start.html">Quarterly Acquisitions and Disposals of Capital Assets</a>
                        </h2>
                        <p class="u-fs-s u-mb-xs ">
                            <span>for ACME Consumer Products</span></p>
                        <p class="u-fs-s u-mb-xs ">Period covered: December 2019</p>
                    </div>
                    <div class="grid__col col-4@m u-pt-s u-pb-s">
                        <h2 class="u-fs-r u-fw-b u-mb-xs">
                            <span>Due in 5 days</span>
                        </h2>
                        <p class="u-fs-s u-mb-xs">Submit by 16th Jan 2020, 23:59</p>
                    </div>
                    <div class="grid__col col-3@m u-pt-s u-pl-no">
                        <h2 class="u-fs-r u-mb-xs u-ta-right">
                            Not started
                        </h2>
                        <p class="u-mb-m u-ta-right">
                            <a href="{{ pageInfo.rootPath }}/version-4/01-message-categories.html">Help with this survey</a>
                        </p>
                    </div>
                </div>
            </section>

            <section class="survey">
                <div class="grid">
                    <div class="grid__col col-5@m u-pt-s u-pb-s">
                        <h2 class="u-fs-r u-fw-b u-mb-xs">
                            <a href="{{ pageInfo.rootPath }}/version-4/50-survey-start.html">Business Register and Employment Survey</a>
                        </h2>
                        <p class="u-fs-s u-mb-xs ">
                            <span>for ACME Consumer Products</span></p>
                        <p class="u-fs-s u-mb-xs ">Period covered: December 2019</p>
                    </div>
                    <div class="grid__col col-4@m u-pt-s u-pb-s">
                        <h2 class="u-fs-r u-fw-b u-mb-xs">
                            <span>Due in 15 days</span>
                        </h2>
                        <p class="u-fs-s u-mb-xs">Submit by 26th Jan 2020, 23:59</p>
                    </div>
                    <div class="grid__col col-3@m u-pt-s u-pl-no">
                        <h2 class="u-fs-r u-mb-xs u-ta-right">
                            Not started
                        </h2>
                        <p class="u-mb-m u-ta-right">
                            <a href="{{ pageInfo.rootPath }}/version-4/01-message-categories.html">Help with this survey</a>
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <script>
        function openNav() {
            document
                .getElementById("mySidenav")
                .style
                .width = "20%";
            document
                .getElementById("main")
                .style
                .marginLeft = "20%";
            document
                .getElementById("openNavBtn")
                .style
                .display = "none";
            document
                .getElementById("closeNavBtn")
                .style
                .display = "block";
        }

        function closeNav() {
            document
                .getElementById("mySidenav")
                .style
                .width = "0";
            document
                .getElementById("main")
                .style
                .marginLeft = "0";
            document
                .getElementById("closeNavBtn")
                .style
                .display = "none";
            document
                .getElementById("openNavBtn")
                .style
                .display = "block";
        }
    </script>

{% endblock %}
