---
title: Students
group: Census
version: 31.2.0
layout: census-website-respond/views/_campaign-master
---

{% block pageContent %}
   
    {% block main %}

        {{ onsHero({
                "censusTheme": true,
                "censusThemeDark": true,
                "title": 'Start your legacy',
                "subtitle": 'The census is happening on Sunday 21 March 2021',
                "image": {
                    "smallSrc": pageInfo.rootPath + '/img/small/woman-in-purple-dress-shirt.jpg',
                    "largeSrc": pageInfo.rootPath + '/img/large/woman-in-purple-dress-shirt.jpg',
                    "alt": 'Woman in purple dress shirt using laptop'
                }
            })
        }}

        {% call
            onsPromoBanner({
                "darkTheme": false,
                "image": {
                    "alt": '',
                    "src": ''
                }
            })
        %}
            <h2>Why students should take part in the census</h2>
            <p>The information you give in the census informs funding decisions on things like university campus bus links and bike lanes, jobs and training. It also helps to decide where billions of pounds of public money are spent on services such as transport, healthcare and education.</p>
        {% endcall %}

        {% call onsPanel({
            "type": 'warn-branded'
            })
        %}
            <p class="u-mb-no">You must complete the census by law or you could be fined up to £1,000</p>
          <p class="u-fs-r">Some questions are labelled as voluntary. It is not an offence if you do not answer these.</p>
        {% endcall %}

        <div class="page__container container">

            <div class="grid">

                <div class="grid__col col-7@m">

                    <main class="page__main" id="main-content" role="main">

                        <h1 class="u-mb-l u-fs-xxl">Contact us</h1>

                            <div class="page__body">

                            <h2>Telephone</h2>

                            <p>We will have advisers available to help you at the following times:</p>

                            {{
                                onsList({
                                    "classes": 'list--bare',
                                    "itemsList": [
                                        {
                                            "text": 'Monday to Friday, 8am to 8pm'
                                        },
                                        {
                                            "text": 'Saturday, 8am to 1pm'
                                        },
                                        {
                                            "text": 'Sunday, closed'
                                        },
                                        {
                                            "text": 'Census weekend (20 – 21 March), 8am to 8pm'
                                        }
                                    ]
                                })
                            }}

                            <h3>England</h3>
                            <p>Telephone free: 0800 141 2021</p>

                            <h3>Wales</h3>
                            <p>Telephone free: 0800 169 2021 <span>(available in English or Welsh)</span></p>

                            <h3>Other languages</h3>
                            <p>If you need to speak to us in another language, call our free language helpline on 0800 587 2021</p>

                            <h3>Text relay</h3>
                            <p>Relay UK users dial 18001 followed by the phone number you need</p>

                            <h2>Web chat</h2>
                            <p>We will have advisers available to help you at the following times:</p>

                            {{
                                onsList({
                                    "classes": 'list--bare u-mb-m',
                                    "itemsList": [
                                        {
                                            "text": 'Monday to Friday, 8am to 8pm'
                                        },
                                        {
                                            "text": 'Saturday, 8am to 1pm'
                                        },
                                        {
                                            "text": 'Sunday, closed'
                                        },
                                        {
                                            "text": 'Census weekend (20 – 21 March), 8am to 8pm'
                                        }
                                    ]
                                })
                            }}

                            {{
                                onsButton({
                                    "type": 'button',
                                    "classes": 'js-popup',
                                    "text": 'Open web chat',
                                    "url": 'https://whitelodge.census-gcp.onsdigital.uk/en/web-chat/',
                                    "icon": {
                                        "iconType": 'external-link',
                                        "iconPosition": 'after'
                                    }
                                })
                            }}

                            <h2>Web form</h2>
                            <p>You can <a href="https://whitelodge.census-gcp.onsdigital.uk/en/web-form/">send us a message using our web form</a>. We will respond to your message by email within 2 working days.</p>

                            <h2>Text message (SMS)</h2>

                            <p>We will have advisers available to help you at the following times:</p>

                            {{
                                onsList({
                                    "classes": 'list--bare',
                                    "itemsList": [
                                        {
                                            "text": 'Monday to Friday, 8am to 8pm'
                                        },
                                        {
                                            "text": 'Saturday, 8am to 1pm'
                                        },
                                        {
                                            "text": 'Sunday, closed'
                                        },
                                        {
                                            "text": 'Census weekend (20 – 21 March), 8am to 8pm'
                                        }
                                    ]
                                })
                            }}

                            <p>Text: 86677</p>

                            <h2>Social media</h2>

                            {{
                                onsList({
                                    "classes": 'list--bare list--inline list--icons',
                                    "itemsList": [
                                        {
                                            "url": 'https://www.twitter.com/census2021help',
                                            "text": 'Twitter',
                                            "prefixIcon": 'twitter',
                                            "iconSize": 'xxl',
                                            "rel": 'noreferrer external'
                                        },
                                        {
                                            "url": 'https://www.facebook.com/census2021',
                                            "text": 'Facebook',
                                            "prefixIcon": 'facebook',
                                            "iconSize": 'xxl',
                                            "rel": 'noreferrer external'
                                        },
                                        {
                                            "url": 'https://www.instagram.com/census2021',
                                            "text": 'Instagram',
                                            "prefixIcon": 'instagram',
                                            "iconSize": 'xxl',
                                            "rel": 'noreferrer external'
                                        }
                                    ]
                                })
                            }}

                        </div>

                    </main>

                </div>

                <div class="grid__col col-4@m push-1@m u-mt-xl">

                    {{-
                        onsRelatedLinks({
                            "id": 'related-links',
                            "title": 'Help with the census',
                            "itemsList": [
                                {
                                    "url": pageInfo.rootPath + '/help/get-an-access-code-or-paper-census/',
                                    "text": 'Get an access code or paper census'
                                },
                                {
                                    "url": pageInfo.rootPath + '/help/find-a-census-support-centre/',
                                    "text": 'Find a census support centre'
                                },
                                {
                                    "url": 'https://census-website-respond.netlify.app/end-to-end/languages/',
                                    "text": 'Languages'
                                },
                                {
                                    "url": pageInfo.rootPath + '/help/languages-and-accessibility/accessibility/',
                                    "text": 'Accessibility'
                                }
                            ]
                        })
                    }}

                    <div class="u-pt-m u-pb-s u-bt">
                        <h2 class="u-fs-r--b u-mb-xs">Related content</h2>
                        <p><a href="{{pageInfo.rootPath}}/media-enquiries/">Media enquiries</a></p>
                    </div>

                </div>

            </div>

        </div>
    
    {% endblock %}

{% endblock %}
