---
version: 13.6.9
layout: rh-fulfilments/views/_master
---

{% from 'components/button/_macro.njk' import onsButton %}

{% block main %}

<form action="{{ pageInfo.parentPath }}/census-form/">

    <h1 class="u-mt-l">Your address has been changed</h1>

    <p>You are now ready to start your Census questions</p>

    {{
        onsButton({
            'text': 'Continue',
            'classes': 'u-mt-l'
        })
    }}

</form>

{% endblock %}
