---
group: Frontstage
title: User self serve
version: 32.0.1
layout: user-self-serve/views/version-8/_master-survey
---

{% from "components/input/_macro.njk" import onsInput %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/text-indent/_macro.njk" import onsTextIndent %}
{% from "components/metadata/_macro.njk" import onsMetadata %}


{% block main %}

    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/user-self-serve/version-8/signed-in/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/prototypes/user-self-serve/version-8/signed-in/account/index.html',
                            "text": 'Account'
                        } 
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            <h1 class="u-fs-xl">Confirm survey access</h1>
            <p>Your colleague ((originator_email_address)) wants to share access to the following surveys with you. You need to check the details are correct and then confirm access.</p>
            
            <div class="u-mt-l u-mb-l">
                <h2 class="u-fs-m u-mb-xs">ACME Consumer Products</h2>
                <p class="u-mb-s">Trading as ACME Consumer Products</p>
                {{
                    onsTextIndent({
                        text: '<ul class="list list--bare"><li>Quarterly Business Survey</li><li>Monthly Business Survey</li></ul>'
                    })
                }}
            </div>
            
            <div class="u-mt-l u-mb-l">
                <h2 class="u-fs-m u-mb-xs">ACME Group Ltd</h2>
                <p class="u-mb-s">Trading as ACME Group</p>
                {{
                    onsTextIndent({
                        text: '<ul class="list list--bare"><li>Business Register and Employment Survey</li></ul>'
                    })
                }}
            </div>

        

            <p> If there is an error please refer to the colleague who shared access. </p>
            <p> If you cancel this request the invitation will expire after 72 hours.</p>

            <div class="grid grid--flex grid--gutterless grid--vertical-center grid--no-wrap@s u-mt-m u-mb-m">
                <div class="grid__col">
                    <button type="button" class="btn btn-group__btn">
                        <span class="btn__inner">Confirm access</span>
                    </button>
                </div>
                <div class="grid__col u-ml-m">
                    <a href="/prototypes/user-self-serve/version-8/signed-in/00-surveys-list.html">Cancel</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
