---
group: Frontstage
title: Change business details
version: 32.0.1
layout: change-business-details/version-2/scenario-1/views/_master-survey
---

{% from "components/input/_macro.njk" import onsInput %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% block main %}

    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/change-business-details/version-2/scenario-1/signed-in/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/prototypes/change-business-details/version-2/scenario-1/signed-in/account/index.html',
                            "text": 'Account'
                        },
                        {
                            "url": '/prototypes/change-business-details/version-2/scenario-1/signed-in/account/01-change-account-details/01-change-contact-details.html',
                            "text": 'Change your contact details'
                        }
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            {{
                onsPanel({
                    "type": 'success',
                    "id": 'success-id',
                    "icon": 'check',
                    "body": 'We have updated your last name and phone number'
                })
            }}

            <h1 class="u-mt-m">Change email address</h1>
            <p>You will need to authorise a change of email address.</p>

            <p>We will send a verification email to <b>jane.doe@acme.com</b>.</p>

            {{
                onsPanel({
                    "body": 'If you are longer required to respond to your surveys, you can <a href="/prototypes/change-business-details/version-2/scenario-1/signed-in/account/04-transfer-my-surveys/index.html">transfer your surveys</a> to a colleague.'
                })
            }}

            <div class="grid grid--flex grid--gutterless grid--vertical-center grid--no-wrap@s u-mt-m u-mb-m">
                <div class="grid__col">
                    <button type="button" class="btn btn-group__btn" onclick="location.href='{{ pageInfo.rootPath }}/scenario-1/signed-in/account/01-change-account-details/04-confirmation.html';">
                        <span class="btn__inner">Send verification email</span>
                    </button>

                </div>
                <div class="grid__col u-ml-m">
                    <a href="/prototypes/change-business-details/version-2/scenario-1/signed-in/account/01-change-account-details/01-change-contact-details.html">Cancel</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
