---
version: 13.4.4
layout: census-website/views/_guide
---

{% set content = { 
    "title": 'Alternative formats and languages',
    "sectionTitle": 'Guides in other languages',
    "breadcrumbs": {
        "itemsList": [
            {
                "url": '/prototypes/census-website/',
                "text": 'Home'
            },
            {
                "url": '/prototypes/census-website/help/',
                "text": 'Help with your census'
            },
            {
                "url": '/prototypes/census-website/help/alternative-formats-and-languages/',
                "text": 'Alternative formats and languages'
            },
            {
                "url": '/prototypes/census-website/help/getting-started/',
                "text": 'Accessible guides',
                "current": true
            }
        ]
    },
   "contentsList": {
        "ariaLabel": 'Pages in this guide',
        "lists": [
            {
                "itemsList": [
                    {
                        "url": '/prototypes/census-website/help/alternative-formats-and-languages/',
                        "text": 'Overview'
                    },
                    {
                        "url": '/prototypes/census-website/help/alternative-formats-and-languages/paper-census-questionnaires.html',
                        "text": 'Paper census questionnaires'
                    },                      
                    {
                        "url": '/prototypes/census-website/help/alternative-formats-and-languages/accessible-guides.html',
                        "text": 'Accessible guides'                   
                    },
                    {
                        "url": '/prototypes/census-website/help/alternative-formats-and-languages/guides-in-other-languages.html',
                        "text": 'Guides in other languages',
                        "current": true                             
                    }
                ]
            }
        ]
    },
    "contentPagination": {
        "contentPaginationItems": [
            {
                "rel": 'prev',
                "text": 'Previous',
                "url": '/prototypes/census-website/help/alternative-formats-and-languages/accessible-guides.html',
                "label": 'Accessible guides'
            }
        ]
    }
} %}

{% block content %}
    <p>You can download advice and information about the census in your language. These are the languages currently available:</p>

    <div class="downloads u-mb-m"><section class="download"><div class="download__thumbnail" aria-hidden="true"><a href="/190607-Census-Information-Leaflet-IL2B.pdf" class="download__thumbnail-link"><img src="/prototypes/census-website/img/poster.jpg"></a></div><div class="download__details"><h2 class="download__title"><a href="/190607-Census-Information-Leaflet-IL2B.pdf">اللغة العربية (Arabic) <span class="u-vh">, PDF , 168KB, 5 pages</span></a></h2><p class="download__metadata u-fs-s"><abbr class="download__file-type" title="Portable Document Format">PDF</abbr>, 168KB, 5 pages</p></div></section></div>

    <div class="downloads u-mb-m"><section class="download"><div class="download__thumbnail" aria-hidden="true"><a href="/190607-Census-Information-Leaflet-IL2B.pdf" class="download__thumbnail-link"><img src="/prototypes/census-website/img/poster.jpg"></a></div><div class="download__details"><h2 class="download__title"><a href="/190607-Census-Information-Leaflet-IL2B.pdf">বাংলা (Bengali) <span class="u-vh">, PDF , 168KB, 7 pages</span></a></h2><p class="download__metadata u-fs-s"><abbr class="download__file-type" title="Portable Document Format">PDF</abbr>, 168KB, 7 pages</p></div></section></div>

    <div class="downloads u-mb-m"><section class="download"><div class="download__thumbnail" aria-hidden="true"><a href="/190607-Census-Information-Leaflet-IL2B.pdf" class="download__thumbnail-link"><img src="/prototypes/census-website/img/poster.jpg"></a></div><div class="download__details"><h2 class="download__title"><a href="/190607-Census-Information-Leaflet-IL2B.pdf">廣東話 (Cantonese) <span class="u-vh">, PDF , 168KB, 9 pages</span></a></h2><p class="download__metadata u-fs-s"><abbr class="download__file-type" title="Portable Document Format">PDF</abbr>, 168KB, 9 pages</p></div></section></div>

    <div class="downloads u-mb-m"><section class="download"><div class="download__thumbnail" aria-hidden="true"><a href="/190607-Census-Information-Leaflet-IL2B.pdf" class="download__thumbnail-link"><img src="/prototypes/census-website/img/poster.jpg"></a></div><div class="download__details"><h2 class="download__title"><a href="/190607-Census-Information-Leaflet-IL2B.pdf">کوردی (Kurdish) <span class="u-vh">, PDF , 168KB, 8 pages</span></a></h2><p class="download__metadata u-fs-s"><abbr class="download__file-type" title="Portable Document Format">PDF</abbr>, 168KB, 8 pages</p></div></section></div>

    <div class="downloads u-mb-m"><section class="download"><div class="download__thumbnail" aria-hidden="true"><a href="/190607-Census-Information-Leaflet-IL2B.pdf" class="download__thumbnail-link"><img src="/prototypes/census-website/img/poster.jpg"></a></div><div class="download__details"><h2 class="download__title"><a href="/190607-Census-Information-Leaflet-IL2B.pdf">Français (French) <span class="u-vh">, PDF , 168KB, 15 pages</span></a></h2><p class="download__metadata u-fs-s"><abbr class="download__file-type" title="Portable Document Format">PDF</abbr>, 168KB, 15 pages</p></div></section></div>

    <div class="downloads u-mb-m"><section class="download"><div class="download__thumbnail" aria-hidden="true"><a href="/190607-Census-Information-Leaflet-IL2B.pdf" class="download__thumbnail-link"><img src="/prototypes/census-website/img/poster.jpg"></a></div><div class="download__details"><h2 class="download__title"><a href="/190607-Census-Information-Leaflet-IL2B.pdf">ગુજ્રરાતી (Gujarati) <span class="u-vh">, PDF , 168KB, 1 page</span></a></h2><p class="download__metadata u-fs-s"><abbr class="download__file-type" title="Portable Document Format">PDF</abbr>, 168KB, 1 page</p></div></section></div>

    <div class="downloads u-mb-m"><section class="download"><div class="download__thumbnail" aria-hidden="true"><a href="/190607-Census-Information-Leaflet-IL2B.pdf" class="download__thumbnail-link"><img src="/prototypes/census-website/img/poster.jpg"></a></div><div class="download__details"><h2 class="download__title"><a href="/190607-Census-Information-Leaflet-IL2B.pdf">Italiano (Italian) <span class="u-vh">, PDF , 168KB, 9999 pages</span></a></h2><p class="download__metadata u-fs-s"><abbr class="download__file-type" title="Portable Document Format">PDF</abbr>, 168KB, 9999 pages</p></div></section></div>

    <div class="downloads u-mb-m"><section class="download"><div class="download__thumbnail" aria-hidden="true"><a href="/190607-Census-Information-Leaflet-IL2B.pdf" class="download__thumbnail-link"><img src="/prototypes/census-website/img/poster.jpg"></a></div><div class="download__details"><h2 class="download__title"><a href="/190607-Census-Information-Leaflet-IL2B.pdf">普通话 (Mandarin) <span class="u-vh">, PDF , 168KB, 7 pages</span></a></h2><p class="download__metadata u-fs-s"><abbr class="download__file-type" title="Portable Document Format">PDF</abbr>, 168KB, 7 pages</p></div></section></div>

    <div class="downloads u-mb-m"><section class="download"><div class="download__thumbnail" aria-hidden="true"><a href="/190607-Census-Information-Leaflet-IL2B.pdf" class="download__thumbnail-link"><img src="/prototypes/census-website/img/poster.jpg"></a></div><div class="download__details"><h2 class="download__title"><a href="/190607-Census-Information-Leaflet-IL2B.pdf">Português (Portuguese) <span class="u-vh">, PDF , 168KB, 15 pages</span></a></h2><p class="download__metadata u-fs-s"><abbr class="download__file-type" title="Portable Document Format">PDF</abbr>, 168KB, 15 pages</p></div></section></div>

    <div class="downloads u-mb-m"><section class="download"><div class="download__thumbnail" aria-hidden="true"><a href="/190607-Census-Information-Leaflet-IL2B.pdf" class="download__thumbnail-link"><img src="/prototypes/census-website/img/poster.jpg"></a></div><div class="download__details"><h2 class="download__title"><a href="/190607-Census-Information-Leaflet-IL2B.pdf">ਪੰਜਾਬੀ (Punjabi) <span class="u-vh">, PDF , 168KB, 36 pages</span></a></h2><p class="download__metadata u-fs-s"><abbr class="download__file-type" title="Portable Document Format">PDF</abbr>, 168KB, 36 pages</p></div></section></div>

    <div class="downloads u-mb-m"><section class="download"><div class="download__thumbnail" aria-hidden="true"><a href="/190607-Census-Information-Leaflet-IL2B.pdf" class="download__thumbnail-link"><img src="/prototypes/census-website/img/poster.jpg"></a></div><div class="download__details"><h2 class="download__title"><a href="/190607-Census-Information-Leaflet-IL2B.pdf">русский (Russian) <span class="u-vh">, PDF , 168KB, 2 pages</span></a></h2><p class="download__metadata u-fs-s"><abbr class="download__file-type" title="Portable Document Format">PDF</abbr>, 168KB, 2 pages</p></div></section></div>

    <div class="downloads u-mb-m"><section class="download"><div class="download__thumbnail" aria-hidden="true"><a href="/190607-Census-Information-Leaflet-IL2B.pdf" class="download__thumbnail-link"><img src="/prototypes/census-website/img/poster.jpg"></a></div><div class="download__details"><h2 class="download__title"><a href="/190607-Census-Information-Leaflet-IL2B.pdf">Soomaali (Somali) <span class="u-vh">, PDF , 168KB, 1 pages</span></a></h2><p class="download__metadata u-fs-s"><abbr class="download__file-type" title="Portable Document Format">PDF</abbr>, 168KB, 1 pages</p></div></section></div>

    <div class="downloads u-mb-m"><section class="download"><div class="download__thumbnail" aria-hidden="true"><a href="/190607-Census-Information-Leaflet-IL2B.pdf" class="download__thumbnail-link"><img src="/prototypes/census-website/img/poster.jpg"></a></div><div class="download__details"><h2 class="download__title"><a href="/190607-Census-Information-Leaflet-IL2B.pdf">Español (Spanish) <span class="u-vh">, PDF , 168KB, 8 pages</span></a></h2><p class="download__metadata u-fs-s"><abbr class="download__file-type" title="Portable Document Format">PDF</abbr>, 168KB, 8 pages</p></div></section></div>

    <div class="downloads u-mb-m"><section class="download"><div class="download__thumbnail" aria-hidden="true"><a href="/190607-Census-Information-Leaflet-IL2B.pdf" class="download__thumbnail-link"><img src="/prototypes/census-website/img/poster.jpg"></a></div><div class="download__details"><h2 class="download__title"><a href="/190607-Census-Information-Leaflet-IL2B.pdf">Türk (Turkish) <span class="u-vh">, PDF , 168KB, 1 page</span></a></h2><p class="download__metadata u-fs-s"><abbr class="download__file-type" title="Portable Document Format">PDF</abbr>, 168KB, 1 page</p></div></section></div>

    <div class="downloads u-mb-m"><section class="download"><div class="download__thumbnail" aria-hidden="true"><a href="/190607-Census-Information-Leaflet-IL2B.pdf" class="download__thumbnail-link"><img src="/prototypes/census-website/img/poster.jpg"></a></div><div class="download__details"><h2 class="download__title"><a href="/190607-Census-Information-Leaflet-IL2B.pdf">اردو (Urdu) <span class="u-vh">, PDF , 168KB, 3 pages</span></a></h2><p class="download__metadata u-fs-s"><abbr class="download__file-type" title="Portable Document Format">PDF</abbr>, 168KB, 3 pages</p></div></section></div>

    <div class="downloads u-mb-m"><section class="download"><div class="download__thumbnail" aria-hidden="true"><a href="/190607-Census-Information-Leaflet-IL2B.pdf" class="download__thumbnail-link"><img src="/prototypes/census-website/img/poster.jpg"></a></div><div class="download__details"><h2 class="download__title"><a href="/190607-Census-Information-Leaflet-IL2B.pdf">Tiếng Việt (Vietnamese) <span class="u-vh">, PDF , 168KB, 4 pages</span></a></h2><p class="download__metadata u-fs-s"><abbr class="download__file-type" title="Portable Document Format">PDF</abbr>, 168KB, 4 pages</p></div></section></div>

    <div class="downloads u-mb-m"><section class="download"><div class="download__thumbnail" aria-hidden="true"><a href="/190607-Census-Information-Leaflet-IL2B.pdf" class="download__thumbnail-link"><img src="/prototypes/census-website/img/poster.jpg"></a></div><div class="download__details"><h2 class="download__title"><a href="/190607-Census-Information-Leaflet-IL2B.pdf">Cymraeg (Welsh) <span class="u-vh">, PDF , 168KB, 3 pages</span></a></h2><p class="download__metadata u-fs-s"><abbr class="download__file-type" title="Portable Document Format">PDF</abbr>, 168KB, 3 pages</p></div></section></div>

    <div class="downloads u-mb-m"><section class="download"><div class="download__thumbnail" aria-hidden="true"><a href="/190607-Census-Information-Leaflet-IL2B.pdf" class="download__thumbnail-link"><img src="/prototypes/census-website/img/poster.jpg"></a></div><div class="download__details"><h2 class="download__title"><a href="/190607-Census-Information-Leaflet-IL2B.pdf">יידיש (Yiddish) <span class="u-vh">, PDF , 168KB, 2 pages</span></a></h2><p class="download__metadata u-fs-s"><abbr class="download__file-type" title="Portable Document Format">PDF</abbr>, 168KB, 2 pages</p></div></section></div>


{% endblock %}
