---
group: Frontstage
title: User self serve
version: 35.0.3
layout: user-self-serve/views/version-9/_master-survey
---

{% from "components/input/_macro.njk" import onsInput %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}

{% block main %}

    <div class="grid">
        <div id="main" class="grid__col col-12@m u-pt-no u-pb-no">
            {{ 
                onsBreadcrumb({
                    "ariaLabel": 'Breadcrumb',
                    "itemsList": [
                        {
                            "url": '/prototypes/user-self-serve/version-9/signed-in/00-surveys-list.html',
                            "text": 'Surveys'
                        },
                        {
                            "url": '/prototypes/user-self-serve/version-9/signed-in/account/index.html',
                            "text": 'Account'
                        },
                        {
                            "url": '/prototypes/user-self-serve/version-9/signed-in/account/04-transfer-my-surveys/index.html',
                            "text": 'Transfer surveys'
                        },
                        {
                            "url": '/prototypes/user-self-serve/version-9/signed-in/account/04-transfer-my-surveys/00-select-business.html',
                            "text": 'Select business'
                        },
                        {
                            "url": '/prototypes/user-self-serve/version-9/signed-in/account/04-transfer-my-surveys/01-select-surveys.html',
                            "text": 'Select surveys'
                        } 
                    ]
                }) 
            }}
        </div>
        <div class="grid__col col-8@m u-pt-no">
            <h1>Enter recipient’s email address</h1>
            <p>We need the email address of the person who will be responding to the surveys.</p>
            {% from "components/panel/_macro.njk" import onsPanel %}
            {{
                onsPanel({
                    "body": 'Make sure you have their permission to give us their email address.'
                })
            }}

            <p class="field">
                {{ 
                onsInput({
                    "id": "text",
                    "label": {
                        "text": "Recipient's email address"
                    }
                }) 
            }}
            </p>

            <div class="grid grid--flex grid--gutterless grid--vertical-center grid--no-wrap@s u-mt-m u-mb-m">
                <div class="grid__col">
                    <button type="button" class="btn btn-group__btn" onclick="location.href='{{ pageInfo.rootPath }}/version-9/signed-in/account/04-transfer-my-surveys/03-send-enrolment-codes.html';">
                        <span class="btn__inner">Continue</span>
                    </button>

                </div>
                <div class="grid__col u-ml-m">
                    <a href="/prototypes/user-self-serve/version-9/signed-in/account/index.html">Cancel</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
